@using MaaAahwanam.Web.Models
@model Tuple<MaaAahwanam.Models.Vendormaster, MaaAahwanam.Models.UserLogin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}

<div class="page-content container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-vertical">
                <div class="tab-content padding-vertical-15">
                    @using (Html.BeginForm("updateProfile", "NVendorProfile", FormMethod.Post))
                    {
                        <div class="container">
                            <form>
                                <div class="row orders-history-page">
                                    <div class="title col-xs-12 col-md-6 col-md-offset-3 padding-left-0 padding-right-0">
                                        <h3>My Profile</h3>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-md-offset-3 padding-left-0 padding-right-0 thankyou profile-page">
                                        <div class="avatar avatar-100 margin-bottom-20">
                                            @if (ViewBag.profilepic != "" && ViewBag.profilepic != null)
                                            {
                                                <img src="~/ProfilePictures/@ViewBag.profilepic" alt="@ViewBag.profilepic">
                                            }
                                            else
                                            {
                                                <img src="~/noimages.png" alt="~/noimages.png">
                                            }
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label" for="inputBasicFirstName">Upload Profile Image</label>
                                                <input type="file" class="form-control" id="profileimage" name="file" /><br>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <label>BusinessName</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="Item1.BusinessName" name="Item1.BusinessName" class="form-control" value="@ViewBag.Vendor.BusinessName">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="Item1Id" name="Item1.Id" class="form-control" value="@ViewBag.Vendor.Id">

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <label>ContactNumber</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="Item1.ContactNumber" name="Item1.ContactNumber" class="form-control" value="@ViewBag.Vendor.ContactNumber">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <label>ContactPerson</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="Item1.ContactPerson" name="Item1.ContactPerson" class="form-control"  value="@ViewBag.Vendor.ContactPerson">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <label>State</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="Item1.State" name="Item1.State" class="form-control" value="@ViewBag.Vendor.State">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <label>ZipCode</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="Item1.ZipCode" name="Item1.ZipCode" class="form-control" value="@ViewBag.Vendor.ZipCode">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <label>Landmark</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="Item1.Landmark" name="Item1.Landmark" class="form-control" value="@ViewBag.Vendor.Landmark">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <label>City</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="Item1.City" name="Item1.City" class="form-control" value="@ViewBag.Vendor.City">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <label>LandlineNumber</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="Item1.LandlineNumber" name="Item1.LandlineNumber" class="form-control" value="@ViewBag.Vendor.LandlineNumber">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <textarea rows="3" class="form-control" value="@ViewBag.Vendor.Address" name="Item1.Address" id="Item1.Address">@ViewBag.Vendor.Address</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-5 col-md-offset-5">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-vertical">
                <div class="tab-content padding-vertical-15">
                        <h3 class="noteWorthybold">
                            Settings
                            <div class="blackBorder"></div>
                        </h3>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="New Password" id="Password" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password" id="Password1" required>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-5 col-md-offset-5">
                    <button class="btn btn-primary" onclick="load1('password')">
                        Save Changes
                    </button>
                </div>

                </div>

            </div>
        </div>
    </div>
</div>
                @section scripts{
             @if (ViewBag.msg != "" && ViewBag.msg != null)
             {
                <script>
        alertify.alert("@ViewBag.msg", function () {
        });
                </script>
             }
                    <script>
                        function load1(password) {
                            Password = document.getElementById("Password").value
                            Password1 = document.getElementById("Password1").value

                            if (Password != Password1) {
                                alertify.alert("passwords  are not match")
                            }
                            else {
                                var userLogin = {
                                    Password: document.getElementById("Password").value

                                }
                                $.ajax({
                                    url: '/NUserProfile/changepassword',
                                    type: "POST",
                                    datatype: "json",
                                    data: { userLogin: userLogin },
                                    success: function (response) {
                                        if (response == 'success') {
                                            //  alert('Password Updated Successfully');
                                            alertify.alert("Password Updated Successfully")
                                        }
                                    }
                                })
                            }
                        }
                        </script>


<script>
            $('#profileimage').change(function () {
                var ext = $('#profileimage').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                    alert('Invalid File Type');
                }
                else {
                    var data = new FormData();
                    var files = $("#profileimage").get(0).files;
                    //alert(files);
                    if (files.length > 0) {
                        data.append("helpSectionImages", files[0]);
                    }
                    alert($('#Item1_EmailId').val());
                    $.ajax({
                        url: '/NVendorProfile/UploadProfilePic?email=' + $('#Item1_EmailId').val(),
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            //alert(response);

                            window.location.reload();
                        }
                    });
                }
            });
</script>
                }
