
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}
@using System.Globalization
<form method="post">
    <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <button type="button" class="btn btn-block btn-primary">All</button>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <button type="button" class="btn btn-block btn-primary">Pending</button>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <button type="button" class="btn btn-block btn-primary">Accepted</button>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <button type="button" class="btn btn-block btn-primary">Ready</button>
                    </div>
                </div>
                <div class="row">

                    <div class="page-content">
                        <!-- Panel Basic -->
                        <div class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions"></div>
                            </header>
                            <div class="panel-body">
                                @if (ViewBag.order != null)
                                {
                                <table class="table table-hover dataTable table-striped width-full" data-plugin="dataTable" id="DataTables_Table_0">
                                    <thead>
                                        <tr>
                                            <th>OrderID</th> @* aria-sort="descending" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"class="sorting_desc"*@
                                            <th>Customer Details</th>
                                            <th>Order Date</th>
                                            <th>Status</th>
                                            <th>Price</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>OrderID</th>
                                            <th>Customer Details</th>
                                            <th>Order Date</th>
                                            <th>Status</th>
                                            <th>Price</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in ViewBag.order)
                                            {
                                            <tr>
                                                <td>@item.OrderId</td>
                                                <td>
                                                    <h4>@item.FirstName @item.LastName</h4>
                                                    <p>
                                                        EventType : @item.EventType <br />
                                                        TimeSlot : @item.attribute <br />
                                                        Contact Number : @item.UserPhone <br />
                                                        Booking Date : @item.BookedDate.ToString("dd MMM yyyy")
                                                    </p>
                                                </td>
                                                <td>
                                                    <div class="event-date-time">
                                                        <div class="event-dates">
                                                            @item.OrderDate.ToString("dd MMM yyyy")
                                                        </div>
                                                </td>
                                                <td>@item.Status</td>
                                                <td>
                                                    <div class="item-price">
                                                        <p>Rs.<span id="tprice" class="value">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "")</span></p>
                                                    </div>
                                                </td>
                                                <td>
                                                    @*<button class="btn btn-success">Accept</button>
                                                        <button class="btn btn-danger">Decline</button>*@
                                                    <button type="submit" class="btn btn-animate btn-animate-side btn-success" formaction="/NVendorOrders/OrderApproval?ks=@ViewBag.id&&orderid=@item.OrderId&&command=Accept">
                                                        <span>
                                                            <i class="icon wb-check-circle" aria-hidden="true"></i>Accept
                                                        </span>
                                                    </button>
                                                    <button type="submit" class="btn btn-animate btn-animate-side btn-danger" formaction="/NVendorOrders/OrderApproval?ks=@ViewBag.id&&orderid=@item.OrderId&&command=Decline">
                                                        <span>
                                                            <i class="icon wb-close-mini" aria-hidden="true"></i>Decline
                                                        </span>
                                                    </button>
                                                </td>
                                            </tr>
                                            }
                                    </tbody>
                                </table>
                                }
                            </div>
                        </div>
                        <!-- End Panel Basic -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    @if (ViewBag.Active != null)
    {
        <script>
            alertify.alert("@ViewBag.Active", function () {
                //alertify.message('OK');
            });
        </script>
    }
}