
@{
    ViewBag.Title = "update Package";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}
@using System.Globalization

<div class="page-content container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-vertical">
                <div class="tab-content padding-vertical-15">
                    @using (Html.BeginForm("updatepkg", "NVendorPkgs", FormMethod.Post))
                    {
                        if (ViewBag.pacakagerecord != null)
                        {
                            foreach (var item in ViewBag.pacakagerecord)
                            {
                        <form class="">
                            <div class="row">
                                <input type="hidden" class="form-control" name="id" value="@item.PackageID" autocomplete="off">

                                <input type="hidden" class="form-control" name="vid" value="@item.VendorId" autocomplete="off">


                                <div class="form-group col-md-12">
                                    <label class="control-label" for="inputBasicFirstName">Type</label>

                                    <input type="text" class="form-control" name="PackageName" value="@item.VendorType-@item.VendorSubType" placeholder="type" autocomplete="off" disabled>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="inputBasicFirstName">Package Name</label>

                                    <input type="text" class="form-control" name="PackageName" value="@item.PackageName" placeholder="Package Name" autocomplete="off" required>
                                </div>
                        
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="inputBasicFirstName">FoodType</label>

                                    <input class="form-control" type="text" name="food type" value="@item.Category" placeholder="FoodType" autocomplete="off" disabled>

                                </div>
                                @*<div class="form-group col-sm-6 " id="guestr">
                                    <label class="control-label" for="inputBasicFirstName">Minimum Number Of Guests</label>

                                    <input type="number" class="form-control" name="minGuests" value="@item.MinGuests" placeholder="Minimum Number Of Guests" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-6" id="guestr1">
                                    <label class="control-label" for="inputBasicFirstName">Maximum Number Of Guests</label>

                                    <input type="number" class="form-control" name="maxGuests" value="@item.MaxGuests" placeholder="Maximum Number Of Guests" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicFirstName">Minimum Price</label>

                                    <input type="number" class="form-control" name="MinPrice" value="@item.MinPrice" placeholder="Minimum Price" autocomplete="off" required>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicFirstName">Maximum Price</label>

                                    <input type="number" class="form-control" name="MaxPrice" value="@item.MaxPrice"  placeholder="Maximum Price" autocomplete="off" required>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label" for="inputBasicFirstName">Package Price</label>

                                    <input type="number" class="form-control" name="PackagePrice" value="@item.PackagePrice" placeholder="Package Price" autocomplete="off" required>
                                </div>*@
                                <div class="form-group col-sm-12">
                                    <table id="DataTables_Table_0" class="table table-hover dataTable table-striped width-full dtr-inline" role="grid" style="width:100%">
                                        <thead>
                                            <tr role="row">
                                                <th>No. of Guests</th>
                                                <th>Price per Plate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> < 50 </td>
                                                <td> <input type="number" name="price1" value="@item.price1" min="0" /> </td>
                                            </tr>
                                            <tr>
                                                <td> 50 - 100 </td>
                                                <td> <input type="number" name="price2" value="@item.price2" min="0" /> </td>
                                            </tr>
                                            <tr>
                                                <td> 100 - 200 </td>
                                                <td> <input type="number" value="@item.price3" name="price3" min="0" /> </td>
                                            </tr>
                                            <tr>
                                                <td> 200 - 300 </td>
                                                <td> <input type="number" value="@item.price4" min="0" name="price4" /> </td>
                                            </tr>
                                            <tr>
                                                <td> 300 - 500 </td>
                                                <td> <input type="number" value="@item.price5" min="0" name="price5" /> </td>
                                            </tr>
                                            <tr>
                                                <td> 500 - 700 </td>
                                                <td> <input type="number" value="@item.price6" min="0" name="price6" /> </td>
                                            </tr>
                                            <tr>
                                                <td> 700 - 1000 </td>
                                                <td> <input type="number" value="@item.price7" min="0" name="price7" /> </td>
                                            </tr>
                                            <tr>
                                                <td> over 1000 </td>
                                                <td> <input type="number" value="@item.price8" min="0" name="price8" /> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label" for="inputBasicFirstName">Package Description</label>

                                    <textarea class="form-control" name="Packagedec" placeholder="Package Description" autocomplete="off" required>@item.PackageDescription</textarea>
                                </div>

                             
                            
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-animate btn-animate-side btn-success">
                                    <span>
                                        <i class="icon wb-check-circle" aria-hidden="true"></i>Update
                                    </span>
                                </button>
                                @*<button type="submit" class="btn btn-primary">Update</button>*@
                                <button type="button" onclick="window.location.href='/NVendorPkgs/Index?ks=@ViewBag.id'" class="btn btn-animate btn-animate-side btn-danger">
                                    <span>
                                        <i class="icon wb-close-mini" aria-hidden="true"></i>Cancel
                                    </span>
                                </button>
                            </div>
                        </form>
                                }
                            }
                        }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/newdesign/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>

<!------ Date Picker ---------->
<script type="text/javascript" src="/newdesign/js/jquery-ui.min.js"></script>

<script>
   


</script>