@{
    ViewBag.Title = "Packages";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}
@using System.Globalization


<div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <button type="button" onclick="window.location.href='/NVendorAddPackage?ks=@ViewBag.id'" class="btn btn-animate btn-animate-side btn-primary">
                        <span>
                            <i class="icon wb-plus-circle" aria-hidden="true"></i>Add New Menu
                        </span>
                    </button>
                    @*<a class="btn btn-block btn-primary" href="/NVendorAddPackage?id=@ViewBag.id">Add Package</a>*@
                </div>
            </div>
            <div class="row">

                <div class="page-content">
                    <!-- Panel Basic -->
                    <div class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions"></div>
                        </header>
                        <div class="panel-body">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                @*<div class="row"><div class="col-sm-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label><select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div></div><div class="col-sm-6"><div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search" class="form-control input-sm" placeholder="Search.." aria-controls="DataTables_Table_0"></label></div></div></div><div class="row">*@
                                <div class="col-sm-12">
                                    <table class="table table-hover dataTable table-striped width-full dtr-inline" data-plugin="dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 95px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Type</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 228px;" aria-label="Position: activate to sort column ascending">SubType</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 135px;" aria-label="Office: activate to sort column ascending">Menu Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 120px;" aria-label="Age: activate to sort column ascending">Menu Price Starts With</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 149px;" aria-label="Date: activate to sort column ascending">Menu Description</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Salary: activate to sort column ascending">Date</th>
                                                <th>Actions</th>
                                            </tr>


                                        </thead>
                                        @*<tfoot>
                                            <tr><th rowspan="1" colspan="1">Type</th><th rowspan="1" colspan="1">SubType</th><th rowspan="1" colspan="1">PackageName</th><th rowspan="1" colspan="1">PackagePrice</th><th rowspan="1" colspan="1">PackageDescription</th><th rowspan="1" colspan="1">Date</th><th aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Salary: activate to sort column ascending"></th></tr>
                                        </tfoot>*@
                                        <tbody>
                                            @if (ViewBag.pacakagerecord != null)
                                            {
                                                foreach (var item in ViewBag.pacakagerecord)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td tabindex="0" class="sorting_1">@item.VendorType</td>
                                                        <td>@item.VendorSubType</td>
                                                        <td>@item.PackageName</td>
                                                        @if (item.PackagePrice != null && item.PackagePrice != "0")
                                                        { <td> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.PackagePrice)).Replace(".00", "")</td> }
                                                        else
                                                        {
                                                        <td> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.price1)).Replace(".00", "")</td> }
                                                        <td>@item.PackageDescription</td>
                                                        <td>@item.UpdatedDate.ToString("dd MMM yyyy")</td>
                                    

                                                        <td class="actions">
                                                           @*<a href='/NVendorPkgs/editpkg?pid=@item.PackageID&vid= @item.VendorId' class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
                                                            <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row" onclick="alert(@item.PackageID)" data-toggle="tooltip" data-original-title="Remove"><i class="icon wb-trash" aria-hidden="true"></i></a>*@

                                                            <a href='/NVendorPkgs/editpkg?pid=@item.PackageID&vid= @item.VendorId' class="btn btn-icon btn-outline btn-success btn-round tooltip-success tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Edit" title=""><i class="icon wb-pencil" aria-hidden="true"></i></a>
                                                            <a href="#" class="btn btn-icon btn-outline btn-danger btn-round tooltip-danger tooltip-scale" onclick="alert(@item.PackageID)" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title=""><i class="icon wb-close" aria-hidden="true"></i></a>
                                                        </td>     
                                                    </tr>

                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @*  </div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"><i class="icon wb-chevron-left-mini"></i></a></li><li class="paginate_button active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"><i class="icon wb-chevron-right-mini"></i></a></li></ul></div></div></div>*@
                            </div>
                        </div>
                    </div>
                    <!-- End Panel Basic -->
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
<script>


    function alert(paid) {
        //var paid = $(this).find('input#pid').val();
        alertify.confirm("Are you sure You want to delete.",
          function () {
              alertify.success('Deleted');
              location.href = '/NVendorPkgs/deletepkg?id=' + paid + '&vid= @ViewBag.id'
          },
          function () {
          });
    }
</script>

@if (ViewBag.msg != "" && ViewBag.msg != null)
{
    <script>
        alertify.alert("@ViewBag.msg", function () {
        });
    </script>
}
}