    
@{
    ViewBag.Title = "Store Front";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
    var i = 0;
}

<div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-6 col-md-2">
                    <a class="btn btn-block btn-primary" href="/NVendorManageStoreFront?ks=@ViewBag.id">Add New Business</a>
                </div>
            </div>
            <div class="row">

                <div class="page-content">
                    <!-- Panel Basic -->
                    <div class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions"></div>
                        </header>
                        <div class="panel-body">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                @*<div class="row"><div class="col-sm-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label><select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div></div><div class="col-sm-6"><div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search" class="form-control input-sm" placeholder="Search.." aria-controls="DataTables_Table_0"></label></div></div>*@
                                </div><div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover dataTable table-striped width-full dtr-inline" data-plugin="dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Sno</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 150px;" aria-label="Position: activate to sort column ascending">Category</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 135px;" aria-label="Office: activate to sort column ascending">Sub Category</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Age: activate to sort column ascending">Address</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 149px;" aria-label="Date: activate to sort column ascending">Manage Booking Dates</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 149px;" aria-label="Date: activate to sort column ascending">Status</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 118px;" aria-label="Salary: activate to sort column ascending">Actions</th>
                                                </tr>
                                            </thead>
                                            @*<tfoot>
                                                <tr>
                                                    <th rowspan="1" colspan="1">Sno</th>
                                                    <th rowspan="1" colspan="1">Category</th>
                                                    <th rowspan="1" colspan="1">Sub Category</th>
                                                    <th rowspan="1" colspan="1">Address</th>
                                                    <th rowspan="1" colspan="1">Manage Availability</th>
                                                    <th rowspan="1" colspan="1">Status</th>
                                                    <th rowspan="1" colspan="1">Action</th>
                                                </tr>
                                            </tfoot>*@
                                            <tbody>
                                                @*Venue Records*@
                                                @foreach (var item in ViewBag.venues)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td tabindex="0" class="sorting_1">@(++i)</td>
                                                        <td>Venue</td>
                                                        <td>@item.VenueType</td>
                                                        @if (item.Landmark != null || item.City != null || item.State != null)
                                                        {<td>@item.Landmark ,@item.City ,@item.State</td>}
                                                        else
                                                        {
                                                            <td>@ViewBag.Vendor.Landmark ,@ViewBag.Vendor.City ,@ViewBag.Vendor.State</td>
                                                        }
                                                        <td>
                                                        @*<a href="/NVendorCalendar?id=@item.VendorMasterId&&vid=@item.Id&&type=Venue">Manage Availability</a>*@
                                                            <a href="/NVendorCalendar?id=@item.VendorMasterId&&vid=@item.Id&&type=Venue" class="btn btn-icon btn-outline btn-primary btn-sm tooltip-primary tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Manage Booking Dates" title=""><i class="icon wb-calendar" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td>@item.Status</td>
                                                        <td>
                                                            @*<a href="/NVendorManageStoreFront/Index?id=@item.VendorMasterId&&vid=@item.Id&&category=Venue&&subcategory=@item.VenueType">Edit</a>
                                                            <a href="/NVendorStoreFront/deleteservice?id=@item.VendorMasterId&&vid=@item.Id&&type=Venue">Delete</a>*@
                                                            <a href="/NVendorManageStoreFront/Index?ks=@ViewBag.id&&vid=@item.Id&&category=Venue&&subcategory=@item.VenueType" class="btn btn-icon btn-outline btn-success btn-round tooltip-success tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Edit" title=""><i class="icon wb-pencil" aria-hidden="true"></i></a>
                                                            <a href="/NVendorStoreFront/deleteservice?ks=@ViewBag.id&&vid=@item.Id&&type=Venue" class="btn btn-icon btn-outline btn-danger btn-round tooltip-danger tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title=""><i class="icon wb-close" aria-hidden="true"></i></a>
                                                            @*<button type="button" class="btn btn-success tooltip-success tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Edit" title="">Scale</button>*@
                                                        </td>
                                                    </tr>
                                                }
                                                @*Catering Records*@
                                                @foreach (var item in ViewBag.catering)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td tabindex="0" class="sorting_1">@(++i)</td>
                                                        <td>Catering</td>
                                                        <td>@item.CuisineType</td>
                                                        @if (item.Landmark == null || item.City == null || item.State == null)
                                                        {
                                                        <td>@item.Landmark ,@item.City ,@item.State</td>}
                                                        else
                                                        {
                                                            <td>@ViewBag.Vendor.Landmark ,@ViewBag.Vendor.City ,@ViewBag.Vendor.State</td>
                                                        }
                                                        <td>
                                                            @*<a href="/NVendorCalendar?id=@item.VendorMasterId&&vid=@item.Id&&type=Catering">Manage Availability</a>*@
                                                            <a href="/NVendorCalendar?id=@item.VendorMasterId&&vid=@item.Id&&type=Catering" class="btn btn-icon btn-outline btn-primary btn-sm tooltip-primary tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Manage Booking Dates" title=""><i class="icon wb-calendar" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td>@item.Status</td>
                                                        <td>
                                                            @*<a href="/NVendorManageStoreFront/Index?id=@item.VendorMasterId&&vid=@item.Id&&category=Catering&&subcategory=@item.CuisineType">Edit</a>
                                                            <a href="/NVendorStoreFront/deleteservice?id=@item.VendorMasterId&&vid=@item.Id&&type=Catering">Delete</a>*@
                                                            <a href="/NVendorManageStoreFront/Index?ks=@ViewBag.id&&vid=@item.Id&&category=Catering&&subcategory=@item.CuisineType" class="btn btn-icon btn-outline btn-success btn-round tooltip-success tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Edit" title=""><i class="icon wb-pencil" aria-hidden="true"></i></a>
                                                            <a href="/NVendorStoreFront/deleteservice?ks=@ViewBag.id&&vid=@item.Id&&type=Catering" class="btn btn-icon btn-outline btn-danger btn-round tooltip-danger tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title=""><i class="icon wb-close" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                @*photography Records*@
                                                @foreach (var item in ViewBag.photography)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td tabindex="0" class="sorting_1">@(++i)</td>
                                                        <td>Photography</td>
                                                        <td>@item.PhotographyType</td>
                                                        @if (item.Landmark == null || item.City == null || item.State == null)
                                                        {
                                                        <td>@item.Landmark ,@item.City ,@item.State</td>}
                                                        else
                                                        {
                                                            <td>@ViewBag.Vendor.Landmark ,@ViewBag.Vendor.City ,@ViewBag.Vendor.State</td>
                                                        }
                                                        <td>
                                                        @*<a href="/NVendorCalendar?id=@item.VendorMasterId&&vid=@item.Id&&type=Photography">Manage Availability</a>*@
                                                            <a href="/NVendorCalendar?id=@item.VendorMasterId&&vid=@item.Id&&type=Photography" class="btn btn-icon btn-outline btn-primary btn-sm tooltip-primary tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Manage Booking Dates" title=""><i class="icon wb-calendar" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td>@item.Status</td>
                                                        <td>
                                                            @*<a href="/NVendorManageStoreFront/Index?id=@item.VendorMasterId&&vid=@item.Id&&category=Photography&&subcategory=@item.PhotographyType">Edit</a>
                                                            <a href="/NVendorStoreFront/deleteservice?id=@item.VendorMasterId&&vid=@item.Id&&type=Photography">Delete</a>*@
                                                            <a href="/NVendorManageStoreFront/Index?ks=@ViewBag.id&&vid=@item.Id&&category=Photography&&subcategory=@item.PhotographyType" class="btn btn-icon btn-outline btn-success btn-round tooltip-success tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Edit" title=""><i class="icon wb-pencil" aria-hidden="true"></i></a>
                                                            <a href="/NVendorStoreFront/deleteservice?ks=@ViewBag.id&&vid=@item.Id&&type=Photography" class="btn btn-icon btn-outline btn-danger btn-round tooltip-danger tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title=""><i class="icon wb-close" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                @*decorators Records*@
                                                @foreach (var item in ViewBag.decorators)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td tabindex="0" class="sorting_1">@(++i)</td>
                                                        <td>Decorator</td>
                                                        <td>@item.DecorationType</td>
                                                        @if (item.Landmark == null || item.City == null || item.State == null)
                                                        {
                                                        <td>@item.Landmark ,@item.City ,@item.State</td>}
                                                        else
                                                        {
                                                            <td>@ViewBag.Vendor.Landmark ,@ViewBag.Vendor.City ,@ViewBag.Vendor.State</td>
                                                        }
                                                        <td>
                                                        @*<a href="/NVendorCalendar?id=@item.VendorMasterId&&vid=@item.Id&&type=Decorator">Manage Availability</a>*@
                                                            <a href="/NVendorCalendar?id=@item.VendorMasterId&&vid=@item.Id&&type=Decorator" class="btn btn-icon btn-outline btn-primary btn-sm tooltip-primary tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Manage Booking Dates" title=""><i class="icon wb-calendar" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td>@item.Status</td>
                                                        <td>
                                                            @*<a href="/NVendorManageStoreFront/Index?id=@item.VendorMasterId&&vid=@item.Id&&category=Decorator&&subcategory=@item.DecorationType">Edit</a>
                                                            <a href="/NVendorStoreFront/deleteservice?id=@item.VendorMasterId&&vid=@item.Id&&type=Decorator">Delete</a>*@
                                                            <a href="/NVendorManageStoreFront/Index?ks=@ViewBag.id&&vid=@item.Id&&category=Decorator&&subcategory=@item.DecorationType" class="btn btn-icon btn-outline btn-success btn-round tooltip-success tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Edit" title=""><i class="icon wb-pencil" aria-hidden="true"></i></a>
                                                            <a href="/NVendorStoreFront/deleteservice?ks=@ViewBag.idd&&vid=@item.Id&&type=Decorator" class="btn btn-icon btn-outline btn-danger btn-round tooltip-danger tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title=""><i class="icon wb-close" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                                @*Others Records*@
                                                @foreach (var item in ViewBag.others)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td tabindex="0" class="sorting_1">@(++i)</td>
                                                        <td>Other</td>
                                                        <td>@item.type</td>
                                                        @if (item.Landmark == null || item.City == null || item.State == null)
                                                        {
                                                        <td>@item.Landmark ,@item.City ,@item.State</td>}
                                                        else
                                                        {
                                                            <td>@ViewBag.Vendor.Landmark ,@ViewBag.Vendor.City ,@ViewBag.Vendor.State</td>
                                                        }
                                                        <td>
                                                        @*<a href="/NVendorCalendar?id=@item.VendorMasterId&&vid=@item.Id&&type=Other">Manage Availability</a>*@
                                                            <a href="/NVendorCalendar?id=@item.VendorMasterId&&vid=@item.Id&&type=Other" class="btn btn-icon btn-outline btn-primary btn-sm tooltip-primary tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Manage Booking Dates" title=""><i class="icon wb-calendar" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td>@item.Status</td>
                                                        <td>
                                                            @*<a href="/NVendorManageStoreFront/Index?id=@item.VendorMasterId&&vid=@item.Id&&category=Other&&subcategory=@item.type">Edit</a>
                                                            <a href="/NVendorStoreFront/deleteservice?id=@item.VendorMasterId&&vid=@item.Id&&type=Other">Delete</a>*@
                                                            <a href="/NVendorManageStoreFront/Index?ks=@ViewBag.id&&vid=@item.Id&&category=Other&&subcategory=@item.type" class="btn btn-icon btn-outline btn-success btn-round tooltip-success tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Edit" title=""><i class="icon wb-pencil" aria-hidden="true"></i></a>
                                                            <a href="/NVendorStoreFront/deleteservice?ks=@ViewBag.idd&&vid=@item.Id&&type=Other" class="btn btn-icon btn-outline btn-danger btn-round tooltip-danger tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title=""><i class="icon wb-close" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                @*<div class="row"><div class="col-sm-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"><i class="icon wb-chevron-left-mini"></i></a></li><li class="paginate_button active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"><i class="icon wb-chevron-right-mini"></i></a></li></ul></div></div></div>*@
                            </div>
                        </div>
                    </div>
                    <!-- End Panel Basic -->
                </div>

            </div>
        </div>
    </div>


@section scripts{
@if (ViewBag.msg != "" && ViewBag.msg != null)
{
    <script>
        alertify.alert("@ViewBag.msg", function () {
        });
    </script>
}
}