@using System.Globalization

<div class=""style="  border: 1px solid #000;">
        <div class="container">
            <h3 style="color:red; padding-top:25px" ><b>BILLING DETAILS</b></h3>

            <hr>
            <p class="text-center">Enter coupon code and avail discount</p>
            <div class="uk-form-stacked">
                <input class="uk-input_cart" id="form-stacked-text" type="text" placeholder="Couponcode">
                <a href="#0" class="btn_3 add_top_30">APPLY</a>
            </div>
            <hr>
            <div>
                <div class="uk-margin">


                    <label class="uk-form-label" style="float: left;" for="form-stacked-text"><a class="pks">TOTAL AMOUNT</a></label>
                                    <label class="uk-form-label" style="float: right;" for="form-stacked-text">₹<a class="uk-h1" style="color: #5829bb; font-size: 14px;">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.tamount)).Replace(".00", "")</a></label><br><br>
                    <label class="uk-form-label" style="float: left;" for="form-stacked-text"><a class="pks">DISCOUNT</a></label>
                    <label class="uk-form-label" style="float: right;" for="form-stacked-text">₹<a class="uk-h1" style="color: #5829bb; font-size: 14px;">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.discount)).Replace(".00", "")</a></label><br><br>
                    <label class="uk-form-label" style="float: left;" for="form-stacked-text"><a class="pks">SERVICE CHARGE</a></label>
                    <label class="uk-form-label" style="float: right;" for="form-stacked-text">₹<a class="uk-h1" style="color: #5829bb; font-size: 14px;">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.service)).Replace(".00", "")</a></label><br><br>
                    <label class="uk-form-label" style="float: left;" for="form-stacked-text"><a class="pks">GST</a></label>
                    <label class="uk-form-label" style="float: right;" for="form-stacked-text">₹<a class="uk-h1" style="color: #5829bb; font-size: 14px;">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.Gst)).Replace(".00", "")</a></label><br><br>
                    <label class="uk-form-label" style="float: left;" for="form-stacked-text"><a class="pks">NET AMOUNT</a></label>
                    <label class="uk-form-label" style="float: right;" for="form-stacked-text">₹<a class="uk-h1 netamount" style="color: #5829bb; font-size: 14px;">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.netamount)).Replace(".00", "")</a></label><br><br>
                    <hr>
                    <center>
                        <button type="submit" value="email" name="command" onclick="booknow('Quote')" class="btn_1 add_top_30"> Get Assistance&nbsp;&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png" /></button>

                        @*<button type="submit" value="email" name="command" onclick="email()" class="btn_1 add_top_30"> Get Assistance&nbsp;&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png" /></button>*@
                        <button type="submit" value="booknow" name="command" onclick="booknow('booknow')" class="btn_1 add_top_30">Proceed to Payment&nbsp;&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png" /></button>
                    </center>
                    <div class="uk-form-controls">
                        <center>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut.
                            </p>
                        </center>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div>
            </div>
        </div>
    </div>