@model MaaAahwanam.Models.ServiceRequest
@{
    ViewBag.Title = "Bidding Response";
    Layout = "~/Views/SharedWeb/VendorMaster.cshtml";
    var i = 1; var j = 1;
}
<style>
    .mfp-content {
        vertical-align: text-bottom;
    }
</style>
<link rel="stylesheet" href="~/CSSWeb/bootstrap/css/Datatable_css.css" />
<script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>

@section Navigation
{
    <script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">

                    <h3>Bidding Response</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/VendorDashboard/index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="~/VendorBiddingslist/index">Bidding Response</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div class="dashboardList dashboardList-nospace">
    @if (ViewBag.bidlist != null)
    {
        <table class="responsive" id="table1">
            <thead>
                <tr>
                    <th style="width:11%">S.No</th>
                    <th style="width:11%">EventName</th>
                    <th style="width:12%">Preferences</th>
                    <th style="width:11%">EventLocation</th>
                    <th style="width:11%">EventStartDate</th>
                    <th style="width:11%">EventEnddate</th>
                    <th style="width:11%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.bidlist)
                {
                    <tr>
                        <td><a href="#quatation" onclick="displaypopup('id @i','d @j')" class="green-link ml-center popup-with-move-anim">@item.RequestId</a></td>
                        @*<td>@item.RequestId</td>*@
                        <td id="id @i">@item.EventName</td>
                        <td id="d @j">@item.Preferences</td>
                        <td>@item.EventLocation</td>
                        <td>@item.EventStartDate.ToShortDateString() <br /> @item.EventStartTime.ToShortTimeString()</td>
                        <td>@item.EventEnddate.ToShortDateString() <br /> @item.EventEndtime.ToShortTimeString()</td>
                        <td><a href="../VendorBiddingResponse?Rid=@item.RequestId" class="btn" style="background-color:Highlight">Respond</a></td>
                    </tr>
                    i++; j++;
                }
            </tbody>
            @*<tbody>
                    <tr>
                        <td colspan="6">No Records Found</td>
                    </tr>
                </tbody>*@
        </table>
    }
    else
    {
        <p style="font-size:20px">No bidding received yet</p>
    }
    @*<div class="pagination">
            <ul>
                <li><a href="javascript:void(0)">Prev</a></li>
                <li><a href="javascript:void(0)" class="active">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a class="pagination-gap">...</a></li>
                <li><a href="javascript:void(0)">24</a></li>
                <li><a href="javascript:void(0)">25</a></li>
                <li><a href="javascript:void(0)">Next</a></li>
            </ul>
        </div>*@

    <div class="clear"></div>
</div>


<!-- popup -->
<div id="quatation" class="zoom-anim-dialog mfp-hide large-dialog">
    <div class="popup-box pop-content">
        <div class="popup-head">
            <h3>Event Name &amp; Preferences</h3>
        </div>
        <!-- /popup-head -->
        <div class="popup-space popup-desc-space">

            <div class="dashboardList">
                <table>
                    <thead>
                        <tr>
                            <th style="width:100%">Event Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p id="desc"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th style="width:100%">Preferences</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p id="pref"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- /popup -->
@section scripts{
    <script type="text/javascript" src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //BootstrapDialog.alert('Welcom to MaaAahwanam DashBoard');
            $('#table1').dataTable({ bFilter: false, ordering: false, bLengthChange: false, "pageLength": 5 });
        });
    </script>
    <script>
        //displays description and preference in modal popup
        function displaypopup(i, j) {
            var desc1 = document.getElementById(i).innerHTML;
            var pref1 = document.getElementById(j).innerHTML;
            var desc = $("#desc");
            var pref = $("#pref");

            desc.html(desc1);
            pref.html(pref1);
        }
    </script>
}



