<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Welcome to Maa Aahwanam</title>
    <link rel="icon" type="../CSSWeb/image/png" href="../CSSWeb/images/favicon.png">
    <link rel="stylesheet" href="~/CSSWeb/css/masterslider.css" />
    <link rel="stylesheet" href="~/CSSWeb/css/ms_style.css" />
    <link rel="stylesheet" href="~/CSSWeb/css/timeline.css" />
    <link rel="stylesheet" href="~/CSSWeb/css/ms-layers-style.css" />
    <link rel="stylesheet" href="~/CSSWeb/css/tabs.css" />
    <link rel="stylesheet" href="~/CSSWeb/css/themify-icons.css" />
    <link rel="stylesheet" href="~/CSSWeb/css/alert.css" />
    <link rel="stylesheet" href="~/CSSWeb/css/smoothproducts.css" />
    <link rel="stylesheet" href="~/CSSWeb/css/maa-aahwanam.css" />
    <link rel="stylesheet" href="~/CSSWeb/css/responsive.css" />
    <link rel="stylesheet" href="~/CSSWeb/css/AutocompleteStyle.css" />
    <style>
        .search-box2 {
            width: 94%;
        }

        .topSearchForm {
            width: 760px;
        }
    </style>
    @RenderSection("css", required: false)
    @using MaaAahwanam.Web.Custom
    @{
//var user = (CustomPrincipal)HttpContext.Current.User;
    }
</head>
<body class="homepage">
    <div class="overlay" style="display: block;">
        <div style="left: 50%; top: 50%; position: fixed; transform: translate(-50%, -50%); text-align: center;">
            <img src="~/CSSWeb/images/Loader.gif" /><br>
            <p style="color: white; font-style: italic; font-family:serif;">&nbsp; Just a second...</p>
        </div>
    </div>
    <header>
        <div class="sticky-navigation">
            <div class="top-bar">
                <div class="pageWidth">
                    <div class="top-mobile">
                        <p class="wow fadeInLeft animated"><i class="ti-mobile"></i> 1800 180 180</p>
                        ​<p class="selectcity" style="margin-top:-73px;margin-left:130px">
                            @*<select onchange="citychange()" id="selectcity" style="width: 120px; height:28px; border-radius: 4px; overflow: hidden; background: #fafafa;padding:5px;line-height:0px;">
                                    <option selected="selected">
                                        Hyderabad
                                    </option>
                                </select>*@
                        </p>
@*@if (ViewBag.Type == "User" || ViewBag.Type == null)
{*@
                        <div class="searchDiv" style="display:none;">
                            <a class="dropdown-toggle2" href="javascript:void(0)"><i class="ti-search"></i><span>  Search</span></a>
                            <div class="topSearchForm">
                                <span class="arrowUp2"></span>
                                <div class="dropdownList">
                                    <div class="search-box2" style="left:0; right:0; top:5px;">
                                        <div class="select-cats">
                                            <select id="e1" style="width:100%">
                                                <option>Select Event</option>
                                            </select>
                                        </div>
                                        <div class="search-input">
                                            <input type="text" class="autosuggest" id="txt_Location_Top" placeholder="Enter your location" />
                                        </div>
                                        <div class="submit-button">
                                            <button class="btn-1" value="Search" onclick="GetSearchValue_Top()">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
@*}*@
                    </div>
                    @{Html.RenderAction("SigninPartial", "signin"); }
                </div>
            </div>
            <div class="menu">
                <div class="pageWidth">
                    <div class="headLeft"> <a href="../Index"><img src="~/CSSWeb/images/logo.png" alt="logo" title="Maa Aahwanam" /></a> </div>
                    @if (ViewBag.Type == "User" || ViewBag.Type == null)
                    {
                        <div class="headRight">
                            <nav>
                                <ul>
                                    <li><a href="../Index" id="Index" class="active hvr-sweep-to-bottom">Home</a></li>
                                    <li><a href="../Aboutus" id="aboutus" class="hvr-sweep-to-bottom">About Us</a></li>
                                    <li>
                                        <a href="javascript:void(0);" id="Services" class="hvr-sweep-to-bottom">Services <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="~/Quatation">Quotation</a></li>
                                            <li><a href="~/Biddings">Bidding</a></li>
                                            <li><a href="~/ReverseBiddings">Reverse Bidding</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="~/product?par=Gift&sType=%&loc=Hyderabad&a=ASC" id="ReturnGifts" class="hvr-sweep-to-bottom">Return Gifts</a></li>
                                    <li><a href="~/Testimonials" id="Testimonials" class="hvr-sweep-to-bottom">Testimonials</a></li>
                                    <li><a href="~/ContactUs" id="ContactUs" class="hvr-sweep-to-bottom">Contact Us</a></li>
                                </ul>
                            </nav>
                            @{Html.RenderAction("ItemsCartViewBindingLayout", "Index");}
                        </div>
                                }
                </div>
            </div>

        </div>
        <div class="clear"></div>
    </header>
    @RenderSection("Navigation", required: false)
    @RenderBody();
    <footer>
        <div class="pageWidth">
            <div class="footerCol wow fadeInLeft animated">
                <h4 class="text-white">Company <span></span> </h4>
                <ul>
                    <li><i class="ti-angle-right"></i> <a href="~/Aboutus">About Us</a></li>
                    <li><i class="ti-angle-right"></i> <a href="~/Testimonials">Testimonials</a></li>
                    <li><i class="ti-angle-right"></i> <a href="~/ContactUs">Support</a></li>
                    <li><i class="ti-angle-right"></i> <a href="~/Faq">FAQ</a></li>
                    <li><i class="ti-angle-right"></i> <a href="~/Events">Successful events</a></li>
                </ul>
            </div>
            <div class="footerCol wow fadeInLeft animated">
                <h4 class="text-white">Policies <span></span> </h4>
                <ul>
                    <li><i class="ti-angle-right"></i> <a href="~/Terms">Terms & Conditions</a></li>
                    <li><i class="ti-angle-right"></i> <a href="~/Policy">Policy</a></li>
                    <li><i class="ti-angle-right"></i> <a href="~/Security">Security</a></li>
                    <li><i class="ti-angle-right"></i> <a href="~/TermsofUse">Terms of Use</a></li>
                </ul>
            </div>
            <div class="footerCol wow fadeInLeft animated">
                <h4 class="text-white">Customer Service <span></span> </h4>
                <ul>
                    <li><i class="ti-angle-right"></i> <a href="~/ContactUs">Contact Us</a></li>
                    <li><i class="ti-angle-right"></i> <a href="~/ReturnPolicy">Return Policy</a></li>
                    <li><i class="ti-angle-right"></i> <a href="~/CartView">My Cart</a></li>
                    <li><i class="ti-angle-right"></i> <a href="~/Tickets">Tickets</a></li>
                </ul>
            </div>
            <div class="footerCol2 wow fadeInLeft animated">
                <h4 class="text-white">Subscribe <span></span> </h4>
                <p>Praesent vel libero id dui pretium maximus in non velit. Donec ipsum ante, volutpat ut aliquet et</p>
                <input type="text" id="emailid" name="emailid" placeholder="email@yourdomain.com" class="subscribe">
                <input type="submit" value="Subscribe" class="subscribe_button" onclick="SaveSubscriber()">


            </div>
            <div class="clear"></div>
        </div>
        <div class="footerBottom">
            <div class="pageWidth">
                <p>All rights reserved ©  <a href="http://maa-aahwanam.com/" style="color:white">Maa-Aahwanam.com</a> 2015.</p>
            </div>
        </div>
        <div class="clear"></div>
    </footer>

    <a href="javascript:void(0)" id="btn-scrollup"><i class="ti-angle-up"></i></a>
    <style>
        .deal-thumb, .zoomDiv img {
            transition: all 1s ease 0s;
        }
    </style>
    <style>
        .overlay {
            background: no-repeat scroll center center #FFF;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999999;
            background-color: rgba(0,0,0,0.8);
            /* END EXTERNAL S */
        }
    </style>

    <style>
        /*Autocomplete css*/
        .ui-autocomplete {
            overflow-y: scroll auto;
            overflow-x: hidden;
            max-height: 250px;
            position: relative;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            display: none;
            min-width: 160px;
            padding: 4px 0;
            margin: 0 0 10px 25px;
            list-style: none;
            background-color: #ffffff;
            border-color: #ccc;
            border-color: rgba(0, 0, 0, 0.2);
            border-style: solid;
            border-width: 1px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            *border-right-width: 2px;
            *border-bottom-width: 2px;
        }

        .ui-menu-item > a.ui-corner-all {
            display: block;
            padding: 3px 15px;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            color: #555555;
            white-space: nowrap;
            text-decoration: none;
        }

        .ui-state-hover, .ui-state-active {
            color: #ffffff;
            text-decoration: none;
            background-color: #0088cc;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            background-image: none;
        }
    </style>
    <script type="text/javascript" src="~/CSSWeb/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/select2.min.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/menu.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/stickynavigation.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/wow.min.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/plugins.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/validations.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/jquery.counterup.min.js" async></script>
    <script type="text/javascript" src="~/CSSWeb/js/feedback.js" async></script>
    <script type="text/javascript" src="~/CSSWeb/js/rater.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/timeline.js" async></script>
    <script type="text/javascript" src="~/CSSWeb/js/responsive-tables.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/jquery.shorten.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/smoothproducts.min.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/waypoints.min.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/alert.js" async></script>
    <script type="text/javascript" src="~/CSSWeb/js/Lazyload.js"></script>

    <script type="text/javascript" src="~/CSSWeb/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/masterslider.min.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/tabs.js"></script>
    <script type="text/javascript" src="~/CSSWeb/js/owl.carousel.min.js"></script>

    @RenderSection("scripts", required: false)


    <script>
        //Jump Top_sai
        $('#btn-scrollup').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 'fast');
            //return false;
            //e.preventDefault();
        });
    </script>
    <script>
        /* ---------------------- To signup validation for password field ------------------ */
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/Login/RegularExpressionPattern_Password',
                data: {},
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    document.getElementById("PasswordValue_Login").pattern = result;
                    document.getElementById("PasswordValue_Reg").pattern = result;
                },
                error: function (data) {
                },
            });
        });
        function check() {
            if (document.getElementById("PasswordValue_Reg").value == document.getElementById("ConfirmPassword").value) {
                ConfirmPassword.setCustomValidity("");
            }
            else {
                ConfirmPassword.setCustomValidity("Passwords Don't Match");
            }
        }
        function Clear() {
            document.getElementById("LoginForm").reset();
            document.getElementById("ForgotpasswordForm").reset();
            document.getElementById("RegistrationForm").reset();
        }
    </script>
    <script type="text/javascript">
        /* ---------------------- After clicking on search button ------------------ */
        function GetSearchValue_Top() {
            var selectedText = e1.options[e1.selectedIndex].innerHTML;
            var Searchlocation = document.getElementById('txt_Location_Top').value.split(",")[0].replace("%20", " ");
            //alert(selectedText);
            if (selectedText == 'Select Event' || Searchlocation == '') {
                //if (selectedText == 'Select Event' && selectedText == ''){
                //    alert('please Select Event and enter location');
                //}
                //else if (selectedText == 'Select Event' && Searchlocation != '') {
                //    alert('please enter Location');
                //}
                //else if (Searchlocation == '')
                //{
                //    alert('please enter Location');
                //}
                if (selectedText == 'Select Event' && Searchlocation == '') {
                    alert('please Select Event and enter location');
                }
                else if (selectedText == 'Select Event' && Searchlocation != '') {
                    alert('please Select Event');
                }
                else if (Searchlocation == '') {
                    alert('please enter Location');
                }
            }
            else {
                window.location.href = "../allservices/index?l=" + Searchlocation + "";
            }
        }
        function GetSearchValue_Bottom() {
            //var selectedText = e2.options[e2.selectedIndex].innerHTML;
            var selectedText = $("#select2-chosen-4").text();
            var Searchlocation = document.getElementById('txt_Location_Bottom').value.split(",")[0].replace("%20", " ");
            if (selectedText == 'Select Event' || Searchlocation == '') {
                if (selectedText == 'Select Event' && Searchlocation == '') {
                    alert('please Select Event and enter location');
                }
                else if (selectedText == 'Select Event' && Searchlocation != '') {
                    alert('please Select Event');
                }
                else if (Searchlocation == '') {
                    alert('please enter Location');
                }
            }
            else {
                window.location.href = "../AllServices/Index?l=" + Searchlocation + "";
            }

            //alert(Searchlocation + "," + selectedText);
        }
    </script>

    <script>
        /* ------------------ To save the subscriber -----------------------------  */
        function SaveSubscriber() {
            var Subscription = {};
            Subscription.EmailId = $('#emailid').val();
            Subscription.Status = null;
            $.ajax({
                type: "POST",
                url: "/Index/SubmittingSubscriber",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: {},
                //data: JSON.stringify(Subscription),
                data: Subscription,
                success: function (data) {
                    alert(data);
                    //if (data == 'success')
                    //    alert('subscribed successfully');
                    //if (data == 'failed')
                    //    alert('subscription failed');
                },
                error: function (data) {
                    alert("Exception as occured");
                }
            });
        }
    </script>
    <script>
        /* --------------- To bind auto complete location details to the search ------------------ */
        $(document).ready(function () {
            var LocationList = [];
            var EventsList = [];
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/Index/AutoCompleteCountry',
                data: {},
                dataType: "json",
                success: function (result) {
                    LocationList = $.map(result.Listoflocations, function (item) { return item });
                    EventsList = $.map(result.ListofEvents, function (item) { return item });
                    for (var i = 0; i < EventsList.length; i++) {
                        $("#e1").append($("<option></option>").val(EventsList[i]).html(EventsList[i]))
                        $("#e2").append($("<option></option>").val(EventsList[i]).html(EventsList[i]))
                    }
                },
                error: function (result) {
                    //alert("Error");
                }
            });

            $("#txt_Location_Top").autocomplete({
                delay: 0,
                source: function (request, response) {
                    var results = $.ui.autocomplete.filter(LocationList, request.term);
                    if (!results.length) {
                        response([{ label: 'No results found...', val: -1 }]);
                    } else {
                        response(results);
                    }
                },
                select: function (e, u) {
                    if (u.item.val == -1) {
                        return false;
                    }
                }
            });
            $("#txt_Location_Bottom").autocomplete({
                delay: 0,
                source: function (request, response) {
                    var results = $.ui.autocomplete.filter(LocationList, request.term);
                    if (!results.length) {
                        response([{ label: 'No results found...', val: -1 }]);
                    } else {
                        response(results);
                    }
                },
                select: function (e, u) {
                    if (u.item.val == -1) {
                        return false;
                    }
                }
            });

            $.ajax({
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/Dashboard/SetUserDP',
                //url: "/Dashboard/UpdateDP",
                type: "POST",
                processData: false,
                contentType: false,
                data: {},
                success: function (response) {
                    //code after success
                    //$("#txtImg").val(response);
                    //alert(response);
                    $("#imgPreview").attr('src', '/Content/UserDPs/' + response);
                    $("#imgPreviewsmall").attr('src', '/Content/UserDPs/' + response);
                },
                error: function (er) {
                    //alert(er);
                }

            });
        });

    </script>
    <script type="text/javascript">
        /* -------------------------------  wait for images to load ------------------------ */
        $(window).load(function () {
            $('.sp-wrap').smoothproducts();
            $(".overlay").hide();
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".comment").shorten();
            $(".comment-small").shorten({ showChars: 10 });
        });
    </script>
    <script>
        //toparrow
        $('a.move_review').click(function () {
            $('html,body').animate({ scrollTop: $(this.hash).offset().top - 225 }, 1000);
            return false;
            e.preventDefault();

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery('.sidebar').meanmenu({
                shrinkTarget: '#SecondMenu',
                meanShowChildren: false, meanScreenWidth: "767"
            });
        });

        //--------------- dropdown -----------------//
        $(document).ready(function () {
            $('.dropdown-toggle').click(function (e) {
                $(".loginForm").toggle();
                $(".dropdown-toggle").toggleClass('open');
                e.stopPropagation();
            });
        });
        $(document).click(function (e) {
            if (!$(e.target).is('.loginForm, .loginForm *')) {
                $(".loginForm").hide();
                $(".dropdown-toggle").removeClass('open');
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var owl = $("#edit_card");
            owl.owlCarousel({
                items: 1, //10 items above 1000px browser width
                itemsDesktop: [1000, 1], //5 items between 1000px and 901px
                itemsDesktopSmall: [900, 1], // betweem 900px and 601px
                itemsTablet: [600, 1], //2 items between 600 and 0
                itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                loop: true
            });

            // Custom Navigation Events
            $(".next").click(function () {
                owl.trigger('next');
            })
            $(".prev").click(function () {
                owl.trigger('prev');
            })
        });
    </script>
    <!--Tabs Plugin Initialisation-->
    <script type="text/javascript">
        $(document).ready(function () {
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });

            $('#parentHorizontalTab2').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });


        var results;
        results = $('.select2-drop-active > .select2-results');
        results.niceScroll({
            autohidemode: false,
            cursorcolor: "#4A4A4A",
            cursorwidth: 6
        });

        //select box
        $(function () {
            // turn the element to select2 select style
            $('#e1').select2();
            $('#e2').select2();
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#testimonials").owlCarousel({
                items: 2,
                pagination: true,
                autoPlay: true,
                autoPlayTimeout: 400,
                nav: true,
                loop: true,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    540: {
                        items: 1,
                        nav: true
                    },
                    640: {
                        items: 1,
                        nav: true
                    },
                    720: {
                        items: 2,
                        nav: true
                    },
                    768: {
                        items: 2,
                        nav: true
                    },
                    1000: {
                        items: 2,
                        nav: true,
                        loop: true
                    }
                }
            });
            var page = window.location.pathname;
            //alert(page);
            if (page == "/Aboutus") {
                //alert(page);
                $("#Index").removeClass("active hvr-sweep-to-bottom").addClass("hvr-sweep-to-bottom");
                $("#aboutus").addClass("active hvr-sweep-to-bottom");
            }
            if (page == "/product") {
                $("#Index").removeClass("active hvr-sweep-to-bottom").addClass("hvr-sweep-to-bottom");
                $("#ReturnGifts").addClass("active hvr-sweep-to-bottom");
            }
            if (page == "/Testimonials") {
                $("#Index").removeClass("active hvr-sweep-to-bottom").addClass("hvr-sweep-to-bottom");
                $("#Testimonials").addClass("active hvr-sweep-to-bottom");
            }
            if (page == "/ContactUs") {
                $("#Index").removeClass("active hvr-sweep-to-bottom").addClass("hvr-sweep-to-bottom");
                $("#ContactUs").addClass("active hvr-sweep-to-bottom");
            }
            if (page == "/Quatation" || page == "/Biddings" || page == "/ReverseBiddings") {
                $("#Index").removeClass("active hvr-sweep-to-bottom").addClass("hvr-sweep-to-bottom");
                $("#Services").addClass("active hvr-sweep-to-bottom");
            }

        });
    </script>

    <!-- Master slider -->
    <script type="text/javascript">
        // Master slider
        jQuery(document).ready(function () {
            var slider = new MasterSlider();
            slider.setup('masterslider', {
                width: 1600,
                height: 500,
                //space:100,
                fullwidth: true,
                centerControls: true,
                speed: 30,
                autoplay: false,
                swipe: true,
                mouse: true,
            });
            //slider.control('arrows');
            slider.control('arrows', { autohide: true });
            //slider.control('bullets');

        });

        // Show div on the scroll
        $(document).scroll(function () {
            var y = $(this).scrollTop();
            if (y > 100) {
                $('.searchDiv').fadeIn();
            } else {
                $('.searchDiv').fadeOut();
            }
        });


        // Show div on the scroll
        $(document).scroll(function () {
            var y = $(this).scrollTop(); 
            if (y > 100) {
                $('.search-box, #select2-drop').fadeOut();
                $('.ui-autocomplete').hide();
                //$("#txt_Location_Bottom").Clear();
            } else {
                $('.search-box').fadeIn();
                //$("#txt_Location_Top").Clear();
            }
        });
    </script>
    <script>
        // Show / Hide div
        $(document).ready(function () {
            $(".slidingDiv").hide();
            $(".show_hide").show();
            $("body").not(".show_hide,.slidingDiv").click(function () {
                $(".slidingDiv").fadeOut("slow");
            });

            $(".show_hide").click(function (e) {
                $(".slidingDiv").fadeIn('slow');
                e.stopPropagation();
            });

        });
    </script>
    <script>
        /*
        window.onerror = function(errorMsg) {
            $('#console').html($('#console').html()+'<br>'+errorMsg)
        }*/
        //$.datetimepicker.setLocale('en');

        $('#datetimepicker_format').datetimepicker({ value: '2015/12/12 05:03', format: $("#datetimepicker_format_value").val() });
        $("#datetimepicker_format_change").on("click", function (e) {
            $("#datetimepicker_format").data('xdsoft_datetimepicker').setOptions({ format: $("#datetimepicker_format_value").val() });
        });
        $("#datetimepicker_format_locale").on("change", function (e) {
            $.datetimepicker.setLocale($(e.currentTarget).val());
        });

        // event start date
        $('#datetimepicker1').datetimepicker({
            lang: 'en',
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'Y/m/d',
        }).on('change', function () {
            var startDate = $('#datetimepicker1').val();
            var endDate = $('#datetimepicker2').val();
            var start = startDate.split("/").reverse().join("/");
            var end = endDate.split("/").reverse().join("/");
            var startTime = $('#datetimepicker3').val();
            var endTime = $('#datetimepicker4').val();
            if (endDate != '' && end != '') {
                if (start == end && startTime > endTime) {
                    $('#alert').show().find('strong').text('The event start time can not be greater than the event end time');
                    $("#lnkproceedtonext").hide();
                    $("#btnsubmit").hide();
                }
                    //}
                    //if (end != '') {
                else if (start > end) {
                    $('#alert').show().find('strong').text('The start date can not be greater than the end date');
                    $("#lnkproceedtonext").hide();
                    $("#btnsubmit").hide();
                } else {
                    $('#alert').hide();
                    $("#lnkproceedtonext").show();
                    $("#btnsubmit").show();
                    //startDate = new Date(ev.date.format("{0:dd/mm/yyyy}"));
                }
            }
        });


        // event end date
        $('#datetimepicker2').datetimepicker({
            lang: 'en',
            timepicker: false,
            format: 'd/m/Y',
            //formatDate: 'Y/m/d',
        }).on('change', function (ev) {

            var startDate = $('#datetimepicker1').val();
            var endDate = $('#datetimepicker2').val();
            var start = startDate.split("/").reverse().join("/");
            var end = endDate.split("/").reverse().join("/");
            var startTime = $('#datetimepicker3').val();
            var endTime = $('#datetimepicker4').val();
            //Comparing date & time
            if (endTime != '' && end != '') {
                if (start == end && endTime < startTime) {
                    $('#alert').show().find('strong').text('The event end time can not be less than the event start time');
                    $("#lnkproceedtonext").hide();
                    $("#btnsubmit").hide();
                }
                    //}
                    //Comparing only dates
                    //if (end != '') {
                else if (end < start) {
                    $('#alert').show().find('strong').text('The end date can not be less than the start date');
                    $("#lnkproceedtonext").hide();
                    $("#btnsubmit").hide();
                } else {

                    $('#alert').hide();
                    $("#lnkproceedtonext").show();
                    $("#btnsubmit").show();
                }
            }
        });



        //$('#datetimepicker1').datepicker()
        //            .on('change', function () {
        //                var startDate = $('#datetimepicker1').val();
        //                var endDate = $('#datetimepicker2').val();
        //                alert(startDate);
        //                if (endDate != '') {
        //                    if (startDate > endDate) {
        //                        $('#alert').show().find('strong').text('The start date can not be greater then the end date');
        //                    } else {
        //                        $('#alert').hide();
        //                        startDate = new Date(ev.date);
        //                        }
        //                }
        //                $('#datetimepicker1').datepicker('hide');
        //            });
        //$('#datetimepicker2').datepicker()
        //            .on('change', function () {
        //                var startDate = $('#datetimepicker1').val();
        //                var endDate = $('#datetimepicker2').val();
        //                if (endDate < startDate) {
        //                    $('#alert').show().find('strong').text('The end date can not be less then the start date');
        //                } else {
        //                    $('#alert').hide();
        //                    endDate = new Date(ev.date);
        //                    $('#datetimepicker2').text($('#datetimepicker2').data('date'));
        //                }
        //                $('#datetimepicker2').datepicker('hide');
        //            });



        // event start time
        $('#datetimepicker3').datetimepicker({
            datepicker: false,
            format: 'H:i',
            step: 5
        }).on('change', function (ev) {

            var startTime = $('#datetimepicker3').val();
            var endTime = $('#datetimepicker4').val();
            var startDate = $('#datetimepicker1').val();
            var endDate = $('#datetimepicker2').val();
            var start = startDate.split("/").reverse().join("/");
            var end = endDate.split("/").reverse().join("/");
            if (endTime != '' && end != '') {

                if (start == end && startTime > endTime) {
                    $('#alert').show().find('strong').text('The event start time can not be greater than the event end time');
                    $("#lnkproceedtonext").hide();
                    $("#btnsubmit").hide();
                }
                    //else {
                    //    $('#alert').hide();
                    //    $("#lnkproceedtonext").show();
                    //    $("#btnsubmit").show();
                    //}
                    //}
                    //if (end != '') {

                else if (start > end) {
                    $('#alert').show().find('strong').text('The start date can not be greater than the end date');
                    $("#lnkproceedtonext").hide();
                    $("#btnsubmit").hide();
                }

                else {

                    $('#alert').hide();
                    $("#lnkproceedtonext").show();
                    $("#btnsubmit").show();
                }
            }
        });
        // event end time
        $('#datetimepicker4').datetimepicker({
            datepicker: false,
            format: 'H:i',
            step: 5
        }).on('change', function (ev) {

            var startTime = $('#datetimepicker3').val();
            var endTime = $('#datetimepicker4').val();
            var startDate = $('#datetimepicker1').val();
            var endDate = $('#datetimepicker2').val();
            var start = startDate.split("/").reverse().join("/");
            var end = endDate.split("/").reverse().join("/");
            if (endTime != '' && end != '') {
                if (start == end && endTime < startTime) {
                    $('#alert').show().find('strong').text('The event end time can not be less than the event start time');
                    $("#lnkproceedtonext").hide();
                    $("#btnsubmit").hide();
                }
                    //}
                    //if(end != ''){
                else if (start > end) {
                    $('#alert').show().find('strong').text('The start date can not be greater than end date');
                    $("#lnkproceedtonext").hide();
                    $("#btnsubmit").hide();
                }
                else {
                    $('#alert').hide();
                    $("#lnkproceedtonext").show();
                    $("#btnsubmit").show();
                }
            }

        });

        var today = new Date();
        var firstDay = new Date(today.getFullYear(), today.getMonth(), 1).toLocaleDateString();
        var lastDate = new Date(today.getFullYear(), today.getMonth() + 1, 0);
   
        $('#datetimepicker5').datetimepicker({
            inline: true,
            timepicker: false,
            format: 'd/m/Y',
            minDate: today, //new Date(today.getFullYear(), (today.getMonth() + 1), (today.getDate() - 1)),
            maxDate: lastDate,
            formatDate: 'Y/m/d',
            beforeShowDay: function (date) {
                var disableddates = $('#vendoravailabledates').val();
                if (disableddates != '') {
                    var unavailableDates = '';
                    var final = ''; var dateslist1 = disableddates.split(',');
                    for (var i = 0; i < dateslist1.length; i++) {
                        var dateslist = dateslist1[i].split('/');
                        if (dateslist[0] < 10 && dateslist[1] < 10) {
                            var datepart = dateslist[0].slice(-1, 2) + '/' + dateslist[1].slice(-1, 2) + '/' + dateslist[2];
                            final = final + datepart + ",";
                        }
                        else if (dateslist[0] < 10 && dateslist[1] >= 10) {
                            var datepart = dateslist[0].slice(-1, 2) + '/' + dateslist[1] + '/' + dateslist[2];
                            final = final + datepart + ",";
                        }
                        else if (dateslist[0] >= 10 && dateslist[1] < 10) {
                            var datepart = dateslist[0] + '/' + dateslist[1].slice(-1, 2) + '/' + dateslist[2];
                            final = final + datepart + ",";
                        }
                   
                        else {
                            final = final + dateslist1[i] + ",";
                        }
                        unavailableDates = final.slice(0, -1).split(',');
                    }
                    var dmy = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                    if ($.inArray(dmy, unavailableDates) == -1) {
                        return [false, "myclass", "Unavailable"];
                    } else {
                        return [true, ""];
                    }
                }
                else {
                    var msg = 'Vendor is Not Available at the moment';
                    document.getElementById('msg').innerHTML = msg;
                    return [false, "myclass", "Unavailable"];
                }
            }
        }).on('change', function (date) {
            $('#btncheck').css('display', 'block');
            var msg = 'Vendor is Available';
            document.getElementById('msg').innerHTML = msg;
        });

        $('#datetimepicker6').datetimepicker({
            lang: 'en',
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'Y/m/d', 
        });
        
    </script>

    <script type="text/javascript">
        function citychange() {
            //var x = document.getElementById("selectcity").value;
            //window.location.assign("../Index")
        }
    </script>

    @RenderSection("scriptfunctions", required: false)
    @*<script>
        alert('Please enter Event and location');
        </script>*@
</body>
</html>
@*@Html.Raw(TempData["Alert"])*@


@*//if (dates[0] < 10 && dates[1] < 10) {
                    //    var datepart = dates[0].slice(-1, 2) + '/' + dates[1].slice(-1, 2) + '/' + dates[2];
                    //    final = final + datepart + ",";
                    //}
                    //else if (dates[0] < 10 && dates[1] > 10) {
                    //    var datepart = dates[0].slice(-1, 2) + '/' + dates[1] + '/' + dates[2];
                    //    final = final + datepart + ",";
                    //}
                    //else if (dates[0] > 10 && dates[1] < 10) {
                    //    var datepart = dates[0] + '/' + dates[1].slice(-1, 2) + '/' + dates[2];
                    //    final = final + datepart + ",";
                    //}
                    //else {
                        //final = final + data[i] + ",";
                    //}*@


@*  //var final = ''; var dateslist = disableddates.split(',');
    //for (var i = 0; i < dateslist.length; i++) {
    //    var dates = dateslist[i].split('/');
    //    var dates1 = new Date(dates[2], dates[1] - 1, dates[0]).toLocaleDateString();
    //    var dates2 = dates1.split('/');
    //    var dates3 = dates2[1] + '/' + dates2[0] + '/' + dates2[2];
    //    final = final + dates3 + ",";
    //    unavailableDates = final.slice(0, -1).split(',');
        //} *@