<!DOCTYPE html>

<html>
<head>
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KD2HPX6');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>:: Ahwanam ::</title>
    <link rel="icon" href="http://design.maa-aahwanam.com/contest/images/favIcn.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/newdesign/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    @*<link rel="stylesheet" type="text/css" href="~/newdesign/css/fonts.css">*@
    @*<link rel="stylesheet" type="text/css" href="~/newdesign/css/Ncustomstyles.css">*@
    <link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/newdesign/css/customstyles.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

    <!------ Date Picker ---------->
    @*<link rel="stylesheet" type="text/css" href="~/newdesign/css/datepicker.css">*@
    <link href="~/newdesign/css/jquery.datetimepicker.css" rel="stylesheet" />

    <!------ Owl Thumb Slider ---------->
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/owl.theme.default.css">

    <!-- Alerts -->
    @*<link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/newdesign/css/jquery.alertable.css">*@
    @*<link rel="stylesheet" type="text/css" href="http://alertifyjs.com/build/css/alertify.css">*@
    <link href="~/newdesign/css/alertify.css" rel="stylesheet" />

    @RenderSection("css", required: false)
    <style>
        .nav-item.dropdown.open .dropdown-menu {
            display: block;
        }
    </style>
</head>

<body id="bodyTop">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KD2HPX6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container-fluid px-0">
        <nav class="navbar navbar-toggleable-md navbar-light themeBgColorSecondaryYellow">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand noteWorthybold text-uppercase logoText" href="/">
                Ahwanam
            </a>

            @{Html.RenderAction("ItemsCartViewBindingLayout", "NHomePage");}


        </nav>

    </div>
    @{Html.RenderAction("ItemsCartdetails", "NHomePage");}




    @*<div class="container-fluid">
                    <div class="row">
                        <div class="cartBlock p-2">
                            <div class="arrow"></div>

        @if (ViewBag.cartCount != 0)
        {
                            <ul class="pl-0">
        @foreach (var item in ViewBag.cartitems)
        {
                                <li>
                                    <div class="d-inline-block image">
                                        @if (item.image != null)
                                        {
                                            <img width="100" height="100" src="../vendorimages/@item.image" alt="thumb">

                                        }
                                        else if (item.image == null)
                                        {
                                            <img width="100" height="100" src="~/noimages.png" />
                                        }
                                    </div>
                                    <div class="d-inline-block title">
                                        <p>@item.BusinessName</p>
                                    </div>
                                    <div class="d-inline-block price">
                                        <p>Rs <span class="themeColor">@item.TotalPrice</span></p>
                                    </div>
                                    <a href="#" onclick="DeletecartItem(@item.CartId);"><i class="fa fa-times" aria-hidden="true"></i>
        </li>
        }
                            </ul>
        }
                            <div class="w-100 d-flex justify-content-center">
                                <span class="themeBgColorPrimary btnSecondary text-white d-inline-block mr-2">Checkout</span>
                                <div class="themeBgColorSecondary btnSecondary text-white d-inline-block"><span>Total: Rs </span>@ViewBag.Total</div>
                            </div>
                        </div>
                    </div>
                </div>*@


    <div class="search">
        <div class="row justify-content-center commonSearch innerPagesBg py-4">
            <div class="col-12 col-sm-8 col-md-6 bgWhite py-3">
                <div class="row">
                    <div class="col-12 col-md-4 pr-0">
                        <div class="form-group mb-0">
                            <input type="text" name="" class="form-control" placeholder="Hyderabad" id="tags1" readonly="readonly" title="Currently, we are operationg only in Hyderabad">

                        </div>
                    </div>
                    <div class="col-12 col-md-4 px-0">
                        <div class="form-group mb-0">
                            <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            <select class="form-control border-left-0" id="categorySearch" onchange="categorySearch()">
                                <option value="Banquet Hall">Banquet Hall</option>
                                <option value="Hotel">Hotels</option>
                                <option value="Resort">Resorts</option>
                                <option value="Convention Hall">Convention Halls</option>
                                <option value="Function Hall">Function Hall</option>
                                <option value="Catering">Caterers</option>
                                <option value="Photography">Photographers</option>
                                <option value="Decorator">Decorators</option>
                                <option value="Mehendi">Mehendi Artists</option>
                                <option value="Pandit">Pandits</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 pl-0">
                        <div class="form-group mb-0">
                            @*<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                <div class="ui-widget" style="display: block;">
                                    <input id="tags1" class="ui-autocomplete-input" autocomplete="off">
                                </div>*@
                            @*<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>*@
                            <input type="text" class="form-control" id="searchvendors" name="" placeholder="Search Here" style="border-left: none;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center commonSearchResults innerPagesBg py-0">
            <div class="col-12 col-sm-8 col-md-6 bgWhite py-3" id="sortedvendorlist">
                @{ Html.RenderAction("SortVendorsBasedOnLocation", "NHomePage");}
            </div>
        </div>
    </div>

    @*<div>*@
    @RenderBody()
    @*</div>*@

    <div class="container">
        <div class="margin-top-50">
            <div class="row mx-0">
                <h3 class="noteWorthybold">
                    Choose an other Service
                    <div class="blackBorder"></div>
                </h3>
            </div>
            <div class="row my-3">
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="/NQuestionNaire?servicetype=Hotel" class="d-block text-center">
                        <img src="~/newdesign/images/hotels-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Hotels</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="/NQuestionNaire?servicetype=Resort" class="d-block text-center">
                        <img src="~/newdesign/images/resort-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Resorts</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="/NQuestionNaire?servicetype=Convention Hall" class="d-block text-center">
                        <img src="~/newdesign/images/convention-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Convention Hall</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="/NQuestionNaire?servicetype=Catering" class="d-block text-center">
                        <img src="~/newdesign/images/functionhalls-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Caterer</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="/NQuestionNaire?servicetype=Photography" class="d-block text-center">
                        <img src="~/newdesign/images/photographer.jpg" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Photographer</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="/NQuestionNaire?servicetype=Decorator" class="d-block text-center">
                        <img src="~/newdesign/images/decorators-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Decorator</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="/NQuestionNaire?servicetype=Mehendi" class="d-block text-center">
                        <img src="~/newdesign/images/mehendi.jpg" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Mehendi</p>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 block">
                    <a href="/NQuestionNaire?servicetype=Pandit" class="d-block text-center">
                        <img src="~/newdesign/images/pundit-bg.png" class="img-fluid" alt="Other Service">
                        <p class="themeColor mt-2">Pandit</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footerBg text-white py-4 margin-top-50">
        <div class="row mx-0">
            <div class="col-6 col-sm-4 col-md-2 offset-md-1">
                <h4 class="noteWorthybold">
                    Main Links
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">About Us</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Celebrations
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="/NQuestionNaire?servicetype=Wedding" class="text-white">Wedding</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Engagement" class="text-white">Engagement</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Birthday" class="text-white">Birthday</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Party" class="text-white">Parties</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Corporate" class="text-white">Corporate</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=BabyFunction" class="text-white">Baby Functions</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Services
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="/NQuestionNaire?servicetype=Venue" class="text-white">Venues</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Music & Artists</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Catering" class="text-white">Catering</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Event Services</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Other</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    What's Trending
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="/NQuestionNaire?servicetype=Photography" class="text-white">Photography</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Makeup Artists</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Decorator" class="text-white">Decorators</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Pandit" class="text-white">Pandit</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Bakers</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Banquet Hall" class="text-white">Banquet Halls</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Support System
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">Customer Support</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Vendor Support</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Faq's</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mx-0 secondFooter">
            <div class="w-100 text-center">
                <ul class="pl-0 mb-0">
                    <li>
                        <a href="#" class="text-white">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Refund Policy</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="w-100 text-center">
                <p class="mb-0">Copy Right 2018, All rights reserved.</p>
            </div>
        </div>
    </footer>
    <div class="topScroll">
        <div class="icon"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
    </div>


    <script type="text/javascript" src="~/newdesign/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>

    <!-- For Alerts -->
    @*<script type="text/javascript" src="http://design.maa-aahwanam.com/newdesign/js/jquery.alertable.js"></script>
        <script src='http://design.maa-aahwanam.com/newdesign/js/velocity.min.js'></script>
        <script src='http://design.maa-aahwanam.com/newdesign/js/velocity.ui.min.js'></script>*@
    @*<script src='http://alertifyjs.com/build/alertify.js'></script>*@
    <script src="~/newdesign/js/alertify.js"></script>

    <!------ Date Picker ---------->
    <script type="text/javascript" src="~/newdesign/js/jquery-ui.min.js"></script>
    @*<script type="text/javascript" src="~/newdesign/js/datepicker.js"></script>*@
    <script src="~/newdesign/js/jquery.datetimepicker.full.js"></script>

    <!------ Owl Thumb Slider ---------->
    <script type="text/javascript" src="~/newdesign/js/owl.carousel.min.js"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        function DeletecartItem(cartId) {
            var obj = {}
            obj.cartId = cartId;
            $.ajax({
                type: "POST",
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/CartView/DeletecartItem',
                data: {},
                data: JSON.stringify(obj),
                //data: sendInfo,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        window.location.reload();
                    }
                },
                error: function (data) {
                    alert('error')
                }
            });
        }

        $(function () {
            var availableTags = '';
            $.ajax({
                type: "GET",
                url: '/NHomePage/AutoCompleteCountry',
                success: function (data) {
                    availableTags = data.split(',');
                    $("#tags,#tags1").autocomplete({
                        source: availableTags
                    });
                }
            });
            $("#tags, #tags1").autocomplete({
                source: availableTags
            });
        });

    </script>
    @if (ViewBag.Active != null)
    {
        <script>
                alertify.alert("@ViewBag.Active", function () {
                    //alertify.message('OK');
                });
        </script>
    }
    <script>
        /*------- Common Search Block -------------*/

        /*------ Index Search Block --------*/

        $(".commonSearch input[type='text']").on('input', function () {
            if ($(this).val().length >= 2) {
                $(".commonSearch + .commonSearchResults > div").css("display", "block");
                sortvendors();
            } else {
                $(".commonSearch + .commonSearchResults > div").css("display", "none");
            }
        });

        /*------ Index Search Block --------*/

        /*------ Category Search Block --------*/
        function categorySearch() {
            $(".commonSearch + .commonSearchResults > div").css("display", "block");
            sortvendors();
        }
        /*------ Category Search Block --------*/

        /*------ Venue Search Block --------*/
        function venueSearch() {
            $(".commonSearch + .commonSearchResults > div").css("display", "block");
        }
        /*------ Venue Search Block --------*/

        function sortvendors() {
            var location = $('#tags1').val();
            if (location == '') { location = 'Hyderabad'; }
            var url = '/NHomePage/SortVendorsBasedOnLocation?search=' + $('#searchvendors').val() + '&&type=' + $('#categorySearch').val() + '&&location=' + location;
            //alert($('#searchvendortype').html());
            //Sorting Vendors based on location
            $.ajax({
                type: 'get',
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                data: $('#tags').val(),
                success: function (result) {
                    $('#sortedvendorlist').empty().html(result);
                    //catgId = selected.toString().split(',');
                    //for (var i = 0; i < catgId.length; i++) {
                    //    $("#businesscategory div").each(function () {
                    //        $('#' + catgId[i] + '').show();
                    //    });
                    //}
                },
                error: function (ex) {
                    alert("Failed To Fetch data");
                }
            });
        }

    </script>
    @RenderSection("scripts", required: false)
    <script>
        /*-- Cart Toggle Block --*/
        $(document).on('click', '.cartToggle', function () {
            $('.cartBlock').toggle();
        });
        //$('.cartToggle').click(function () {
        //    $('.cartBlock').toggle();
        //});
        /*-- Cart Toggle Block --*/

        /*-- Scroll Top --*/
        $(window).on("scroll", function () {
            var scrollTop = $(this).scrollTop();
            if (scrollTop > 800) {
                $(".topScroll").css("display", "block");
            } else {
                $(".topScroll").css("display", "none");
            }
        })
        $(".topScroll").click(function () {
            $("html, body").animate({
                scrollTop: $("#bodyTop").offset().top
            }, "slow");
        });
        /*-- Scroll Top --*/

        /*-- Alerts --*/
        //function alertmsgs(msg) {
        //alertable.alert('Alert Message', {
        //    show: function () {
        //        $(this.overlay).velocity('transition.fadeIn');
        //        $(this.modal).velocity('transition.flipBounceYIn');
        //    },
        //    hide: function () {
        //        $(this.overlay).velocity('transition.fadeOut');
        //        $(this.modal).velocity('transition.perspectiveUpOut');
        //    }
        //});
        ///}
        /*-- Alerts --*/

        


    </script>
    <script>
        function redirect(id,subid) {
            var type = $('#categorySearch').val();
            location.href = '/NParticularVendor?type='+type+'&&id='+id+'&&vid='+subid+'';
        }

        $('button.navbar-toggler-right').click(function () {
            $(this).nextAll(".navbar-collapse").removeClass('in').toggleClass(' show');
        });

        //$(".toggleOpen").click(function () {
        $(document).on('click', "li.nav-item.dropdown.toggleOpen", function () {
            //alert("document script");
           $(this).toggleClass(' show');
        });

        $("li.nav-item.dropdown.toggleOpen").click(function () {
            $(this).toggleClass(' show');
        });
    </script>
</body>
</html>
