@using MaaAahwanam.Web.Custom
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
    CustomPrincipal user = null;
    if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        user = (CustomPrincipal)HttpContext.Current.User;
    }
}
@using System.Globalization

<style>
    .overlay {
        background: no-repeat scroll center center #FFF;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999;
        background-color: rgba(0,0,0,0.8);
        /* END EXTERNAL S */
    }

    .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
        color: green; /*#33aaff;*/
    }

    .xdsoft_datetimepicker.xdsoft_dark .xdsoft_calendar th {
        color: #666;
    }

    .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month,
    .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled,
    .xdsoft_datetimepicker .xdsoft_time_box > div > div.xdsoft_disabled {
        color: red;
    }

    .xdsoft_datetimepicker .xdsoft_calendar td {
        color: green;
    }

    .xdsoft_datetimepicker.xdsoft_dark .xdsoft_calendar td.xdsoft_today {
        color: green; /*#cc5500;*/
    }
</style>


<div class="overlay" style="display: none;">
    <div style="left: 50%; top: 50%; position: fixed; transform: translate(-50%, -50%); text-align: center;">
        <img src="~/CSSWeb/images/Loader2.gif" /><br>
        <p style="color: white; font-style: italic; font-family:serif;">&nbsp; Adding to Cart.....</p>
        <p style="color: white; font-family:serif;">If this is taking more time click <a href="@Request.Url">here</a> </p>
    </div>
</div>
<div class="container-fluid dealProfile">
    <div class="row innerPagesBg py-2">
        <input type="hidden" id="L1" name="L1" value="@ViewBag.count" />
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 mb-2 mb-sm-0 mb-md-0">
            <div class="row mx-0 bgWhite p-2">
                <div class="w-100 bannerImg">
                    @if (ViewBag.image != null)
                    {
                        @*<img src="~/vendorimages/@ViewBag.image" class="img-fluid" alt="@ViewBag.image">*@
                        <div class="w-100 bannerImg" style="background: url('/vendorimages/@ViewBag.image');background-repeat: no-repeat;background-size: cover;background-position: center;"></div>
                    }
                    else
                    {
                        @*<img src="~/noimages.png" class="img-fluid" alt="Default Image">*@
                        <div class="w-100 bannerImg" style="background: url('/noimages.png');background-repeat: no-repeat;background-size: cover;background-position: center;"></div>
                    }
                </div>
                <div class="row w-100 mx-0 my-15">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 dealProfileName">
                        <div class="float-left title">@ViewBag.Productinfo.BusinessName</div><div class="float-right">Price:<text id="sprice">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.servicetypeprice)).Replace(".00", "") </text> / -</div>
                        @*<p>@ViewBag.vendoravailabledates</p>*@
                        @*<div class="w-100 tags my-15">
                                @if (new string[] { "Venues", "Hotel", "Resort", "Convention Hall" }.Contains(Request.QueryString["type"]))
                                {
                                    if (ViewBag.particularVenue.HallType != null && ViewBag.particularVenue.HallType != "")
                                    {
                                        <div class="d-inline-block p-2 mr-4 greyBg">
                                            <p class="mb-0"><span>@ViewBag.particularVenue.HallType</span></p>
                                        </div>
                                    }
                                    if (ViewBag.particularVenue.Wifi != null && ViewBag.particularVenue.Wifi == "Yes" && ViewBag.particularVenue.Wifi != "")
                                    {
                                        <div class="d-inline-block p-2 mr-4 greyBg">
                                            <p class="mb-0"><span>Wifi</span></p>
                                        </div>
                                    }
                                    if (ViewBag.particularVenue.Rooms != null && ViewBag.particularVenue.Rooms == "Yes" && ViewBag.particularVenue.Rooms != "")
                                    {
                                        <div class="d-inline-block p-2 mr-4 greyBg">
                                            <p class="mb-0"><span>Rooms</span></p>
                                        </div>
                                    }
                                    if (ViewBag.particularVenue.Food != null && ViewBag.particularVenue.Food != "")
                                    {
                                        <div class="d-inline-block p-2 mr-4 greyBg">
                                            <p class="mb-0"><span>@ViewBag.particularVenue.Food</span></p>
                                        </div>
                                    }
                                }
                                @if (Request.QueryString["type"] == "Catering")
                                {
                                    if (ViewBag.particularCatering.LiveCookingStation != null && ViewBag.particularCatering.LiveCookingStation != "")
                                    {
                                        <div class="d-inline-block p-2 mr-4 greyBg">
                                            <p class="mb-0"><span>LiveCookingStation : @ViewBag.particularCatering.LiveCookingStation</span></p>
                                        </div>
                                    }
                                }
                                @if (Request.QueryString["type"] == "Photography")
                                {
                                    if (ViewBag.particularPhotography.PreWeddingShoot != null && ViewBag.particularPhotography.PreWeddingShoot != "")
                                    {
                                        <div class="d-inline-block p-2 mr-4 greyBg">
                                            <p class="mb-0"><span>Pre-Wedding Shoot : @ViewBag.particularPhotography.PreWeddingShoot</span></p>
                                        </div>
                                    }
                                }
                                @*<div class="d-inline-block p-2 mr-4 greyBg">
                                        <p class="mb-0">300 <span>Guests</span></p>
                                    </div>
                                    <div class="d-inline-block p-2 mr-4 greyBg">
                                        <p class="mb-0">300 <span>Guests</span></p>
                                    </div>
                                    <div class="d-inline-block p-2 mr-4 greyBg">
                                        <p class="mb-0">300 <span>Guests</span></p>
                                    </div>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="row my-2 vendorProfileTotalDescrption">
                <div class="hrResponsiveTabs col-12 col-md-12">
                    <dl class="responsiveTabs bgWhite mb-2">
                        <dt>About Us</dt>
                        <dd>
                            <div class="w-100 vrResponsiveTabs">
                                <p>Description</p>
                                <span>@ViewBag.Productinfo.Description</span>
                                <p>Amenities</p>
                                <span>
                                    @if (Request.QueryString["type"] == "Venues" || Request.QueryString["type"] == "Hotel" || Request.QueryString["type"] == "Resort" || Request.QueryString["type"] == "Convention Hall")
                                    {
                                        <p class="packageContent">
                                            Food : @ViewBag.particularVenue.Food <br /> CockTails: @ViewBag.particularVenue.CockTails <br /> Rooms : @ViewBag.particularVenue.Rooms <br /> DecorationAllowed : @ViewBag.particularVenue.DecorationAllowed <br /> HallType : @ViewBag.particularVenue.HallType <br /> Wifi : @ViewBag.particularVenue.Wifi <br /> LiveCookingStation : @ViewBag.particularVenue.LiveCookingStation
                                        </p>
                                    }

                                    @if (Request.QueryString["type"] == "Catering")
                                    {
                                        <p class="packageContent">
                                            Live Cooking Station Availability : @ViewBag.particularCatering.LiveCookingStation <br /> Transport Included : @ViewBag.particularCatering.TransportIncluded
                                        </p>
                                    }

                                    @if (Request.QueryString["type"] == "Decorator")
                                    {
                                        <p class="packageContent">
                                            Mandap Design : @ViewBag.particularDecorator.Mandaps <br /> Mehendi : @ViewBag.particularDecorator.Mehendi <br /> Sangeet : @ViewBag.particularDecorator.Sangeet <br /> Lighting : @ViewBag.particularDecorator.Lighting
                                        </p>
                                    }

                                    @if (Request.QueryString["type"] == "Photography")
                                    {
                                        <p class="packageContent">
                                            Pre-Wedding Shoot : @ViewBag.particularPhotography.PreWeddingShoot
                                        </p>
                                    }

                                    @if (Request.QueryString["type"] == "Mehendi" || Request.QueryString["type"] == "Pandit")
                                    {
                                        <p class="packageContent">
                                            Prior Bookings Days : @ViewBag.particularOther.PriorBookingsDays
                                        </p>
                                    }

                                </span>
                                @if (new string[] { "Venues", "Hotel", "Resort", "Convention Hall", "Venue" }.Contains(Request.QueryString["type"]))
                                {
                                    <p>Hall Details</p>
                                    if (ViewBag.particularVenue != null)
                                    {
                                        <span>
                                            <p>Hall Name : @ViewBag.particularVenue.name</p>
                                            <p>Hall Dimentions : @ViewBag.particularVenue.Dimentions</p>
                                            <p>Minimum Seating Capacity : @ViewBag.particularVenue.Minimumseatingcapacity</p>
                                            <p>Maximum Seating Capacity : @ViewBag.particularVenue.Maximumcapacity</p>
                                            <p>Hall Description : @ViewBag.particularVenue.Description</p>
                                        </span>
                                    }


                                }
                                <p>Terms & Conditions</p>
                                <span>Terms and Conditions content</span>
                            </div>
                            <div class="appendedData"></div>
                        </dd>
                        <dt>Packages / Deals</dt>
                        <dd>
                            <div class="w-100 vrResponsiveTabs">
                                @if (new string[] { "Venues", "Hotel", "Resort", "Convention Hall", "Venue", "Catering", "Banquet Hall", "Function Hall" }.Contains(Request.QueryString["type"]))
                                {
                                    <p>Prices</p>
                                    <span>
                                        @*<p>No Packages Available</p>*@
                                        <div class="row packages">
                                            @if (new string[] { "Venues", "Hotel", "Resort", "Convention Hall", "Venue", "Banquet Hall", "Function Hall" }.Contains(Request.QueryString["type"]))
                                            {
                                                if (Convert.ToDouble(@ViewBag.particularVenue.VegLunchCost) != 0.00)
                                                {
                                                    <div class="col-12 colmd-12 packageDetails">
                                                        <div class="w-100 float-left">
                                                            <div class="float-left"><p class="mb-0 packageName">Veg Lunch Cost</p></div>
                                                            <div class="float-right packageCheckbox">
                                                                <input type="hidden" id="pkgid" value="@ViewBag.particularVenue.Id" />
                                                                <label>
                                                                    <input type="checkbox" name="">
                                                                    <p>Select</p>
                                                                </label>
                                                            </div>
                                                            <div class="float-right">
                                                                <p class="mb-0 mr-2"> INR <span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularVenue.VegLunchCost)).Replace(".00", "")</span></p>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <hr />
                                                        <div class="w-100">
                                                            <p class="packageContent">
                                                                Veg Lunch Per Plate is : @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularVenue.VegLunchCost)).Replace(".00", "")
                                                            </p>
                                                        </div>
                                                    </div>
                                                }
                                                if (Convert.ToDouble(@ViewBag.particularVenue.NonVegLunchCost) != 0.00)
                                                {
                                                    <div class="col-12 colmd-12 packageDetails">
                                                        <div class="w-100 float-left">
                                                            <div class="float-left"><p class="mb-0 packageName">Non-Veg Lunch Cost</p></div>
                                                            <div class="float-right packageCheckbox">
                                                                <input type="hidden" id="pkgid" value="@ViewBag.particularVenue.Id" />
                                                                <label>
                                                                    <input type="checkbox" name="">
                                                                    <p>Select</p>
                                                                </label>
                                                            </div>
                                                            <div class="float-right">
                                                                <p class="mb-0 mr-2"> INR <span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularVenue.NonVegLunchCost)).Replace(".00", "")</span></p>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <hr />
                                                        <div class="w-100">
                                                            <p class="packageContent">
                                                                Non - Veg Lunch Per Plate is : @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularVenue.NonVegLunchCost)).Replace(".00", "")
                                                            </p>
                                                        </div>
                                                    </div>
                                                }
                                                if (Convert.ToDouble(@ViewBag.particularVenue.VegDinnerCost) != 0.00)
                                                {
                                                    <div class="col-12 colmd-12 packageDetails">
                                                        <div class="w-100 float-left">
                                                            <div class="float-left"><p class="mb-0 packageName">Veg Dinner Cost</p></div>
                                                            <div class="float-right packageCheckbox">
                                                                <input type="hidden" id="pkgid" value="@ViewBag.particularVenue.Id" />
                                                                <label>
                                                                    <input type="checkbox" name="">
                                                                    <p>Select</p>
                                                                </label>
                                                            </div>
                                                            <div class="float-right">
                                                                <p class="mb-0 mr-2"> INR <span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularVenue.VegDinnerCost)).Replace(".00", "")</span></p>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <hr />
                                                        <div class="w-100">
                                                            <p class="packageContent">
                                                                Veg Dinner Per Plate is : @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularVenue.VegDinnerCost)).Replace(".00", "")
                                                            </p>
                                                        </div>
                                                    </div>
                                                }
                                                if (Convert.ToDouble(@ViewBag.particularVenue.NonVegDinnerCost) != 0.00)
                                                {
                                                    <div class="col-12 colmd-12 packageDetails">
                                                        <div class="w-100 float-left">
                                                            <div class="float-left"><p class="mb-0 packageName">Non - Veg Dinner Cost</p></div>
                                                            <div class="float-right packageCheckbox">
                                                                <input type="hidden" id="pkgid" value="@ViewBag.particularVenue.Id" />
                                                                <label>
                                                                    <input type="checkbox" name="">
                                                                    <p>Select</p>
                                                                </label>
                                                            </div>
                                                            <div class="float-right">
                                                                <p class="mb-0 mr-2"> INR<span> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularVenue.NonVegDinnerCost)).Replace(".00", "")</span></p>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <hr />
                                                        <div class="w-100">
                                                            <p class="packageContent">
                                                                Non - Veg Lunch Per Plate is : @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularVenue.NonVegDinnerCost)).Replace(".00", "")
                                                            </p>
                                                        </div>
                                                    </div>
                                                }
                                            }

                                            @if (ViewBag.type == "Catering")
                                            {
                                                if ((Convert.ToDouble(@ViewBag.particularCatering.Veg)) != 0.00)
                                                {
                                                    <div class="col-12 colmd-12 packageDetails">
                                                        <div class="w-100 float-left">
                                                            <div class="float-left"><p class="mb-0 packageName">Veg Cost</p></div>
                                                            <div class="float-right packageCheckbox">
                                                                <input type="hidden" id="pkgid" value="@ViewBag.particularCatering.Id" />
                                                                <label>
                                                                    <input type="checkbox" name="">
                                                                    <p>Select</p>
                                                                </label>
                                                            </div>
                                                            <div class="float-right">
                                                                <p class="mb-0 mr-2"> INR<span> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularCatering.Veg)).Replace(".00", "") </span></p>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <hr />
                                                        <div class="w-100">
                                                            <p class="packageContent">
                                                                Veg Per Plate is : @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularCatering.Veg)).Replace(".00", "")
                                                            </p>
                                                        </div>
                                                    </div>
                                                }
                                                if ((Convert.ToDouble(@ViewBag.particularCatering.NonVeg)) != 0.00)
                                                {
                                                    <div class="col-12 colmd-12 packageDetails">
                                                        <div class="w-100 float-left">
                                                            <div class="float-left"><p class="mb-0 packageName">Non-Veg Cost</p></div>
                                                            <div class="float-right packageCheckbox">
                                                                <input type="hidden" id="pkgid" value="@ViewBag.particularCatering.Id" />
                                                                <label>
                                                                    <input type="checkbox" name="">
                                                                    <p>Select</p>
                                                                </label>
                                                            </div>
                                                            <div class="float-right">
                                                                <p class="mb-0 mr-2"> INR<span> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularCatering.NonVeg)).Replace(".00", "") </span></p>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <hr />
                                                        <div class="w-100">
                                                            <p class="packageContent">
                                                                Non - Veg Per Plate is : @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.particularCatering.NonVeg)).Replace(".00", "")
                                                            </p>
                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </div>
                                    </span>
                                }

                                <p>Packages</p>
                                <span>
                                    @*<p>No Packages Available</p>*@
                                    <div class="row packages">
                                        @if (ViewBag.availablepackages != null)
                                        {
                                            foreach (var item in ViewBag.availablepackages)
                                            {
                                                <div class="col-12 colmd-12 packageDetails">

                                                    <div class="w-100 float-left">
                                                        <div class="float-left"><p class="mb-0 packageName">@item.PackageName</p></div>
                                                        <div class="float-right packageCheckbox">
                                                            <input type="hidden" id="pkgid" value="@item.PackageID" />
                                                            <label>
                                                                <input type="checkbox" name="">
                                                                <p>Select</p>
                                                            </label>
                                                        </div>
                                                        <div class="float-right">
                                                            <p class="mb-0 mr-2">
                                                                INR
                                                                @if (item.PackagePrice != null && item.PackagePrice != "")
                                                                {<span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", @item.PackagePrice).Replace(".00", "")</span>}
                                                               @if (item.price1 != null && item.price1 != "")
                                                                {<span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", @item.price1).Replace(".00", "")</span>}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <hr />
                                                    <div class="w-100">
                                                        <p class="packageContent">
                                                            @item.PackageDescription
                                                        </p>
                                                    </div>pri
                                                </div>
                                            }
                                        }
                                        @if (ViewBag.availablepackages.Count == 0)
                                        {
                                            <p>No Packages Available</p>
                                        }

                                    </div>
                                </span>
                                <p>Deals</p>
                                <span>
                                    @if (ViewBag.availabledeals != null)
                                    {
                                        foreach (var item in ViewBag.availabledeals)
                                        {
                                            <div class="row packages">
                                                <div class="col-12 colmd-12 packageDetails">
                                                    <div class="w-100 float-left">
                                                        <div class="float-left"><p class="mb-0 packageName">@item.Category (@item.FoodType)</p></div>
                                                        <div class="float-right packageCheckbox">
                                                            <label>
                                                                <input type="checkbox" name="">
                                                                <p onclick="return location.href = '/NViewDeal/Index?id=@item.VendorId&&type=@item.VendorType&&eve='">Select</p>
                                                            </label>
                                                        </div>
                                                        <div class="float-right">
                                                            <p class="mb-0 mr-2">INR <span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.DealPrice)).Replace(".00", "") </span></p>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <hr />
                                                    <div class="w-100">
                                                        <p class="packageContent">
                                                            @item.DealDescription
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    @if (ViewBag.availabledeals.Count == 0)
                                    {
                                        <p>No Deals Available</p>
                                    }
                                </span>
                            </div>
                            <div class="appendedData"></div>

                        </dd>
                        <dt>Gallery / Portfolio</dt>
                        <dd class="p-2">
                            @*<div class="w-100 vrResponsiveTabs">
                                    <p>Photos</p>
                                    <span>
                                        <div class="row gallery">
                                            @foreach (var item in ViewBag.allimages)
                                            {
                                                <div class="text-center block">
                                                    <img src="~/vendorimages/@item.ImageName" class="mw-100" alt="@item.ImageName">
                                                    <span class="themeColor mt-1 d-block">
                                                        @if (item.Imagedescription != null)
                                                        { @item.Imagedescription }
                                                        else
                                                        { <p>No Description</p>}
                                                    </span>
                                                </div>
                                            }
                                            @if (ViewBag.allimages.Count == 0)
                                            {
                                                <p>No Images Available</p>
                                            }
                                        </div>
                                    </span>
                                    <p>Videos</p>
                                    <span>No Videos Available</span>
                                </div>
                                <div class="appendedData"></div>*@
                            <div class="w-100 vrResponsiveTabs">
                                <p>Photos</p>
                                <span>
                                    <div class="row gallery">
                                        @foreach (var item in ViewBag.allimages)
                                        {
                                            <div class="text-center block">
                                                <img class="mw-100" src="~/vendorimages/@item.ImageName" alt="@item.ImageName" />
                                                <span class="themeColor mt-1 d-block">
                                                    @if (item.Imagedescription != null)
                                                    { @item.Imagedescription }
                                                    else
                                                    { <p>No Description</p>}
                                                </span>
                                            </div>
                                        }
                                        @if (ViewBag.allimages.Count == 0)
                                        {
                                            <div class="text-center block">
                                                <span>No Images Available</span>
                                            </div>                                        }
                                    </div>
                                </span>
                                <p>Videos</p>
                                <span>No Videos Available</span>
                            </div>
                            <div class="appendedData"></div>

                        </dd>
                        <dt>Reviews</dt>
                        <dd></dd>
                        <dt>Address</dt>
                        <dd>
                            <div class="w-100 vrResponsiveTabs">
                                <p>Address</p>
                                <span>
                                    <div class="row mx-0 mb-3">
                                        <h3 class="nexaBold">
                                            Contact Details
                                            <div class="blackBorder"></div>
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 address">
                                            <h6 class="themeColor">Address</h6>
                                            @if (ViewBag.location.Address != null || ViewBag.location.Landmark != null || ViewBag.location.City != null || ViewBag.location.State != null || ViewBag.location.ZipCode != null)
                                            {
                                                <p>@ViewBag.location.Address,</p>
                                                <p>@ViewBag.location.Landmark,</p>
                                                <p>@ViewBag.location.City, @ViewBag.location.State</p>
                                                <p>@ViewBag.location.ZipCode.</p>
                                            }
                                            else if (ViewBag.location.Address == null || ViewBag.location.Landmark == null || ViewBag.location.City == null || ViewBag.location.State == null || ViewBag.location.ZipCode == null)
                                            {
                                                <p>@ViewBag.Productinfo.Address,</p>
                                                <p>@ViewBag.Productinfo.Landmark,</p>
                                                <p>@ViewBag.Productinfo.City, @ViewBag.Productinfo.State</p>
                                                <p>@ViewBag.Productinfo.ZipCode.</p>
                                            }


                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 contact">
                                            <h6 class="themeColor">Contact</h6>
                                            @*<p>+91-@ViewBag.Productinfo.ContactNumber</p>
                                                <p>@ViewBag.Productinfo.EmailId</p>*@
                                            <p>+91-7702053510</p>
                                            <p>amit.saxena@ahwanam.com</p>
                                        </div>
                                    </div>
                                </span>
                                <p>Map</p>
                                <span>
                                    Map Content
                                    <!--<div class="map" style="height: 150px;">
                                      <div id="google-map" data-latitude="17.425218" data-longitude="78.421246" style="height: 150px;"></div>
                                    </div>-->
                                </span>
                            </div>
                            <div class="appendedData"></div>
                        </dd>

                        <dt>Other</dt>
                        <dd>
                            @foreach (var item in ViewBag.Venue)
                            {
                                if (item.Id != long.Parse(Request.QueryString["vid"]))
                                {
                                    <div class="row packages">
                                        <div class="col-12 colmd-12 packageDetails">
                                            <div class="w-100 float-left">
                                                @if (item.VenueType != "" && item.VenueType != null)
                                                {
                                                    <div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Venue&&id=@item.VendorMasterId&&vid=@item.Id">@item.VenueType</a></p></div>
                                                }
                                                else
                                                {
                                                    <div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Venue&&id=@item.VendorMasterId&&vid=@item.Id">Venue</a></p></div>
                                                }
                                                <div class="float-right">
                                                    @*<p class="mb-0 mr-2">INR <span>@item.ServiceCost</span></p>*@
                                                    <p class="mb-0 mr-2"> INR <span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(item.ServiceCost)).Replace(".00", "")</span></p>
                                                </div>
                                            </div>
                                            <br />
                                            <hr />
                                            <div class="w-100">
                                                <p class="packageContent">
                                                    Food : @item.Food ; CockTails: @item.CockTails ; Rooms : @item.Rooms ; DecorationAllowed : @item.DecorationAllowed ; HallType : @item.HallType ; Wifi : @item.Wifi ; LiveCookingStation : @item.LiveCookingStation
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            @foreach (var item in ViewBag.Catering)
                            {
                                if (item.Id != long.Parse(Request.QueryString["vid"]))
                                {
                                    <div class="row packages">
                                        <div class="col-12 colmd-12 packageDetails">
                                            <div class="w-100 float-left">
                                                @*<div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Catering&&id=@item.VendorMasterId&&vid=@item.Id">@item.CuisineType</a></p></div>*@
                                                @if (item.CuisineType != "" && item.CuisineType != null)
                                                {
                                                    <div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Catering&&id=@item.VendorMasterId&&vid=@item.Id">@item.CuisineType</a></p></div>
                                                }
                                                else
                                                {
                                                    <div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Catering&&id=@item.VendorMasterId&&vid=@item.Id">Venue</a></p></div>
                                                }
                                                <div class="float-right">
                                                    @*<p class="mb-0 mr-2">INR <span>@item.Veg</span></p>*@
                                                    <p class="mb-0 mr-2"> INR <span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(item.Veg)).Replace(".00", "")</span></p>
                                                </div>
                                            </div>
                                            <br />
                                            <hr />
                                            <div class="w-100">
                                                <p class="packageContent">
                                                    Live Cooking Station Availability : @item.LiveCookingStation ; Transport Included : @item.TransportIncluded
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            @foreach (var item in ViewBag.Decorator)
                            {
                                if (item.Id != long.Parse(Request.QueryString["vid"]))
                                {
                                    <div class="row packages">
                                        <div class="col-12 colmd-12 packageDetails">
                                            <div class="w-100 float-left">
                                                @*<div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Decorator&&id=@item.VendorMasterId&&vid=@item.Id">@item.DecorationType</a></p></div>*@
                                                @if (item.DecorationType != "" && item.DecorationType != null)
                                                {
                                                    <div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Decorator&&id=@item.VendorMasterId&&vid=@item.Id">@item.DecorationType</a></p></div>
                                                }
                                                else
                                                {
                                                    <div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Decorator&&id=@item.VendorMasterId&&vid=@item.Id">Venue</a></p></div>
                                                }
                                                <div class="float-right">
                                                    @*<p class="mb-0 mr-2">INR <span>@item.StartingPrice</span></p>*@ @*.Replace(".00", "")*@
                                                    <p class="mb-0 mr-2"> INR <span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(item.StartingPrice)).Replace(".00", "")</span></p>
                                                </div>
                                            </div>
                                            <br />
                                            <hr />
                                            <div class="w-100">
                                                <p class="packageContent">
                                                    Mandap Design : @item.Mandaps ; Mehendi : @item.Mehendi ; Sangeet : @item.Sangeet ; Lighting : @item.Lighting
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            @foreach (var item in ViewBag.Photography)
                            {
                                if (item.Id != long.Parse(Request.QueryString["vid"]))
                                {
                                    <div class="row packages">
                                        <div class="col-12 colmd-12 packageDetails">
                                            <div class="w-100 float-left">
                                                @*<div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Photography&&id=@item.VendorMasterId&&vid=@item.Id">@item.PhotographyType</a></p></div>*@
                                                @if (item.PhotographyType != "" && item.PhotographyType != null)
                                                {
                                                    <div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Photography&&id=@item.VendorMasterId&&vid=@item.Id">@item.PhotographyType</a></p></div>
                                                }
                                                else
                                                {
                                                    <div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Photography&&id=@item.VendorMasterId&&vid=@item.Id">Photography</a></p></div>
                                                }
                                                <div class="float-right">
                                                    @*<p class="mb-0 mr-2">INR <span>@item.StartingPrice</span></p>*@
                                                    <p class="mb-0 mr-2"> INR <span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(item.StartingPrice)).Replace(".00", "")</span></p>
                                                </div>
                                            </div>
                                            <br />
                                            <hr />
                                            <div class="w-100">
                                                <p class="packageContent">
                                                    Pre-Wedding Shoot : @item.PreWeddingShoot ;
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            @foreach (var item in ViewBag.Other)
                            {
                                if (item.Id != long.Parse(Request.QueryString["vid"]))
                                {
                                    <div class="row packages">
                                        <div class="col-12 colmd-12 packageDetails">
                                            <div class="w-100 float-left">
                                                @*<div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Other&&id=@item.VendorMasterId&&vid=@item.Id">@item.type</a></p></div>*@
                                                @if (item.type != "" && item.type != null)
                                                {
                                                    <div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Other&&id=@item.VendorMasterId&&vid=@item.Id">@item.type</a></p></div>
                                                }
                                                else
                                                {
                                                    <div class="float-left"><p class="mb-0 packageName"><a href="/NParticularVendor?type=Other&&id=@item.VendorMasterId&&vid=@item.Id">Other</a></p></div>
                                                }
                                                <div class="float-right">
                                                    @*<p class="mb-0 mr-2">INR <span>@item.ItemCost</span></p>*@
                                                    <p class="mb-0 mr-2"> INR <span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(item.ItemCost)).Replace(".00", "")</span></p>
                                                </div>
                                            </div>
                                            <br />
                                            <hr />
                                            <div class="w-100">
                                                <p class="packageContent">
                                                    Prior Bookings Days : @item.PriorBookingsDays
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            @if (ViewBag.msg != "0")
                            {
                                @ViewBag.msg
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 pl-md-0 topVenus">
            <div class="px-15">
                <div class="row bgWhite mb-3">
                    <div class="w-100 px-4 py-3">
                        <div class="row mx-0">
                            <input type="hidden" id="serviceprice" value="@ViewBag.servicetypeprice" />
                            <input type="hidden" id="vendoravailabledates" value="@ViewBag.vendoravailabledates" />
                            <input type="hidden" id="selectedtype" />
                            <input type="hidden" id="pkgprice" />
                            <input type="hidden" id="SelectedCategory" />
                            <h3 class="noteWorthybold">
                                Fill the Details
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row mx-0 mt-4 dealProfileForm">
                            <div class="w-100">
                                <div class="form-group mb-0">
                                    <input type="text" class="form-control nexaBold" placeholder="Event Type" id="eventtype" name="eventtype">
                                    <input type="hidden" id="SelectedPriceType" />
                                </div>
                            </div>

                            @*<div class="w-100">
                                    <select class="w-100 p-2 ml-auto">
                                        <option>Event type</option>
                                        @foreach (var item in ViewBag.Venue)
                                        {
                                            <option>@item.VenueType</option>
                                        }
                                    </select>
                                </div>*@
                            @if (ViewBag.type != "Mehendi" && ViewBag.type != "Pandit" && ViewBag.type != "Decorator" && ViewBag.type != "Other" && ViewBag.type != "Photography" && ViewBag.type != "Function Hall")
                            {
                                <div class="w-100 mt-3 noOfPeoples" id="people">
                                    <div class="form-group mb-0">
                                        <input type="number" class="form-control nexaBold" placeholder="No of Guests" id="members" name="members" onkeyup="this.value = minmax(this.value, 1, 70)">
                                    </div>
                                </div>
                            }


                            <div class="w-100 mt-3 eventDate">
                                <div class="datentime w-100">
                                    @*<div class="input">
                                            <div class="result nexaBold">Occasion Date: <span id="occasiondate"></span></div>
                                            <button class="themeBgColorSecondary"><i class="fa fa-calendar"></i></button>
                                        </div>
                                        <div class="calendar"></div>*@
                                    <input type="text" value="" id="datetimepicker" class="form-control" placeholder="Event Date" />
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="w-100 mt-3 slotTime" id="timeslot">
                                <div class="w-50 float-left">
                                    <label class="w-100 mb-0">
                                        <input type="checkbox" id="ch1" value="Morning" name="timeslot" />
                                        <span></span>
                                        <p class="mb-0 d-inline">Morning</p>
                                    </label>
                                </div>
                                <div class="w-50 float-left">
                                    <label class="w-100 mb-0">
                                        <input type="checkbox" id="ch2" value="Evening" name="timeslot" />
                                        <span></span>
                                        <p class="mb-0 d-inline">Evening</p>
                                    </label>
                                </div>
                            </div>
                            <div class="w-100 mt-3 text-center totalAmount">
                                <div class="themeColor">
                                    <p class="mb-0"><span id="selectedprice">@ViewBag.servicetypeprice.Replace(".00", "")</span> INR</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0">
                            <div class="w-100 d-flex my-2">
                                @*<span class="themeBgColorPrimary btnSecondary text-white text-center w-100">Book Now</span>*@
                                @if (user != null)
                                {
                                    <span class="themeBgColorPrimary btnSecondary text-white text-center w-100 bookNow">Add To Cart</span>
                                }
                                else
                                {
                                    <span class="themeBgColorPrimary btnSecondary text-white text-center w-100" id="servicebook">Add To Cart</span> // /NUserRegistration/Index onclick="@Url.Action("Index","NUserRegistration")"
                                }
                            </div>
                            <div class="w-100 d-flex my-2">
                                <span class="themeBgColorPrimary needHelpBtn btnSecondary text-white text-center w-100">
                                    Need any help ?
                                </span>
                            </div>
                        </div>
                        <div class="w-100 mt-3 totalAmount d-inline-block fontSize-16">
                            <div class="float-left">
                                <input type="hidden" id="whishlistid" value="@ViewBag.whishlistid" />
                                @if (user != null)
                                {
                                    if (ViewBag.whishlistmsg == 0)
                                    { <p class="mb-0" onclick="wl('add')">Add To WishList</p> }
                                    else if (ViewBag.whishlistmsg == 1)
                                    { <p class="mb-0" onclick="wl('remove')">Remove From WishList</p> }
                                    @*{ <p class="mb-0"><a href="/NParticularVendor/WhishList?type='@Request.QueryString["type"]'&&id='@Request.QueryString["id"]'&&vid='@Request.QueryString["vid"]'&&command=remove&&wid=@ViewBag.whishlistid">Remove From WishList</a></p> }*@
                                }
                                else
                                {
                                    <p class="mb-0"><a href="/NUserRegistration/Index?m=AWL">Add To WishList</a></p>
                                }
                                @*<p class="mb-0" onclick="wl('remove')">Remove From WishList</p>*@
                            </div>
                            @*<div class="float-right themeColor textUnderline">
                                    <p class="mb-0">Reviews (<span>100</span>)</p>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="row bgWhite mb-3" id="dealspartial">
                    @{Html.RenderAction("DealsSection", "NParticularVendor"); }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="margin-top-50">
        <div class="row mx-0">
            <h3 class="noteWorthybold">
                What's Trending
                <div class="blackBorder"></div>
            </h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="owl-carousel owl-theme mt-3">
                    <a href="/NQuestionNaire?servicetype=Hotel" class="item">
                        <img src="~/newdesign/images/hotels-bg.png" alt="Hotels" />
                        <span class="d-block mt-2 text-center themeFontColor">Hotels</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Function Hall" class="item">
                        <img src="~/newdesign/images/functionhalls-bg.png" alt="Function Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Function Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Banquet Hall" class="item">
                        <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Banquet Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Convention Hall" class="item">
                        <img src="~/newdesign/images/convention-bg.png" alt="Convention Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Convention Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Resort" class="item">
                        <img src="~/newdesign/images/resort-bg.png" alt="Resort" />
                        <span class="d-block mt-2 text-center themeFontColor">Resort</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Banquet Hall" class="item">
                        <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Banquet Halls</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid needHelpBlock">
    <div class="row">
        <div class="block bgWhite">
            <div class="text-center">
                <a class="col-md-12" href="mailto:info@ahwanam.com"><i class="fa fa-envelope fa-lg mr-3" aria-hidden="true"></i> info@ahwanam.com</a>
                <p class="col-md-12"><i class="fa fa-phone fa-lg mr-3 themeColor" aria-hidden="true"></i>+91-7702053510</p>
            </div>
            <i class="fa fa-times closeBlock"></i>
        </div>
    </div>
</div>


@section scripts{
    @*<script type="text/javascript" src="~/newdesign/js/owl.carousel.min.js"></script>*@

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        function minmax(value, min, max) {
            if (parseInt(value) <= 1 || isNaN(value))
                return 1;
            else if (parseInt(value) > 10000)
                return 10000;
            else return value;
        }
    </script>
    <script type="text/javascript">
        /*--- Date and Time ----*/
        $('#datetimepicker').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            timepicker: false,
            format: 'd/m/Y',
            minDate: '-1970/01/01',//yesterday is minimum date(for today use 0 or -1970/01/01)
            maxDate: '+1970/03/02',//tomorrow is maximum date calendar
            beforeShowDay: function (date) {
                //var alldates = $('#vendoravailabledates').val();
                var disableddates =$('#vendoravailabledates').val();
                //alert(disableddates);
                if (disableddates != '') {
                    var unavailableDates = '';
                    var final = ''; var dateslist1 = disableddates.split(',');
                    for (var i = 0; i < dateslist1.length; i++) {
                        var dateslist = dateslist1[i].split('-');
                        if (dateslist[0] < 10 && dateslist[1] < 10) {
                            var datepart = dateslist[0].slice(-1, 2) + '/' + dateslist[1].slice(-1, 2) + '/' + dateslist[2];
                            final = final + datepart + ",";
                        }
                        else if (dateslist[0] < 10 && dateslist[1] >= 10) {
                            var datepart = dateslist[0].slice(-1, 2) + '/' + dateslist[1] + '/' + dateslist[2];
                            final = final + datepart + ",";
                        }
                        else if (dateslist[0] >= 10 && dateslist[1] < 10) {
                            var datepart = dateslist[0] + '/' + dateslist[1].slice(-1, 2) + '/' + dateslist[2];
                            final = final + datepart + ",";
                        }

                        else {
                            final = final + dateslist1[i] + ",";
                        }
                        unavailableDates = final.slice(0, -1).split(',');
                    }
                    var dmy = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                    if ($.inArray(dmy, unavailableDates) != -1) {
                        return [false, "myclass", "Unavailable"];
                    } else {
                        return [true, ""];
                    }
                }

            }
        });
        /*------------ Date and Time --------------*/
    </script>

    <script type="text/javascript">
        $('#servicebook').click(function () {
            var eventtype = $('#eventtype').val();
            window.localStorage.setItem("eventtype", eventtype);
            window.location.href = '/home/Index';
        });
    </script>

    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>
    <script>
        function alertmsg(msg) {
            alertify.alert("" + msg + "", function () {
                //alertify.message('OK');
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })

        if ('@ViewBag.type' == "Photography" || '@ViewBag.type' == "Decorator") {
            $('#members').attr('disabled', 'disabled');
        }

        //<!-- hr Responsive Tabs -->
        $(document).ready(function () {
            // data based on type
            var vtype = '@Request.QueryString["type"]';
            //alert(vtype);
            if (vtype == 'Photography' || vtype == 'Decorator' || vtype == 'Other' || vtype == 'Mehendi' || vtype == 'Pandit') {
                $("#people").hide();
                $("#timeslot").hide();
                $("#totamount").hide();
            }
            if (vtype == 'Venue' || vtype == 'Catering') {
                //      alert(value1);
                $("#people").show();
                $("#timeslot").show();
                $("#totamount").show();
            }



            // Function releated to Package select
            function checkSelect() {

                $(".packageCheckbox label").click(function () {
                    if ($(this).find("input[type='checkbox']").is(':checked')) {
                        $(this).css('background', '#2e3192').find('p').css({ "color": "#fff" }).empty().append('Unselect');
                        $(this).parents(".packageDetails").prevAll(".packageDetails").find("label").css("display", "none");
                        $(this).parents(".packageDetails").nextAll(".packageDetails").find("label").css("display", "none");
                        $(this).parents(".packageDetails").prevAll(".packageDetails").find(".packageCheckbox").append("<span>Select</span>");
                        $(this).parents(".packageDetails").nextAll(".packageDetails").find(".packageCheckbox").append("<span>Select</span>");
                        $(".fillDetailsBg").css("display", "none");
                        var packagename = $(this).parents('div.float-left').find('p.packageName').text();
                        var packageprice = $(this).parents('div.packageCheckbox').next('div.float-right').find('span').html().replace(',','');//pkgid
                        var pkgid = $(this).parents('div.packageCheckbox').find('input').val(); //packageDetails
                        var selectedpackageprice = parseInt(packageprice);
                        var membercount = parseInt($('#members').val());
                        var calculatedprice = selectedpackageprice * membercount;
                        $('#eventtype').val(packagename);
                        $('#SelectedPriceType').val(packagename);
                        if ('@ViewBag.type' != "Photography" && '@ViewBag.type' != "Decorator" && '@ViewBag.type' != "Mehendi"  && '@ViewBag.type' != "Pandit" && '@ViewBag.type' != "Other"  && '@ViewBag.type' != "Function Hall") {
                            $('#serviceprice').val(selectedpackageprice);
                            $('#selectedprice').html(calculatedprice);
                            $('#pkgprice').val(packageprice);
                            $('#SelectedCategory').val("Price");
                        }
                        else {
                            $('#serviceprice').val(packageprice);
                            $('#selectedprice').html(packageprice);
                            $('#pkgprice').val(packageprice);
                            $('#SelectedCategory').val("Package");
                        }
                        $('#selectedtype').val(pkgid);
                    } else {
                        $(this).css({ "background": "#cecece" }).find('p').css({ "color": "#000" }).empty().append('Select');
                        $(this).parents(".packageDetails").prevAll(".packageDetails").find("label").css("display", "block");
                        $(this).parents(".packageDetails").nextAll(".packageDetails").find("label").css("display", "block");
                        $(this).parents(".packageDetails").prevAll(".packageDetails").find(".packageCheckbox").find("span").remove();
                        $(this).parents(".packageDetails").nextAll(".packageDetails").find(".packageCheckbox").find("span").remove();
                        $(".fillDetailsBg").css("display", "block");
                        $('#eventtype').val('');
                        $('#serviceprice').val(@ViewBag.servicetypeprice);
                        $('#selectedprice').html(@ViewBag.servicetypeprice);
                        $('#selectedtype').val("sprice");
                        //$('#pkgprice').val(0);
                        $('#SelectedCategory').val("ServicePrice");
                    }
                });
            }
            $(document).on('click', ".packages .packageCheckbox > span", function () {
                alertmsg("You cannot select more than one package");
            });



            $.fn.responseTabs = function () {
                var el = $(this), tabs = el.find('dt'), content = el.find('dd'),
                placeholder = $('<div class="responsive-tabs-placeholder bgWhite"></div>').insertAfter(el);

                tabs.on('click', function () {
                    var tab = $(this);

                    tabs.not(tab).removeClass('active');
                    tab.addClass(' active');

                    placeholder.html(tab.next().html());

                    $(".vrResponsiveTabs > p").click(function () {
                        $('.vrResponsiveTabs > p').removeClass('active');
                        $(this).addClass(' active');
                        var subContent = $(this).next('span');
                        $(this).parents('.vrResponsiveTabs').next('.appendedData').empty().html(subContent.html());

                        checkSelect();  // Function releated to Package select
                    });
                    checkSelect();  // Function releated to Package select

                });
                tabs.filter(':first').trigger('click');
            }
            $(".responsiveTabs").responseTabs();

            $('.vrResponsiveTabs p:first-child').trigger('click');

        });



        //<!-- hr Responsive Tabs -->
    </script>
    <script>
        function wl(val) {
            var type = '@Request.QueryString["type"]'; //location.search.split('type=')[1];
            var id = '@Request.QueryString["id"]'; //location.search.split('id=')[1];
            var vid = '@Request.QueryString["vid"]'; //location.search.split('vid=')[1];
            var url1 = null;
            if (val == 'add')
                url1 = '/NParticularVendor/WhishList?type=' + type + '&&id=' + id + '&&vid=' + vid + '&&command=' + val;
            else if (val == 'remove')
                url1 = '/NParticularVendor/WhishList?type=' + type + '&&id=' + id + '&&vid=' + vid + '&&command=' + val + '&&wid=' + $('#whishlistid').val();
            $.ajax({
                url: url1,
                success: function (data) {
                    if (data == "Success") {
                        alertmsg("Sucessfully Added to Wishlist")

                    }
                    else if (data == "removed") {
                        alertmsg("Removed From Wishlist");

                    }
                    location.href = '/NParticularVendor/Index?type=' + type + '&&id=' + id + '&&vid=' + vid;
                }
            });
        }

        $(document).ready(function () {
            var getdate = $.cookie("url");
            var getcount = $.cookie("qurl");
            var eventtype = window.localStorage.getItem('eventtype');
            $('#datetimepicker').val(getdate.split('occasiondate=')[1]);
            $('#members').val(getcount.split('count=')[1].split('&&')[0]);
            $('#eventtype').val(eventtype);

        });

        function DealsPartial() {
            var lastrecord = parseInt($('#L1').val()) + parseInt(2);
            var type = document.URL.split('type=')[1].split('&&')[0];
            var url = '/NParticularVendor/DealsSection?type=' + type + '&&L1=' + lastrecord+'&&vid='+@Request.QueryString["vid"];
            $("#dealspartial").empty().load(url);
            $('#L1').val(lastrecord);
        }
    </script>

    <script>
        $(".bookNow").click(function () {
            var timeslot = '';
            var type = '@Request.QueryString["type"]';
            var finalprice =$('#selectedprice').html();
            var TodayDate = new Date();
            var endDate= new Date($("#datetimepicker").val());

            if (type == 'Venue' || type == 'Catering' || type == 'venue' || type == 'Hotel' || type == 'Resort' || type == 'Convention Hall' || type == 'Catering' || type == 'Hotel' || type == 'Banquet Hall' || type == 'Function Hall') {
                if ($(".slotTime input[type='checkbox']").is(':checked')) {

                    var favorite = [];
                    $.each($("input[name='timeslot']:checked"), function () {
                        favorite.push($(this).val());
                        timeslot = favorite.join(", ");
                    })
                }
                else {
                    alertmsg("Please select time slot");
                }
            }
            else if (type == 'Photography' || type == 'Decorator' || type == 'Other' || type == 'Mehendi' || type == 'Pandit') {
                timeslot = "n/a";
            }
            if ($("#eventtype").val() == '') {
                alertmsg("Please Enter Event type");
            }
            else if ($("#members").val() == '') {
                alertmsg("Please Enter Members Count");
            }
            else if (timeslot == '') {
                alertmsg("Please select time slot");
            }
            else if (finalprice == '0' || finalprice == '') {
                alertmsg("Please Select Price in Packages/Deals Section");
            }
            else if (endDate < TodayDate && endDate !='Invalid Date') {
                alertmsg("Ocassion Date has to be greater than Current Date");
            }
            else {
                $(".overlay").show();
                var eventtype = $("#eventtype").val();
                var id = '@Request.QueryString["id"]';
                var vid = '@Request.QueryString["vid"]';
                var date = $("#datetimepicker").val();
                var price = $('#serviceprice').val();//'@ViewBag.servicetypeprice';
                var nop = $("#members").val();
                if (nop == undefined) {
                    nop=1;
                }
                var timeslot1 = 'Morning';
                var totalprice = price * nop;
                var total = $('#selectedprice').html();
                var selectedtype = $('#selectedtype').val();
                var SelectedPriceType = $('#SelectedPriceType').val();
                var SelectedCategory = $('#SelectedCategory').val();
                url1 = '/NParticularVendor/AddToCart?type=' + type + '&&eventtype=' + eventtype + '&&timeslot=' + timeslot + '&&date=' + date + '&&id=' + id + '&&vid=' + vid + '&&price=' + price + '&&guest=' + nop + '&&selectedtype=' + selectedtype + '&&total=' + total + '&&SelectedCategory=' + SelectedCategory + '&&SelectedPriceType=' + SelectedPriceType;

                $.ajax({
                    url: url1,
                    success: function (data) {
                        if (data == "Success") {
                            $(".overlay").hide();
                            alertify.confirm("Added To Cart",function(){
                                location.href = '/NCartView/Index';
                            },function(){
                                alertify.error('Staying in Same Page');
                            }).set({labels:{ok:'Proceed to Payment', cancel: 'Pay Later'}, padding: false});
                            localStorage.removeItem("eventtype");
                            $.cookie("url", '');
                            $.cookie("qurl", '');
                            $.cookie("eventtype", '');
                        }
                        else if (data == "failed") {
                            $(".overlay").hide();
                            alertmsg("Failed To add item to the cart");
                        }
                        else if (data == "Exists") {
                            $(".overlay").hide();
                            alertmsg("This Service Already Exists in Cart");
                            location.href = '/NCartView/Index';

                        }

                    },
                    error:function(data)
                    {
                        $(".overlay").hide();
                        alertmsg("Something Went Wrong!!! Try Again Later");
                    }
                });
            }
        });
        /*-- Need Help Block --*/
        $('.needHelpBtn').click(function () {
            $('.needHelpBlock').css('display', 'block');
        });
        $('.closeBlock').click(function () {
            $('.needHelpBlock').css('display', 'none');
        });
        /*-- Need Help Block --*/
    </script>

    <script>
        //caluclation
        function checkedBox() {
            var pkgprice = $('#pkgprice').val();
            var members = $('#members').val();
            var totalVal = $('.totalVal').text();
            alert(pkgprice);
            if (members == undefined) {
                members=1;
            }
            if (pkgprice != '0' && pkgprice != '') {
                totalVal = pkgprice * members;
            }
            var checkLen = $(".slotTime input[type='checkbox']:checked").length;
            if (pkgprice == '') {
                total1 = $('#serviceprice').val();
                totalVal = total1 * members
            }
            if (checkLen > 0) {
                total = checkLen * totalVal;
            }
            else {
                total =  total1.replace('.00','');
            }


            $(".totalAmount span").empty().append(total);
        }
        $(".noOfPeoples input[type='number']").on('change', function () {
            el = $(this), members = parseInt($(this).val());
            var price = $('#selectedprice').html();
            var pkgprice = $('#pkgprice').val();
            if (pkgprice != '0' && pkgprice != '') {
                price = pkgprice * members;
            }
            total = price * members;
            placeholder = $("<div class='totalVal'></div>").insertAfter(el);
            $(".totalVal:not(:eq(0))").remove();
            $(placeholder).append(total).css('display', 'none');
            $(".slotTime input[type='checkbox']").prop("checked", false);
            $(".totalAmount span").empty().text(price);
        });

        /*-- Check box Funcationality --*/

        $(".noOfPeoples input[type='number']").focusout(function () {
            if ($(this).val().length >= 1) {
                $(".slotTime input[type='checkbox']").attr("disabled", false);
            } else {
                alert("Enter No of Guests");
                $(".slotTime input[type='checkbox']").prop("checked", false);
            }
        });

        /*-- Check box Funcationality --*/

        $(".slotTime input[type='checkbox']").each(function () {
            $(this).on('change', function () {
                /*-- Check box Funcationality --*/
                if ($(".noOfPeoples input[type='number']").val() != undefined) {
                    if ($(".noOfPeoples input[type='number']").val().length >= 1) {
                        $(this).attr("disabled", false);
                    } else {
                        alert("Enter No of Guests");
                        $(this).prop("checked", false);
                        return false;
                    }
                }
                /*-- Check box Funcationality --*/

                if ($(this).is(':checked')) {
                    checkedBox();
                } else {
                    checkedBox();
                }
            });
        });

    </script>
}
