@model Tuple<MaaAahwanam.Models.Vendormaster, MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.UserDetail, MaaAahwanam.Models.VendorVenue>
@{
    ViewBag.Title = ":: Update Info ::";
    Layout = "~/Views/SharedWeb/VendorMasterPage.cshtml";
}


<style>
    .hideShowPassword-toggle {
        background-image: url('../../newdesign/images/wink.svg');
        background-position: 0 center;
        background-repeat: no-repeat;
        cursor: pointer;
        height: 100%;
        overflow: hidden;
        text-indent: -9999em;
        width: 44px;
    }

    .hideShowPassword-toggle-hide {
        background-position: -44px center;
    }
    /*
     * Because our input elements have a z-index so that
     * their borders will overlap on focus, we'll give ours
     * a higher one to make sure they're always visible.
     */
    .hideShowPassword-toggle,
    .my-toggle-class {
        z-index: 3;
    }
</style>

<div class="container border-default">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
            <h4>Create a Free Ahwanam account</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 header-banner">
            <img src="~/newdesign/images/banner.jpg" alt="Banner Image">
        </div>
    </div>
    <div class="row progress-area text-center">
        <div class="progress-ui">
            <div class="complete"><span>1</span></div>
            <div><span>2</span></div>
            <div><span>3</span></div>
            <div><span>4</span></div>
        </div>
        <div class="progress-content">
            <div>General Information</div>
            <div>Photo Gallery</div>
            <div>Details</div>
            <div>Discount %</div>
        </div>
    </div>
    <form method="post">
        <div class="block">
            @*<div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-user" aria-hidden="true"></i> Log In Information</h4>
                    </div>
                </div>*@

        </div>
        <div class="block">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                    <h4><i class="fa fa-user" aria-hidden="true"></i> Contact information</h4>
                </div>
            </div>
            <div class="row margin-top margin-bottom">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Contact Person *">*@
                        @Html.TextBoxFor(model => this.Model.Item1.ContactPerson, new { @class = "form-control1", placeholder = "Contact Person *", Required = "Required", Value = @ViewBag.data.ContactPerson })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Email *">*@
                        @Html.TextBoxFor(model => this.Model.Item1.EmailId, new { @class = "form-control1", placeholder = "Email ID *", Required = "Required", @onchange = "check()", Value = @ViewBag.data.EmailId, @readonly = true })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Telephone">*@
                        @Html.TextBoxFor(model => this.Model.Item1.LandlineNumber, new { @class = "form-control1", placeholder = "Telephone *", Required = "Required", Value = @ViewBag.data.LandlineNumber })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Mobile Number">*@
                        @Html.TextBoxFor(model => this.Model.Item1.ContactNumber, new { @class = "form-control1", placeholder = "Mobile Number", Value = @ViewBag.data.ContactNumber })
                    </div>
                    @*<div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-fax fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="Fax">
                        </div>*@
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Website">*@
                        @Html.TextBoxFor(model => this.Model.Item1.Url, new { @class = "form-control1", placeholder = "Website", Value = @ViewBag.data.Url })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Website">*@
                        @Html.TextBoxFor(model => this.Model.Item1.Experience, new { @class = "form-control1", placeholder = "Experience", Value = @ViewBag.data.Experience })
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                    <p class="grey"><small>Enquiries from couples interested in your services and updates from Ahwanam will be sent to this email address.</small></p>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                    <h4><i class="fa fa-suitcase" aria-hidden="true"></i> Business Information</h4>
                </div>
            </div>
            @*<div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                    <select class="form-control" id="sel1" multiple size="5">
                        <option>Venues</option>
                        <option>Decoration</option>
                        <option>Catering</option>
                        <option>Photography</option>
                        <option>Entertainments</option>
                        <option>Beauty Services</option>
                    </select>
                </div>*@
            <div class="row margin-top margin-bottom">
                @Html.HiddenFor(model => model.Item3.Address)

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0 selectcategory">
                        @*@Html.TextBoxFor(model => this.Model.Item1.Landmark, new { @class = "form-control", placeholder = "Landmark *", Required = "Required" })*@
                        @*@Html.DropDownListFor(Model => Model.Item3.Country, (SelectList)ViewBag.country, "Select country", new { @class = "form-control", required = "required" })*@
                        @*<select class="form-control" id="sel1">
                                <option>Venues</option>
                                <option>Decoration</option>
                                <option>Catering</option>
                                <option>Photography</option>
                                <option>Entertainments</option>
                                <option>Beauty Services</option>
                            </select>*@
                        @*<div class="checkbox1">
                                <label><input type="checkbox" value=""><span></span>Venue</label>
                            </div>*@
                        @*<div class="checkbox"><span></span>
                                <label><input type="checkbox" value="">Decoration</label>
                            </div>*@
                        @*<div class="checkbox1">
                                <label><input type="checkbox" value=""><span></span>Catering</label>
                            </div>*@
                        @*<div class="checkbox">
                                <label><input type="checkbox" value="">Photography</label>
                            </div>*@
                        @*<div class="checkbox">
                                <label><input type="checkbox" value="">Entertainments</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Beauty Services</label>
                            </div>*@
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="City/Town *">*@
                        @Html.TextBoxFor(model => this.Model.Item4.Landmark, new { @class = "form-control", placeholder = "Landmark *", Required = "Required", Value = @ViewBag.service.Landmark, style = "display :none", @readonly = "true" })
                        @Html.TextBoxFor(model => this.Model.Item1.Landmark, new { @class = "form-control", placeholder = "Landmark *", Required = "Required", Value = @ViewBag.data.Landmark })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="City/Town *">*@
                        @Html.TextBoxFor(model => this.Model.Item4.City, new { @class = "form-control", placeholder = "City *", Required = "Required", Value = @ViewBag.service.City, style = "display :none", @readonly = "true" })
                        @Html.TextBoxFor(model => this.Model.Item1.City, new { @class = "form-control", placeholder = "City *", Required = "Required", Value = @ViewBag.data.City })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="City/Town *">*@
                        @Html.TextBoxFor(model => this.Model.Item4.State, new { @class = "form-control", placeholder = "State *", Required = "Required", Value = @ViewBag.service.State, style = "display :none", @readonly = "true" })
                        @Html.TextBoxFor(model => this.Model.Item1.State, new { @class = "form-control", placeholder = "State *", Required = "Required", Value = @ViewBag.data.State })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="Postal Code *">*@
                        @Html.TextBoxFor(model => this.Model.Item4.ZipCode, new { @class = "form-control", placeholder = "Zip Code *", Required = "Required", Value = @ViewBag.service.ZipCode, style = "display :none", @readonly = "true" })
                        @Html.TextBoxFor(model => this.Model.Item1.ZipCode, new { @class = "form-control", placeholder = "Zip Code *", Required = "Required", Value = @ViewBag.data.ZipCode })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="Address *">*@
                        @Html.TextBoxFor(model => this.Model.Item4.Address, new { @class = "form-control", placeholder = "Address *", Required = "Required", Value = @ViewBag.service.Address, style = "display :none", @readonly = "true" })
                        @Html.TextBoxFor(model => this.Model.Item1.Address, new { @class = "form-control", placeholder = "Address *", Required = "Required", Value = @ViewBag.data.Address })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="Address *">*@
                        @*@Html.TextBoxFor(model => this.Model.Item4.Address, new { @class = "form-control", placeholder = "Address *", Required = "Required", Value = @ViewBag.service.Address, style = "display :none", @readonly = "true" })*@
                        @Html.TextBoxFor(model => this.Model.Item1.GeoLocation, new { @class = "form-control", placeholder = "GeoLocation *", Required = "Required", Value = @ViewBag.data.GeoLocation })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        @*<input type="text" class="form-control" placeholder="Address *">*@
                        @if (ViewBag.service.Landmark != null && ViewBag.service.Landmark != "")
                        {
                            <label><input type="checkbox" id="newaddress" value="" checked disabled><span></span>New Address ?</label>
                        }
                        else
                        {
                            <label><input type="checkbox" id="newaddress" value=""><span></span>New Address ?</label>
                        }

                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                    <p class="grey"><small>You will use this username and password to sign in. Username must contain a minimum of 5 characters. Password must contain a minimum of 6 characters and is case sensitive.</small></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
            <div class="clear-both"></div>
            <div class="row padding-top-10 margin-bottom">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Name of your Business">*@
                        @Html.TextBoxFor(model => this.Model.Item1.BusinessName, new { @class = "form-control1", placeholder = "Name of your Business *", Required = "Required", Value = @ViewBag.data.BusinessName, @readonly = true })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>
                        @*<input type="text" class="form-control1" placeholder="Name of your Business">*@
                        @Html.TextBoxFor(model => this.Model.Item4.name, new { @class = "form-control1", placeholder = "Business Type Name", Required = "Required", Value = @ViewBag.service.name })
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0 selectcategory">
                        <select class="form-control1" id="Item1_tier" name="Item1.tier" required>
                            <option selected="selected" disabled>Select Tier</option>
                            <option value="1">Tier 1</option>
                            <option value="2">Tier 2</option>
                            <option value="3">Tier 3</option>
                        </select>
                        @*@Html.DropDownListFor(model=>model.Item4.tier, new List<SelectListItem>
                            { new SelectListItem{Text="Tier 1", Value="1"},
                              new SelectListItem{Text="Tier 2", Value="2"},new SelectListItem{Text="Tier 3", Value="3"}}, new { @class = "form-control1",@Selected= @ViewBag.service.tier })*@
                    </div>
                    <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                        <label>Describe your business and services offered (in third person)</label>
                        <textarea class="form-control" rows="10" id="Item1_Description" name="Item1.Description">@ViewBag.data.Description</textarea>
                        @*@Html.TextAreaFor(model => this.Model.Item1.Description, new { @class = "form-control", rows = "10", Value = @ViewBag.data.Description })*@
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                    <p class="grey"><small>Add a detailed description of all the services and products that your company offers. This information will be useful to couples.</small></p>
                    <p class="grey">
                        <small>
                            Our team will edit your text to ensure quality and search engine optimization. Please don't add contact information such as email, phone number, website, address, etc.
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                    <h4><i class="fa fa-suitcase" aria-hidden="true"></i> Your Business Category</h4>
                </div>
            </div>
            <div class="row">
                @Html.HiddenFor(model => model.Item1.ServicType, new { Value = ViewBag.type })
                @Html.HiddenFor(model => model.Item1.priority, new { Value = ViewBag.data.priority })
                <div class="form-group-1 col-xs-12 col-sm-12 col-md-12 selectcategory">
                    @*<div class="checkbox1">
                            @foreach (var item in ViewBag.data.ServicType.Split(","))
                            {
                                <label><input type="checkbox" value="" checked><span></span>@item</label>
                            }
                        </div>*@





                    <div class="checkbox1">
                        @if (ViewBag.type == "Venue")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>Venue</label>
                        }
                        @*else
                            {
                                <label><input type="checkbox" value=""><span></span>Venue</label>
                            }*@
                    </div>

                    <div class="checkbox1">
                        @if (ViewBag.type == "Catering")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>Catering</label>
                        }
                        @*else
                            {
                                <label><input type="checkbox" value=""><span></span>Catering</label>
                            }*@

                    </div>
                    <div class="checkbox1">
                        @if (ViewBag.type == "Photography")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>Photography</label>
                        }
                        @*else
                            {
                                <label><input type="checkbox" value=""><span></span>Photography</label>
                            }*@
                    </div>

                    <div class="checkbox1">
                        @if (ViewBag.type == "EventManagement")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>EventManagement</label>
                        }

                    </div>

                    <div class="checkbox1">

                        @if (ViewBag.type == "Decorator")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>Decorator</label>
                        }
                        @*else
                            {
                                <label><input type="checkbox" value=""><span></span>Decorator</label>
                            }*@

                    </div>

                    <div class="checkbox1">

                        @if (ViewBag.type == "Other")
                        {
                            <label><input type="checkbox" value="" checked disabled><span></span>Other</label>
                        }
                        @*else
                            {
                                <label><input type="checkbox" value=""><span></span>Decorator</label>
                            }*@

                    </div>
                    @*<div class="checkbox1">
                            <label><input type="checkbox" value=""><span></span>Entertainments</label>
                        </div>
                        <div class="checkbox1">
                            <label><input type="checkbox" value=""><span></span>Beauty Services</label>
                        </div>*@
                </div>
            </div>

            <div class="row margin-top margin-bottom" id="businesscategory">
                <input type="hidden" name="Item4.VenueType" id="Item4_VenueType" value="@ViewBag.categorytype" />
                @if (ViewBag.type == "Venue" && ViewBag.categorytype != null && ViewBag.categorytype != "")
                {
                    @*<input type="hidden" name="Item4.VenueType" id="Item1_VenueType" value="@ViewBag.service.VenueType" />*@
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="display:none" id="Venue">
                        <h4>Venues</h4>
                        <div class="checkbox">
                            <label><input type="checkbox" checked disabled><span></span>@ViewBag.service.VenueType</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="display:none" id="Venue">
                        <h4>Venues</h4>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Convention Hall</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Function Hall</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Banquet Hall</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Meeting Room</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Open Lawn</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Roof Top</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Hotel</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Resort</label>
                        </div>
                    </div>
                }

                @if (ViewBag.type == "Catering" && ViewBag.categorytype != null && ViewBag.categorytype != "")
                {
                    @*<input type="hidden" name="Item1.VenueType" id="Item1_VenueType" value="@ViewBag.service.CuisineType" />*@
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="display:none" id="Catering">
                        <h4>Catering</h4>
                        <div class="checkbox">
                            <label><input type="checkbox" checked disabled><span></span>@ViewBag.service.CuisineType</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="display:none" id="Catering">
                        <h4>Catering</h4>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Indian</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Chinese</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Mexican</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>South Indian</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Continental</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Multi Cuisine</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Chaat</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Fast Food</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Others</label>
                        </div>
                    </div>
                }

                @if (ViewBag.type == "Photography" && ViewBag.categorytype != null && ViewBag.categorytype != "")
                {
                    @*<input type="hidden" name="Item1.VenueType" id="Item1_VenueType" value="@ViewBag.service.PhotographyType" />*@
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Photography">
                        <h4>Photography</h4>
                        <div class="checkbox">
                            <label><input type="checkbox" checked disabled><span></span>@ViewBag.service.PhotographyType</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Photography">
                        <h4>Photography</h4>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Wedding</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Candid</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Portfolio</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Fashion</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Toddler</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Videography</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Conventional</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Cinematography</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Others</label>
                        </div>
                    </div>
                }

                @if (ViewBag.type == "Decorator" && ViewBag.categorytype != null && ViewBag.categorytype != "")
                {
                    @*<input type="hidden" name="Item1.VenueType" id="Item1_VenueType" value="@ViewBag.service.DecorationType" />*@
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Decorator">
                        <h4>Decorator</h4>
                        <div class="checkbox">
                            <label><input type="checkbox" checked disabled><span></span>@ViewBag.service.DecorationType</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Decorator">
                        <h4>Decorator</h4>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Florists</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>TentHouse Decorators</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Others</label>
                        </div>
                    </div>
                }


                @if (ViewBag.type == "EventManagement" && ViewBag.categorytype != null && ViewBag.categorytype != "")
                {
                    @*<input type="hidden" name="Item1.VenueType" id="Item1_VenueType" value="@ViewBag.service.DecorationType" />*@
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="EventManagement">
                        <h4>Event Management</h4>
                        <div class="checkbox">
                            <label><input type="checkbox" checked disabled><span></span>@ViewBag.categorytype</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="EventManagement">
                        <h4>EventManagement</h4>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""><span></span>Corporate Events</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Brand Promotion<span></span></label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Fashion Shows<span></span></label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Exhibition<span></span></label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Conference & Seminar<span></span></label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""><span></span>Wedding Management</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Birthday Planning & Celebrations<span></span></label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Live Concerts<span></span></label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Musical Nights<span></span></label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Celebrity Shows<span></span></label>
                        </div>
                    </div>
                }

                @if (ViewBag.type == "Other" && ViewBag.categorytype != null && ViewBag.categorytype != "")
                {
                    @*<input type="hidden" name="Item1.VenueType" id="Item1_VenueType" value="@ViewBag.service.type" />*@
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Other">
                        <h4>Other</h4>
                        <div>
                            <label><input type="checkbox" checked><span></span>@ViewBag.service.type</label>
                        </div>
                        @*<div class="checkbox">
                                <label><input type="checkbox" value="">TentHouse Decorators<span></span></label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Others<span></span></label>
                            </div>*@
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Other">
                        <h4>Other</h4>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Mehendi</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"><span></span>Pandit</label>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="grey"><small>By clicking "Next" you are agreeing to our legal terms.</small></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @*<a href="/VendorSignUp2" class="btn btn-default red-bg white">Next</a>*@
                @if (ViewBag.categorytype == null || ViewBag.categorytype == "")
                {
                    <input type="submit" value="Save Info" class="btn btn-default red-bg white margin-left" id="firstnextbtn" name="command" />
                }
                else
                {
                    <input type="submit" value="Update Info" class="btn btn-default red-bg white margin-left" id="firstnextbtn" name="command" />
                }

                <a href="/HomePage" class="btn btn-default red-bg white margin-left">Cancel</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
<script src="~/newdesign/js/hideShowPassword.min.js"></script>
<script>
    /*------- Toggle Password Hide / Show -------------*/
    //$(window).ready(function () {
    //    $('#Item2_Password').hideShowPassword({
    //        innerToggle: true,
    //    });
    //});
    /*------- Toggle Password Hide / Show -------------*/

    /*------- Check Box value -------------*/
    //$(".checkbox1 input[type='checkbox']").change(function () {
    //    var arr = [], i = 0;
    //    $(".checkbox1 input[type='checkbox']:checked").each(function () {
    //        arr[i++] = $(this).parent("label").text();
    //    });
    //    alert(arr);
    //    $('#Item1_ServicType').val(arr);
    //    //alert($('#Item1_ServicType').val());
    //    //console.log(arr);
    //});

    $(".checkbox input[type='checkbox']").change(function () {
        var arr = [], i = 0;
        $(".checkbox input[type='checkbox']:checked").each(function () {
            arr[i++] = $(this).parent("label").text();
        });
        //alert(arr);
        $('#Item4_VenueType').val(arr);
        //alert($('#Item1_VenueType').val());
        //console.log(arr);
    });
    /*------- Check Box value -------------*/
    $('#Item2_UserName').on('input', function () {
        $('#Item1_EmailId').val(this.value);
    });
    $('#Item1_EmailId').on('input', function () {
        $('#Item2_UserName').val(this.value);
    });
    $('#newaddress').on('change', function () {
        listval = $(this).is(':checked');
        //alert(listval);
        if (listval) {
            $('#Item1_Landmark').hide().attr("readonly", "true");
            $('#Item1_City').hide().attr("readonly", "true");
            $('#Item1_State').hide().attr("readonly", "true");
            $('#Item1_ZipCode').hide().attr("readonly", "true");
            $('#Item1_Address').hide().attr("readonly", "true");
            $('#Item4_Landmark').show().removeAttr('readonly');
            $('#Item4_City').show().removeAttr('readonly');
            $('#Item4_State').show().removeAttr('readonly');
            $('#Item4_ZipCode').show().removeAttr('readonly');
            $('#Item4_Address').show().removeAttr('readonly');
            //$('#newaddress').prop('disabled','disabled');
        }
        else {
            $('#Item1_Landmark').show().removeAttr('readonly');
            $('#Item1_City').show().removeAttr('readonly');
            $('#Item1_State').show().removeAttr('readonly');
            $('#Item1_ZipCode').show().removeAttr('readonly');
            $('#Item1_Address').show().removeAttr('readonly');
            $('#Item4_Landmark').hide().attr("readonly", "true");
            $('#Item4_City').hide().attr("readonly", "true");
            $('#Item4_State').hide().attr("readonly", "true");
            $('#Item4_ZipCode').hide().attr("readonly", "true");
            $('#Item4_Address').hide().attr("readonly", "true");
        }
    }).change();

    ///*------- Select Business Category -------------*/
    //var listval, idval;
    //$("#sel1").on('change', function () {
    //    listval = $(this).val();
    //    alert(listval);
    //    $("#businesscategory > div").each(function () {
    //        //var v = listval.split(",");
    //        //alert(v);
    //        idval = $(this).attr("id");
    //        //alert(idval);
    //        if (listval == idval) {
    //            //alert("YES");
    //            $(this).css("display", "block");
    //        }
    //    });
    //});
    ///*------- Select Business Category -------------*/

    /*------- Select Business Category -------------*/
    //$(".selectcategory div.checkbox1 input[type='checkbox']").change(function () {
    //    listval = $(this).parent("label").text();
    //    //alert(listval);
    //    $("#businesscategory > div").each(function () {
    //        idval = $(this).attr("id");
    //        if (listval == idval) {
    //            if ($(".selectcategory div.checkbox1 input[type='checkbox']").is(':checked')) {
    //                //alert("Check");
    //                $(this).css("display", "block");
    //            } else
    //                if ($(".selectcategory div.checkbox1 input[type='checkbox']").not(':checked').length) {
    //                    //alert("Un-Check");
    //                    $(this).css("display", "none");
    //                }
    //        }
    //    });
    //});
    var listval, catgId;
    $(".selectcategory div.checkbox1 input[type='checkbox']").change(function () {
        if ($(this).is(':checked')) {
            listval = $(this).parent("label").text().replace(' ', '');
            $("#businesscategory div").each(function () {
                catgId = $(this).attr("id");
                if (listval == catgId) {
                    $(this).css("display", "block");
                }
            });
        } else {
            listval = $(this).parent("label").text();
            $("#businesscategory div").each(function () {
                catgId = $(this).attr("id");
                if (listval == catgId) {
                    $(this).css("display", "none");
                    $(this).children(".checkbox").children("label").children("input").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });
        }
    });

    $(document).ready(function () {
        $(".selectcategory div.checkbox1 input[type='checkbox']").each(function () {
            if ($(this).is(':checked')) {
                listval = $(this).parent("label").text();
                $("#businesscategory div").each(function () {
                    catgId = $(this).attr("id");
                    if (listval == catgId) {
                        $(this).css("display", "block");
                    }
                });
            }
        });


        $('#Item1_tier option[value="@ViewBag.data.tier"]').attr("selected", "selected");

    });

    //window.load =function(){
    //$(".selectcategory div.checkbox1 input[type='checkbox']").on('load',function () {
    //    alert("hi");
    //    if ($(this).is(':checked')) {
    //        listval = $(this).parent("label").text().replace(' ', '');
    //        alert(listval);
    //        $("#businesscategory div").each(function () {
    //            catgId = $(this).attr("id");
    //            if (listval == catgId) {
    //                $(this).css("display", "block");
    //            }
    //        });
    //    } else {
    //        listval = $(this).parent("label").text();
    //        $("#businesscategory div").each(function () {
    //            catgId = $(this).attr("id");
    //            if (listval == catgId) {
    //                $(this).css("display", "none");
    //                $(this).children(".checkbox").children("label").children("input").each(function () {
    //                    $(this).prop("checked", false);
    //                });
    //            }
    //        });
    //    }
    //})
    //};
    /*------- Select Business Category -------------*/
    /*------- Next anchor click condition Function -------------*/
    $("#firstnextbtn").click(function () {
        var CatgBox = $(".selectcategory input[type='checkbox']:checked").length;
        var BusCatbox = $("#businesscategory input[type='checkbox']:checked").length;
        if (CatgBox > 0 && BusCatbox > 0) {
            window.location.replace("file:///E:/vamsi/Maa-Aahwanam/Maa-Aahwanam-All/signup2.html");
        }
        //else {
        //    alert("Please select atleast one Main and Sub Categories");
        //}
    });
    /*------- Next anchor click condition Function -------------*/

</script>
@*E-Mail ID check*@
<script>
    function ValidateEmail(email) {
        var expr = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
        return expr.test(email);
    };
    function check() {
        var emailId = $("#Item2_UserName").val();
        if (!ValidateEmail(emailId)) {
            alert("Invalid email address.");
        }
        else {
            $.ajax({
                url: '/VendorSignUp1/checkemail',
                type: 'POST',
                data: JSON.stringify({ emailid: emailId }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == "exists") {
                        alert("E-Mail ID Already Taken!!! Try Another");
                        $("#Item2_UserName").val("");
                        $("#Item1_EmailId").val("");
                        $("#Item2_UserName").focus();
                    }
                },
                error: function (data)
                { alert("Server is Not Responding at the Moment"); }
            });
        }

    }
</script>

