
<div class="internal">
    <label class="labl">
        <input type="radio" name="radioname" value="@ViewBag.cdate1"  />
        <div class="kscalender" id="ksccal " data-title="@ViewBag.cdate1">
            <p style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: #06c147;">@ViewBag.cdate1.Split('/')[0]</p><p style="padding-left:10px">@ViewBag.cdate1.Split('/')[1],@ViewBag.cdate1.Split('/')[2]</p><span style="padding-left:10px">₹<b id="pprice">@ViewBag.ppakprice</b></span>
        </div>
    </label>
</div>
<div class="internal">
    <label class="labl">
        <input type="radio" name="radioname" value="@ViewBag.cdate2" checked="checked" />
        <div class="kscalender" id="ksccal1" data-title="@ViewBag.cdate2">
            <p style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: red;">@ViewBag.cdate2.Split('/')[0]</p><p style="padding-left:10px">@ViewBag.cdate2.Split('/')[1],@ViewBag.cdate2.Split('/')[2]</p><label style="padding-left:10px">₹<b id="pprice">@ViewBag.ppakprice</b></label>
        </div>
        </label>
</div>
<div class="internal">
    <label class="labl">
        <input type="radio" name="radioname" value="@ViewBag.cdate3" />
        <div class="kscalender" data-title="@ViewBag.cdate3">
            <p style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: #06c147;">@ViewBag.cdate3.Split('/')[0]</p><p style="padding-left:10px">@ViewBag.cdate3.Split('/')[1],@ViewBag.cdate3.Split('/')[2]</p><label style="padding-left:10px">₹<b id="pprice">@ViewBag.ppakprice</b></label>
        </div>
    </label>
</div>
<div class="internal">
    <label class="labl">
        <input type="radio" name="radioname" value="@ViewBag.cdate4" />
        <div class="kscalender" data-title="@ViewBag.cdate4">
            <p style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: #06c147;">@ViewBag.cdate4.Split('/')[0]</p><p style="padding-left:10px">@ViewBag.cdate4.Split('/')[1],@ViewBag.cdate4.Split('/')[2]</p><label style="padding-left:10px">₹<b id="pprice">@ViewBag.ppakprice</b></label>
        </div>
    </label>
</div>
<div class="internal">
    <label class="labl">
        <input type="radio" name="radioname" value="@ViewBag.cdate5" />
        <div class="kscalender" data-title="@ViewBag.cdate5">
            <p style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: #06c147;">@ViewBag.cdate5.Split('/')[0]</p><p style="padding-left:10px">@ViewBag.cdate5.Split('/')[1],@ViewBag.cdate5.Split('/')[2]</p><label style="padding-left:10px">₹<b id="pprice">@ViewBag.ppakprice</b></label>
        </div>
    </label>
</div>
<div class="internal">
    <label class="labl">
        <input type="radio" name="radioname" value="@ViewBag.cdate6" />
        <div class="kscalender" data-title="@ViewBag.cdate6">
            <p style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: #06c147;">@ViewBag.cdate6.Split('/')[0]</p><p style="padding-left:10px">@ViewBag.cdate6.Split('/')[1],@ViewBag.cdate6.Split('/')[2]</p><label style="padding-left:10px">₹<b id="pprice">@ViewBag.ppakprice</b></label>
        </div>
    </label>
</div>
<div class="internal">
    <label class="labl">
        <input type="radio" name="radioname" value="@ViewBag.cdate7" />
        <div class="kscalender" data-title="@ViewBag.cdate7">
            <p style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: #06c147;">@ViewBag.cdate7.Split('/')[0]</p><p style="padding-left:10px">@ViewBag.cdate7.Split('/')[1],@ViewBag.cdate7.Split('/')[2]</p><label style="padding-left:10px">₹<b id="pprice">@ViewBag.ppakprice</b></label>
        </div>
    </label>
</div>
<div class="internal">
    <label class="labl">
        <input type="radio" name="radioname" value="@ViewBag.cdate8" />
        <div class="kscalender" data-title="@ViewBag.cdate8">
            <p style="padding-left: 17px;padding-right:10px;font-size: 17px;font-weight: 700;color: #06c147;">@ViewBag.cdate8.Split('/')[0]</p><p style="padding-left:10px">@ViewBag.cdate8.Split('/')[1],@ViewBag.cdate8.Split('/')[2]</p><label style="padding-left:10px">₹<b id="pprice">@ViewBag.ppakprice</b></label>
        </div>
    </label>
</div>