@model MaaAahwanam.Models.VendorsEventOrganiser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/VendorMasterPage.cshtml";
}

<div class="container border-default">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
            <h4>Create a Free Ahwanam account</h4>
        </div>
    </div>
    <div class="row progress-area text-center">
        <div class="progress-ui">
            <div class="complete"><span>1</span></div>
            <div class="complete"><span>2</span></div>
            <div class="complete"><span>3</span></div>
            <div><span>4</span></div>
        </div>
        <div class="progress-content">
            <div>General Information</div>
            <div>Photo Gallery</div>
            <div>Details</div>
            <div>Discount %</div>
        </div>
    </div>
    <form method="post">
        <div class="block">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                    <h4><i class="fa fa-question-circle" aria-hidden="true"></i> Frequently Asked Questions</h4>
                </div>
            </div>
            <div class="row margin-top margin-bottom">
                <div class="col-xs-10 col-sm-10 col-md-10 margin-left margin-right padding-top-10 light-sky-blue-bg">
                    <p class="grey">
                        <b>Answer the FAQs for your category: Hotels­­. This information will appear on your storefront. Your answers will help couples understand the services you offer much better.</b>
                    </p>
                </div>
            </div>
        </div>

        <div class="block border-default margin-top-30">
            <div class="row margin-left-0 margin-right-0">
                <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                    <h5 class="bold"><span class="legend-count">1</span>Minimum Price </h5>
                </div>
            </div>
            <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="row margin-top-30 margin-bottom">
                        <label class="col-xs-12 col-sm-6 col-md-6">Minimum price</label>
                        <div class="form-group-1 col-xs-12 col-sm-6 col-md-6">
                            @*<input type="text" class="form-control" placeholder="">*@
                            <i class="fa fa-inr fa-lg" aria-hidden="true" style="left:25px; bottom:10px"></i>
                            @Html.TextBoxFor(model => model.MinOrder, new { @class = "form-control1", placeholder = "", Value = @ViewBag.Event.MinOrder })
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="block border-default margin-top-30">
            <div class="row margin-left-0 margin-right-0">
                <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                    <h5 class="bold"><span class="legend-count">2</span>Maximum Price </h5>
                </div>
            </div>
            <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="row margin-top-30 margin-bottom">
                        <label class="col-xs-12 col-sm-6 col-md-6">Maximum price</label>
                        <div class="form-group-1 col-xs-12 col-sm-6 col-md-6">
                            @*<input type="text" class="form-control" placeholder="">*@
                            <i class="fa fa-inr fa-lg" aria-hidden="true" style="left:25px; bottom:10px"></i>
                            @Html.TextBoxFor(model => model.MaxOrder, new { @class = "form-control1", placeholder = "", Value = @ViewBag.Event.MaxOrder })
                        </div>
                    </div>

                </div>

            </div>
        </div>



        <div class="block border-default margin-top-30">
            <div class="row margin-left-0 margin-right-0">
                <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                    <h5 class="bold"><span class="legend-count">3</span> Prior Bookings Days</h5>
                </div>
            </div>
            <div class="row margin-top margin-bottom margin-left-0 margin-right-0">

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="row margin-top-30 margin-bottom">
                        <label class="col-xs-12 col-sm-6 col-md-6">Prior Bookings Days</label>
                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            @Html.TextBoxFor(model => model.PriorBookingsDays, new { @class = "form-control1", placeholder = "", Value = @ViewBag.Event.PriorBookingsDays })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @*<a href="/VendorSignUp4" class="btn btn-default red-bg white">Save</a>*@
                <input type="submit" value="Save" class="btn btn-default red-bg white margin-left" />
                <a href="/AvailableServices?id=@ViewBag.id&&vid=@ViewBag.vid" class="btn btn-default red-bg white margin-left">Skip</a>
            </div>
        </div>
    </form>
</div>

