
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}
@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3 class="greentext">Your order is successfull</h3>
                </div>
                <h3>Order No : @ViewBag.Oid</h3>
            </div>
        </div>
    </div>
}
<section>
    <div class="about_main">
        <div class="pageWidth">
            <div class="dashboard margin_top_40 margin_bottom_20" id="div_Detdiv">
                <div class="dashInner">
                    <!-- /order-details -->
                    <div class="dashboardList dashboardList-whitebg dashboardList-nospace">
                        <table class="responsive" id="tblorder">
                            <thead>
                                <tr>
                                    <th style="width:35%">Item Details</th>
                                    <th style="width:24%">Vendor Details</th>
                                    <th style="width:26%">Event Date & time </th>
                                    <th style="width:15%">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Orderconfirmation)
                                {
                                    <tr>
                                        <td>
                                            <div class="item-details">
                                                <div class="item-img"><img src="../vendorimages/@item.image" alt="item-img" /></div>
                                                <h4 style="color:#838383;width: 200px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;">@item.Description</h4>
                                                @*<p>Jubileehills, Hyderabad</p>*@
                                            </div>
                                            <div class="clear"></div>
                                        </td>
                                        <td>
                                            <h4>@item.ServicType</h4>
                                            <p>
                                                @item.Landmark,<br>
                                                @item.Address,<br>
                                                @*(+91) 40 64640441*@
                                            </p>
                                        </td>
                                        <td>
                                            <div class="event-date-time">
                                                <div class="event-dates">
                                                    <p><i class="ti-calendar"></i> @item.StartDate.ToShortDateString() @item.StartTime</p>
                                                    <p>@*<i class="ti-calendar"></i> 11/12/2015  9:30 AM*@</p>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="item-price">
                                                @if (item.Isdeal == false)
                                                {
                                                    <p>Rs. @item.PerunitPrice </p>
                                                }
                                                else
                                                {
                                                    <p>Original Price :<br/> Rs.@item.ServicePrice</p>
                                                    <p>
                                                        Deal Price :<br /> Rs.
                                                        


                                                        @if (item.ServicType == "Venue" || item.ServicType == "Catering" || item.ServicType == "InvitationCard" || item.ServicType == "Gifts")
                                                        {
                                                            if (ViewBag.itemscount == 1)
                                                            { 
                                                                
                                                                @item.TotalPrice
                                                            }
                                                            else
                                                            {
                                                                @item.PerunitPrice
                                                            }

                                                        }
                                                        else
                                                        {
                                                            @item.PerunitPrice 
                                                        }
                                                    </p>
                                                    //<p>Deal Price :<br /> Rs. @item.PerunitPrice</p>

                                                }
                                                @*<p>Rs. 1200.00</p>*@
                                            </div>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="clear"></div>
                    </div>
                    <!-- /dashboardList -->
                    <div class="price-information">
                        <div class="total-price">
                            <div class="price-desc">
                                <h6>Payment Terms & Conditions</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            </div>
                            <div class="price-info">
                                <table>
                                    @*<tr>
                                            <td style="width:55%;">Sub Total</td>
                                            <td style="width:15%;" align="center">:</td>
                                            <td style="width:30%;">1200.00</td>
                                        </tr>*@
                                    @*<tr>
                                            <td>Tax</td>
                                            <td align="center">:</td>
                                            <td>99.00</td>
                                        </tr>*@
                                    <tr>
                                        <td><h5>Payble Total</h5></td>
                                        <td align="center"><h5>:</h5></td>
                                        <td><h5>Rs.@ViewBag.Total</h5></td>
                                        <td>
                                            <input type="hidden" id="hdnoid" value=@ViewBag.Oid />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- /total-price -->
                    </div>
                </div>
            </div>
            @*<div class="paid-amount">
        <h5>Total Paid Amount &nbsp;&nbsp;:&nbsp;&nbsp;Rs. 650.00</h5>   
    </div>*@
            <div class="pay-btn btn-right">
                @*<button class="btn btn-small btn-orange" onClick="PrintElem();"> Print</button>*@
                <button class="btn btn-small btn-orange" onClick="javascript: parent.print()"> Print</button>
                @*<button class="btn btn-small btn-green"> Email</button>*@
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="payment_rate">
                <p>How likely is it that you would recommend Paytm to a friend or a colleague?</p>
                <div class="payment_ratings">
                    <p>Rate as you like</p>
                    <div class="rate" data-rate-value=1></div>
                    <button class="btn btn-small btn-green">Submit</button>
                </div>
            </div>

            <div class="payment_desc">
                <p>
                    If you did not create this account on Paytm and you think someone else has used your Email ID to create an account, please remove your Email ID from this account by clicking here
                </p>
                <div class="clear"></div>
                <div class="payment_logo"><img src="images/logo-small.png" alt="Payment logo"></div>
                <div class="payment_hints">
                    <p>At Paytm we value your trust. Your money is yours unless you get what you paid for.</p>
                    <p>We are here 24 X 7 for you! Please Click Here to reach us.</p>
                    <p>Or call us at 9999391234 from your registered mobile number.</p>
                </div>
                <p>You will receive your cash back in 1 hour.</p>
                <p>** Always carry ticket printout and your ID proof while travelling</p>
            </div>

            <div class="cancellation">
                <h4>CANCELLATION POLICY</h4>
                <table style="width:40%;">
                    <tr>
                        <th style="width:50%;">Hours before Departure</th>
                        <th style="width:50%;">Refund</th>
                    </tr>
                    <tr>
                        <td>B/W 0-5 hours of bus start time</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>Above 5 hours of bus start time</td>
                        <td>90%</td>
                    </tr>
                </table>
                <p><i>&nbsp;</i> Refund policy mentioned above is indicative. The actual cancellation charges are determined by bus operators and bus providers at the actual time of cancellation. Paytm has no role in governing cancellation charges.</p>
                <p><i>&nbsp;</i>Cancellation charges are calculated on the actual fare of the ticket, if any discount coupons are used while purchasing the ticket, the discounted value would be used to calculate the refund amount when a ticket is cancelled.</p>
                <h4>PAYTM IS RESPONSIBLE FOR</h4>
                <p><i>&nbsp;</i>Issuing a valid ticket (a ticket that will be accepted by the bus operator) for its’ network of bus operators.</p>
                <p><i>&nbsp;</i>Providing refund and support in the event of cancellation.</p>
                <p><i>&nbsp;</i>Providing customer support and information in case of any delays / inconvenience.</p>
                <h4>PAYTM’S RESPONSIBILITIES DO NOT INCLUDE</h4>
                <p><i>&nbsp;</i>The bus operator’s bus not departing / reaching on time.</p>
                <p><i>&nbsp;</i>The bus operator’s employees being rude.</p>
                <p><i>&nbsp;</i>The bus operator’s bus seats etc not being up to the customer’s expectation.</p>
                <p><i>&nbsp;</i>The bus operator canceling the trip due to unavoidable reasons.</p>
                <p><i>&nbsp;</i>The baggage of the customer getting lost / stolen / damaged.</p>
                <p><i>&nbsp;</i>The bus operator changing a customer’s seat at the last minute to accommodate a lady / child.</p>
                <p><i>&nbsp;</i>The customer waiting at the wrong boarding point (please call the bus operator to find out the exact boarding point if you are not a regular traveler on that particular bus).</p>
                <p><i>&nbsp;</i>The bus operator changing the boarding point and/or using a pick-up vehicle at the boarding point to take customers to the bus departure point</p>
            </div>

            <div class="clear"></div>

        </div>

    </div>
</section>


<div class="clear"></div>
<script type="text/javascript">
    window.onload = function () {

        var Detdiv = document.getElementById("div_Detdiv").outerHTML;

        //var Detdiv = $('#div_Detdiv').html();
        var Detdivobj = {};
        Detdivobj.Detdiv = Detdiv;
        Detdivobj.oid = document.getElementById("hdnoid").value;
        $.ajax({
            type: "POST",
            //url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/OrderConfirmation/EmailOrderConfirmation',
            url: "/OrderConfirmation/EmailOrderConfirmation",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {},
            data: JSON.stringify(Detdivobj),
            //data: { content: $('#div_Detdiv').html() },
            // data: sendInfo,
            success: function (data) {
                alert("Order details and feedback form sent to your email id");
            },
            error: function (data) {
                alert("E-Mail Sending Failed!!!");
            }
        });
        history.pushState('@Request.Url', null, '@Request.Url.OriginalString.Split('?')[0]');
    }

</script>
@*<script>
    window.onload = function () {
        history.pushState(document.URL,null, @Request.UrlReferrer.OriginalString.Split('?')[0]);
    }
</script>*@

