@using System.Globalization
@{
    ViewBag.Title = "Manage Store Front";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}


<div class="page-content container-fluid">
    <form method="post">
        <div class="row my-30">
            <div class="col-sm-12 col-md-3">
                @if (ViewBag.vid != "" && ViewBag.vid != null)
                {
                    <select class="form-control" id="serviceselection1" name="serviceselection1" disabled>
                        <option disabled selected>Select Service Type</option>
                        <option value="Venue">Venue</option>
                        <option value="Catering">Catering</option>
                        <option value="Photography">Photography</option>
                        <option value="Decorator">Decorator</option>
                        <option value="Other">Others</option>
                    </select>
                    <input type="hidden" id="serviceselection" name="serviceselection" value="@ViewBag.category" />
                }
                else
                {
                    <select class="form-control" id="serviceselection" name="serviceselection">
                        <option disabled selected>Select Service Type</option>
                        <option value="Venue">Venue</option>
                        <option value="Catering">Catering</option>
                        <option value="Photography">Photography</option>
                        <option value="Decorator">Decorator</option>
                        <option value="Other">Others</option>
                    </select>
                }
            </div>
            @if (ViewBag.display == "1")
            {
                if (ViewBag.subcategory == "")
                {
                    <div class="col-sm-12 col-md-3">
                        <select class="form-control" id="subcategory" name="subcategory" style="display:none"></select>
                    </div>
                    <div class="col-sm-12 col-md-2"><button type="submit" class="btn btn-block btn-primary" name="command" value="update">Update</button></div>
                }
                else
                {
                    <div class="col-sm-12 col-md-3">
                        @*<select class="form-control" id="subcategory" name="subcategory" style="display:none"></select>*@
                        <input type="text" class="form-control" value="@ViewBag.subcategory" readonly />
                    </div>
                    @*<div class="col-sm-12 col-md-2"><button type="submit" class="btn btn-block btn-primary" name="command" value="add">Update</button></div>*@
                }
            }
            @if (ViewBag.vid == "" || ViewBag.vid == null)
            {
                <div class="col-sm-12 col-md-3">
                    <select class="form-control" id="subcategory" name="subcategory" style="display:none"></select>
                </div>
                <div class="col-sm-12 col-md-2"><button type="submit" class="btn btn-block btn-primary" name="command" value="add">Save</button></div>
            }
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-vertical">


                @if (ViewBag.display == "1")
                {
                    <ul class="nav nav-tabs margin-right-25" data-plugin="nav-tabs" role="tablist">
                        <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsLeftOne" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true">About Us</a></li>
                        <li role="presentation" class=""><a data-toggle="tab" href="#exampleTabsLefSix" aria-controls="exampleTabsLefSix" role="tab" aria-expanded="false">Your Address</a></li>
                        <li role="presentation" class=""><a data-toggle="tab" href="#exampleTabsLeftTwo" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false">Amenities</a></li>
                        <li role="presentation" class=""><a data-toggle="tab" href="#exampleTabsLeftseven" aria-controls="exampleTabsLeftseven" role="tab" aria-expanded="false">Prices</a></li>

                        @if (Request.QueryString["category"] == "Venue" && Request.QueryString["category"] != "Select Service Type")
                        {
                            <li role="presentation" class=""><a data-toggle="tab" href="#exampleTabsLeftThree" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false">Hall Details</a></li>
                        }
                        <li role="presentation" class=""><a data-toggle="tab" href="#exampleTabsLeftFour" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false">Address</a></li>
                        <li role="presentation">
                            <a data-toggle="tab" href="#exampleTabsLeftFive" aria-controls="exampleTabsLeftFive" role="tab">Gallery</a>
                        </li>
                    </ul>
                    <div class="tab-content padding-vertical-15">
                        <div class="tab-pane active" id="exampleTabsLeftOne" role="tabpanel">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicFirstName">Business Name</label>
                                    <input type="text" class="form-control" id="BusinessName" name="BusinessName" value="@ViewBag.Vendor.BusinessName" readonly /><br>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicLastName">Mobile</label>
                                    <input type="text" class="form-control" id="ContactNumber" name="ContactNumber" value="@ViewBag.Vendor.ContactNumber" /><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicFirstName">Email ID</label>
                                    <input type="text" class="form-control" id="EmailId" name="EmailId" value="@ViewBag.Vendor.EmailId" readonly /><br>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicLastName">Landline</label>
                                    <input type="text" class="form-control" id="LandlineNumber" name="LandlineNumber" value="@ViewBag.Vendor.LandlineNumber" /><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicFirstName">Website Link</label>
                                    <input type="text" class="form-control" id="Url" name="Url" value="@ViewBag.Vendor.Url" /><br>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicLastName">Description</label>
                                    <textarea class="form-control" id="mainDescription" name="mainDescription">@ViewBag.Vendor.Description</textarea><br>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label" for="inputBasicFirstName">Upload Profile Image</label>
                                        <input type="file" class="form-control" id="profileimage" name="file" /><br>
                                    </div>
                                </div>*@
                            @*<h4 class="example-title">Business Name</h4>
                                <input type="text" class="form-control" id="BusinessName" name="BusinessName" value="@ViewBag.Vendor.BusinessName" readonly /><br>
                                <h4 class="example-title">Mobile</h4>
                                <input type="text" class="form-control" id="ContactNumber" name="ContactNumber" value="@ViewBag.Vendor.ContactNumber" /><br>
                                <h4 class="example-title">Email ID</h4>
                                <input type="text" class="form-control" id="EmailId" name="EmailId" value="@ViewBag.Vendor.EmailId" readonly /><br>
                                <h4 class="example-title">Land Line</h4>
                                <input type="text" class="form-control" id="LandlineNumber" name="LandlineNumber" value="@ViewBag.Vendor.LandlineNumber" /><br>
                                <h4 class="example-title">URL</h4>
                                <input type="text" class="form-control" id="Url" name="Url" value="@ViewBag.Vendor.Url" /><br>
                                <h4 class="example-title">Description</h4>
                                <textarea class="form-control" id="mainDescription" name="mainDescription" rows="3">@ViewBag.Vendor.Description</textarea><br>*@
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block btn-primary" onclick="updatedetails('one')">Submit</button>
                            </div>
                        </div>


                        <div class="tab-pane" id="exampleTabsLeftTwo" role="tabpanel">
                            <input type="hidden" id="selectedamenities" />
                            @*<p>Amenities Content</p>*@
                            @*<div class="row mb-30" id="VenueAmenities" style="display:none">
                                    <div class="col-xs-12 col-md-4">
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="CockTails">
                                            <label for="CockTails">CockTails</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Rooms">
                                            <label for="Rooms">Rooms</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Wifi">
                                            <label for="Wifi">Wifi</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="LiveCookingStation">
                                            <label for="LiveCookingStation">Live Cooking Station</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="DecorationAllowed">
                                            <label for="DecorationAllowed">Decoration Allowed</label>
                                        </div>
                                    </div>
                                </div>*@

                            @if (ViewBag.category == "Venue")
                            {
                                <div class="row mb-30" id="VenueAmenities" style="display:none">
                                    <div class="col-xs-12 col-md-4">
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.AC != "Yes")
                                            {
                                            <input type="checkbox" id="AC">}
                                            else
                                            {<input type="checkbox" id="AC" checked>}

                                            <label for="AC">AC</label>
                                        </div>
                                        @*<div class="checkbox-custom checkbox-primary">
                                                @if (ViewBag.service.Archway != "Yes"){
                                                <input type="checkbox" id="Archway" >}
                                                else{<input type="checkbox" id="Archway" checked>}

                                                <label for="Archway">Archway</label>
                                            </div>*@
                                        @*<div class="checkbox-custom checkbox-primary">
                                                @if (ViewBag.service.Altararrangements != "Yes")
                                                {
                                                    <input type="checkbox" id="Altararrangements" >}
                                                else
                                                {<input type="checkbox" id="Altararrangements"checked>}
                                                <label for="Altararrangements">Altar arrangements</label>
                                            </div>*@
                                        @*<div class="checkbox-custom checkbox-primary">
                                                <input type="checkbox" id="Aislerunner">
                                                <label for="Aislerunner">Aisle runner</label>
                                            </div>*@
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Bar != "Yes")
                                            {
                                            <input type="checkbox" id="Bar">}
                                            else
                                            {<input type="checkbox" id="Bar" checked>}
                                            <label for="Bar">Bar</label>
                                        </div>

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Banquet_Hall != "Yes")
                                            {
                                            <input type="checkbox" id="Banquet Hall">}
                                            else
                                            {<input type="checkbox" id="Banquet Hall" checked>}

                                            <label for="Banquet Hall">Banquet Hall</label>
                                        </div>


                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Balcony != "Yes")
                                            {
                                            <input type="checkbox" id="Balcony">}
                                            else
                                            {<input type="checkbox" id="Balcony" checked>}
                                            <label for="Balcony">Balcony</label>
                                        </div>

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Bath_Tub != "Yes")
                                            {
                                            <input type="checkbox" id="Bath Tub">}
                                            else
                                            {<input type="checkbox" id="Bath Tub" checked>}
                                            <label for="">Bath Tub</label>
                                        </div>

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Coffee_Tea_Maker != "Yes")
                                            {
                                            <input type="checkbox" id="Coffee Tea Maker">}
                                            else
                                            {<input type="checkbox" id="Coffee Tea Maker" checked>}
                                            <label for="Coffee Tea Maker">Coffee Tea Maker</label>
                                        </div>

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Card_Payment != "Yes")
                                            {
                                                <input type="checkbox" id="Card Payment">}
                                            else
                                            {<input type="checkbox" id="Card Payment" checked>}
                                            <label for="Geyser">Card Payment</label>
                                        </div>

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.CCTV_Cameras != "Yes")
                                            {
                                            <input type="checkbox" id="CCTV Cameras">}
                                            else
                                            {<input type="checkbox" id="CCTV Cameras" checked>}

                                            <label for="CCTV Cameras">CCTV Cameras</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Conference_Room != "Yes")
                                            {
                                            <input type="checkbox" id="Conference Room">}
                                            else
                                            {<input type="checkbox" id="Conference Room" checked>}
                                            <label for="Conference Room">Conference Room</label>
                                        </div>



                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.CockTails != "Yes")
                                            {
                                            <input type="checkbox" id="CockTails">}
                                            else
                                            {<input type="checkbox" id="CockTails" checked>}
                                            <label for="CockTails">CockTails</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Complimentary_Breakfast != "Yes")
                                            {
                                            <input type="checkbox" id="Complimentary Breakfast">}
                                            else
                                            {<input type="checkbox" id="Complimentary Breakfast" checked>}
                                            <label for="Complimentary Breakfast">Complimentary Breakfast</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Dining_Area != "Yes")
                                            {
                                            <input type="checkbox" id="Dining Area">}
                                            else
                                            {<input type="checkbox" id="Dining Area" checked>}
                                            <label for="Dining Area">Dining Area</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.DecorationAllowed != "Yes")
                                            {
                                            <input type="checkbox" id="DecorationAllowed">}
                                            else
                                            {<input type="checkbox" id="DecorationAllowed" checked>}
                                            <label for="DecorationAllowed">Decoration Allowed</label>
                                        </div>

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Electricity != "Yes")
                                            {
                                            <input type="checkbox" id="Electricity">}
                                            else
                                            {<input type="checkbox" id="Electricity" checked>}
                                            <label for="Electricity">Electricity</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Full_Length_Mirrror != "Yes")
                                            {
                                            <input type="checkbox" id="Full Length Mirrror">}
                                            else
                                            {<input type="checkbox" id="Full Length Mirrror" checked>}
                                            <label for="Full Length Mirrror">Full Length Mirrror</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Gym != "Yes")
                                            {
                                            <input type="checkbox" id="Gym">}
                                            else
                                            {<input type="checkbox" id="Gym" checked>}
                                            <label for="Gym">Gym</label>
                                        </div>
                                        

                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Geyser != "Yes")
                                            {
                                                <input type="checkbox" id="Geyser">}
                                            else
                                            {<input type="checkbox" id="Geyser" checked>}
                                            <label for="Geyser">Geyser</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Hair_Dryer != "Yes")
                                            {
                                            <input type="checkbox" id="Hair Dryer">}
                                            else
                                            {<input type="checkbox" id="Hair Dryer" checked>}
                                            <label for="Hair Dryer">Hair Dryer</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.HDTV != "Yes")
                                            {
                                            <input type="checkbox" id="HDTV">}
                                            else
                                            {<input type="checkbox" id="HDTV" checked>}
                                            <label for="HDTV">HDTV</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.In_Room_Safe != "Yes")
                                            {
                                            <input type="checkbox" id="In-Room Safe">}
                                            else
                                            {<input type="checkbox" id="In-Room Safe" checked>}
                                            <label for="In Room Safe">In-Room Safe</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.In_house_Restaurant != "Yes")
                                            {
                                            <input type="checkbox" id="In-house Restaurant">}
                                            else
                                            {<input type="checkbox" id="In-house Restaurant" checked>}
                                            <label for="In-house Restaurant">In-house Restaurant</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Intercom != "Yes")
                                            {
                                            <input type="checkbox" id="Intercom">}
                                            else
                                            {<input type="checkbox" id="Intercom" checked>}
                                            <label for="Intercom">Intercom</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Jacuzzi != "Yes")
                                            {
                                            <input type="checkbox" id="Jacuzzi">}
                                            else
                                            {<input type="checkbox" id="Jacuzzi" checked>}
                                            <label for="Jacuzzi">Jacuzzi</label>
                                        </div>

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Kitchen != "Yes")
                                            {
                                            <input type="checkbox" id="Kitchen">}
                                            else
                                            {<input type="checkbox" id="Kitchen" checked>}
                                            <label for="Kitchen">Kitchen</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Kindle != "Yes")
                                            {
                                            <input type="checkbox" id="Kindle">}
                                            else
                                            {<input type="checkbox" id="Kindle" checked>}
                                            <label for="Kindle">Kindle</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.King_Bed != "Yes")
                                            {
                                            <input type="checkbox" id="King Bed">}
                                            else
                                            {<input type="checkbox" id="King Bed" checked>}
                                            <label for="King Bed">King Bed</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.LiveCookingStation != "Yes")
                                            {
                                            <input type="checkbox" id="LiveCookingStation">}
                                            else
                                            {<input type="checkbox" id="LiveCookingStation" checked>}
                                            <label for="LiveCookingStation">Live Cooking Station</label>
                                        </div>

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Laundry != "Yes")
                                            {
                                            <input type="checkbox" id="Laundry">}
                                            else
                                            {<input type="checkbox" id="Laundry" checked>}
                                            <label for="Laundry">Laundry</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Lift_or_Elevator != "Yes")
                                            {
                                            <input type="checkbox" id="Lift/Elevator">}
                                            else
                                            {<input type="checkbox" id="Lift/Elevator" checked>}
                                            <label for="Lift/Elevator">Lift/Elevator</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Mini_Fridge != "Yes")
                                            {
                                            <input type="checkbox" id="Mini Fridge">}
                                            else
                                            {<input type="checkbox" id="Mini Fridge" checked>}
                                            <label for="Mini Fridge">Mini Fridge</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Netflix != "Yes")
                                            {
                                            <input type="checkbox" id="Netflix">}
                                            else
                                            {<input type="checkbox" id="Netflix" checked>}
                                            <label for="Netflix">Netflix</label>
                                        </div>


                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Pet_Friendly != "Yes")
                                            {
                                            <input type="checkbox" id="Pet Friendly">}
                                            else
                                            {<input type="checkbox" id="Pet Friendly" checked>}
                                            <label for="Pet Friendly">Pet Friendly</label>
                                        </div>

                                        
                                    </div>
                                    <div class="col-xs-12 col-md-4">

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Parking_Facility != "Yes")
                                            {
                                                <input type="checkbox" id="ParkingFacility">}
                                            else
                                            {<input type="checkbox" id="ParkingFacility" checked>}
                                            <label for="Parking Facility">Parking Facility</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Power_Backup != "Yes")
                                            {
                                            <input type="checkbox" id="Power Backup">}
                                            else
                                            {<input type="checkbox" id="Power Backup" checked>}
                                            <label for="Power Backup">Power Backup</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Queen_Bed != "Yes")
                                            {
                                            <input type="checkbox" id="Queen Bed">}
                                            else
                                            {<input type="checkbox" id="Queen Bed" checked>}
                                            <label for="Queen Bed">Queen Bed</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Room_Heater != "Yes")
                                            {
                                            <input type="checkbox" id="Room Heater">}
                                            else
                                            {<input type="checkbox" id="Room Heater" checked>}
                                            <label for="Room Heater">Room Heater</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Rooms != "Yes")
                                            {
                                            <input type="checkbox" id="Rooms">}
                                            else
                                            {<input type="checkbox" id="Rooms" checked>}
                                            <label for="Rooms">Rooms</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Sofa_Set != "Yes")
                                            {
                                            <input type="checkbox" id="Sofa Set">}
                                            else
                                            {<input type="checkbox" id="Sofa Set" checked>}
                                            <label for="Sofa Set">Sofa Set</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Single_Bed != "Yes")
                                            {
                                            <input type="checkbox" id="Single Bed">}
                                            else
                                            {<input type="checkbox" id="Single Bed" checked>}
                                            <label for="Single Bed">Single Bed</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Sufficient_Room_Size != "Yes")
                                            {
                                            <input type="checkbox" id="Sufficient Room Size">}
                                            else
                                            {<input type="checkbox" id="Sufficient Room Size" checked>}
                                            <label for="Sufficient Room Size">Sufficient Room Size</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Sufficient_Washroom != "Yes")
                                            {
                                            <input type="checkbox" id="Sufficient Washroom">}
                                            else
                                            {<input type="checkbox" id="Sufficient Washroom" checked>}
                                            <label for="Sufficient Washroom">Sufficient Washroom</label>
                                        </div>

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Swimming_Pool != "Yes")
                                            {
                                            <input type="checkbox" id="Swimming Pool">}
                                            else
                                            {<input type="checkbox" id="Swimming Pool" checked>}
                                            <label for="Swimming Pool">Swimming Pool</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Spa != "Yes")
                                            {
                                            <input type="checkbox" id="Spa">}
                                            else
                                            {<input type="checkbox" id="Spa" checked>}
                                            <label for="Spa">Spa</label>
                                        </div>

                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.TV != "Yes")
                                            {
                                            <input type="checkbox" id="TV">}
                                            else
                                            {<input type="checkbox" id="TV" checked>}
                                            <label for="TV">TV</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Wheelchair_Accessible != "Yes")
                                            {
                                            <input type="checkbox" id="Wheelchair Accessible">}
                                            else
                                            {<input type="checkbox" id="Wheelchair Accessible" checked>}
                                            <label for="Wheelchair Accessible">Wheelchair Accessible</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Wellness_Center != "Yes")
                                            {
                                            <input type="checkbox" id="Wellness Center">}
                                            else
                                            {<input type="checkbox" id="Wellness Center" checked>}
                                            <label for="Wellness Center">Wellness Center</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            @if (ViewBag.service.Wifi != "Yes")
                                            {
                                            <input type="checkbox" id="Wifi">}
                                            else
                                            {<input type="checkbox" id="Wifi" checked>}
                                            <label for="Wifi">Wifi</label>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.category == "Catering")
                            {
                                <div class="row mb-30" id="CateringAmenities" style="display:none">
                                    <div class="col-xs-12 col-md-4">
                                        @*<h2>Catering</h2>*@
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="MineralWaterIncluded">
                                            <label for="MineralWaterIncluded">Mineral Water Included</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="TransportIncluded">
                                            <label for="TransportIncluded">Transport Included</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="LiveCookingStation">
                                            <label for="LiveCookingStation">Live Cooking Station</label>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.category == "Photography")
                            {
                                <div class="row mb-30" id="PhotographyAmenities" style="display:none">
                                    <div class="col-xs-12 col-md-4">
                                        @*<h2>Photography</h2>*@
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="PreWeddingShoot">
                                            <label for="PreWeddingShoot">Pre Wedding Shoot</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="DestinationPhotography">
                                            <label for="DestinationPhotography">Destination Photography</label>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.category == "Decorator")
                            {
                                <div class="row mb-30" id="DecoratorAmenities" style="display:none">
                                    <div class="col-xs-12 col-md-4">
                                        @*<h2>Decorator</h2>*@
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Archway">
                                            <label for="Archway">Archway</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Altararrangements">
                                            <label for="Altararrangements">Altar arrangements</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Pewbows">
                                            <label for="Pewbows">Pew bows</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Aislerunner">
                                            <label for="Aislerunner">Aisle runner</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Headpieces">
                                            <label for="Headpieces">Head pieces</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Centerpieces">
                                            <label for="Centerpieces">Center pieces</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Chaircovers">
                                            <label for="Chaircovers">Chair covers</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Headtabledecor">
                                            <label for="Headtabledecor">Head table decor</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Backdrops">
                                            <label for="Backdrops">Backdrops</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Ceilingcanopies">
                                            <label for="Ceilingcanopies">Ceiling canopies</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Mandaps">
                                            <label for="Mandaps">Mandaps</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Mehendi">
                                            <label for="Mehendi">Mehendi</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Sangeet">
                                            <label for="Sangeet">Sangeet</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Chuppas">
                                            <label for="Chuppas">Chuppas</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Lighting">
                                            <label for="Lighting">Lighting</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Giftsforguests">
                                            <label for="Giftsforguests">Gifts for guests</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Gifttable">
                                            <label for="Gifttable">Gift table</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="BasketorBoxforgifts">
                                            <label for="BasketorBoxforgifts">Basket or Box for gifts</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Placeorseatingcards">
                                            <label for="Placeorseatingcards">Place or seating cards</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Cardecoration">
                                            <label for="Cardecoration">Car decoration</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Bridesbouquet">
                                            <label for="Bridesbouquet">Brides bouquet</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Bridesmaidsbouquets">
                                            <label for="Bridesmaidsbouquets">Bridesmaids bouquets</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Maidofhonorbouquet">
                                            <label for="Maidofhonorbouquet">Maid of honor bouquet</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Throwawaybouquet">
                                            <label for="Throwawaybouquet">Throw away bouquet</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Corsages">
                                            <label for="Corsages">Corsages</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Boutonnieres">
                                            <label for="Boutonnieres">Boutonnieres (for groom, fathers, grandfathers, best man, groom’s men)</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Decora">
                                            <label for="Decora">Decora</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="Justmarriedclings">
                                            <label for="Justmarriedclings">Just married clings</label>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.category == "Mehendi")
                            {
                                 <div id="MehendiAmenities" style="display:none">
                                <h2>Mehendi</h2>
                                <div class="checkbox-custom checkbox-primary">
                                    <input type="checkbox" id="PriorBookingsDays">
                                    <label for="PriorBookingsDays">Prior Booking Days</label>
                                </div>
                            </div>
                            }
                            else if (ViewBag.category == "Pandit")
                            {
                                <div id="PanditAmenities" style="display:none">
                                    <h2>Pandit</h2>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="PriorBookingsDays">
                                        <label for="PriorBookingsDays">Prior Booking Days</label>
                                    </div>
                                </div>
                            }



                            
                            
                            <div class="col-md-4">
                                <button type="button" class="btn btn-block btn-primary" onclick="updatedetails('two')">Submit</button>
                            </div>
                        </div>

                        <div class="tab-pane" id="exampleTabsLeftThree" role="tabpanel">
                            @if (Request.QueryString["category"] == "Venue")
                            {
                                <form class="">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="inputBasicFirstName">Name of the Hall</label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Name of the Hall" autocomplete="off" value="@ViewBag.service.name">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="inputBasicFirstName">Hall Dimentions</label>
                                            <input type="text" class="form-control" id="Dimentions" name="Dimentions" placeholder="Hall Dimentions" autocomplete="off" value="@ViewBag.service.Dimentions">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Minimum Seating Capacity</label>
                                            <input type="text" class="form-control" id="Minimumseatingcapacity" name="Minimumseatingcapacity" placeholder="Minimum Seats" autocomplete="off" value="@ViewBag.service.Minimumseatingcapacity">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Maximum Seating Capacity</label>
                                            <input type="text" class="form-control" id="Maximumcapacity" name="Maximumcapacity" placeholder="Maximum Seats" autocomplete="off" value="@ViewBag.service.Maximumcapacity">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="inputBasicFirstName">Describe Briefly About Hall</label>
                                        <textarea class="form-control" placeholder="Describe Briefly About Hall" id="Description" name="Description">@ViewBag.service.Description</textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" onclick="updatedetails('three')">Submit</button>
                                    </div>
                                </form>
                            }
                        </div>

                        <div class="tab-pane" id="exampleTabsLeftFour" role="tabpanel">
                            <form class="">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label" for="inputBasicFirstName">Address</label>
                                        <input type="text" class="form-control" id="Address" name="Address" placeholder="Address" autocomplete="off" value="@ViewBag.service.Address">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="inputBasicFirstName">Landmark</label>
                                        <input type="text" class="form-control" id="Landmark" name="Landmark" placeholder="Landmark" autocomplete="off" value="@ViewBag.service.Landmark">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="inputBasicFirstName">City</label>
                                        <input type="text" class="form-control" id="City" name="City" placeholder="City" autocomplete="off" value="@ViewBag.service.City">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label" for="inputBasicFirstName">State</label>
                                        <input type="text" class="form-control" id="State" name="State" placeholder="State" autocomplete="off" value="@ViewBag.service.State">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label" for="inputBasicFirstName">Zip Code</label>
                                        <input type="text" class="form-control" id="ZipCode" name="ZipCode" placeholder="ZipCode" autocomplete="off" value="@ViewBag.service.ZipCode">
                                    </div>
                                    @if (Request.QueryString["category"] == "Venue")
                                    {
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Geo Location</label>
                                            <input type="text" class="form-control" id="GeoLocation" name="GeoLocation" placeholder="Geo Location" autocomplete="off" value="@ViewBag.service.GeoLocation">
                                        </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="updatedetails('four')">Submit</button>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="exampleTabsLefSix" role="tabpanel">
                            <form class="">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label" for="inputBasicFirstName">Address</label>
                                        <input type="text" class="form-control" id="vAddress" name="vAddress" placeholder="Address" autocomplete="off" value="@ViewBag.Vendor.Address">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="inputBasicFirstName">Landmark</label>
                                        <input type="text" class="form-control" id="vLandmark" name="vLandmark" placeholder="Landmark" autocomplete="off" value="@ViewBag.Vendor.Landmark">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="inputBasicFirstName">City</label>
                                        <input type="text" class="form-control" id="vCity" name="vCity" placeholder="City" autocomplete="off" value="@ViewBag.Vendor.City">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label" for="inputBasicFirstName">State</label>
                                        <input type="text" class="form-control" id="vState" name="vState" placeholder="State" autocomplete="off" value="@ViewBag.Vendor.State">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label" for="inputBasicFirstName">Zip Code</label>
                                        <input type="text" class="form-control" id="vZipCode" name="vZipCode" placeholder="ZipCode" autocomplete="off" value="@ViewBag.Vendor.ZipCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="updatedetails('six')">Submit</button>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="exampleTabsLeftFive" role="tabpanel">
                            <input type="hidden" id="Imagedescription" name="Imagedescription" />
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center upload-file padding-top-10 padding-bottom-10">
                                    <h4>Select Below</h4>
                                    <input type="file" class="opacity-0" name="vamsi" id="fileUpload1" multiple>
                                    <button class="btn btn-secondary">Click Here</button>
                                </div>
                            </div>
                            <div class="row my-30" id="dvPreview">
                                @foreach (var item in ViewBag.images)
                                {
                                    <div class='col-xs-6 col-sm-4 col-md-3 blocks'>
                                        <div class='block thumbnail'>
                                            <div class='row thumb-img'>
                                                <img style='height:110px;width:110px' src="~/vendorimages/@item.ImageName" alt="@item.ImageName" />
                                            </div>
                                            <div class='row my-30'>
                                                <div class='form-group-1 col-xs-12 col-sm-12 col-md-12'>
                                                    <input type='text' class='form-control' placeholder='Description:' value="@item.Imagedescription">
                                                </div>
                                            </div>
                                            <div class='hr-line border-default-bottom'></div>
                                            <div class='row text-center'>
                                                <div class='col-xs-12 col-md-12'>
                                                    <p class='red'>
                                                        <small><i class='fa fa-times padding-right-5 primaryColor' aria-hidden='true'></i>Remove Photo</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <button type="submit" class="btn btn-primary next">Save</button>
                                </div>
                            </div>
                            <div class="blockDescrption" style="display:none"></div>
                        </div>

                        <div class="tab-pane" id="exampleTabsLeftseven" role="tabpanel">
                            <form class="">
                                <div class="row">
                                    @if (ViewBag.category == "Venue")
                                    {
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Service Cost</label>
                                            <input type="text" class="form-control" id="ServiceCost" name="ServiceCost" placeholder="Service Cost" autocomplete="off" value="@ViewBag.service.ServiceCost">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="inputBasicFirstName">Veg Lunch Price Starts At?</label>
                                            <input type="text" class="form-control" id="VegLunchCost" name="VegLunchCost" placeholder="Veg Lunch Price Starts At?" autocomplete="off" value="@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.service.VegLunchCost)).Replace(".00", "")">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="inputBasicFirstName">Non-Veg Lunch Price Starts At?</label>
                                            <input type="text" class="form-control" id="NonVegLunchCost" name="NonVegLunchCost" placeholder="Non-Veg Lunch Price Starts At?" autocomplete="off" value="@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.service.NonVegLunchCost)).Replace(".00", "")">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Veg Dinner Price Starts At?</label>
                                            <input type="text" class="form-control" id="VegDinnerCost" name="VegDinnerCost" placeholder="Veg Dinner Price Starts At?" autocomplete="off" value="@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.service.VegDinnerCost)).Replace(".00", "")">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Non-Veg Dinner Price Starts At?</label>
                                            <input type="text" class="form-control" id="NonVegDinnerCost" name="NonVegDinnerCost" placeholder="Non-Veg Dinner Price Starts At?" autocomplete="off" value="@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.service.NonVegDinnerCost)).Replace(".00", "")">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Minimum Order</label>
                                            <input type="text" class="form-control" id="MinOrder" name="MinOrder" placeholder="Minimum Order" autocomplete="off" value="@ViewBag.service.MinOrder">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Maximum Order</label>
                                            <input type="text" class="form-control" id="MaxOrder" name="MaxOrder" placeholder="Maximum Order" autocomplete="off" value="@ViewBag.service.MaxOrder">
                                        </div>
                                    }
                                    @if (ViewBag.category == "Catering")
                                    {
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="inputBasicFirstName">Veg Price Starts At?</label>
                                            <input type="text" class="form-control" id="VegLunchCost" name="VegLunchCost" placeholder="Veg Price Starts At?" autocomplete="off" value="@ViewBag.service.Veg">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="inputBasicFirstName">Non-Veg Price Starts At?</label>
                                            <input type="text" class="form-control" id="NonVegLunchCost" name="NonVegLunchCost" placeholder="Non-Veg Price Starts At?" autocomplete="off" value="@ViewBag.service.NonVeg">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Minimum Order</label>
                                            <input type="text" class="form-control" id="MinOrder" name="MinOrder" placeholder="Minimum Order" autocomplete="off" value="@ViewBag.service.MinOrder">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Maximum Order</label>
                                            <input type="text" class="form-control" id="MaxOrder" name="MaxOrder" placeholder="Maximum Order" autocomplete="off" value="@ViewBag.service.MaxOrder">
                                        </div>
                                    }
                                    @if (ViewBag.category == "Decorator" || ViewBag.category == "Photography")
                                    {
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Service Cost</label>
                                            <input type="text" class="form-control" id="ServiceCost" name="ServiceCost" placeholder="Service Cost" autocomplete="off" value="@ViewBag.service.StartingPrice">
                                        </div>
                                    }
                                    @if (ViewBag.category == "Other")
                                    {
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Service Cost</label>
                                            <input type="text" class="form-control" id="ServiceCost" name="ServiceCost" placeholder="Service Cost" autocomplete="off" value="@ViewBag.service.ItemCost">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Minimum Order</label>
                                            <input type="text" class="form-control" id="MinOrder" name="MinOrder" placeholder="Minimum Order" autocomplete="off" value="@ViewBag.service.MinOrder">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label" for="inputBasicFirstName">Maximum Order</label>
                                            <input type="text" class="form-control" id="MaxOrder" name="MaxOrder" placeholder="Maximum Order" autocomplete="off" value="@ViewBag.service.MaxOrder">
                                        </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="updatedetails('seven')">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function alertmsg(msg) {
            alertify.alert("" + msg + "", function () {
                //alertify.message('OK');
            });
        }
    </script>
    <script>
        $('#serviceselection').on('change', function () {
            var selectedvalue = $(this).val();
            filterdropdown(selectedvalue);
        });

        function filterdropdown(selectedvalue) {
            var id = '' + selectedvalue + 'Amenities';
            $('#' + id + '').css('display', 'block');
            var subcat = [];
            $.ajax({
                url: "/NVendorManageStoreFront/filtercategories?type=" + selectedvalue,
                success: function (result) {
                    if (result == "Fail") {
                        alertmsg("Failed to Fetch data");
                    }
                    else {
                        var selecttag = $('#subcategory').empty();
                        $.each(result.split(','), function (i, option) {
                            subcat[i] = "<option value='" + result.split(',')[i] + "'>" + result.split(',')[i] + "</option>";
                        });
                        $('#subcategory').empty().append(subcat);
                        $('#subcategory').css('display', 'block');
                    }
                },
                error: function (data)
                { alertmsg("Something Went Wrong Try Again Later"); }
            });
        }
    </script>

    <script>
        function updatedetails(val) {

            var vendormaster = {
                BusinessName: $('#BusinessName').val(),
                ContactNumber: $('#ContactNumber').val(),
                EmailId: $('#EmailId').val(),
                LandlineNumber: $('#LandlineNumber').val(),
                Url: $('#Url').val(),
                Description: $('#mainDescription').val(),
                Address: $('#vAddress').val(),
                Landmark: $('#vLandmark').val(),
                City: $('#vCity').val(),
                State: $('#vState').val(),
                ZipCode: $('#vZipCode').val()
            }

            var vendorVenue = {
                Address: $('#Address').val(),
                Landmark: $('#Landmark').val(),
                City: $('#City').val(),
                State: $('#State').val(),
                ZipCode: $('#ZipCode').val(),
                GeoLocation: $('#GeoLocation').val(),
                name: $('#name').val(),
                Dimentions: $('#Dimentions').val(),
                Minimumseatingcapacity: $('#Minimumseatingcapacity').val(),
                Maximumcapacity: $('#Maximumcapacity').val(),
                Description: $('#Description').val(),
                VegLunchCost: $('#VegLunchCost').val(),
                NonVegLunchCost: $('#NonVegLunchCost').val(),
                VegDinnerCost: $('#VegDinnerCost').val(),
                NonVegDinnerCost: $('#NonVegDinnerCost').val(),
                MinOrder: $('#MinOrder').val(),
                MaxOrder: $('#MaxOrder').val(),
                ServiceCost: $('#ServiceCost').val(),
                Distancefrommainplaceslike: $('#selectedamenities').val(),
            }
            //alert(vendorVenue.ServiceCost);
            var category = '@Request.QueryString["category"]';//$('#serviceselection').val();
            var subcategory = '@Request.QueryString["subcategory"]';//$('#subcategory').val();
            var vendorid = '@ViewBag.id';
            var vendorsubid = '@Request.QueryString["vid"]';
            //alert(val);
            $.ajax({
                url: '/NVendorManageStoreFront/UpdateStoreFront?command=' + val + '&&category=' + category + '&&subcategory=' + subcategory + '&&id=' + vendorid + '&&vid=' + vendorsubid,
                type: "POST",
                datatype: "json",
                data: { vendormaster: vendormaster, vendorVenue: vendorVenue },
                success: function (response) {
                    alertmsg(response);
                },
                error: function (er) {
                    alertmsg("System Encountered Internal Error!!! Try Again After Some Time");
                }
            });
        }
    </script>

    @if (ViewBag.display == "1")
    {
        <script>
            var selectedcategory = '@ViewBag.category';
            var selectedsubcategory = '@ViewBag.subcategory';
            $('#serviceselection1 > option').each(function () {
                if ($(this).text() == selectedcategory) $(this).parent('select').val($(this).val())
            })
            filterdropdown(selectedcategory);
            $('#subcategory').css('display', 'block');
            $("#exampleTabsLeftTwo input[type='checkbox']").change(function () {
                var arr = [], i = 0;
                var selectedvalue = '@ViewBag.category';
                var id = '' + selectedvalue + 'Amenities';
                $("#" + id + " input[type='checkbox']:checked").each(function () {
                    arr[i++] = $(this).next("label").text();
                });
                //alertmsg(arr);
                $('#selectedamenities').val(arr);
            });
        </script>
        <script type="text/javascript">
            /*=============== Image Block remove =============*/
            $(document).on('click', "p.red", function () {
                //$("p.red").click(function(){
                var x = $(this).parents(".blocks").css({ "transform": "translateX(1000px)", "opacity": "0" });
                setTimeout(function () { x.remove(); }, 200);
                var imgname = $(this).parents("div.row").parents("div.thumbnail").find("div.thumb-img").children("img").attr('alt');
                var id = '@ViewBag.id';
                var vid = '@ViewBag.vid';
                $.ajax({
                    url: '/NVendorManageStoreFront/Removeimage',//?src=' + imgname.replace('/vendorimages/', '')+'id='+id+'vid='+vid,
                    type: 'POST',
                    data: JSON.stringify({ src: imgname.replace('/vendorimages/', ''), id: id, vid: vid }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            alertmsg('Image deleted successfully!');
                        }
                        else {
                            alertmsg('Failed!');
                        }
                    },
                    error: function (data)
                    { alertmsg("Failed!!!"); }
                });
            });
            /*=============== Image Block remove =============*/

            /*=============== Image upload and Placed =============*/

            $("#fileUpload1").change(function () {
                var filecount = $(this)[0].files.length;
                if (filecount <= 8) {
                    if (typeof (FileReader) != "undefined") {
                        var dvPreview = $("#dvPreview");
                        //dvPreview.html("");
                        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                        var params = dvPreview.serializeArray();
                        //Getting Files Collection
                        var files = $("#fileUpload1")[0].files;

                        //Declaring new Form Data Instance
                        var formData = new FormData();

                        //Looping through uploaded files collection in case there is a Multi File Upload. This also works for single i.e simply remove MULTIPLE attribute from file control in HTML.
                        for (var i = 0; i < files.length; i++) {
                            formData.append("file", files[i]);
                        }

                        $.ajax({
                            url: "/NVendorManageStoreFront/UploadImages?ks=@ViewBag.id&&vid=@ViewBag.vid&&type=@Request.QueryString["category"]",
                            method: "post",
                            data: formData,
                            cache: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function (data) {
                                //Firing event if File Upload is completed!
                                alertmsg("Upload Completed");
                                $("#File1").val("");
                                location.reload();
                            },
                            error: function (error) { alertmsg("Try Again After Sometime"); }
                        })
                    } else {
                        alertmsg("This browser does not support HTML5 FileReader.");
                    }
                }
                else {
                    alertmsg("Max 8 Photos Allowed at a time");
                }
            });
            /*=============== Image upload and Placed =============*/

            /*=============== Blocks Radio name and Descrption save in hidden variable =============*/

            //$(document).on('click','div.radio:first-of-type',function(){
            $('#dvPreview .blocks').find('div.radio').change(function () {
                $("#dvPreview .blocks div.radio:last-of-type input[type='radio']").each(function () {
                    $(this).attr('checked', 'checked');
                });
                $(this).next("div.radio").find("input[type='radio']").prop('checked', false);
            });

            $(".next").click(function (e) {
                $('.radioName').empty();
                $('.blockDescrption').empty();
                e.preventDefault();
                var arr;
                var BlockLen = $("#dvPreview .blocks").length;
                $("#dvPreview .blocks").find('input[type="text"]').each(function () {
                    var v = $.trim($(this).val());
                    if (v != "") {
                        $(".blockDescrption").append($(this).val() + ',');
                    }
                });
                var blockDescrption = $('.blockDescrption').text();
                $('#Imagedescription').val($('.blockDescrption').text().slice(0, -1));

                $.ajax({
                    url: "/NVendorManageStoreFront/UpdateImageInfo?ks=@ViewBag.id&&vid=@ViewBag.vid&&description=" + $('#Imagedescription').val() + "",
                    method: "post",
                    data: $('#Imagedescription').val(),
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (data) {
                        alert("Image Description Updated");
                    },
                    error: function (error) { alertmsg("Try Again After Sometime"); }
                });
            });

            /*=============== Blocks Radio name and Descrption save in hidden variable =============*/
        </script>

        <script>
            $('#profileimage').change(function () {
                var ext = $('#profileimage').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                    alert('Invalid File Type');
                }
                else {
                    var data = new FormData();
                    var files = $("#profileimage").get(0).files;
                    //alert(files);
                    if (files.length > 0) {
                        data.append("helpSectionImages", files[0]);
                    }
                    $.ajax({
                        url: '/NVendorManageStoreFront/UploadProfilePic?email=' + $('#EmailId').val(),
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            //alert(response);
                        }
                    });
                }
            });
        </script>
    }
}