@model MaaAahwanam.Models.VendorVenue
@{
    ViewBag.Title = ":: Venue Details ::";
    Layout = "~/Views/SharedWeb/VendorMasterPage.cshtml";
}


    <div class="container border-default">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                <h4>Create a Free Ahwanam account</h4>
            </div>
        </div>
        <div class="row progress-area text-center">
            <div class="progress-ui">
                <div class="complete"><span>1</span></div>
                <div class="complete"><span>2</span></div>
                <div class="complete"><span>3</span></div>
                <div><span>4</span></div>
            </div>
            <div class="progress-content">
                <div>General Information</div>
                <div>Photo Gallery</div>
                <div>Details</div>
                <div>Discount %</div>
            </div>
        </div>
        <form method="post">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-question-circle" aria-hidden="true"></i> Frequently Asked Questions</h4>
                    </div>
                </div>
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-10 col-sm-10 col-md-10 margin-left margin-right padding-top-10 light-sky-blue-bg">
                        <p class="grey">
                            <b>Answer the FAQs for your category: Hotels­­. This information will appear on your storefront. Your answers will help couples understand the services you offer much better.</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">1</span> What price do you charge for renting the event space OR offering catering services?</h5>
                    </div>
                </div>
                
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Rental fee (event space only)<br><small class="grey">Total price per day</small></label>
                            <div class="form-group-1 col-xs-12 col-sm-6 col-md-6">
                                <i class="fa fa-inr fa-lg" aria-hidden="true" style="left:25px; bottom:10px"></i>
                                <input type="text" class="form-control1" placeholder="" id="ServiceCost" name="ServiceCost" value="@ViewBag.venue.ServiceCost">
                            </div>
                        </div>
                        @*<div class="row margin-top margin-bottom-30">
                            <label class="col-xs-12 col-sm-6 col-md-6">Maximum rental fee (event space only)<br><small class="grey">Total price per day</small></label>
                            <div class="form-group-1 col-xs-12 col-sm-6 col-md-6">
                                <i class="fa fa-inr fa-lg" aria-hidden="true" style="left:25px; bottom:10px"></i>
                                <input type="text" class="form-control1" placeholder="" id="maxServiceCost">
                            </div>
                        </div>*@
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs margin-top-30">
                        <p class="grey"><small>We will soon release a search by price. It is very important that you fill in your pricing information, so that your storefront appears in the results.</small></p>
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">2</span> How many guests can you accommodate in your event space?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Minimum number of guests</label>
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                @Html.TextBoxFor(model => model.Minimumseatingcapacity, new { @class = "form-control", placeholder = "", Value = @ViewBag.venue.Minimumseatingcapacity })
                            </div>
                        </div>
                        <div class="row margin-top margin-bottom-30">
                            <label class="col-xs-12 col-sm-6 col-md-6">Maximum number of guests</label>
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                @Html.TextBoxFor(model => model.Maximumcapacity, new { @class = "form-control", placeholder = "", Value = @ViewBag.venue.Maximumcapacity })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs hidden margin-top-30">
                        <p class="grey"><small>We will soon release a search by price. It is very important that you fill in your pricing information, so that your storefront appears in the results.</small></p>
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">3</span> What is the Seating Capacity?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Seating Capacity</label>
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                @Html.TextBoxFor(model => model.SeatingCapacity, new { @class = "form-control", placeholder = "", Value = @ViewBag.venue.SeatingCapacity })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">4</span> Rooms Available?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        @if (ViewBag.venue.Rooms == null)
                        {
                        <div class="radio col-xs-6 col-sm-4 col-md-3">
                            <label><input type="radio" name="Rooms" id="Rooms" value="Yes"><span></span>Yes</label>
                        </div>
                        <div class="radio col-xs-6 col-sm-4 col-md-3">
                            <label><input type="radio" name="Rooms" id="Rooms" value="No"><span></span>No</label>
                        </div>
                        }
                        else if (ViewBag.venue.Rooms == "Yes")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="Rooms" id="Rooms" value="Yes" checked><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="Rooms" id="Rooms" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.venue.Rooms == "No")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="Rooms" id="Rooms" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="Rooms" id="Rooms" value="No" checked><span></span>No</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">5</span> What kind of Foods are available?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        <input type="hidden" id="Food" name="Food" value="@ViewBag.venue.Food"/>
                        @if (ViewBag.venue.Food == null)
                        {
                            <div class="Foodtype col-xs-6 col-sm-4 col-md-3">
                                <label><input type="checkbox" value="Veg"><span></span> Veg </label>
                            </div>
                            <div class="Foodtype col-xs-6 col-sm-4 col-md-3">
                                <label><input type="checkbox" value="Non-Veg"><span></span> Non-Veg </label>
                            </div>
                        }
                        else if (ViewBag.venue.Food == "Veg")
                        {
                            <div class="Foodtype col-xs-6 col-sm-4 col-md-3">
                                <label><input type="checkbox" value="Veg" checked><span></span> Veg </label>
                            </div>
                            <div class="Foodtype col-xs-6 col-sm-4 col-md-3">
                                <label><input type="checkbox" value="Non-Veg"><span></span> Non-Veg </label>
                            </div>
                        }
                        else if (ViewBag.venue.Food == "Non-Veg")
                        {
                            <div class="Foodtype col-xs-6 col-sm-4 col-md-3">
                                <label><input type="checkbox" value="Veg"><span></span> Veg </label>
                            </div>
                            <div class="Foodtype col-xs-6 col-sm-4 col-md-3">
                                <label><input type="checkbox" value="Non-Veg" checked><span></span> Non-Veg </label>
                            </div>
                        }
                        else if (ViewBag.venue.Food == " Veg , Non-Veg ")
                        {
                            <div class="Foodtype col-xs-6 col-sm-4 col-md-3">
                                <label><input type="checkbox" value="Veg" checked><span></span> Veg </label>
                            </div>
                            <div class="Foodtype col-xs-6 col-sm-4 col-md-3">
                                <label><input type="checkbox" value="Non-Veg" checked><span></span> Non-Veg </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">6</span> Live Cooking Station?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        @if (ViewBag.venue.LiveCookingStation == null)
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.venue.LiveCookingStation == "Yes")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="Yes" checked><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.venue.LiveCookingStation == "No")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="No" checked><span></span>No</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">7</span> CockTails Allowed?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        @if (ViewBag.venue.CockTails == null)
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="CockTails" id="CockTails" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="CockTails" id="CockTails" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.venue.CockTails == "Yes")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="CockTails" id="CockTails" value="Yes" checked><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="CockTails" id="CockTails" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.venue.CockTails == "No")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="CockTails" id="CockTails" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="CockTails" id="CockTails" value="No" checked><span></span>No</label>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">8</span> Decoration Allowed?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        @if (ViewBag.venue.DecorationAllowed == null)
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="DecorationAllowed" id="DecorationAllowed" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="DecorationAllowed" id="DecorationAllowed" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.venue.DecorationAllowed == "Yes")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="DecorationAllowed" id="DecorationAllowed" value="Yes" checked><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="DecorationAllowed" id="DecorationAllowed" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.venue.DecorationAllowed == "No")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="DecorationAllowed" id="DecorationAllowed" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="DecorationAllowed" id="DecorationAllowed" value="No" checked><span></span>No</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">9</span> Hall Type ?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        <input type="hidden" name="HallType" id="HallType" value="@ViewBag.venue.HallType"/>
                        @if (ViewBag.venue.HallType == null)
                        {
                            <div class="HallType col-xs-6 col-sm-4 col-md-3"><label><input type="checkbox" value="AC"><span></span> AC </label></div>
                            <div class="HallType col-xs-6 col-sm-4 col-md-3"><label><input type="checkbox" value="Non_AC"><span></span> Non_AC </label></div>
                        }
                        else if (ViewBag.venue.HallType == "AC")
                        {
                            <div class="HallType col-xs-6 col-sm-4 col-md-3"><label><input type="checkbox" value="AC" checked><span></span> AC </label></div>
                            <div class="HallType col-xs-6 col-sm-4 col-md-3"><label><input type="checkbox" value="Non_AC"><span></span> Non_AC </label></div>
                        }
                        else if (ViewBag.venue.HallType == "Non_AC")
                        {
                            <div class="HallType col-xs-6 col-sm-4 col-md-3"><label><input type="checkbox" value="AC"><span></span> AC </label></div>
                            <div class="HallType col-xs-6 col-sm-4 col-md-3"><label><input type="checkbox" value="Non_AC" checked><span></span> Non_AC </label></div>
                        }
                        else if (ViewBag.venue.HallType == " AC , Non_AC ")
                        {
                            <div class="HallType col-xs-6 col-sm-4 col-md-3"><label><input type="checkbox" value="AC" checked><span></span> AC </label></div>
                            <div class="HallType col-xs-6 col-sm-4 col-md-3"><label><input type="checkbox" value="Non_AC" checked><span></span> Non_AC </label></div>
                        }
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">10</span> Wi-Fi Available?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        @if (ViewBag.venue.Wifi == null)
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="Wifi" id="Wifi" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="Wifi" id="Wifi" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.venue.Wifi == "Yes")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="Wifi" id="Wifi" value="Yes" checked><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="Wifi" id="Wifi" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.venue.Wifi == "No")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="Wifi" id="Wifi" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="Wifi" id="Wifi" value="No" checked><span></span>No</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">11</span> What is the location of the venue?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        <div class="radio col-xs-6 col-sm-4 col-md-3">
                            @if (ViewBag.venue.Distancefrommainplaceslike == "In the city")
                            {<label><input type="radio" name="Distancefrommainplaceslike" value="In the city" id="Distancefrommainplaceslike" checked><span></span>In the city</label>}
                            else
                            {<label><input type="radio" name="Distancefrommainplaceslike" value="In the city" id="Distancefrommainplaceslike"><span></span>In the city</label>}
                        </div>
                        <div class="radio col-xs-6 col-sm-4 col-md-3">
                            @if (ViewBag.venue.Distancefrommainplaceslike == "Outskirts of the city")
                            {<label><input type="radio" name="Distancefrommainplaceslike" value="Outskirts of the city" id="Distancefrommainplaceslike" checked><span></span>Outskirts of the city</label>}
                            else
                            {<label><input type="radio" name="Distancefrommainplaceslike" value="Outskirts of the city" id="Distancefrommainplaceslike"><span></span>Outskirts of the cityy</label>}
                        </div>
                        <div class="radio col-xs-6 col-sm-4 col-md-3">
                            @if (ViewBag.venue.Distancefrommainplaceslike == "Close to mountains")
                            {<label><input type="radio" name="Distancefrommainplaceslike" value="Close to mountains" id="Distancefrommainplaceslike" checked><span></span>Close to mountains</label>}
                            else
                            {<label><input type="radio" name="Distancefrommainplaceslike" value="Close to mountains" id="Distancefrommainplaceslike"><span></span>Close to mountains</label>}
                        </div>
                        <div class="radio col-xs-6 col-sm-4 col-md-3">
                            @if (ViewBag.venue.Distancefrommainplaceslike == "Close to beach")
                            {<label><input type="radio" name="Distancefrommainplaceslike" value="Close to beach" id="Distancefrommainplaceslike" checked><span></span>Close to beach</label>}
                            else
                            {<label><input type="radio" name="Distancefrommainplaceslike" value="Close to beach" id="Distancefrommainplaceslike"><span></span>Close to beach</label>}
                        </div>
                        <div class="radio col-xs-6 col-sm-4 col-md-3">
                            @if (ViewBag.venue.Distancefrommainplaceslike == "Countryside")
                            {<label><input type="radio" name="Distancefrommainplaceslike" value="Countryside" id="Distancefrommainplaceslike" checked><span></span>Countryside</label>}
                            else
                            {<label><input type="radio" name="Distancefrommainplaceslike" value="Countryside" id="Distancefrommainplaceslike"><span></span>Countryside</label>}
                        </div>
                    </div>
                </div>
            </div>
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">12</span> Order Limit?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="row margin-top-30 margin-bottom">
                                <label class="col-xs-12 col-sm-6 col-md-6">Minimum Order</label>
                                <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                    @*<input type="text" class="form-control" placeholder="">*@
                                    @Html.TextBoxFor(model => model.MinOrder, new { @class = "form-control", placeholder = "", Value = @ViewBag.venue.MinOrder })
                                </div>
                            </div>
                            <div class="row margin-top margin-bottom-30">
                                <label class="col-xs-12 col-sm-6 col-md-6">Maximum Order</label>
                                <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                    @*<input type="text" class="form-control" placeholder="">*@
                                    @Html.TextBoxFor(model => model.MaxOrder, new { @class = "form-control", placeholder = "", Value = @ViewBag.venue.MaxOrder })
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
            
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">13</span> What is the Dining Capacity?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Dining Capacity</label>
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                @Html.TextBoxFor(model => model.DiningCapacity, new { @class = "form-control", placeholder = "" , Value = @ViewBag.venue.DiningCapacity })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">14</span> Veg Price Starts At?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Veg Lunch Price Starts At</label>
                            <div class="form-group-1 col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                <i class="fa fa-inr fa-lg" aria-hidden="true" style="left:25px; bottom:10px"></i>
                                @Html.TextBoxFor(model => model.VegLunchCost, new { @class = "form-control1", placeholder = "", Value = @ViewBag.venue.VegLunchCost })
                            </div>
                        </div>
                        <div class="row margin-top margin-bottom-30">
                            <label class="col-xs-12 col-sm-6 col-md-6">Veg Dinner Price Starts At</label>
                            <div class="form-group-1 col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                <i class="fa fa-inr fa-lg" aria-hidden="true" style="left:25px; bottom:10px"></i>
                                @Html.TextBoxFor(model => model.VegDinnerCost, new { @class = "form-control1", placeholder = "", Value = @ViewBag.venue.VegDinnerCost })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs hidden margin-top-30">
                        <p class="grey"><small>We will soon release a search by price. It is very important that you fill in your pricing information, so that your storefront appears in the results.</small></p>
                    </div>
                </div>
            </div>

            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">15</span> Non-Veg Price Starts At?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Non-Veg Lunch Price Starts At</label>
                            <div class="form-group-1 col-xs-12 col-sm-6 col-md-6">
                                <i class="fa fa-inr fa-lg" aria-hidden="true" style="left:25px; bottom:10px"></i>
                                @Html.TextBoxFor(model => model.NonVegLunchCost, new { @class = "form-control1", placeholder = "", Value = @ViewBag.venue.NonVegLunchCost })
                            </div>
                        </div>
                        <div class="row margin-top margin-bottom-30">
                            <label class="col-xs-12 col-sm-6 col-md-6">Non-Veg Dinner Price Starts At</label>
                            <div class="form-group-1 col-xs-12 col-sm-6 col-md-6">
                                <i class="fa fa-inr fa-lg" aria-hidden="true" style="left:25px; bottom:10px"></i>
                                @Html.TextBoxFor(model => model.NonVegDinnerCost, new { @class = "form-control1", placeholder = "", Value = @ViewBag.venue.NonVegDinnerCost })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs hidden margin-top-30">
                        <p class="grey"><small>We will soon release a search by price. It is very important that you fill in your pricing information, so that your storefront appears in the results.</small></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    @*<a href="/VendorSignUp4" class="btn btn-default red-bg white">Save</a>*@
                    <input type="submit" value="Save" class="btn btn-default red-bg white margin-left" />
                    <a href="/AvailableServices?id=@ViewBag.id&&vid=@ViewBag.vid" class="btn btn-default red-bg white margin-left">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
    <script>
        //Hall Type checkBoxes
        $(".HallType input[type='checkbox']").change(function () {
            var arr = [], i = 0;
            $(".HallType input[type='checkbox']:checked").each(function () {
                arr[i++] = $(this).parent("label").text();
            });
            $('#HallType').val(arr);
        });

        //Food Type checkBoxes
        $(".Foodtype input[type='checkbox']").change(function () {
            var arr = [], i = 0;
            $(".Foodtype input[type='checkbox']:checked").each(function () {
                arr[i++] = $(this).parent("label").text();
            });
            $('#Food').val(arr);
        });
    </script>

