
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

<section>
    <div class="about_main">
        <div class="pageWidth">

            <div class="deal_info_main">
                <div class="deal-info">
                    <div class="deal-slider">
                        <div class="sp-loading">
                            <img src="../CSSWeb/images/sp-loading.gif" alt="">
                            <br>
                            LOADING IMAGES
                        </div>
                        @*<div class="zoomDiv">*@
                        <div class="sp-wrap">
                            @if (ViewBag.Imagelist != null)
                            {
                                foreach (var item in ViewBag.Imagelist)
                                {
                                    <a href="~/vendorimages/@item"> <img src="~/vendorimages/@item" alt="thumb"></a>
                                }
                            }
                            else if (ViewBag.Imagelist == null)
                            {
                                <a href="#" onclick="return false">
                                    <img src="~/noimages.png" />
                                </a>
                            }
                        </div>
                        @*</div>*@

                    </div>
                    <div class="deal-desc">
                        <div class="review-area">
                            <ul>
                                <li>
                                    <div class="rate" data-rate-value=@ViewBag.rating></div>@ViewBag.ratingscount
                                    &nbsp;
                                </li>
                                <li>
                                    <a href="#review" class="move_review text-green"><i class="ti-comment-alt text-green"></i> Reviews @ViewBag.Reviewlist.Count</a>
                                </li>
                            </ul>
                        </div>
                        @if (ViewBag.servicetype != "InvitationCard" && ViewBag.servicetype != "Gifts")
                        {
                        <div class="product_review" id="dviAddressService">
                            <h4>Location</h4>
                            <p>@Model.Item1.Landmark,@Model.Item1.Address,@Model.Item1.City,@Model.Item1.State</p>
                        </div>
                        }
                        <div class="product_review">
                            <h4>Description</h4>
                            <p class="comment">@Model.Item1.Description</p>
                        </div>
                        
                        @*Calculation General Div*@
                        <div class="deal_price" id="Calcdiv_General">
                            <div class="price_details">
                                
                                    
                                    
    @if (ViewBag.deal != null && ViewBag.deal != "")
    {
        <div class="price_details" style="width:100%">
            <dl>
                <dt>Deal Start Date : </dt>
                <dd>
                    @if (Model.Item1.DealStartDate != null)
                    {
                        @Model.Item1.DealStartDate.ToShortDateString()
                    }
                    else
                    {
                        <p>Not Available</p>
                    }
                </dd>
                <dt>Deal End Date : </dt>
                <dd>
                    @if (Model.Item1.DealEndDate != null)
                    {
                        @Model.Item1.DealEndDate.ToShortDateString()
                    }
                    else
                    {
                        <p>Not Available</p>
                    }
                </dd>
             
                    @*@if (ViewBag.servicetype == "Venue" && ViewBag.vendortype == "Banquet Hall")
                    {
                        <dt> Service Cost : </dt>
                    }
                    else
                    {
                        <dt> Actual price : </dt>
                    }*@
                <dt>@ViewBag.costtype : </dt>  <dd>Rs.@ViewBag.actualprice/-</dd>
                @*<dd> @Model.Item1.ActualServiceprice </dd>*@ 
                <dt> Discount : </dt> <dd> @ViewBag.discountvalue%</dd>
                
                <dt>Paid Amount : </dt>  <dd><p style="color:#8ca436;font-size:20px">Rs.@ViewBag.price/-</p></dd>
                
                <dt>Amount Saved : </dt>  <dd><p style="color:red;font-size:20px">Rs.@ViewBag.amountsaved/-</p></dd>
                
            </dl>
            
        </div>
        
    }
    else
    {
       
            <dl>
                <dd>
                <dt>Order Price : </dt>
                <dt><p style="color:#8ca436;font-size:20px">Rs.@ViewBag.price</p></dt>
                </dd>              
            </dl>
        
    }

                               

                            </div>
                            
                        </div>
                        
                        <input type="hidden" id="stype" name="Minvalue" value=@ViewBag.servicetype>
                        
                    </div>
                    <div class="clear"></div>

                    <div class="deal_amenties">
                        <div class="dashboardList">
                            <table class="responsive">
                                <thead>
                                    <tr>
                                        <th>
                                            <h2>Amenities</h2>
                                        </th>
                                    </tr>
                                </thead>
                                @if (ViewBag.servicetype == "Venue")
                                {
                                    foreach (var item in ViewBag.Amenities)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>Service Type : @item.VenueType </td>
                                            </tr>
                                            <tr>
                                                <td>Food: @item.Food </td>
                                            </tr>
                                            <tr>
                                                <td>CockTails: @item.CockTails </td>
                                            </tr>
                                            <tr>
                                                <td>Rooms: @item.Rooms </td>
                                            </tr>
                                            <tr>
                                                <td>Seating Capacity: @item.SeatingCapacity </td>
                                            </tr>
                                            <tr>
                                                <td>Dining Capacity: @item.DiningCapacity</td>
                                            </tr>
                                            <tr>
                                                <td>Minimum Seating Capacity: @item.MinimumSeatingCapacity </td>
                                            </tr>
                                            <tr>
                                                <td>Maximum Seating Capacity : @item.MaximumCapacity</td>
                                            </tr>
                                            <tr>
                                                <td>Decoration Allowed: @item.DecorationAllowed </td>
                                            </tr>
                                            <tr>
                                                <td>Hall Type: @item.HallType </td>
                                            </tr>
                                            <tr>
                                                <td>Wifi Availablity: @item.Wifi</td>
                                            </tr>
                                            <tr>
                                                <td>Menu Items Count: @item.MenuItemsCount </td>
                                            </tr>
                                            <tr>
                                                <td>Distance From Main Places : @item.DistanceFromMainPlaces</td>
                                            </tr>
                                            <tr>
                                                <td>Live Cooking Station Allowed: @item.LiveCookingStation </td>
                                            </tr>
                                        </tbody>
                                    }

                                }
                                @if (ViewBag.servicetype == "Catering")
                                {
                                    foreach (var item in ViewBag.Amenities)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>Service Type : @item.VenueType </td>
                                            </tr>
                                            <tr>
                                                <td>Mineral Water Availability : @item.MineralWaterIncluded</td>
                                            </tr>
                                            <tr>
                                                <td>Transport Availability : @item.TransportIncluded</td>
                                            </tr>
                                            <tr>
                                                <td>Menu Items : @item.Menuitems</td>
                                            </tr>
                                            <tr>
                                                <td>Live Cooking Station : @item.LiveCookingStation</td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                                @if (ViewBag.servicetype == "Photography")
                                {
                                    foreach (var item in ViewBag.Amenities)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>Service Type : @item.VenueType </td>
                                            </tr>
                                            <tr>
                                                <td>Pre-Wedding Shoot : @item.PreWeddingShoot</td>
                                            </tr>
                                            <tr>
                                                <td>Destination Photography : @item.DestinationPhotography</td>
                                            </tr>
                                            <tr>
                                                <td>Prior Booking Days : @item.PriorBookingsDays</td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                                @if (ViewBag.servicetype == "InvitationCard")
                                {
                                    foreach (var item in ViewBag.Amenities)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>Service Type : @item.VenueType </td>
                                            </tr>
                                            <tr>
                                                <td>Design Name : @item.Design</td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                                @if (ViewBag.servicetype == "BeautyServices")
                                {
                                    foreach (var item in ViewBag.Amenities)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>Service Type : @item.VenueType </td>
                                            </tr>
                                            <tr>
                                                <td>Home Services : @item.HomeServices</td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                                @if (ViewBag.servicetype == "WeddingCollection")
                                {
                                    foreach (var item in ViewBag.Amenities)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>Online Store : @item.OnlineStore</td>
                                            </tr>
                                            <tr>
                                                <td>In Store : @item.InStore</td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                                @if (ViewBag.servicetype == "Decorators" || ViewBag.servicetype == "Entertainment" || ViewBag.servicetype == "Travel" || ViewBag.servicetype == "Gifts")
                                {
                                    foreach (var item in ViewBag.Amenities)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>Service Type : @item.VenueType </td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                                @if (ViewBag.servicetype == "EventOrganiser" || ViewBag.servicetype == "Other")
                                {
                                    <tbody>
                                        <tr>
                                            <td>Not Available</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="deal_reviews_all">
                        <div class="dashboardList all_reviews" id="review">
                            <table class="responsive">

                                @if (ViewBag.Reviewlist.Count != 0)
                                {
                                    <thead>
                                        <tr>
                                            <th>
                                                <h2>Most Popular Reviews</h2>
                                                @*<a href="#">View All Reviews</a>*@
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var reviewitem in ViewBag.Reviewlist)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="review_title">
                                                        <h5>@reviewitem.FirstName</h5>
                                                        <small>@reviewitem.UpdatedDate</small>
                                                    </div>
                                                    <div class="review_rate">
                                                        <div class="rate" data-rate-value=3></div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <p>@reviewitem.Comments</p>
                                                    <p>
                                                        Was this review helpful to you?
                                                        <a href="#" class="text-green"><i class="ti-thumb-up text-green"></i> Yes</a> &nbsp;
                                                        <a href="#" class="text-red"><i class="ti-thumb-down text-red"></i> No</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>

