@using System.Globalization

<div class="row" id="loadresults">
    @*<div class="col-md-12" id="newsletter" style="height:20px">
        <div class="col-md-6" style="float:left;top:10px;"><strong>50 Records Found</strong></div>
        <div class="col-md-6" style="float:right;">
            <input type="email" class="form-control" placeholder="Search By Venue Name" style="background-color:white;">
            <input type="submit" value="Submit">
        </div>
    </div>*@
    @if (ViewBag.venues.Count == 0)
    {
        <p>No Records</p>
    }
    @foreach (var item in ViewBag.venues)
    {
        <div class="col-md-4 isotope-item popular">
            <div class="box_grid">
                <figure>
                    <a href="/viewservice?id=@item.Id&&vid=@item.subid">
                        @if (item.logo != null)
                        {
                            @*<img src="~/vendorimages/@item.logo" class="img-fluid" alt="" width="800" height="533">*@
                            <div class="vendorimg" style="background:url('/vendorimages/@item.logo')"></div>
                        }
                        else if (item.image != null)
                        {
                            @*<img src="~/vendorimages/@item.image" class="img-fluid" alt="" width="800" height="533">*@
                            <div class="vendorimg" style="background:url('/vendorimages/@item.image')"></div>
                        }
                        else
                        {
                            @*<img src="~/noimages.png" class="img-fluid" alt="" width="800" height="533">*@
                            <div class="vendorimg" style="background:url(/noimages.png)"></div>
                        }
                        <div class="read_more"></div>  @*<span>Read more</span>*@
                    </a>
                    <small5>@item.subtype</small5>
                </figure>   
                <div class="wrapper">

                    <h5 class="uk-h5">@item.BusinessName<p class="p_0">@item.Landmark, @item.City</p></h5> 
                        <div class="panel panel-default">
                            @*<div class="ui segment">*@
                                <table class="priceslist">
                                    <tr>
                                        @*<td style="border:0px;width:170px"> <a class="ui violet label">@item.subtype</a></td>*@
                                    </tr>
                                    <tr>
                                        <td><p>Veg<span><span style='color:red;text-decoration:line-through'>₹@item.normaldays</span>&emsp;₹<strong>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost1)).Replace(".00", "")</strong>&emsp;</span></p></td>
                                        @*<td><p>Veg<span>&emsp;₹<strong>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost1)).Replace(".00", "")</strong></span></p></td>*@
                                    </tr>
                                    <tr>
                                        <td><p>Non-Veg<span><span style='color:red;text-decoration:line-through'>₹@item.normaldays</span>&emsp;₹<strong>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost2)).Replace(".00", "")</strong>&emsp;</span></p></td>
                                        @*<td><p>Non-Veg<span>&emsp;₹<strong>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost2)).Replace(".00", "")</strong></span></p></td>*@
                                    </tr>
                                </table>
                            @*</div>*@
                        </div>
</div>
                <ul>
                    <li> Capacity : @item.Minimumseatingcapacity - @item.Maximumcapacity</li>
                    <li> <a href="/viewservice?id=@item.Id&&vid=@item.subid">Book Now </a></li>
                    @*<li><div class="score"><span>BOOK NOW</span></div></li>*@
                </ul>
            </div>
        </div>
                        <!-- /box_grid -->
    }
</div>
<div class="row" id="allrecords">
    @*<div class="col-md-12" id="newsletter" style="height:20px;">
        <div class="col-md-6" style="float:left;top:10px;"><strong>50 Records Found</strong></div>
        <div class="col-md-6" style="float:right;">
            <input type="email" class="form-control" placeholder="Search By Venue Name" style="background-color:white;">
            <input type="submit" value="Submit">
        </div>
    </div>*@
</div>