
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/ServicesMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Successful Events</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="../index/index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Successful Events</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

}
<article>
    <div class="about_categories">
        <select>
            <option>Beautician</option>
            <option>Photographers</option>
            <option>Cake Vendors</option>
            <option>Caterer Decorators</option>
            <option>Designer Photographers</option>
            <option>Entertainment</option>
            <option>Fireworks</option>
            <option>Godi wale</option>
        </select>
    </div>

    <div class="about_content">
        <input type="hidden" id="EventLastRecord" value="@ViewBag.EventLastRecord" />
        <input type="hidden" id="Event1" value="@ViewBag.EventLastRecord" />
        <div class="events_main">
            <ul id="EventsDiv">
                @if (ViewBag.UpcomingEvents != null)
                {
                    foreach (var Upcomingevents in ViewBag.UpcomingEvents)
                    {
                        <li>
                            <a href="~/EventInfo?id=@Upcomingevents.EventId">
                                <div class="home_events_main no-margin">
                                    <div class="event-thumb">
                                        @*<img src="blank.gif" class="lazy" data-src="../CSSWeb/images/events/thumb-1.jpg" alt="events">*@
                                        @if (Upcomingevents.cropedimage != null && Upcomingevents.cropedimage != "")
                                        {
                                            <img src="~/EventsAndTipsimages/@Upcomingevents.cropedimage" alt="" style="height:102px;width:102px" />
                                        }
                                        @if (Upcomingevents.cropedimage == null || Upcomingevents.cropedimage == "")
                                        {
                                            <img src="~/EventsAndTipsimages/@Upcomingevents.Image" alt="" style="height:102px;width:102px" />
                                        }
                                    </div>
                                    <div class="event-details">
                                        <h2>@Upcomingevents.Title</h2>
                                        <p class="event-desc" style="color:#838383;overflow:hidden;line-height: 1.5em;height:3em">@Upcomingevents.Description</p> @*.ToString().Substring(0, 5)*@
                                        <p><i class="ti-location-pin"></i>@Upcomingevents.Location</p>
                                        <p><i class="ti-user"></i>@Upcomingevents.Person</p>
                                        <p><i class="ti-mobile"></i>@Upcomingevents.Phone</p>
                                        <p><i class="ti-calendar"></i>@Upcomingevents.Eventstartdate.ToString("dd-MM-yyyy")</p> @*am*@
                                        @*<p>Rs.@Html.Encode(string.Format("{0:2}", Upcomingevents.Price))</p>*@
                                        <p>Rs.@Upcomingevents.Price</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }

                }
                else
                {
                    <div class="home_events_main no-margin">
                        <div class="event-details">
                            <h2>No Upcoming Events found</h2>
                        </div>
                    </div>
                }
            </ul>
            <div class="loadMore" id="Event">
                <button name="loadmore" id="LoadMore1" class="btn btn-green more-button" onclick="load()"><i class="ti-reload"></i> Load More</button>
                @*<button class="btn btn-green more-button" onclick="location.href = 'Events'"><i class="ti-share"></i> View All Events</button>*@
            </div>
        </div>
    </div>
</article>

<script src="~/Scripts/jquery.min.js"></script>

<script>
    function load() {
        var lastrecord = document.getElementById("EventLastRecord").value;

        var obj = {};
        obj.lastrecord = lastrecord;

        $.ajax({
            type: "POST",
            url: '/Events/Loadmore',
            data: {},
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.length == 4) {
                    $.each(data, function (key, value) {
                        //$("#EventsDiv").append('<li> <a href="#"> <div class="home_events_main no-margin"> <div class="event-thumb"> <img src="~/EventsAndTipsimages/' + value.image + ' " alt="" style="height:102px;width:102px"/> </div>  <div class="event-details"><h2>' + value.Title + '</h2> <p class="event-desc" style="color:#838383;overflow:hidden;line-height:1.5em;height:3em;">' + value.Description + '</p> <p><i class="ti-user"></i> ' + value.Person + '</p> <p><i class="ti-mobile"></i>' + value.Phone + '</p> <p><i class="ti-calendar"></i> ' + value.Updateddate + '</p> </div> </div> </a> </li>');
                        var date = new Date(parseInt(value.Eventstartdate.substr(6))).toLocaleDateString().split('/');
                        var Eventimage;
                        if (value.cropedimage != null && value.cropedimage != "") {
                            Eventimage = value.cropedimage;
                        }
                        else {
                            Eventimage = value.Image;
                        }
                        $("#EventsDiv").append('<li> <a href="/EventInfo?id=' + value.EventId + '"> <div class="home_events_main no-margin"> <div class="event-thumb"> <img src="/EventsAndTipsimages/' + Eventimage + ' " alt="" style="height:102px;width:102px" /> </div> <div class="event-details"> <h2> ' + value.Title + '</h2> <p class="event-desc" style="color:#838383;overflow:hidden;line-height: 1.5em;height:3em"> ' + value.Description + ' </p> <p><i class="ti-location-pin"></i> ' + value.Location + ' </p> <p><i class="ti-user"></i> ' + value.Person + ' </p> <p><i class="ti-mobile"></i> ' + value.Phone + ' </p> <p><i class="ti-calendar"></i> ' + date[1] + '-' + date[0] + '-' + date[2] + ' </p>   <p>Rs.' + value.Price + '</p> </div> </div> </a> </li>');
                        document.getElementById("EventLastRecord").value = value.EventId;
                    });
                }
                else {
                    alert("That's All Folks!!!");
                }
            }
        });
    }
</script>

<script>
    window.onload = function () {
        $('#EventLastRecord').val($('#Event1').val());
    }
</script>





