@model MaaAahwanam.Models.ServiceRequest
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/ServicesMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Quotation Submit</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="../Index/index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="../Quatation">Services</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Quotation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<style>
    .bidding_form textarea {
    resize: none;
}
</style>
<article>
    <div class="about_categories">
        <select>
            <option>Beautician</option>
            <option>Photographers</option>
            <option>Cake Vendors</option>
            <option>Caterer Decorators</option>
            <option>Designer Photographers</option>
            <option>Entertainment</option>
            <option>Fireworks</option>
            <option>Godi wale</option>
        </select>
    </div>
    <div class="about_content">
        <div class="heading-title">
            <h2>Submit your Quotation</h2>
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

        <p>But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        @*@using (Html.BeginForm("Index", "QuoatationSubmit", FormMethod.Post, new { @class = "form-signin", @id = "register_form", @autocomplete = "off" }))
        {*@
        <form id="register_form" class="form" method="post">
            <div class="displayDiv">
                <div class="bidding_form">

                    <li style="list-style-type:none">
                        <label style="color:#666;font-size:13px;">Name</label>
                        @*<input type="text" name="event" placeholder="Enter your budjet in rupees">*@
                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })

                    </li>
                    <ul>
                        <li>
                            <label>Budget</label>
                            @*<input type="text" name="event" placeholder="Enter your budjet in rupees">*@
                            @Html.TextBoxFor(model => model.Budget, new { placeholder = "Enter your budget in rupees"})
                        </li>
                        <li>
                            <label>Service Type <span>*</span></label>
                            @*<br/>*@
                            @Html.DropDownList("ddlservice", new SelectList(
                                    new List<Object>{
                                        //new {Text ="Select your Service", Value = ""},
                                            new { Text ="Venue", Value = "Venue"  },
                                            new { Text ="Catering", Value = "Catering" },
                                            new { Text ="Photography", Value = "Photography" },
                                            new { Text ="InvitationCard", Value = "InvitationCard" },
                                            new { Text ="Decorator", Value = "Decorator" },
                                            new { Text ="Entertainment", Value = "Entertainment" },
                                            new { Text ="Eventorganiser", Value = "Eventorganiser" },
                                            new { Text ="BeautyService", Value = "BeautyService" },
                                            new { Text ="Travel", Value = "Travel" },
                                            new { Text ="Gift", Value = "Gift" },
                                            new { Text ="WeddingCollection", Value = "WeddingCollection" },
                                            new { Text ="Other", Value = "Other" },
                           },
                            "value", "text"), new { @multiple = "multiple", @id = "ddlservice", @onchange = "GetSelectedTextValue(this)", placeholder = "Choose Your Services", required = "required" })
                            @Html.HiddenFor(Model => Model.ServiceType, new { @id = "hdnservices" })
                        </li>
                        @*@class = "validate[required] form-control"*@
                    </ul>
                    <ul>
                        <li>
                            <label>Preferences<span>*</span></label>
                            @*<textarea name="Preferences" placeholder="Preferences"></textarea>*@
                            @Html.TextAreaFor(model => model.Preferences, new { placeholder = "Preferences" })
                        </li>
                        <li>
                            <label>Event Address  <span>*</span></label>
                            @*<textarea name="Event Address" placeholder="Event Address"></textarea>*@
                            @Html.TextAreaFor(model => model.EventAddress, new {  placeholder = "Event Address" })
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label>Event Location <span>*</span></label>
                            @*<input type="text" name="event" placeholder="Event Location">*@
                            @Html.TextBoxFor(model => model.EventLocation, new { placeholder = "Event Location" })
                        </li>
                        <li>
                            <label>State <span>*</span></label>
                            @*<select class="selectBox">
                                <option>Select State</option>
                                <option value="1">Andhrapradesh</option>
                                <option value="2">Telangana</option>
                                <option value="3">Kerala</option>
                                <option value="4">Kanataka</option>
                                <option value="5">Tamilnadu</option>
                            </select>*@

                            @Html.DropDownListFor(Model => Model.State, new SelectList(
                                          new List<Object>{
                                              new {Text ="Select State", Value = ""},
                                               new { Text ="Andhrapradesh", Value = "Andhrapradesh"  },
                                               new { Text ="Telangana", Value = "Telangana" },
                                               new { Text ="Kerala", Value = "Kerala" },
                                               new { Text ="Kanataka", Value = "Kanataka" },
                                               new { Text ="Tamilnadu", Value = "Tamilnadu" },
                                            },
                                          "value", "text"), new { @class = "validate[required] form-control" })
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label>City <span>*</span></label>
                            @*<input type="text" name="city" placeholder="City">*@
                            @Html.TextBoxFor(model => model.City, new {  placeholder = "City" })
                        </li>
                        <li>
                            <label>Postal Code <span>*</span></label>
                            @*<input type="text" name="postcal_code" placeholder="Postal Code">*@
                            @Html.TextBoxFor(model => model.PostalCode, new {  placeholder = "Postal Code"})
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label>Email <span>*</span></label>
                            @*<input type="text" name="Email" placeholder="satyam.g@siriinnovations.com">*@
                            @Html.TextBoxFor(model => model.EmailId, new { placeholder = "satyam.g@siriinnovations.com" })
                        </li>
                        <li>
                            <label>Phone <span>*</span></label>
                            @*<input type="text" name="postcal_code" placeholder="96525 44441">*@
                            @Html.TextBoxFor(model => model.PhoneNo, new { placeholder = "96525 44441" })
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="event-date">
                                <label>Event Start Date <span>*</span></label>
                                @*<input type="text" name="Email" placeholder="DD/MM/YYYY" id="datetimepicker1">*@
                                @Html.TextBoxFor(model => model.EventStartDate, new { @id = "datetimepicker1", @name = "EventStartDate", placeholder = "DD/MM/YYYY", required = "required" })
                            </div>
                            <div class="event-date">
                                <label>Event Start Time <span>*</span></label>
                                @*<input type="text" name="Email" placeholder="HH:MM" id="datetimepicker3">*@
                                @Html.TextBoxFor(model => model.EventStartTime, new { @id = "datetimepicker3", @name = "EventStartTime", placeholder = "HH:MM", required = "required" })
                            </div>
                        </li>
                        <li>
                            <div class="event-date">
                                <label>Event End Date <span>*</span></label>
                                @*<input type="text" name="Email" placeholder="DD/MM/YYYY" id="datetimepicker2">*@
                                @Html.TextBoxFor(model => model.EventEnddate, new { @id = "datetimepicker2", @name = "EventEnddate", placeholder = "DD/MM/YYYY", required = "required" })
                            </div>
                            <div class="event-date">
                                <label>Event End Time <span>*</span></label>
                                @*<input type="text" name="Email" placeholder="HH:MM" id="datetimepicker4">*@
                                @Html.TextBoxFor(model => model.EventEndtime, new { @id = "datetimepicker4", @name = "EventEndtime", placeholder = "HH:MM", required = "required" })

                            </div>
                        </li>
                    </ul>
                    <div class="alert alert-error" id="alert" style="display:none;">
                        <strong>Oh snap!</strong>

                        <p></p>
                    </div>
                    <ul>
                        <li>&nbsp;</li>
                        <li>
                            @*<a href="~/QuoatationConfirm/Index" class="btn btn-big btn-green float-right">Submit <i class="ti-angle-double-right"></i></a>*@
                            <button type="submit" class="btn btn-big btn-green float-right" id="btnsubmit">Submit <i class="ti-angle-double-right"></i></button>
                        </li>
                    </ul>

                </div>
            </div>
            </form>
            @*}*@
            @*<select id="people" multiple="multiple">
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>*@
            <!-- displayDiv -->

</div>
</article>
<div class="clear"></div>
@section advertisement
{
    @*<div class="ad">
            <div class="pageWidth">
                <div class="ad_728 margin_bottom_20"><img src="../CSSWeb/images/ad_728_2.jpg" alt="advertise"></div>
            </div>
        </div>*@
}
<script src="~/CSSWeb/jquery.js"></script>
<script src="~/CSSWeb/ui.core.js"></script>
<script src="~/CSSWeb/ui.dropdownchecklist.js"></script>
<link href="~/CSSWeb/ui.dropdownchecklist.css" rel="stylesheet" />


<script>
    //ddlservice
    function GetSelectedTextValue(value) {
        var message = "";
        //var slength = document.getElementById('ddlservice');
        var slength = $('#ddlservice :selected').length;
        var selecteditems = $('#ddlservice :selected')
        var sv = "";
        for (var i = 0; i < slength; i++) {
            if (sv != "") {
                sv = sv + ',' + selecteditems[i].value;
            }
            else {
                sv = selecteditems[i].value;
            }
        }
        document.getElementById('hdnservices').value = sv;

        //alert(document.getElementById('hdnservices').value);
        //    for(ListItem item in lstFruits.Items)
        //    {
        //        if (item.Selected)
        //    {
        //            message += item.Text + " " + item.Value + "\\n";
        //}
        //}
    }
    $("#ddlservice").dropdownchecklist({  maxDropHeight: 120,
        customTextFn: function (opts) {
            var count = 0;
            var first = null;
            for (var i = 0, len = opts.length; i < len; ++i) {
                if (opts[i].selected) {
                    if (!first) {
                        first = opts[i].text;
                    }
                    ++count;
                }
            }
            switch (count) {
                case 0:
                    return "No Services Selected";
                case 1:
                    return first;
                case opts.length:
                    return "All Services Selected";
                default:
                    return count + " Services"
            }
        }
    });
    //$('#people').dropdownchecklist();

</script>

@*Validation*@
<script>
    $(document).ready(function () {

        $("#register_form").validate({
            rules: {
                Name: {
                    required: true
                },
                EmailId: {
                    required: true,
                    email: true
                },
                PhoneNo: {
                    required: true,
                    number: true,
                    minlength: 10,
                    maxlength: 12
                },
                State: {
                    required: true
                },
                ddlservice: {
                    required: true
                },
                Budget: {
                    required: true,
                    number: true,
                    minlength: 6
                },
                EventLocation: {
                    required: true
                },
                City: {
                    required: true
                },
                PostalCode: {
                    required: true,
                    number: true,
                    minlength: 6
                },

                Preferences: {
                    required: true
                },
                EventAddress: {
                    required: true
                }

            },
            messages: {
                Name: {
                    required: "Please Enter Your Name"
                },
                EmailId: {
                    required: "Please Enter Your Email-ID "
                },
                PhoneNo: {
                    required: "Please Enter Your Phone Number"
                },
                State: {
                    required: "Please Select State"
                },
                ddlservice: {
                    required: "Please Select Services"
                },
                Budget: {
                    required: "Please Enter Your Budget"
                },
                EventLocation: {
                    required: "Please Enter Event Location"
                },
                City: {
                    required: "Please Enter City"
                },
                PostalCode: {
                    required: "Please Enter Postal Code"
                },
                Preferences: {
                    required: "Please Enter Your Preferences"
                },
                EventAddress: {
                    required: "Please Enter Event Address"
                },
            },
        });

    });
</script>

<script>
    $("#Budget").keypress(function (event) {
        if (event.which == 45 || event.which == 189 || event.which == 48 && this.value.length == 0) {
            event.preventDefault();
        }
    });
    $("#PostalCode").keypress(function (event) {
        if (event.which == 45 || event.which == 189 || event.which == 48 && this.value.length == 0) {
            event.preventDefault();
        }
    });
</script>