@model  MaaAahwanam.Models.UserDetail
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Edit Profile</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        @if (ViewBag.Type == "User")
                        {
                            <li><a href="~/index/Index">Home</a></li>
                        }
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="../Dashboard">Dashboard</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Edit Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<div class="edit-profile">
    @*<form id="edit_profile" class="form">*@
    @using (Html.BeginForm("Index", "EditProfile", FormMethod.Post, new { @class = "form", @id = "edit_profile", @autocomplete = "off" }))
    {
        <ul>
            <li>
                <label>First Name<span>*</span></label>
                @*<input type="text" id="fname" name="firstname" placeholder="First Name">*@
                @Html.TextBoxFor(a => a.FirstName, new { @id = "firstname", @name = "firstname", placeholder = "First Name" })
            </li>
            <li>
                <label>Last Name<span>*</span></label>
                @*<input type="text" id="lname" name="lastname" placeholder="last Name">*@
                @Html.TextBoxFor(a => a.LastName, new { @id = "lastname", @name = "lastname", placeholder = "last Name" })
            </li>
        </ul>
        <ul>
            <li>
                <label>Alternative Email ID<span>*</span></label>
                @*<input type="text" id="email" name="email" placeholder="Email">*@
                @Html.TextBoxFor(a => a.AlternativeEmailID, new { @id = "email", @name = "Alternative EmailID", placeholder = "Alternative EmailID", @type = "email" })
            </li>
            <li>
                <label>Gender<span>*</span></label>
                @*<select name="gender" id="gender">
                        <option value="">---Select---</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>*@
                @Html.DropDownListFor(a => a.Gender, new SelectList(
                                          new List<Object>{
                                              new {Text ="Select your Gender", Value = ""},
                                               new { Text ="Female", Value = "Female"  },
                                               new { Text ="Male", Value = "Male" },
                                            },
                                          "value", "text"), new { @class = "validate[required] form-control" })
            </li>
        </ul>
        <ul>
            <li>
                <label>Mobile Number<span>*</span></label>
                @*<input type="text" id="mobile" name="mobile" placeholder="Mobile Number">*@
                @Html.TextBoxFor(a => a.UserPhone, new { @id = "lastname", @name = "lastname", placeholder = "last Name" })
            </li>
            <li>
                <label>Location</label>
                @*<input type="text" id="mobile2" name="mobile2" placeholder="Alternative Mobile Number">*@
                @Html.TextBoxFor(a => a.Address, new { @id = "Address", @name = "Address", placeholder = "Location" })
            </li>
        </ul>
        <ul>
                <li>
                    <label>Landmark</label>
                    @*<input type="text" id="street1" name="street2" placeholder="Street Name">*@
                    @Html.TextBoxFor(a => a.Landmark, new { @id = "Landmark", @name = "Landmark", placeholder = "Landmark" })
                </li>
                <li>
                    <label>URL</label>
                    @*<input type="text" id="street2" name="street2" placeholder="Street Name">*@
                    @Html.TextBoxFor(a => a.Url, new { @id = "Url", @name = "Url", placeholder = "Url" })
                </li>
            </ul>
        <ul>
            <li>
                <label>Country</label>
                @*<select name="select_option" id="select_option">
                        <option value="">---Select---</option>
                        <option value="1">India</option>
                        <option value="2">USA</option>
                    </select>*@
                @Html.DropDownListFor(a => a.Country, new SelectList(
                                          new List<Object>{
                                              new {Text ="Select your Country", Value = ""},
                                               new { Text ="India", Value = "India"  },
                                               new { Text ="USA", Value = "USA" },
                                            },
                                          "value", "text"), new { @class = "validate[required] form-control" })
            </li>
            <li>
                <label>State</label>
                @*<select name="select_option" id="select_option">
                        <option value="">---Select---</option>
                        <option value="1">Andhrapradesh</option>
                        <option value="2">Telangana</option>
                    </select>*@
                @Html.DropDownListFor(a => a.State, new SelectList(
                                          new List<Object>{
                                              new {Text ="Select your State", Value = ""},
                                               new { Text ="Andhrapradesh", Value = "Andhrapradesh"  },
                                               new { Text ="Telangana", Value = "Telangana" },
                                            },
                                          "value", "text"), new { @class = "validate[required] form-control" })
            </li>
        </ul>
        <ul>
            <li>
                <label>City :</label>
                @*<input type="text" id="street1" name="street2" placeholder="Street Name">*@
                @Html.TextBoxFor(a => a.City, new { @id = "City", @name = "City", placeholder = "City" })
            </li>
            <li>
                <label>ZIP</label>
                @*<input type="text" id="street2" name="street2" placeholder="Street Name">*@
                @Html.TextBoxFor(a => a.ZipCode, new { @id = "ZipCode", @name = "ZipCode", placeholder = "ZipCode" })
            </li>
        </ul>
        <div class="btn-left">
            <button type="submit" class="btn btn btn-orange m-l-0"><i class="ti-save"></i>Update</button>
            @*<button type="button" href="../Dashboard" class="btn btn btn-red"><i class="ti-close"></i>Cancel</button>*@
            <a href="../Dashboard" class="btn btn btn-red"><i class="ti-close"></i>Cancel </a>
            <div class="clear"></div>
        </div>
        @*</form>*@
    }
    <div class="clear"></div>
</div>
@*<script>
    alert('test');
</script>*@