@model MaaAahwanam.Models.Enquiry
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Contact Us</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="../Index/index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<script  src="~/CSSWeb/js/jquery-1.9.1.js"></script>
<script  src="~/Scripts/validate.js"></script>
<section>
    <div class="about_main">
        <div class="pageWidth">

            <div class="about_categories">
                <select>
                    <option>Beautician</option>
                    <option>Photographers</option>
                    <option>Cake Vendors</option>
                    <option>Caterer Decorators</option>
                    <option>Designer Photographers</option>
                    <option>Entertainment</option>
                    <option>Fireworks</option>
                    <option>Godi wale</option>
                </select>
            </div>

            <div class="contactForm">
                <div class="leftPanel">
                    @*@using (Html.BeginForm("Index", "ContactUs", FormMethod.Post, new { @class = "form", @id = "contact_form" }))
                    {*@
                        <form id="contact_form" class="form" method="post">
                        <ul>
                            <li>
                                <label>Name<span>*</span></label>
                                @Html.TextBoxFor(Model => Model.PersonName, new { placeholder = "First Name" }) @*, required = "required"*@
                            </li>
                            <li>
                                <label>Email<span>*</span></label>
                                @Html.TextBoxFor(Model => Model.SenderEmailId, new {  placeholder = "Email"})
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label>Phone<span>*</span></label>
                                @Html.TextBoxFor(Model => Model.SenderPhone, new {  placeholder = "Phone" })
                            </li>
                            <li>
                                <label>Country <span>*</span></label>
                                @Html.DropDownListFor(Model => Model.Country, new SelectList(
                                          new List<Object>{
                                              new {Text ="Select Country", Value = ""},
                                               new { Text ="India", Value = "India"  },
                                               new { Text ="USA", Value = "USA" },
                                               new { Text ="Australia", Value = "Australia" },
                                            },
                                          "value", "text"), new { @class = "validate[required] form-control" })
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label>Postal Code</label>
                                @Html.TextBoxFor(Model => Model.PostalCode, new {  placeholder = "Postal Code" })
                            </li>
                            <li>
                                <label>Company Name<span>*</span></label>
                                @Html.TextBoxFor(Model => Model.CompanyName, new {  placeholder = "Company Name" })
                            </li>
                        </ul>
                        <ul>
                            <li class="full">
                                <label>Message<span>*</span></label>
                                @Html.TextAreaFor(Model => Model.EnquiryDetails, new { @class = "validate[required] form-control" })
                            </li>
                        </ul>
                        <button type="submit" class="btn btn-green">Submit <i class="ti-angle-double-right"></i></button>
                        </form>
                    @* } *@
                </div>
                <div class="rightPanel">
                    <div class="contactList">
                        <h3>
                            Corporate Office
                            <span></span>
                        </h3>
                        <ul>
                            <li> <i class="ti-location-pin"></i> </li>
                            <li>#311/A, Road No.12,</li>
                            <li>MLA Colony, Banjara Hills</li>
                        </ul>
                        <ul>
                            <li> <i class="ti-mobile"></i></li>
                            <li>(+91) 40 64640441</li>
                        </ul>
                        <ul>
                            <li> <i class="ti-email "></i></li>
                            <li><a href="mailto:contact@maa-aahwanam.com">contact@maa-aahwanam.com</a></li>
                        </ul>
                        <ul>
                            <li> <i class="ti-world "></i></li>
                            <li><a href="https://www.maa-aahwanam.com">www.maa-aahwanam.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="contact_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7613.600455475163!2d78.42730221930498!3d17.421372235802192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb96cc62a87613%3A0xa8317fa22362be49!2sJubilee+Hills%2C+Hyderabad%2C+Telangana!5e0!3m2!1sen!2sin!4v1450762809488" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="support" id="support">
            <div class="support_mask"></div>
            <div class="pageWidth">
                <div class="col-left">
                    <h3>Support</h3>
                    <p>But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="col-right">
                    <div class="support_box">
                        <p>Our Support executives are availble Monday to Friday from 10 AM - 6 Pm</p>
                        <span class="divider">&nbsp;</span>
                        <p>Conact : +91 96525 4441</p>
                        <p>Tollfree : 1800 800 6523</p>
                        <p>Email : <a href="mailto:contact@maa-aahwanam.com">contact@maa-aahwanam.com</a></p>

                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<div class="clear"></div>

@*<script>
    $(document).ready(function () {

        
    });
</script>*@

<script>
    $("#PostalCode").keypress(function (event) {
        if (event.which == 45 || event.which == 189 || event.which == 48 && this.value.length == 0) {
            event.preventDefault();
        }
    });
</script>