<style>
    .h6-in {
        cursor: pointer;
        margin:0 0 5px 20px;
    }
</style>
<div class="col-md-2-2" id="menusidebar">
    <br />
    <h6 class="h6-in" onclick="location.href = '/VDashboard'">Dashboard	</h6>
    <h6 class="h6-in">Quotes</h6>
    <h6 class="h6-in" onclick="location.href = '/VDashboard?c=orders'">Orders</h6>
    <h6 class="h6-in" onclick="location.href = '/ManageUser'">Customers/clients</h6>
    <h6 class="h6-in" onclick="location.href = '/ManageVendor'">Suppliers</h6>
    <h6 class="h6-in" onclick="location.href = '/ReSellerManagement'">Resellers/partners</h6>
    @*<h6 class="h6-in">Add Availability</h6>*@
    <div role="tablist" class="add_bottom_45 accordion_2" id="allservices">
        <div class="card">
            <div class="card-header" role="tab" style="padding: 3px 0px 0px 20px;">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne_allservices" aria-expanded="false" style="text-transform:uppercase;color:black">
                        <i class="indicator ti-minus"></i>Services
                    </a>
                </h5>
            </div>

            <div id="collapseOne_allservices" class="collapse show" role="tabpanel" data-parent="#allservices">
                <div class="card-body" style="padding: 5px 0px 0px 10px;">
                    @foreach (var item in ViewBag.venues)
                    {
                        if (item.VenueType == "" || item.VenueType == null)
                        {
                            <div> <a class="subcatclose" value="@item.Id,Venue" style="padding-left: 20px;color: red;font-size: 12px;">X</a> <a class="h6-in" style="color:black;" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">Venue</a></div>
                        }
                        else
                        {
                            <div>  <a class="subcatclose" value="@item.Id,@item.name,@item.VenueType,Venue"  style="padding-left: 20px;color: red;font-size: 12px;">X</a>  <a class="h6-in" style="color:black;" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">  @item.name - @item.VenueType</a> </div>
                        }
                    }
                    @foreach (var item in ViewBag.catering)
                    {
                        <div><a class="subcatclose" value="@item.Id,,@item.CuisineType,Catering" style="padding-left: 20px;color: red;font-size: 12px;">X</a> <a class="h6-in" style="color:black;" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">@item.CuisineType</a></div>
                    }
                    @foreach (var item in ViewBag.photography)
                    {
                      <div>  <a class="subcatclose"value="@item.Id,,@item.PhotographyType,Photography" style="padding-left: 20px;color: red;font-size: 12px;">X</a> <a class="h6-in" style="color:black;" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">@item.PhotographyType</a></div>
                    }
                    @foreach (var item in ViewBag.decorators)
                    {
                        <div><a class="subcatclose" value="@item.Id,,@item.DecorationType,Decorator" style="padding-left: 20px;color: red;font-size: 12px;">X</a> <a class="h6-in" style="color:black;" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">@item.DecorationType</a></div>
                    }
                    @foreach (var item in ViewBag.others)
                    {
                     <div>   <a class="subcatclose" value="@item.Id,,@item.type,Other" style="padding-left: 20px;color: red;font-size: 12px;">X</a> <a class="h6-in" style="color:black;" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">@item.type</a></div>
                    }
                </div>
            </div>
        </div>
    </div>
    @*<h6 class="h6-in">Services</h6>
        @foreach (var item in ViewBag.venues)
         {
             <h6 class="h6-in" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">@item.VenueType</h6>
         }
         @foreach (var item in ViewBag.catering)
         {
             <h6 class="h6-in" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">@item.CuisineType</h6>
         }
         @foreach (var item in ViewBag.photography)
         {
             <h6 class="h6-in" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">@item.PhotographyType</h6>
         }
         @foreach (var item in ViewBag.decorators)
         {
             <h6 class="h6-in" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">@item.DecorationType</h6>
         }
         @foreach (var item in ViewBag.others)
         {
             <h6 class="h6-in" onclick="location.href = '/VDashboard/Index?c=first&&vsid=' + @item.Id">@item.type</h6>
         }*@
    <div id="addservices" style="height:150px">
        <div id="addcategory" style="height:60px">
            <select class="form-control" id="serviceselection1" name="serviceselection1" style="height:40px">
                <option disabled selected>Select Service Type</option>
                <option value="Venue">Venue</option>
                <option value="Catering">Catering</option>
                <option value="Photography">Photography</option>
                <option value="Decorator">Decorator</option>
                <option value="Other">Others</option>
            </select>
        </div>
        @*<input type="hidden" id="serviceselection" name="serviceselection" value="@ViewBag.category" />*@
        @*<div class="addsubcategory">
            <select class="form-control" id="subcategory" name="subcategory" style="display:none ;height:40px"></select>
        </div>*@
        <div>
            <button type="button" onclick="addservicenow()" class="btn btn-1 addbutton" style="border-radius:1px;width:230px;color:#fff;background-color:red; font-size:14px;">
                submit
            </button>
        </div>
    </div>
    <div id="addservicesbutton" style="height:150px">
        <button type="button" onclick="addservice()" class="btn btn-1 " style="border-radius:1px;width:230px;color:#fff;background-color:red; font-size:14px;">
            Add Service
        </button>
    </div>
</div>


