@model MaaAahwanam.Models.IssueTicket
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Tickets</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        @if (ViewBag.Type == "User")
                        {
                            <li><a href="~/index/Index">Home</a></li>
                        }
                        <li><i class="breads_arrow"></i></li>
                        <li>Tickets</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div class="dashInner">
    <div class="tickets_header">
        <h3>All Tickets</h3>
        <a href="#newTicket" class="popup-with-move-anim">New Ticket</a>
    </div>
    <div class="clear"></div>
    <!-- popup -->
    <div id="newTicket" class="zoom-anim-dialog mfp-hide large-dialog">
        <div class="popup-box pop-content">
            <div class="popup-head">
                <h3>Add New Ticket</h3>
            </div>
            <!-- /popup-head -->
            <div class="popup-space popup-desc-space">
                <div class="dashboardList">
                    @*<form id="contact_form" class="form">*@
                    @using (Html.BeginForm("Index", "Tickets", FormMethod.Post, new { @class = "form", @id = "contact_form", required = "required" }))
                    {
                        <ul>
                            <li>
                                <label>Name</label>
                                @*<input type="text" id="fname" name="name" placeholder="Name">*@
                                @Html.TextBoxFor(Model => Model.Name, new { @id = "fname", @name = "name", placeholder = "Name", required = "required" })
                            </li>
                            <li>
                                <label>Category</label>
                                @Html.HiddenFor(Model => Model.UserLoginId)
                                @Html.DropDownListFor(Model => Model.IssueType, new SelectList(
                            new List<Object>{
                            new  { Text ="Select Category", Value = ""},
                            new  { Text ="Request Process", Value = "Request Process"},
                            new  { Text ="Information On Site", Value = "Information On Site"},
                            new  { Text ="Service Execution", Value = "Service Execution"},
                                }, "value", "text"), new { @class = "form-control", required = "required" })

                            </li>
                        </ul>

                        <ul>
                            <li>
                                <label>Priority</label>
                                @Html.DropDownListFor(Model => Model.Severity, new SelectList(
                            new List<Object>{
                            new  { Text ="Select Priority", Value = ""},
                            new  { Text ="Urgent", Value = "Urgent"},
                            new  { Text ="High", Value = "High"},
                            new  { Text ="Medium", Value = "Medium"},
                            new  { Text ="Low", Value = "Low"},
                                }, "value", "text"), new { @class = "form-control", required = "required" })
                            </li>
                            <li>
                                <label>Subject</label>
                                @Html.TextBoxFor(Model => Model.Subject, new { @id = "subject", @name = "subject", placeholder = "Subject", required = "required" })
                            </li>
                        </ul>
                        @*<ul>
                                <li class="fullwidth">
                                    <label>Description</label>
                                    @Html.TextAreaFor(Model => Model, 10, 55, new { @name = "Description", placeholder = "Description" })
                                </li>
                            </ul>*@
                        <ul>
                            <li>&nbsp;</li>
                            <li>
                                <button type="submit" name="submit" class="btn btn-big btn-green float-right" value="submit">Submit <i class="ti-angle-double-right"></i></button>
                            </li>
                        </ul>
                        @*</form>*@
                    }
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end popup -->
    <!-- /dashDetails -->
    <div class="dashboardList dashboardList-nospace">
        <table class="responsive" id="Issuetickettable">
            <thead>
                <tr>
                    <th style="width: 12%; cursor: pointer;" >Sl. No.</th>
                    <th style="width: 10%; cursor: pointer;">ID</th>
                    <th style="width: 28%; cursor: pointer;">Name</th>
                    <th style="width: 35%; cursor: pointer;">Subject</th>
                    <th style="width: 18%; cursor: pointer;">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MaaAahwanam.Models.IssueTicket s in ViewBag.Issueticketslist)
                {
                    <tr>
                        @*<td>@s.TicketId</td>*@
                        <td>@( ((Int32)1) + @ViewBag.Issueticketslist.IndexOf(s))</td>
                        <td><a href="../TicketDetails?tid=@s.TicketId" class="green-link">@s.TicketId</a></td>
                        <td>@s.Name</td>
                        <td>@s.Subject</td>
                        <td>@s.UpdatedDate.Value.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="clear"></div>
    </div>
    <!-- /dashboardList -->

</div>
<script type="text/javascript">
    window.onload = function () {
        $('#Issuetickettable').dataTable({ bFilter: false, ordering: true, bLengthChange: false, "pageLength": 6 });
    };
</script>