@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

@*<div class="feedback_right">
        <a href="#" class="email-signup-link"><img src="../CSSWeb/images/btn-request.png" alt=""></a>
        <div class="email-signup">
            <ul>
                <li><a href="~/Deals/Index">Book Now</a></li>
                <li><a href="~/Invitation/Index">Invitation</a></li>
                <li><a href="~/QuatationSubmit/Index">Quatation</a></li>
                <li><a href="~/Bidding/Index">Bidding</a></li>
                <li><a href="~/ReturnGift/Index">Return Gifts</a></li>
            </ul>
        </div>
    </div>*@
@*<meta http-equiv="refresh" content="300" />*@
<section>
    <div class="slider">
        @*@using (Html.BeginForm("Index", "AllServices", FormMethod.Post))
            {*@
        <div class="ms-layer search-box" style="left:0; right:0; top:215px;">
            <div class="select-cats">
                <input type="hidden" id="hdnselected" />
                <form autocomplete="off">
                    <select id="e2" style="width:100%" onchange="change(this.value)">
                        <option>Select Event</option>

                    </select>
                </form>
            </div>
            <div class="search-input">
                <input type="text" name="name" class="autosuggest" id="txt_Location_Bottom" placeholder="Enter your location">
            </div>
            <div class="submit-button">
                <button class="btn-1" value="Search" onclick="GetSearchValue_Bottom()">Search</button>
                @*<button class="btn-1" onclick="GetSearchValue_Bottom();" value="Search">Search</button>*@
            </div>
            <div class="searh-footer">
                @*<div class="left">
                        <input id="checkbox1" type="checkbox" name="checkbox" value="1" checked="checked">
                        <label for="checkbox1">Show Deals Only</label>
                    </div>*@
                <!--<div class="right"> <a href="deals.html">View All <i class="ti-angle-double-right"></i></a> </div>-->
            </div>
        </div>
        @*}*@
        <div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
            <div class="ms-slide slide-1" style="z-index: 10" data-delay="6">
                <img data-src="../CSSWeb/images/slider/slider-1.jpg" alt="slider-1" />
                <div class="mask"></div>
                <h3 class="ms-layer light-title" style="left:0; right:0;top:120px"
                    data-effect="back(1000)"
                    data-duration="1500"
                    data-delay="400"
                    data-ease="easeOutQuint">
                    Lorem ipsum dolor sit amet consectetur
                </h3>
                <p class="ms-layer normal-desc" style="left:0; right:0; top:180px; width:100%"
                   data-effect="bottom(40)"
                   data-duration="1700"
                   data-delay="900"
                   data-ease="easeOutQuint">Cras maximus ultrices erat et molestie. Curabitur at diam eleifend, vehicula orci sit amet</p>
            </div>
            <div class="ms-slide slide-1" style="z-index: 10" data-delay="6">
                <img data-src="../CSSWeb/images/slider/slider-2.png" alt="slider-1" />
                <div class="mask"></div>
                <h3 class="ms-layer light-title" style="left:0; right:0;top:120px"
                    data-effect="front(1000)"
                    data-duration="1500"
                    data-delay="400"
                    data-ease="easeOutQuint">
                    Duis autem vel eum iriure dolor
                </h3>
                <p class="ms-layer normal-desc" style="left:0; right:0; top:180px; width:100%"
                   data-effect="bottom(40)"
                   data-duration="1700"
                   data-delay="900"
                   data-ease="easeOutQuint">Mirum est notare quam littera gothica, quam nunc putamus parum claram</p>
            </div>
            <div class="ms-slide slide-1" style="z-index: 10" data-delay="6">
                <img data-src="../CSSWeb/images/slider/slider-3.jpg" alt="slider-1" />
                <div class="mask"></div>
                <h3 class="ms-layer light-title" style="left:0; right:0;top:120px"
                    data-effect="fade(400)"
                    data-duration="1500"
                    data-delay="400"
                    data-ease="easeOutQuint">
                    Lorem ipsum dolor sit amet
                </h3>
                <p class="ms-layer normal-desc" style="left:0; right:0; top:180px; width:100%"
                   data-effect="bottom(40)"
                   data-duration="1700"
                   data-delay="900"
                   data-ease="easeOutQuint">Cras maximus ultrices erat et molestie. Curabitur at diam eleifend, vehicula orci sit amet, condimentum nibh</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- /slider -->
</section>
<section>
    <div class="home-aboutus">
        <div class="pageWidth">
            <div class="home-aboutus-inner">
                <div class="video wow fadeInLeft animated">
                    @*<a title="" href="https://www.youtube.com/embed/8jKYP24uhzI" class="popup-youtube">*@
                    <a title="" href="https://www.youtube.com/watch?v=8jKYP24uhzI" class="popup-youtube">
                        <div class="zoomDiv">
                            <img src="../CSSWeb/images/maxresdefault.jpg" alt="Hqdefault">
                            <div class="hoverDiv"></div>
                        </div>
                    </a>
                </div>
                <div class="content wow fadeInLeft animated">
                    <div class="heading-title wow fadeInRight animated">
                        <h2>About Maa Aahwanam</h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
                <a href="../Aboutus" class="btn btn-white wow fadeInLeft animated">Read more</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="top-deals">
        <div class="pageWidth">
            <div class="heading-title">
                <h2>Top Deals</h2>
            </div>

            <!--Horizontal Tab-->
            <div id="parentHorizontalTab">
                <ul class="resp-tabs-list hor_1">
                    <li>Photographers</li>
                    <li>Tours & Travels </li>
                    <li>Decorators</li>
                    <li>Beauty Services</li>
                </ul>
                <div class="deals_all">
                    <a href="#">View All</a>
                    <div class="view_all_deals">
                        <span>&nbsp;</span>
                        <h3>Choose Category</h3>
                        <div class="deals_list">
                            <ul>
                                <li><a href="~/Deals?par=Venue&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Venues</a></li>
                                <li><a href="~/Deals?par=Catering&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Catering</a></li>
                                <li><a href="~/Deals?par=Photography&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Photography</a></li>
                                <li><a href="~/Deals?par=InvitationCard&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Invitation Cards</a></li>
                                <li><a href="~/Deals?par=Decorator&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Decorators</a></li>
                                <li><a href="~/Deals?par=Entertainment&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Entertainment</a></li>
                                <li><a href="~/Deals?par=Eventorganiser&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Event organisers</a></li>
                                <li><a href="~/Deals?par=BeautyService&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Beauty Services</a></li>
                                @*
                                    <li><a href="~/product?par=WeddingFavor"><i class="ti-angle-right"></i> Wedding Favors</a></li>*@
                                <li><a href="~/Deals?par=Travel&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Travel&Accommodation</a></li>
                                <li><a href="~/Deals?par=Gift&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Gifts</a></li>
                                <li><a href="~/Deals?par=WeddingCollection&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Wedding Collection </a></li>
                                <li><a href="~/Deals?par=Other&sType=%&loc=Hyderabad&a=ASC"><i class="ti-angle-right"></i> Others</a></li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="resp-tabs-container hor_1">
                    <div>
                        @*Photographer Details*@
                        @if (ViewBag.PhotographersDetails.Count != 0)
                        {
                            foreach (var PhDet in ViewBag.PhotographersDetails)
                            {
                                <div class="step2">
                                    <div class="deals-main">
                                        <div class="deal">
                                            <div class="deal-thumb">
                                                <a href="../Dealinfo?par=@PhDet.ServicType.Trim()&VID=@PhDet.Id&subvid=@PhDet.subid&did=@PhDet.DealID">
                                                    <div class="zoomDiv">
                                                        @if (PhDet.image != null)
                                                        {
                                                            @*<img src="~/vendorimages/Catering_13_1.jpg" />*@
                                                            <img data-src="../vendorimages/@PhDet.image" alt="thumb" src="blank.gif" class="lazy">
                                                        }
                                                        else if (PhDet.image == null)
                                                        {
                                                            <img src="~/noimages.png" alt="No Image" />
                                                        }
                                                        <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="deal-details">
                                                <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">@PhDet.BusinessName</h4>
                                                <div class="amount">
                                                    <span class="price">Rs. @PhDet.DealServicePrice</span> <span class="buy">
                                                        <a href="../Dealinfo?par=@PhDet.ServicType.Trim()&VID=@PhDet.Id&subvid=@PhDet.subid&did=@PhDet.DealID"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                                    </span>
                                                </div>
                                                <p style="color:#838383;width:200px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;">@PhDet.Description</p>
                                                <div class="deal-footer">
                                                    <ul>
                                                        <li><div class="rate" data-rate-value=5></div></li>
                                                        <li><i class="ti-comment-alt"></i> 1362</li>
                                                        <li><i class="ti-eye"></i> 1500</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No Deals Found</p>
                        }
                    </div>
                    <div>
                        @*Tours and Travells*@
                        @if (ViewBag.ToursandTravels.Count != 0)
                        {
                            foreach (var tnt in ViewBag.ToursandTravels)
                            {
                                <div class="step2">
                                    <div class="deals-main">
                                        <div class="deal">
                                            <div class="deal-thumb">
                                                <a href="../Dealinfo?par=@tnt.ServicType.Trim()&VID=@tnt.Id&subvid=@tnt.subid&did=@tnt.DealID">
                                                    <div class="zoomDiv">
                                                        @if (tnt.image != null)
                                                        {
                                                            <img src="blank.gif" class="lazy" data-src="../vendorimages/@tnt.image" alt="thumb">
                                                        }
                                                        else if (tnt.image == null)
                                                        {
                                                            <img src="~/noimages.png" alt="No Image" />
                                                        }
                                                        <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="deal-details">
                                                <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">@tnt.BusinessName</h4>
                                                <div class="amount">
                                                    <span class="price">Rs. @tnt.DealServicePrice</span> <span class="buy">
                                                        <a href="../Dealinfo?par=@tnt.ServicType.Trim()&VID=@tnt.Id&subvid=@tnt.subid&did=@tnt.DealID"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                                    </span>
                                                </div>
                                                <p style="color:#838383 ;width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@tnt.Description</p>
                                                <div class="deal-footer">
                                                    <ul>
                                                        <li><div class="rate" data-rate-value=5></div></li>
                                                        <li><i class="ti-comment-alt"></i> 1362</li>
                                                        <li><i class="ti-eye"></i> 1500</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No Deals Found</p>
                        }
                    </div>
                    <div>
                        @*Decorators*@
                        @if (ViewBag.Decorators.Count != 0)
                        {
                            foreach (var dec in ViewBag.Decorators)
                            {
                                <div class="step2">
                                    <div class="deals-main">
                                        <div class="deal">
                                            <div class="deal-thumb">
                                                <a href="../Dealinfo?par=@dec.ServicType.Trim()&VID=@dec.Id&subvid=@dec.subid&did=@dec.DealID">
                                                    <div class="zoomDiv">
                                                        @if (dec.image != null)
                                                        {
                                                            <img src="blank.gif" class="lazy" data-src="../vendorimages/@dec.image" alt="thumb">
                                                        }
                                                        else if (dec.image == null)
                                                        {
                                                            <img src="~/noimages.png" alt="No Image" />
                                                        }
                                                        <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="deal-details">
                                                <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">@dec.BusinessName</h4>
                                                <div class="amount">
                                                    <span class="price">Rs. @dec.DealServicePrice</span> <span class="buy">
                                                        <a href="../Dealinfo?par=@dec.ServicType.Trim()&VID=@dec.Id&subvid=@dec.subid&did=@dec.DealID"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                                    </span>
                                                </div>
                                                <p style="color:#838383 ;width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@dec.Description</p>
                                                <div class="deal-footer">
                                                    <ul>
                                                        <li><div class="rate" data-rate-value=5></div></li>
                                                        <li><i class="ti-comment-alt"></i> 1362</li>
                                                        <li><i class="ti-eye"></i> 1500</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No Deals Found</p>
                        }
                    </div>

                    <div>
                        @if (ViewBag.Beautician.Count != 0)
                        {
                            foreach (var dec1 in ViewBag.Beautician)
                            {
                                <div class="step2">
                                    <div class="deals-main">
                                        <div class="deal">
                                            <div class="deal-thumb">
                                                <a href="../Dealinfo?par=@dec1.ServicType.Trim()&VID=@dec1.Id&subvid=@dec1.subid&did=@dec1.DealID">
                                                    <div class="zoomDiv">
                                                        @if (dec1.image != null)
                                                        {
                                                            <img src="blank.gif" class="lazy" data-src="../vendorimages/@dec1.image" alt="thumb">
                                                        }
                                                        else if (dec1.image == null)
                                                        {
                                                            <img src="~/noimages.png" alt="No Image" />
                                                        }
                                                        <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="deal-details">
                                                <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">@dec1.BusinessName</h4>
                                                <div class="amount">
                                                    <span class="price">Rs. @dec1.cost</span> <span class="buy">
                                                        <a href="../Dealinfo?par=@dec1.ServicType.Trim()&VID=@dec1.Id&subvid=@dec1.subid&did=@dec1.DealID"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                                    </span>
                                                </div>
                                                <p style="color:#838383;width: 200px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;">@dec1.Description</p>
                                                <div class="deal-footer">
                                                    <ul>
                                                        <li><div class="rate" data-rate-value=5></div></li>
                                                        <li><i class="ti-comment-alt"></i> 1362</li>
                                                        <li><i class="ti-eye"></i> 1500</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No Deals Found</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonials -->
@if (ViewBag.Testimonials.Count != 0)
            {
    <section>
        <div class="pageWidth">
            <div class="testimonials">

                <div class="heading-title">
                    <h2>What Our Customers Say!</h2>
                </div>
                <div id="testimonials" class="owl-carousel owl-theme">
                    @foreach (var item in @ViewBag.Testimonials)
                    {
                        @*<div class="item">
                                <div class="studentPic">
                                    <div class="studentPic-inner">
                                        <div><img src="../Testimonial/@item.ImagePath" alt="user">  </div>
                                    </div>
                                </div>
                                <div class="studentTest">
                                    <p>
                                        @item.Description
                                        <a href="~/Testimonials">......More</a>
                                    </p>
                                    <div class="stuTitle">
                                        @item.Name
                                    </div>
                                    <small>@item.City</small>
                                </div>
                            </div>*@
                        <div class="item">
                            <div class="studentPic">
                                <div class="studentPic-inner">
                                    <div> <img src="../Testimonial/@item.ImagePath" alt="student" style="height:80px"> </div>
                                </div>
                            </div>
                            <div class="studentTest">
                                <p style="width: 400px; word-wrap:break-word;">@item.Description </p>
                                <div class="stuTitle">@item.Name</div>
                                @*<small>Donec ipsum ante</small>*@
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </section>
}
<!-- // testimonials -->

<section>
    <div class="smart_counts">
        <div class="smart_counts_mask"></div>
        <div class="pageWidth">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer .</p>
            <div class="counts">
            </div>
            <div class="counts">
                <i class="ti-thumb-up"></i>
                <h2><span class="counter">@ViewBag.EventsCount</span>+</h2>
                <h4>Successful Events</h4>
            </div>
            <div class="counts">
                <i class="ti-receipt"></i>
                <h2><span class="counter">@ViewBag.Ticketscount</span>+</h2>
                <h4>Answered Tickets</h4>
            </div>
            <div class="counts">
            </div>
        </div>
    </div>
</section>
@*<div class="ad">
        <div class="pageWidth">
            <div class="ad_728"><img src="../CSSWeb/images/ad_728_2.jpg" alt="advertise"></div>
        </div>
    </div>*@

<!-- Events -->
<section>
    <div class="home_events">
        <div class="pageWidth">
            <!--Horizontal Tab-->
            <div id="parentHorizontalTab2">
                <ul class="resp-tabs-list hor_1" id="eventslist">
                    <li>Upcoming Events</li>
                    <li>Health Tips</li>
                    <li>Beauty Tips</li>
                </ul>
                <div class="resp-tabs-container hor_1">
                    <!-- UpcomingEvents -->
                    <div id="EventsDiv">
                            <input type="hidden" id="EventLastRecord" value="@ViewBag.EventLastRecord" />
                            @if (ViewBag.UpcomingEvents != null)
                            {

                                foreach (var Upcomingevents in ViewBag.UpcomingEvents)
                                {
                                    <a href="~/Eventinfo?id=@Upcomingevents.EventId">
                                        <div class="home_events_main no-margin">
                                            <div class="event-thumb">
                                                @*<img src="blank.gif" class="lazy" data-src="../CSSWeb/images/events/thumb-1.jpg" alt="events">*@
                                                @if (Upcomingevents.cropedimage != null && Upcomingevents.cropedimage != "")
                                                {
                                                    <img width="100" height="100" src="~/EventsAndTipsimages/@Upcomingevents.cropedimage" alt="" style="height:102px;width:102px" />
                                                }
                                                @if (Upcomingevents.cropedimage == null || Upcomingevents.cropedimage == "")
                                                {
                                                    <img width="100" height="100" src="~/EventsAndTipsimages/@Upcomingevents.Image" alt="" style="height:102px;width:102px" />
                                                }
                                            </div>
                                            <div class="event-details">
                                                <h2>@Upcomingevents.Title</h2>
                                                <p class="event-desc" style="color:#838383;width: 350px;overflow:hidden;line-height:1.5em;height:3em;">@Upcomingevents.Description</p> @*.ToString().Substring(0, 5)*@
                                                <p><i class="ti-location-pin"></i>@Upcomingevents.Location</p>
                                                <p><i class="ti-user"></i>@Upcomingevents.Person</p>
                                                <p><i class="ti-mobile"></i>@Upcomingevents.Phone</p>
                                                <p><i class="ti-calendar"></i>@Upcomingevents.Eventstartdate.ToString("dd-MM-yyyy")</p> @*am*@
                                                @*<p>Rs.@Html.Encode(string.Format("{0:2}", Upcomingevents.Price))</p>*@
                                                <p>Rs.@Upcomingevents.Price</p>
                                            </div>
                                        </div>
                                    </a>
                                }
                                <div class="loadMore" id="Event">
                                    @*<button name="loadmore" id="LoadMore1" class="btn btn-green more-button" onclick="load('Event')"><i class="ti-reload"></i> Load More</button>*@
                                    <button class="btn btn-green more-button" onclick="location.href = 'Events'"><i class="ti-share"></i> View All Events</button>
                                </div>
                            }
                            else
                            {
                                <div class="home_events_main no-margin">
                                    <div class="event-details">
                                        <h2>No Upcoming Events found</h2>
                                    </div>
                                </div>
                            }
                            
                        </div>                       
                    <!-- HealthTips -->
                    <div id="HealthDiv">
                        <input type="hidden" id="HealthtipsLastRecord" value="@ViewBag.HealthtipsLastRecord" />
                        <input type="hidden" id="Health1" value="@ViewBag.HealthtipsLastRecord" />
                        @if (ViewBag.HealthTips != null)
                        {
                            foreach (var HealthTips in ViewBag.HealthTips)
                            {
                                <a href="~/EventInfo?id=@HealthTips.EventId">
                                    <div class="home_events_main no-margin">
                                        <div class="event-thumb">
                                            @*<img src="blank.gif" class="lazy" data-src="../CSSWeb/images/events/thumb-1.jpg" alt="events">*@
                                            @if (HealthTips.cropedimage != null && HealthTips.cropedimage != "")
                                            {
                                            <img width="100" height="100" src="~/EventsAndTipsimages/@HealthTips.cropedimage" alt="" style="height:102px;width:102px" />
                                            }
                                            @if (HealthTips.cropedimage == null || HealthTips.cropedimage == "")
                                            {
                                            <img width="100" height="100" src="~/EventsAndTipsimages/@HealthTips.Image" alt="" style="height:102px;width:102px" />
                                            }
                                        </div>
                                        <div class="event-details">
                                            <h2>@HealthTips.Title</h2>
                                            <p class="event-desc" style="color:#838383;width: 350px;overflow:hidden;line-height:1.5em;height:3em;">@HealthTips.Description</p> @*.ToString().Substring(0, 5)*@
                                            @*<p><i class="ti-location-pin"></i>@HealthTips.Location</p>
                                                <p><i class="ti-user"></i>@HealthTips.Person</p>
                                                <p><i class="ti-mobile"></i>@HealthTips.Phone</p>
                                                <p><i class="ti-calendar"></i>@HealthTips.Eventstartdate</p> am*@
                                            @*<p>Rs.@Html.Encode(string.Format("{0:2}", HealthTips.Price))</p>*@
                                            @*<p>Rs.@HealthTips.Price</p>*@
                                        </div>
                                    </div>
                                </a>
                            }

                            @*<div class="loadMore" id="Health">
                                <button name="loadmore" id="LoadMore1" class="btn btn-green more-button" onclick="load('Health')"><i class="ti-reload"></i> Load More</button>
                            </div>*@
                        }
                        else
                        {
                            <div class="home_events_main no-margin">
                                <div class="event-details">
                                    <h2>No Health Tips Found</h2>
                                </div>
                            </div>
                        }
                    </div>
                    <p class="loadMore" id="Health" style="display:none">
                        <button name="loadmore" id="LoadMore1" class="btn btn-green more-button" onclick="load('Health')"><i class="ti-reload"></i> Load More</button>
                    </p>
                    <!-- BeautyTips -->
                    <div id="BeautyDiv">
                        <input type="hidden" id="BeautytipsLastRecord" value="@ViewBag.BeautytipsLastRecord" />
                        <input type="hidden" id="Beauty1" value="@ViewBag.BeautytipsLastRecord" />
                        @if (ViewBag.BeautyTips != null)
                        {
                            foreach (var BeautyTips in ViewBag.BeautyTips)
                            {
                                <a href="~/EventInfo?id=@BeautyTips.EventId">
                                    <div class="home_events_main no-margin">
                                        <div class="event-thumb">
                                            @*<img src="blank.gif" class="lazy" data-src="../CSSWeb/images/events/thumb-1.jpg" alt="events">*@
                                            @if (BeautyTips.cropedimage != null && BeautyTips.cropedimage != "")
                                            {
                                            <img width="100" height="100" src="~/EventsAndTipsimages/@BeautyTips.cropedimage" alt="" style="height:102px;width:102px" />
                                            }
                                            @if (BeautyTips.cropedimage == null || BeautyTips.cropedimage == "")
                                            {
                                            <img width="100" height="100" src="~/EventsAndTipsimages/@BeautyTips.Image" alt="" style="height:102px;width:102px" />
                                            }
                                        </div>
                                        <div class="event-details">
                                            <h2>@BeautyTips.Title</h2>
                                            <p class="event-desc" style="color:#838383;width: 350px; overflow:hidden;line-height:1.5em;height:3em;">@BeautyTips.Description</p> @*.ToString().Substring(0, 5)*@
                                            @*<p><i class="ti-location-pin"></i>@BeautyTips.Location</p>
                                                <p><i class="ti-user"></i>@BeautyTips.Person</p>
                                                <p><i class="ti-mobile"></i>@BeautyTips.Phone</p>
                                                <p><i class="ti-calendar"></i>@BeautyTips.Eventstartdate</p> am*@
                                            @*<p>Rs.@Html.Encode(string.Format("{0:2}", BeautyTips.Price))</p>*@
                                            @*<p>Rs.@BeautyTips.Price</p>*@
                                        </div>
                                    </div>
                                </a>
                            }
                            @*<div class="loadMore" id="Beauty">
                                <button name="loadmore" id="LoadMore1" class="btn btn-green more-button" onclick="load('Beauty')"><i class="ti-reload"></i> Load More</button>
                            </div>*@
                        }
                        else
                        {
                            <div class="home_events_main no-margin">
                                <div class="event-details">
                                    <h2>No Beauty Tips found</h2>
                                </div>
                            </div>
                        }
                    </div>
                    <p class="loadMore" id="Beauty" style="display:none">
                        <button name="loadmore" id="LoadMore1" class="btn btn-green more-button" onclick="load('Beauty')"><i class="ti-reload"></i> Load More</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Events -->
<script>
    window.onload = function () {
        var val = $("#hdnselected").val();
        if (val != '' && val != undefined) {
            $("#select2-chosen-4").text(val);
        }
        var livalue = $('#eventslist > li.resp-tab-active').text();
        if (livalue == 'Health Tips') {
            $('#Beauty').css('display', 'none');
            $('#Health').css('display', 'block');
            $('#HealthtipsLastRecord').val($('#Health1').val());
        }
        else if (livalue == 'Beauty Tips') {
            $('#Health').css('display', 'none');
            $('#Beauty').css('display', 'block');
            $('#BeautytipsLastRecord').val($('#BEauty1').val());
        }
        else if (livalue == 'Upcoming Events') {
            $('#Health').css('display', 'none');
            $('#Beauty').css('display', 'none');
        }
    }
</script>

<script src="~/Scripts/jquery.min.js"></script>
@section scripts
{

}
<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=84879164"></script>

<script>
    function change(value) {
        document.getElementById('hdnselected').value = value;
    }
</script>

<script>
    function load(typ) {
        var lastrecord;
        if (typ == 'Event') {
            lastrecord = document.getElementById("EventLastRecord").value;
        }
        else if (typ == 'Beauty') {
            lastrecord = document.getElementById("BeautytipsLastRecord").value;
        }
        else if (typ == 'Health') {
            lastrecord = document.getElementById("HealthtipsLastRecord").value;
        }
        var obj = {};
        obj.lastrecord = lastrecord;
        obj.typ = typ;
        $.ajax({
            type: "POST",
            url: '/Index/Loadmore',
            data: {},
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.length == 4) {
                    if (typ == 'Event') {
                        $.each(data, function (key, value) {
                            $("#EventsDiv").append('<a href="#"> <div class="home_events_main no-margin"> <div class="event-thumb"> <img width="100" height="100" src="/EventsAndTipsimages/' + value.Image + ' " alt="" style="height:102px;width:102px"/> </div>  <div class="event-details"><h2>' + value.Title + '</h2> <p class="event-desc" style="color:#838383;width: 350px;overflow:hidden;line-height:1.5em;height:3em;">' + value.Description + '</p> <p><i class="ti-user"></i> ' + value.Person + '</p> <p><i class="ti-mobile"></i>' + value.Phone + '</p> <p><i class="ti-calendar"></i>' + value.Eventstartdate + '</p> </div> </div> </a>');
                            document.getElementById("EventLastRecord").value = value.EventId;
                        });
                    }
                    else if (typ == 'Beauty') {
                        $.each(data, function (key, value) {
                            var Beautytipimage;
                            if (value.cropedimage != null && value.cropedimage != "") {
                                Beautytipimage = value.cropedimage;
                            }
                            else {
                                Beautytipimage = value.Image;
                            }
                            $("#BeautyDiv").append('<a href="/EventInfo?id='+value.EventId+'"> <div class="home_events_main no-margin"> <div class="event-thumb"> <img width="100" height="100" src="/EventsAndTipsimages/' + Beautytipimage + ' " alt="" style="height:102px;width:102px"/> </div>  <div class="event-details"><h2>' + value.Title + '</h2> <p class="event-desc" style="color:#838383;width: 350px;overflow:hidden;line-height:1.5em;height:3em;">' + value.Description + '</p>  </div> </div> </a>');
                            document.getElementById("BeautytipsLastRecord").value = value.EventId;
                        });
                    }
                    else if (typ == 'Health') {
                        $.each(data, function (key, value) {
                            var Healthtipimage;
                            if (value.cropedimage != null && value.cropedimage != "") {
                                Healthtipimage = value.cropedimage;
                            }
                            else {
                                Healthtipimage = value.Image;
                            }
                            $("#HealthDiv").append('<a href="/EventInfo?id=' + value.EventId + '"> <div class="home_events_main no-margin"> <div class="event-thumb"> <img width="100" height="100" src="/EventsAndTipsimages/' + Healthtipimage + ' " alt="" style="height:102px;width:102px"/> </div>  <div class="event-details"><h2>' + value.Title + '</h2> <p class="event-desc" style="color:#838383;width: 350px;overflow:hidden;line-height:1.5em;height:3em;">' + value.Description + '</p>  </div> </div> </a>'); //<p><i class="ti-user"></i> ' + value.Person + '</p> <p><i class="ti-mobile"></i>' + value.Phone + '</p> <p><i class="ti-calendar"></i>' + value.Eventstartdate + '</p>
                            document.getElementById("HealthtipsLastRecord").value = value.EventId;
                        });
                    }
                }
                else {
                    alert("That's All Folks!!!");
                }
            }
        });
    }
</script>

<script>
    $('#eventslist > li').on('click', function () {
        var event = this.innerHTML;
        if (event == 'Health Tips') {
            $('#Beauty').css('display', 'none');
            $('#Health').css('display', 'block');
        }
        else if (event == 'Beauty Tips') {
            $('#Health').css('display', 'none');
            $('#Beauty').css('display', 'block');
        }
        else if (event == 'Upcoming Events') {
            $('#Health').css('display', 'none');
            $('#Beauty').css('display', 'none');
        }
    });
</script>
