@model List<MaaAahwanam.Repository.GetCartItems_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Cart view</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/Index/Index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        @*<li><a href="index.html">Categories</a></li>
                            <li><i class="breads_arrow"></i></li>
                            <li><a href="index.html">Photographers</a></li>
                            <li><i class="breads_arrow"></i></li>
                            <li><a href="deal-info.html">Suspendisse vel urna sit amet</a></li>*@
                        <li>@*<i class="breads_arrow"></i>*@</li>
                        <li>Cart view</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<section>
    <div class="about_main">
        <div class="pageWidth">
            <div class="dashboard margin_top_40">
                <div class="dashInner">
                    <!-- /order-details -->
                    <div class="dashboardList dashboardList-whitebg dashboardList-nospace">
                        @if (ViewBag.Cartlist.Count != 0)
                        {
                            <table class="responsive" id="myTableId">
                                <thead>
                                    <tr>
                                        <th style="width:30%">Item Details</th>
                                        <th style="width:20%">Vendor Details</th>
                                        <th style="width:26%">Event start & End Date</th>
                                        <th style="width:15%">Price</th>
                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int j = 0;
                                        foreach (var item in ViewBag.Cartlist)
                                        {
                                            j++;
                                            <tr class="item">
                                                <td style="display:none">
                                                    <span id="cid @j">@item.CartId</span>||<span id="hdndeal @j">@item.DealId</span>||<span id="hdnqty @j">@item.Quantity</span>||<span id="bdate @j">@item.eventstartdate</span> />
                                                </td>
                                                <td style="display:none">
                                                    <span id="eid @j">@item.eventid</span>||<span id="hdndealcheck @j">@item.Isdeal</span>||<span id="hdndiscpercent @j">@item.Discount</span>
                                                </td>
                                                <td style="display:none">
                                                    <span id="tid @j">@item.Id</span>||<span id="hdnactualprice @j">@item.ServicePrice</span>||<span id="hdndisc @j">@item.DiscountPrice</span>
                                                </td>
                                                <td style="display:none">
                                                    <span id="sid @j">@item.subid</span>||<span id="hdnattribute @j">@item.attribute</span>||<span id="hdntype @j">@item.ServicType</span>
                                                </td>
                                                <td>
                                                    @if (item.image != null)
                                                    {
                                                        <div class="item-img"><img src="../vendorimages/@item.image" alt="item-img" /></div>
                                                    }
                                                    else if (item.image == null)
                                                    {
                                                        <div class="item-img">
                                                            <img src="~/noimages.png" />
                                                        </div>
                                                    }
                                                    <div class="item-details">
                                                        <h4 style="color:#838383;width: 200px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;">@item.Description</h4>
                                                    </div>
                                                    <div class="clear"></div>
                                                </td>
                                                <td>
                                                    @*<h4>Wedding Cermony</h4>*@
                                                    <h4>@item.BusinessName</h4>
                                                    <p>
                                                        @item.Landmark<br>
                                                        @item.Address, @item.City,<br>
                                                        @item.ContactNumber
                                                    </p>
                                                    @*<a href="#edit_event" class="orange-link upload_address popup-with-move-anim"><i class="ti-pencil"></i> Edit Event</a>*@
                                                </td>
                                                <td>
                                                    <div class="event-date-time">
                                                        <div class="event-dates">
                                                            
                                                            @if (item.eventstartdate != null && item.eventenddate != null)
                                                            {
                                                            <p>Event Start Date : @item.eventstartdate.ToString("dd MMM yyyy")<br/> Event End Date&nbsp;&nbsp;:&nbsp;@item.eventenddate.ToString("dd MMM yyyy")
                                                            </p>}
                                                            @if (item.eventstartdate == null && item.eventenddate == null)
                                                            {
                                                                <p> Event Start Date : Not Available<br /> Event End Date&nbsp;&nbsp;:&nbsp;Not Available </p>
                                                            }
                                                        </div>

                                                    </div>
                                                    @*<a href="#add_new_date" class="orange-link upload_address popup-with-move-anim"><i class="ti-plus"></i> Add Date / Time</a>*@
                                                </td>
                                                <td class="tdprice">
                                                    <div class="item-price">
                                                @if (item.Isdeal == false)
                                                {
                                                    <p>Rs.<span id="tprice @j" class="value">@item.TotalPrice</span></p>
                                                }
                                                else
                                                {
                                                    <p>Original Price:Rs.@item.ServicePrice</p>
                                                    <p>Deal Price:Rs.<span id="tprice @j" class="value">@item.TotalPrice</span></p>
                                                }
                                                    </div>
                                                </td>
                                                <td class="tdprice">
                                                    @*<div class="item-price">*@
                                                    <div class="event-date-edit">
                                                        @if(item.Isdeal==false)
                                                        { 
                                                        <a href="../ProductInfo?par=@item.ServicType&VID=@item.Id&p=c&cid=@item.CartId&subvid=@item.subid" title="Edit"><i class="ti-pencil-alt active"></i></a>
                                                        }
                                                        else
                                                        {
                                                            
                                                            <a href="../Dealinfo?par=@item.ServicType&VID=@item.Id&p=c&cid=@item.CartId&subvid=@item.subid&did=@item.DealId" title="Edit Deal"><i class="ti-pencil-alt active"></i></a>
                                                        }
                                                        <br /><br />
                                                        <a href="#" title="Delete" onclick="DeletecartItem(@item.CartId);"><i class="ti-trash close"></i></a>
                                                    </div>
                                                    @*<div class="clear"></div>*@
                                                    @*</div>*@
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                                        }
                                        else
                                        {
                                            <p>No Products added to cart yet</p>
                                            <div style="height:80px"></div>
                                        }
                        <!-- popup -->
                        <div id="edit_event" class="zoom-anim-dialog mfp-hide large-dialog">
                            <div class="popup-box pop-content">
                                <div class="popup-head">
                                    <h3>Edit Event</h3>
                                </div>
                                <!-- /popup-head -->
                                <div class="popup-space popup-desc-space">
                                    <div class="dashboardList dashboardList-nospace">
                                        <div class="bidding_form">
                                            <ul>
                                                <li>
                                                    <label>Event Name</label>
                                                    <input type="text" name="event" placeholder="Event Name">
                                                </li>
                                                <li>
                                                    <label>Service Type <span>*</span></label>
                                                    <select class="selectBox">
                                                        <option>Select your Service</option>
                                                        <option value="1">Beautician</option>
                                                        <option value="2">Designer</option>
                                                        <option value="3">Event organizers</option>
                                                        <option value="4">Wedding Favors</option>
                                                        <option value="5">Wedding collection</option>
                                                        <option value="6">Religious priest</option>
                                                        <option value="7">Music troop/Band </option>
                                                        <option value="8">Cake vendors</option>
                                                        <option value="9">Godi wale</option>
                                                        <option value="10">Hotels and accommodation</option>
                                                        <option value="11">Hospitality Staff</option>
                                                        <option value="12">Sangeeth and mehendi</option>
                                                        <option value="13">Entertainment</option>
                                                        <option value="14">Fireworks</option>
                                                        <option value="15">Maids or Helping staff</option>
                                                        <option value="16">Sweet shops</option>
                                                        <option value="17">Wedding cards</option>
                                                    </select>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <label>Preferences <span>*</span></label>
                                                    <textarea name="Preferences" placeholder="Preferences"></textarea>
                                                </li>
                                                <li>
                                                    <label>Event Address <span>*</span></label>
                                                    <textarea name="Event Address" placeholder="Event Address"></textarea>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <label>Event Location <span>*</span></label>
                                                    <input type="text" name="event" placeholder="Event Location">
                                                </li>
                                                <li>
                                                    <label>State <span>*</span></label>
                                                    <select class="selectBox">
                                                        <option>Select State</option>
                                                        <option value="1">Andhrapradesh</option>
                                                        <option value="2">Telangana</option>
                                                        <option value="3">Kerala</option>
                                                        <option value="4">Kanataka</option>
                                                        <option value="5">Tamilnadu</option>
                                                    </select>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <label>City <span>*</span></label>
                                                    <input type="text" name="city" placeholder="City">
                                                </li>
                                                <li>
                                                    <label>Postal Code <span>*</span></label>
                                                    <input type="text" name="postcal_code" placeholder="Postal Code">
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <label>Email <span>*</span></label>
                                                    <input type="text" name="Email" placeholder="satyam.g@siriinnovations.com">
                                                </li>
                                                <li>
                                                    <label>Phone <span>*</span></label>
                                                    <input type="text" name="postcal_code" placeholder="96525 44441">
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>&nbsp;</li>
                                                <li>
                                                    <button type="submit" name="submit" class="btn btn-big btn-green float-right" value="submit">Submit <i class="ti-angle-double-right"></i></button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end popup -->
                        <!-- popup for Add date & time -->
                        <div id="add_new_date" class="zoom-anim-dialog mfp-hide large-dialog">
                            <div class="popup-box pop-content">
                                <div class="popup-head">
                                    <h3>Add Event Date & Time</h3>
                                </div>
                                <!-- /popup-head -->
                                <div class="popup-space popup-desc-space">
                                    <div class="dashboardList dashboardList-nospace">
                                        <div class="bidding_form add_new_date">
                                            <ul class="subinputs1">
                                                <li>
                                                    <label>Event Start Date</label>
                                                    <input type="text" name="event" placeholder="Event Start Date" value="" id="datetimepicker1">
                                                </li>
                                                <li>
                                                    <label>Event Start Time <span>*</span></label>
                                                    <input type="text" name="event" placeholder="Event Start Time" id="datetimepicker3">
                                                </li>
                                                <li>
                                                    <label>Event End Date</label>
                                                    <input type="text" name="event" placeholder="Event End Date" value="" id="datetimepicker2">
                                                </li>
                                                <li>
                                                    <label>Event End Time <span>*</span></label>
                                                    <input type="text" name="event" placeholder="Event End Time" id="datetimepicker4">
                                                </li>
                                            </ul>

                                        </div>
                                        <a href="#" class="add_field_button">Add More</a>
                                        <div class="clear"></div>
                                        <button type="submit" name="submit" class="btn btn-big btn-green float-right" style="margin-bottom:15px;" value="submit">Submit <i class="ti-angle-double-right"></i></button>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- /dashboardList -->
                    @if (ViewBag.Cartlist.Count != 0)
                    {
                        <div class="price-information">
                            <div class="total-price">
                                <div class="price-desc">
                                    <h6>Payment Terms & Conditions</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                </div>
                                <div class="price-info">
                                    <table>
                                        @*<tr>
                                                <td style="width:55%;">Sub Total</td>
                                                <td style="width:15%;" align="center">:</td>
                                                @*<td style="width:30%;">1200.00</td>
                                            </tr>
                                            <tr>
                                                <td>Tax</td>
                                                <td align="center">:</td>
                                                <td>99.00</td>
                                            </tr>*@
                                        <tr>
                                            <td><h5>Payble Total</h5></td>
                                            <td align="center"><h5>:</h5></td>
                                            <td><h5>@ViewBag.Total</h5></td>
                                            @*<td><h5>1299.00</h5></td>*@
                                        </tr>
                                    </table>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /total-price -->
                            <div class="paid-amount">
                                @*<h5>Advance Amount &nbsp;&nbsp;:&nbsp;&nbsp;Rs. 650.00</h5>*@
                            </div>
                            <div class="pay-btn btn-right">
                                <button class="btn btn-big btn-orange" onclick="window.location.href = '../AllServices?l=Hyderabad';"> Add More</button>
                                <button type="button" name="submit" class="btn btn-big btn-green" value="submit" onclick="s()"> Pay Advance</button>
                                @*<button type="button" name="submit" class="btn btn-big btn-green float-right" value="submit" id="lnkproceedtonext">Submit <i class="ti-angle-double-right"></i></button>*@
                                @*<button class="btn btn-big btn-green" onclick="window.location.href='/Payment/Index';"> Pay Advance</button>*@
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                </div>
            </div>
            @*<div class="ad margin_bottom_20">
                    <div class="ad_728"> <img src="../CSSWeb/images/ad_728.jpg" alt="advertisement"> </div>
                </div>*@
            <div class="clear"></div>
        </div>
    </div>
</section>
<div class="clear"></div>

<script type="text/javascript">
    function s() {
        var t = document.getElementById('myTableId');
        var tlength = t.rows.length - 1;
        
        OrderDetails = [];
        var ttotal=0;
        for (i = 1; i <= tlength; i++) {
            var trp = document.getElementById('tprice ' + i).innerHTML;
            ttotal  =   ttotal +parseInt(trp);
            var tid = document.getElementById('tid ' + i).innerHTML;
            var sids = document.getElementById('sid ' + i).innerHTML;
            var attribute = document.getElementById('hdnattribute ' + i).innerHTML;
            var qty = document.getElementById('hdnqty ' + i).innerHTML;
            var disc = document.getElementById('hdndiscpercent ' + i).innerHTML;
            var discpercent = document.getElementById('hdndisc ' + i).innerHTML;
            var actualprice = document.getElementById('hdnactualprice ' + i).innerHTML;
            var servicetype = document.getElementById('hdntype ' + i).innerHTML;
            var bookeddate = document.getElementById('bdate ' + i).innerHTML;
            //alert(actualprice);
            item = {}
            item["PerunitPrice"] = trp;
            item["VendorId"] = tid;
            item["subid"] = sids;
            item["ServicePrice"] = actualprice;
            item["attribute"] = attribute;
            item["Quantity"] = qty;
            item["Discount"] = disc;
            item["DiscountPrice"] = discpercent;
            item["ServiceType"] = servicetype;
            item["BookedDate"] = bookeddate;
            OrderDetails.push(item);
        }
        eventids = [];
        for (i = 1; i <= tlength; i++)
        {
            var eids = document.getElementById('eid ' + i).innerHTML;
            items2 = {};
            items2["EventId"] = eids;
            eventids.push(items2);
        }

        cartlist = [];
        for (i = 1; i <= tlength; i++)
        {
            var cids = document.getElementById('cid ' + i).innerHTML;
            var dealid = document.getElementById('hdndeal ' + i).innerHTML;
            var dealcheck = document.getElementById('hdndealcheck ' + i).innerHTML;
            //alert(dealid);
            item1 = {}
            item1["CartId"] = cids;
            item1["DealId"] = dealid;
            item1["Isdeal"] = dealcheck;
            cartlist.push(item1);
        }

        SubItemId = [];
        for (i = 1; i <= tlength; i++) {
            var sids = document.getElementById('sid ' + i).innerHTML;
            //alert(tidlist);
            item2 = {}
            item2["subid"] = sids;
            SubItemId.push(item2);
        }



        //alert(trp);

        //$('#myTableId tr').each(function () {
        //    var customerId = $(this).find(".item span.value").html();
        //    alert(customerId);
        //});
        //$('#myTableId .tdprice').each(function () {
        //    //alert($(this).html());
        //    OrderDetails = [];
        //    item = {}
        //    item["PerunitPrice"] = $("span.value").html();
        //    OrderDetails.push(item);
        //});

        var orderRequest = {};
        orderRequest.OrderDetail = OrderDetails;
        orderRequest.Eventinformation = eventids;
        orderRequest.TotalPrice = ttotal;
        orderRequest.Cartitems = cartlist;
        orderRequest.paidamount = "100.50";
        orderRequest.cardnumber = "4222222222222";
        orderRequest.CVV = "214";
        orderRequest.Paiddate = "11/12/2016";
        
        $.ajax({
            type: "POST",
            url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/CartView/payamount',
            data: {},
            data: JSON.stringify(orderRequest),
            //data: sendInfo,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    window.location.href = '/orderconfirmation?oid=' + data;
                }
            },
            error: function (data) {
                alert('error')
            }
        });
    }
    //});
</script>
<script>
    //Deleteing cart item
    function DeletecartItem(cartId)
    {
        var obj = {}
        obj.cartId = cartId;
        $.ajax({
            type: "POST",
            url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/CartView/DeletecartItem',
            data: {},
            data: JSON.stringify(obj),
            //data: sendInfo,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    window.location.reload();
                }
            },
            error: function (data) {
                alert('error')
            }
        });
    }
</script>
