@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KD2HPX6');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>:: Ahwanam ::</title>
    <link rel="icon" href="http://design.maa-aahwanam.com/contest/images/favIcn.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/Nbootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    @*<link rel="stylesheet" type="text/css" href="~/newdesign/css/fonts.css">*@
    @*<link rel="stylesheet" type="text/css" href="~/newdesign/css/Ncustomstyles.css">*@
    <link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/newdesign/css/customstyles.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    @*<link href="~/newdesign/css/datepicker.css" rel="stylesheet" />*@
    <link href="~/newdesign/css/jquery.datetimepicker.css" rel="stylesheet" />
    <!------ Owl Thumb Slider ---------->
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/owl.theme.default.css">

    <link href="~/newdesign/css/alertify.css" rel="stylesheet" />
    <style>
        .nav-item.dropdown.open .dropdown-menu {
            display: block;
        }
    </style>
</head>
@using MaaAahwanam.Web.Custom
<body id="bodyTop">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KD2HPX6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container-fluid px-0">
        <nav class="navbar navbar-toggleable-md navbar-light themeBgColorSecondaryYellow">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand noteWorthybold text-uppercase logoText" href="/NHomePage">
                Ahwanam
            </a>


            @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
            {
                var user = (CustomPrincipal)HttpContext.Current.User;
                if (user.UserType == "Vendor")
                { Response.Redirect("/NUserRegistration/changeid?id=" + user.UserId + ""); }
                if (user.UserType == "User")
                {
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/Contests" class="nav-link">Contests</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/NLiveDeals" class="nav-link"> Deals <span class="sr-only">(current)</span></a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @ViewBag.username

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a href="/NUserProfile/Index" class="dropdown-item">Profile</a>
                            <a href="/NUserRegistration/SignOut" class="dropdown-item" id="auth-logoutlink">Sign out</a>
                        </div>
                    </li>

                    @*<li class="nav-item">
                        <a href="#">Hi @ViewBag.username</a></li>
                        @*<li onclick="window.location.href = "><a class="nav-link text-white">Profile</a></li>

                        <li  onclick="location.href='@Url.Action("LogOff", "NUserRegistration")'"><a  class="nav-link text-white">Sign out</a></li>*@
                    <li class="nav-item">
                        <a class="nav-link cartToggle" href="#">Cart(@ViewBag.cartCount)</a>
                    </li>


                </ul>
            </div>

                }
            }
            else
            {
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/Contests" class="nav-link">Contests</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/NLiveDeals/Index" class="nav-link"> Deals <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/NUserRegistration/Index" class="nav-link">Login/Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/NVendorSignUp/Index">Partner Registration</a>
                    </li>
                </ul>
            </div>
            }

        </nav>
    </div>
    @if (ViewBag.cartCount != 0)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="cartBlock p-2">
                    <div class="arrow"></div>
                    <ul class="pl-0">

                        @foreach (var item in ViewBag.cartitems)
                    {
                    <li>
                        <div class="d-inline-block image">
                            @if (item.image != null)
                                {
                                <img width="100" height="100" src="../vendorimages/@item.image" alt="thumb">

                                }
                                else if (item.image == null)
                                {
                                <img width="100" height="100" src="~/noimages.png" />
                                }
                        </div>
                        <div class="d-inline-block title">
                            <p>@item.BusinessName</p>
                        </div>
                        <div class="d-inline-block price">
                            <p>Rs <span class="themeColor">@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.TotalPrice)).Replace(".00", "")</span></p>
                        </div>
                        <a href="#" onclick="DeletecartItem(@item.CartId);"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </li>
                    }

                    </ul>
                    <div class="w-100 d-flex justify-content-center">
                        <span class="themeBgColorPrimary btnSecondary text-white d-inline-block mr-2" onclick="location.href='/NCartView/Index'">Checkout</span>
                        <div class="themeBgColorSecondary btnSecondary text-white d-inline-block"><span>Rs.</span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@ViewBag.Total)).Replace(".00", "")</div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="container-fluid mainBg">
        @*<text>@ViewBag.currenttme</text>*@
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="row mx-0 tagLine">
                        <p>We are in a mission of spreading Happiness</p>
                    </div>
                    <div class="row mx-0">
                        <div class="d-flex mr-3">
                            <a class="themeBgColorPrimary btnPrimary text-white" href="#explore">Explore</a>
                        </div>
                        <div class="d-flex">
                            <a class="themeBgColorPrimary btnPrimary text-white" href="#deals">Deals</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-5 col-md-5 offset-sm-1 offset-md-1" id="startPlaning">
                    <div class="row mx-0">
                        <div class="topSearchArea ml-auto d-flex">
                            <span class="themeBgColorSecondaryYellow d-flex"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <span class="themeBgColorPrimaryPurple align-items-center">Hyderabad</span>
                        </div>
                        <div class="ui-widget">
                            <input id="tags" class="ui-autocomplete-input" autocomplete="off">
                        </div>
                    </div>
                    <div class="row mx-0 mt-3 topServiceType">
                        <select class="border-0 ml-auto" id="selectedservice">
                            <option value="" selected>Select Service Type</option>
                            @*<option value="Venue">Venue</option>*@
                            <option value="Banquet Hall">Banquet Hall</option>
                            <option value="Hotel">Hotel</option>
                            <option value="Resort">Resort</option>
                            <option value="Convention">Convention Hall</option>
                            <option value="FunctionHall">Function Hall</option>
                            <option value="Catering">Catering</option>
                            <option value="Photography">Photography</option>
                            <option value="Decorator">Decorator</option>
                            <option value="Mehendi">Mehendi Artists</option>
                            <option value="Pandit">Pandits</option>
                            @*<option value="EventManagement">Event Management</option>*@
                        </select>
                    </div>
                    <div class="row mx-0 mt-3 occasionDate">
                        <div class="datentime w-100">
                            <input type="number" class="form-control" id="guests" placeholder="Enter Guests Count" onkeyup="this.value = minmax(this.value, 1, 70)">
                            <i class="fa fa-group" aria-hidden="true"></i>
                        </div>
                        </div>
                    <div class="row mx-0 mt-3 occasionDate">
                        <!--<input type="text" class="border-0 ml-auto" placeholder="Occasion Date">-->
                        <div class="datentime w-100">
                            <input type="text" id="datetimepicker" class="form-control" placeholder="Occasion Date" />
                            <i class="fa fa-calendar" aria-hidden="true"></i>

                            @*<div class="input">
                                    <div class="result nexaBold">Occasion Date: <span id="selecteddate"></span></div>
                                    <button class="themeBgColorSecondary"><i class="fa fa-calendar"></i></button>
                                </div>
                                <div class="calendar"></div>*@
                        </div>
                    </div>

                    <div class="row mx-0 mt-3">
                        <button type="button" class="btnPrimary themeBgColorPrimary border-0 text-white" onclick="planning()">Start Planning</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid celebrateToday">
        <div class="row waves hidden-xs-down hidden-sm-down"></div>
        <div class="row themeBgColor pt-4">
            <div class="container" id="explore">
                <div class="row">
                    <h2 class="text-center text-white w-100 noteWorthybold">Celebration Begins Here.</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="pl-0">
                            <li>
                                <a href="/NQuestionNaire?servicetype=Wedding">
                                    <img src="~/newdesign/images/wedding.png" alt="Wedding" />
                                    <span>Wedding</span>
                                </a>
                            </li>
                            <li>
                                <a href="/NQuestionNaire?servicetype=Party">
                                    <img src="~/newdesign/images/party.png" alt="Parties" />
                                    <span>Parties</span>
                                </a>
                            </li>
                            <li>
                                <a href="/NQuestionNaire?servicetype=Corporate">
                                    <img src="~/newdesign/images/corporate.png" alt="Corporate" />
                                    <span>Corporate</span>
                                </a>
                            </li>
                            <li>
                                <a href="/NQuestionNaire?servicetype=BabyFunction">
                                    <img src="~/newdesign/images/baby.png" alt="Baby Funcations" />
                                    <span>Baby Functions</span>
                                </a>
                            </li>
                            <li>
                                <a href="/NQuestionNaire?servicetype=Birthday">
                                    <img src="~/newdesign/images/birthday.png" alt="Birthday" />
                                    <span>Birthday</span>
                                </a>
                            </li>
                            <li>
                                <a href="/NQuestionNaire?servicetype=Engagement">
                                    <img src="~/newdesign/images/engagement.png" alt="Engagement" />
                                    <span>Engagement</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container normalSearch margin-top-50 margin-bottom-50">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-3 offset-md-1 venueSearch d-flex mb-2">
                <div class="ui-widget">
                    <input id="tags1" class="ui-autocomplete-input" autocomplete="off" />
                </div>
                <span class="themeBgColorPrimaryPurple align-items-center justify-content-center text-white w-100">Hyderabad</span>
                <span class="themeBgColorSecondaryYellow d-flex"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            </div>

            <div class="col-12 col-sm-3 col-md-2 categorySearch d-flex mb-2 pr-sm-0 pr-md-0">
                <span class="themeBgColorPrimaryPurple d-flex align-items-center justify-content-center text-white w-100" id="searchvendortype">Hotel</span>
                <span class="themeBgColorSecondaryYellow d-flexs"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                <div class="categoryResults">
                    <ul>
                        @*<li> <label for="Venue"> Venues </label> </li>*@
                        <li> <label for="Hotel"> Hotels </label> </li>
                        <li> <label for="Resort"> Resorts </label> </li>
                        <li> <label for="Convention Hall"> Convention Halls </label> </li>
                        <li> <label for="Catering"> Caterers </label> </li>
                        <li> <label for="Photography"> Photographers </label> </li>
                        <li> <label for="Decorator"> Decorators </label> </li>
                        <li> <label for="Mehendi"> Mehendi Artists </label></li>
                        <li> <label for="Pandit"> Pandits </label></li>
                        @*<li> <label for="EventManagement"> Event Management </label> </li>*@
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-2 pl-4">
                <input type="text" class="w-100" placeholder="Search Here" id="searchvendors">
            </div>
        </div>
        <div class="row justify-content-center normalSearchResult" id="sortedvendorlist">
            @{ Html.RenderAction("SortVendorsBasedOnLocation", "NHomePage");}
        </div>
    </div>

    <div class="container">
        <div>
            <div class="row mx-0">
                <h3 class="noteWorthybold">
                    Venues
                    <div class="blackBorder"></div>
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="owl-carousel owl-theme mt-3">
                        <a href="/NVendors?servicetype=Hotel" class="item">
                            <img src="~/newdesign/images/hotels-bg.png" alt="Hotels" />
                            <span class="d-block mt-2 themeFontColor">Hotels</span>
                        </a>
                        <a href="/NVendors?servicetype=FunctionHall" class="item">
                            <img src="~/newdesign/images/functionhalls-bg.png" alt="Function Halls" />
                            <span class="d-block mt-2 themeFontColor">Function Halls</span>
                        </a>
                        <a href="/NVendors?servicetype=BanquetHall" class="item">
                            <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                            <span class="d-block mt-2 themeFontColor">Banquet Halls</span>
                        </a>
                        <a href="/NVendors?servicetype=Convention Hall" class="item">
                            <img src="~/newdesign/images/convention-bg.png" alt="Convention Halls" />
                            <span class="d-block mt-2 themeFontColor">Convention Halls</span>
                        </a>
                        <a href="/NVendors?servicetype=Resort" class="item">
                            <img src="~/newdesign/images/resort-bg.png" alt="Resort" />
                            <span class="d-block mt-2 themeFontColor">Resort</span>
                        </a>
                        @*<a href="/NVendors?servicetype=Banquet Hall" class="item">
                                <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                                <span class="d-block mt-2 themeFontColor">Banquet Halls</span>
                            </a>*@
                    </div>
                </div>
            </div>
        </div>
        @*<div class="margin-top-50">
                <div class="row mx-0">
                    <h3 class="noteWorthybold">
                        Music & Artists (COMING SOON)
                        <div class="blackBorder"></div>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="owl-carousel owl-theme mt-3">
                            <a class="item">
                                <img src="~/newdesign/images/dj.png" alt="DJ" />
                                <span class="d-block mt-2 themeFontColor">DJ</span>
                            </a>
                            <a class="item">
                                <img src="~/newdesign/images/choreographer-bg.png" alt="Choreographer" />
                                <span class="d-block mt-2 themeFontColor">Choreographer</span>
                            </a>
                            <a class="item">
                                <img src="~/newdesign/images/bandanddhol.png" alt="Band and Dhol" />
                                <span class="d-block mt-2 themeFontColor">Band & Dhol</span>
                            </a>
                            <a class="item">
                                <img src="~/newdesign/images/orchestra-bg.png" alt="orchestra" />
                                <span class="d-block mt-2 themeFontColor">Orchestra</span>
                            </a>
                            <a class="item">
                                <img src="~/newdesign/images/performing-artists-bg.png" alt="Performing Artist" />
                                <span class="d-block mt-2 themeFontColor">Performing Artist</span>
                            </a>
                            <a class="item">
                                <img src="~/newdesign/images/bandanddhol.png" alt="Band and Dhol" />
                                <span class="d-block mt-2 themeFontColor">Band & Dhol</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="container-fluid px-0" id="deals">
        <div class="margin-top-50 margin-bottom-50 themeBgColor text-white deals">
            <div class="row mx-0">
                <h3 class="col-12 col-md-4 offset-md-1 noteWorthybold">
                    Trending Deals
                    <div class="whiteBorder"></div>
                </h3>
                <div class="col-12 col-md-6">
                    <a href="/NLiveDeals/Index" class="float-right text-white">See All</a>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="owl-carousel owl-theme mt-3">
                            <a href="/NLiveDeals/Index?eve=Engagement" class="item">
                                <img src="http://design.maa-aahwanam.com/newdesign/images/engagement.jpg" alt="Thumb" />
                                <span class="d-block mt-2 themeFontColor">Engagement</span>
                            </a>
                            <a href="/NLiveDeals/Index?eve=Birthdays" class="item">
                                <img src="http://design.maa-aahwanam.com/newdesign/images/baby_birthday.jpg" alt="Thumb" />
                                <span class="d-block mt-2 themeFontColor">Birthdays</span>
                            </a>
                            <a href="/NLiveDeals/Index?eve=Kitty Cocktails Parties" class="item">
                                <img src="http://design.maa-aahwanam.com/newdesign/images/kittycocktails.jpg" alt="Thumb" />
                                <span class="d-block mt-2 themeFontColor">Kitty Cocktails Parties</span>
                            </a>
                            <a href="/NLiveDeals/Index?eve=Corporates Cocktail parties" class="item">
                                <img src="http://design.maa-aahwanam.com/newdesign/images/corporatescocktails.png" alt="Thumb" />
                                <span class="d-block mt-2 themeFontColor">Corporates Cocktail parties</span>
                            </a>
                            <a href="/NLiveDeals/Index?eve=Annual Day Celebrations" class="item">
                                <img src="http://design.maa-aahwanam.com/newdesign/images/annualday.png" alt="Thumb" />
                                <span class="d-block mt-2 themeFontColor">Annual Day Celebrations</span>
                            </a>
                            <a href="/NLiveDeals/Index?eve=Corporate Buffet Lunch / Dinner" class="item">
                                <img src="http://design.maa-aahwanam.com/newdesign/images/banquet-bg.png" alt="Thumb" />
                                <span class="d-block mt-2 themeFontColor">Corporate Buffet Lunch / Dinner</span>
                            </a>
                            <a href="/NLiveDeals/Index?eve=Honeymoon packages Rooms CP Plan" class="item">
                                <img src="http://design.maa-aahwanam.com/newdesign/images/honeymoon.png" alt="Thumb" />
                                <span class="d-block mt-2 themeFontColor">Honeymoon packages Rooms CP Plan</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="container-fluid">
            <div class="row letsCelebrationBlock margin-top-50">
                <div class="w-100 text-center">
                    <h2 class="noteWorthybold">Showcase your love by posting most memorable pic with your Dad.</h2>
                    <br />
                    <span onclick='location.href = "/Contests"' class="themeBgColorPrimary btnPrimary text-white">Participate Now</span>
                </div>
            </div>
        </div>*@

    <div class="container">
        <div class="margin-top-50">
            <div class="row mx-0">
                <h3 class="noteWorthybold">
                    Event Services
                    <div class="blackBorder"></div>
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="owl-carousel owl-theme mt-3">
                        <a href="/NVendors?servicetype=Photography" class="item">
                            <img src="~/newdesign/images/photography-bg.png" alt="Photography" />
                            <span class="d-block mt-2 themeFontColor">Photography</span>
                        </a>
                        @*<a href="#" class="item">
                                <img src="~/newdesign/images/makeup-artist-bg.png" alt="Makeup Artist" />
                                <span class="d-block mt-2 themeFontColor">Makeup Artist</span>
                            </a>*@
                        <a href="/NVendors?servicetype=Mehendi" class="item">
                            <img src="~/newdesign/images/mehendi.jpg" alt="Mehendi Artist" />
                            <span class="d-block mt-2 themeFontColor">Mehendi Artist</span>
                        </a>
                        <a href="/NVendors?servicetype=Decorator" class="item">
                            <img src="~/newdesign/images/decorators-bg.png" alt="Decorators" />
                            <span class="d-block mt-2 themeFontColor">Decorators</span>
                        </a>
                        <a href="/NVendors?servicetype=Pandit" class="item">
                            <img src="~/newdesign/images/pundit-bg.png" alt="Pandits" />
                            <span class="d-block mt-2 themeFontColor">Pandits</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="margin-top-50">
            <div class="row mx-0">
                <h3 class="noteWorthybold">
                    Food & Catering
                    <div class="blackBorder"></div>
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="owl-carousel owl-theme mt-3">
                        <a href="/NVendors?servicetype=Catering" class="item">
                            <img src="http://design.maa-aahwanam.com/newdesign/images/indian.jpg" alt="Thumb" />
                            <span class="d-block mt-2 themeFontColor">Indian</span>
                        </a>
                        <a href="/NVendors?servicetype=Catering" class="item">
                            <img src="http://design.maa-aahwanam.com/newdesign/images/chinese.jpg" alt="Thumb" />
                            <span class="d-block mt-2 themeFontColor">Chinese</span>
                        </a>
                        <a href="/NVendors?servicetype=Catering" class="item">
                            <img src="http://design.maa-aahwanam.com/newdesign/images/mexican.jpg" alt="Thumb" />
                            <span class="d-block mt-2 themeFontColor">Mexican</span>
                        </a>
                        <a href="/NVendors?servicetype=Catering" class="item">
                            <img src="http://design.maa-aahwanam.com/newdesign/images/southindian.jpg" alt="Thumb" />
                            <span class="d-block mt-2 themeFontColor">South Indian</span>
                        </a>
                        <a href="/NVendors?servicetype=Catering" class="item">
                            <img src="http://design.maa-aahwanam.com/newdesign/images/continent.jpg" alt="Thumb" />
                            <span class="d-block mt-2 themeFontColor">Continental</span>
                        </a>
                        <a href="/NVendors?servicetype=Catering" class="item">
                            <img src="http://design.maa-aahwanam.com/newdesign/images/fastfood.jpg" alt="Thumb" />
                            <span class="d-block mt-2 themeFontColor">Fast Food</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="margin-top-50">
                <div class="row mx-0">
                    <h3 class="noteWorthybold">
                        Other Services (COMING SOON)
                        <div class="blackBorder"></div>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="owl-carousel owl-theme mt-3">
                            <a class="item">
                                <img src="~/newdesign/images/event-organiser-bg.png" alt="Event Organizer" />
                                <span class="d-block mt-2 themeFontColor">Event Organizer</span>
                            </a>
                            <a class="item">
                                <img src="http://design.maa-aahwanam.com/newdesign/images/giftstore.jpg" alt="Gift Stores" />
                                <span class="d-block mt-2 themeFontColor">Gift Stores</span>
                            </a>
                            <a class="item">
                                <img src="~/newdesign/images/bouncer-bg.png" alt="Bouncers" />
                                <span class="d-block mt-2 themeFontColor">Bouncers</span>
                            </a>
                            <a class="item">
                                <img src="~/newdesign/images/travels-bg.png" alt="Travels" />
                                <span class="d-block mt-2 themeFontColor">Travels</span>
                            </a>
                            <a class="item">
                                <img src="http://design.maa-aahwanam.com/newdesign/images/otherservices.jpg" alt="Others" />
                                <span class="d-block mt-2 themeFontColor">Others</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>



    @*<div class="row margin-top-50 oneStopSolution align-items-center">
                <div class="col-12 col-sm-12 col-md-6">
                    <h3 class="noteWorthybold">One Stop Solutions</h3>
                    <p class="mt-3">
                        The days of heavy headachs are no more now, We are are announcing the most innovative & Intelligent solution that helps to manage your celebration with deep emotion.
                    </p>
                    <div class="row mx-0 mt-3">
                        <button type="button" class="btnPrimary themeBgColorPrimary border-0 text-white">Start Planing</button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <img src="~/newdesign/images/main-image.png" class="mw-100" alt="Main Image" />
                </div>
            </div>

        </div>*@

    <div class="container">
        <div class="row margin-top-50 oneStopSolution align-items-center">
            <div class="col-12 col-sm-12 col-md-6">
                <h2 class="noteWorthybold mb-5">One Stop Solutions</h2>
                <p class="mt-3">
                    The days of heavy headaches are no more now, We are announcing the most innovative & Intelligent solution that helps to manage your celebration with deep emotion.
                </p>
                <div class="row mx-0 my-3">
                    <a href="#startPlaning" class="btnPrimary themeBgColorPrimary border-0 text-white">Start Planning</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <img src="~/newdesign/images/onestopimage.png" class="mw-100" alt="Main Image" />
            </div>
        </div>
    </div>



    <footer class="footerBg text-white py-4 margin-top-50">
        <div class="row mx-0">
            <div class="col-6 col-sm-4 col-md-2 offset-md-1">
                <h4 class="noteWorthybold">
                    Main Links
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">About Us</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Celebrations
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="/NVendors?servicetype=Wedding" class="text-white">Wedding</a>
                    </li>
                    <li>
                        <a href="/NVendors?servicetype=Engagement" class="text-white">Engagement</a>
                    </li>
                    <li>
                        <a href="/NVendors?servicetype=Birthday" class="text-white">Birthday</a>
                    </li>
                    <li>
                        <a href="/NVendors?servicetype=Party" class="text-white">Parties</a>
                    </li>
                    <li>
                        <a href="/NVendors?servicetype=Corporate" class="text-white">Corporate</a>
                    </li>
                    <li>
                        <a href="/NVendors?servicetype=BabyFunction" class="text-white">Baby Functions</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Services
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="/NVendors?servicetype=Venue" class="text-white">Venues</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Music & Artists</a>
                    </li>
                    <li>
                        <a href="/NVendors?servicetype=Catering" class="text-white">Catering</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Event Services</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Other</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    What's Trending
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="/NVendors?servicetype=Photography" class="text-white">Photography</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Makeup Artists</a>
                    </li>
                    <li>
                        <a href="/NVendors?servicetype=Decorator" class="text-white">Decorators</a>
                    </li>
                    <li>
                        <a href="/NVendors?servicetype=Pandit" class="text-white">Pandit</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Bakers</a>
                    </li>
                    <li>
                        <a href="/NVendors?servicetype=Banquet Hall" class="text-white">Banquet Halls</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Support System
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">Customer Support</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Vendor Support</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Faq's</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mx-0 secondFooter">
            <div class="w-100 text-center">
                <ul class="pl-0 mb-0">
                    <li>
                        <a href="#" class="text-white">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Refund Policy</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="w-100 text-center">
                <p class="mb-0">Copy Right 2018, All rights reserved.</p>
            </div>
        </div>
    </footer>
    <div class="topScroll">
        <div class="icon"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
    </div>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript" src="~/newdesign/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
    <script src="~/newdesign/js/alertify.js"></script>
    @*<!------ Owl Thumb Slider ---------->*@
    @*<script src="~/newdesign/js/jquery-ui.min.js"></script>
        <script src="~/newdesign/js/datepicker.js"></script>*@
    <script src="~/newdesign/js/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="~/newdesign/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 3
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })



        })
    </script>
    @*geolocation*@
    <script>
        window.onload = function () {
            var city_name = "";

            var geocoder = new google.maps.Geocoder();

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
            }
            //Get the latitude and the longitude;
            function successFunction(position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                codeLatLng(lat, lng)
            }

            function errorFunction() {
                //alert("Geocoder failed");
            }

            function initialize() {
                geocoder = new google.maps.Geocoder();



            }

            function codeLatLng(lat, lng) {

                var latlng = new google.maps.LatLng(lat, lng);
                var url = 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lng + '&sensor=false'

                $.ajax(url).done(function (data) {
                    for (var i = 0; i < data.results.length; i++) {
                        for (var j = 0; j < data.results[i].address_components.length; j++) {
                            for (var k = 0; k < data.results[i].address_components[j].types.length; k++) {
                                if (data.results[i].address_components[j].types[k] === 'locality') {
                                    city_name = data.results[i].address_components[j].long_name;
                                }
                            }
                        }
                    }
                    //alert(city_name);

                })
            }
        }
    </script>
    <!------ Auto Complete ---------->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        function minmax(value, min, max) {
            if (parseInt(value) <= 1 || isNaN(value))
                return 1;
            else if (parseInt(value) > 10000)
                return 10000;
            else return value;
        }
    </script>

    <script type="text/javascript">
        /*--- Date and Time ----*/
        $('#datetimepicker').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            timepicker: false,
            format: 'd/m/Y',
            minDate: '-1970/01/01',//yesterday is minimum date(for today use 0 or -1970/01/01)
            maxDate: '+1970/03/02'//tomorrow is maximum date calendar
        });
        /*------------ Date and Time --------------*/
    </script>

    <script>
        function alertmsg(msg) {
            alertify.alert("" + msg + "", function () {
                //alertify.message('OK');
            });
        }
    </script>

    <script>
        $(function () {
            var availableTags = '';
            $.ajax({
                type: "GET",
                url: '/NHomePage/AutoCompleteCountry',
                success: function (data) {
                    availableTags = data.split(',');
                    $("#tags,#tags1").autocomplete({
                        source: availableTags
                    });
                }
            });
            $("#tags, #tags1").autocomplete({
                source: availableTags
            });
        });
    </script>

    <script>
        @*<!------ Top Section Area Search ---------->*@
        var areaSpan = $(".topSearchArea").find("span:last-child"),
            topThisUiWidget = $(".topSearchArea").next(".ui-widget").find('input');
        $(".topSearchArea").click(function (event) {
            //$(areaSpan).css({ "display": "none" });
            //$(topThisUiWidget).css({ "display": "block" });
            //$(topThisUiWidget).focus();
        });

        $(topThisUiWidget).on('blur', function () {
            if ($(this).val() == '') {
                //alert("Empty");
                $(areaSpan).css({ "display": "flex" });
                $(topThisUiWidget).css("display", "none");
            }
        });

        //      <!------ Top Section Area Search ---------->

        //<!------ Index Search Block ---------->

        $(".normalSearch input[type='text']").on('input', function () {
            if ($(this).val().length >= 2) {
                $(".normalSearch > .normalSearchResult").css("display", "block");
                sortvendors();
            } else {
                $(".normalSearch > .normalSearchResult").css("display", "none");
            }
        });

        //<!------ Index Search Block ---------->

        @*<!------ Venue Area Search ---------->*@
        var venueSearch = $(".venueSearch").find("span"),
        venueSearchSpan = $(".venueSearch").find("span:first-of-type"),
        venueUiWidge = $(".venueSearch").find(".ui-widget").find('input');;
        $(venueSearch).click(function () {
            //$(venueSearchSpan).css({ "display": "none" });
            //$(venueUiWidge).css({ "display": "block" });
            //$(venueUiWidge).focus();
        });
        $(venueUiWidge).on('blur', function () {
            if ($(this).val() == '') {
                //alert("Empty");
                $(venueSearch).css({ "display": "flex" });
                $(venueUiWidge).css("display", "none");
            }
        });
        $(document).on('click keydown', 'ul#ui-id-2 li.ui-menu-item', function () {
            $(".normalSearch > .normalSearchResult").css("display", "block");
            sortvendors();
        });

        /*$(document).on('keydown', 'ul#ui-id-2 li.ui-menu-item', function(){
        $(".normalSearch > .normalSearchResult").css("display","block");
        });*/
        @*<!------ Venue Area Search ---------->*@

    </script>


    <script>
        function sortvendors() {
            // $('#searchvendors').on('change', function () {
            var location = $('#tags1').val();
            if (location == '') { location = 'Hyderabad'; }
            var url = '/NHomePage/SortVendorsBasedOnLocation?search=' + $('#searchvendors').val() + '&&type=' + $('#searchvendortype').html() + '&&location=' + location;
            //alert($('#searchvendortype').html());
            //Sorting Vendors based on location
            $.ajax({
                type: 'get',
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                data: $('#tags').val(),
                success: function (result) {
                    $('#sortedvendorlist').empty().html(result);
                    //catgId = selected.toString().split(',');
                    //for (var i = 0; i < catgId.length; i++) {
                    //    $("#businesscategory div").each(function () {
                    //        $('#' + catgId[i] + '').show();
                    //    });
                    //}
                },
                error: function (ex) {
                    //alert("Failed To Fetch data");
                    alertmsg("Failed To Fetch data");
                }
            });
            //});
        }
    </script>

    <script>
        @*<!--//---- Top Section Area Search ---------->
            var areaSpan = $(".topSearchArea").find("span:last-child"),
                topThisUiWidget = $(".topSearchArea").next(".ui-widget");
        $(".topSearchArea").click(function(event){
            $(areaSpan).css({"display":"none"});
            $(topThisUiWidget).css({"display":"block"});
            $(topThisUiWidget).find("input").focus();
        });
    //    <!------ Top Section Area Search ---------->

	//<!------ Venue Area Search ---------->
	  var venueSearch = $(".venueSearch").find("span"),
	      venueSearchSpan = $(".venueSearch").find("span:first-of-type"),
	      venueUiWidge = $(".venueSearch").find(".ui-widget");
        $(venueSearch).click(function(){
            $(venueSearchSpan).css({"display":"none"});
            $(venueUiWidge).css({"display":"block"});
            $(venueUiWidge).find("input").focus();
        });
        //<!------ Venue Area Search ---------->*@


        //<!------ Category Select ---------->
        var catgSearch = $(".categorySearch > span"),
            catgSearchSpanFirst = $(".categorySearch > span:first-child"),
            catResults = $(".categorySearch .categoryResults")
        $(catgSearch).click(function (e) {
            e.stopPropagation(); //New Line Added
            $(catResults).css("display", "block");
        });
        /*-- New Script Added --*/
        $(document).click(function () {
            $(catResults).hide();
        });
        /*-- New Script Added --*/

        $(catResults).find('li').click(function () {
            //alert($(this).children('label').prop("for"));
            var catResultsText = $(this).children('label').prop("for");
            $(catgSearchSpanFirst).empty().append(catResultsText);
            $(catResults).css("display", "none");
            sortvendors();
        });
        //<!------ Category Select ---------->
        //<!------------- dealProfile Accoding ----------->

        $(".dealProfileTotalDescrption > .block:first-child .content").css("display", "block");
        var link = $(".dealProfileTotalDescrption > .block > h6 > a");

        link.on('click', function (event) {
            event.preventDefault();
            var anchorVal = $(this).attr("href");
            $(anchorVal).slideDown('fast');
            $(".dealProfileTotalDescrption > .block .content").not(anchorVal).slideUp('fast');
        })
        // <!------------- dealProfile Accoding ----------->

    </script>

    <script>
        function planning() {
            var location = $('#tags').val();
            var servicetype = $('#selectedservice').val();
            var occasiondate = $('#datetimepicker').val();
            var guestscount = $('#guests').val();
            if (location == '') { location = 'Hyderabad'; }
            if (servicetype == '') { alertmsg("Select Service Type"); }
            if (servicetype != '') { if (guestscount == '' || occasiondate == '') { alertmsg("Enter Guests Count"); } }
            if (servicetype != '') { if (occasiondate == '' && guestscount != '') { alertmsg("Select Occasion Date"); } }
            //alert("location=" + location + ",servicetype=" + servicetype + ",occasiondate=" + occasiondate + "");
            var currenturl = '/NQuestionNaire?location=' + location + '&&servicetype=' + servicetype + '&&occasiondate=' + occasiondate;
            //var u = http://localhost:8566/NResults?type=Hotel&&loc=Hyderabad&&date=28/07/2018&&budget=100000&&count=100&&stype=
            var url = '/NResults?type=' + servicetype + '&&loc=' + location + '&&date=' + occasiondate + '&&budget=100000&&count=' + guestscount + '&&stype=';
            $.cookie("url", currenturl);
            if (servicetype != '' && occasiondate != '') {
                window.location.href = url;
            }

        }
    </script>

    <script type="text/javascript">
        $("a[href='#deals']").click(function () {
            $("html, body").animate({
                scrollTop: $("#deals").offset().top
            }, "slow");
        });

        $("a[href='#explore']").click(function () {
            $("html, body").animate({
                scrollTop: $("#explore").offset().top
            }, "slow");
        });

        $("a[href='#startPlaning']").click(function () {
            $("html, body").animate({
                scrollTop: $("#startPlaning").offset().top
            }, "slow");
        });


        /*-- Cart Toggle Block --*/
        $('.cartToggle').click(function () {
            $('.cartBlock').toggle();
        });
        /*-- Cart Toggle Block --*/

        /*-- Scroll Top --*/
        $(window).on("scroll", function () {
            var scrollTop = $(this).scrollTop();
            if (scrollTop > 800) {
                $(".topScroll").css("display", "block");
            } else {
                $(".topScroll").css("display", "none");
            }
        })
        $(".topScroll").click(function () {
            $("html, body").animate({
                scrollTop: $("#bodyTop").offset().top
            }, "slow");
        });
        /*-- Scroll Top --*/

        function DeletecartItem(cartId) {
            var obj = {}
            obj.cartId = cartId;
            $.ajax({
                type: "POST",
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/CartView/DeletecartItem',
                data: {},
                data: JSON.stringify(obj),
                //data: sendInfo,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        window.location.reload();
                    }
                },
                error: function (data) {
                    //alert('error');
                    alertmsg("error");
                }
            });
        }
    </script>
    <script>
        function redirect(id, subid) {
            var type = $('#searchvendortype').html();
            location.href = '/NParticularVendor?type=' + type + '&&id=' + id + '&&vid=' + subid + '';
        }

        $('button.navbar-toggler-right').click(function () {
            $(this).nextAll(".navbar-collapse").removeClass('in').toggleClass(' show');
        });

    </script>
    <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b7e7e93afc2c34e96e7d2fe/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
    </script>
</body>
</html>
