
@if (ViewBag.records.Count != 0)
{
    <ul class="pl-0 text-nowrap">
        @foreach (var item in ViewBag.records)
        {
            <li>
                <a onclick="redirect(@item.id,@item.subid)">
                    <div class="float-left">
                        @*<img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">*@
                        @if (item.logo != null && item.logo != "")
                    {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                    else if (item.image != null && item.image != "")
                    {<img src="~/vendorimages/@item.image" alt="@item.image">}
                    else
                    { <img src="~/noimages.png" alt="No Image Available">}
                    </div>
                    <div class="float-left text-center themeFontColor">
                        @if (@item.businessname != null && @item.businessname != "")
                    {<p class="mb-0">@item.businessname</p> }
                    else
                    { <p class="mb-0">Venue Vendor</p>}
                        <span>@item.landmark</span>
                    </div>
                </a>
            </li>
        }
    </ul>
}
else
{
    <h2>No Records Available</h2>
}

@*<ul class="pl-0 text-nowrap">
    <li class="mx-2">
        <div class="float-left">
            <img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">
        </div>
        <div class="float-left ml-2 text-center themeFontColor">
            <p class="mb-0">Taj Banjara</p>
            <span>Hyderabad</span>
        </div>
    </li>
    <li class="mx-2">
        <div class="float-left">
            <img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">
        </div>
        <div class="float-left ml-2 text-center themeFontColor">
            <p class="mb-0">Taj Banjara</p>
            <span>Hyderabad</span>
        </div>
    </li>
    <li class="mx-2">
        <div class="float-left">
            <img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">
        </div>
        <div class="float-left ml-2 text-center themeFontColor">
            <p class="mb-0">Taj Banjara</p>
            <span>Hyderabad</span>
        </div>
    </li>
    <li class="mx-2">
        <div class="float-left">
            <img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">
        </div>
        <div class="float-left ml-2 text-center themeFontColor">
            <p class="mb-0">Taj Banjara</p>
            <span>Hyderabad</span>
        </div>
    </li>
    <li class="mx-2">
        <div class="float-left">
            <img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">
        </div>
        <div class="float-left ml-2 text-center themeFontColor">
            <p class="mb-0">Taj Banjara</p>
            <span>Hyderabad</span>
        </div>
    </li>
    <li class="mx-2">
        <div class="float-left">
            <img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">
        </div>
        <div class="float-left ml-2 text-center themeFontColor">
            <p class="mb-0">Taj Banjara</p>
            <span>Hyderabad</span>
        </div>
    </li>
    <li class="mx-2">
        <div class="float-left">
            <img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">
        </div>
        <div class="float-left ml-2 text-center themeFontColor">
            <p class="mb-0">Taj Banjara</p>
            <span>Hyderabad</span>
        </div>
    </li>
    <li class="mx-2">
        <div class="float-left">
            <img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">
        </div>
        <div class="float-left ml-2 text-center themeFontColor">
            <p class="mb-0">Taj Banjara</p>
            <span>Hyderabad</span>
        </div>
    </li>
    <li class="mx-2">
        <div class="float-left">
            <img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">
        </div>
        <div class="float-left ml-2 text-center themeFontColor">
            <p class="mb-0">Taj Banjara</p>
            <span>Hyderabad</span>
        </div>
    </li>
    <li class="mx-2">
        <div class="float-left">
            <img src="~/newdesign/images/dummy_thumb.jpg" alt="Dummy">
        </div>
        <div class="float-left ml-2 text-center themeFontColor">
            <p class="mb-0">Taj Banjara</p>
            <span>Hyderabad</span>
        </div>
    </li>
</ul>*@
