
@{
    ViewBag.Title = ":: Available Vendors ::";
    Layout = "~/Views/SharedWeb/MasterPage.cshtml";
}

<link href="~/newdesign/css/jquery.datetimepicker.css" rel="stylesheet" />
<link href="~/newdesign/css/jquery-ui.css" rel="stylesheet" />
<link href="~/newdesign/css/daterangepicker.css" rel="stylesheet" />

<div class="container margin-top-100">
    <input type="hidden" id="particularvendor" />
    <div class="row">
        <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Available @ViewBag.service Partners</h3>
    </div>
    <div class="row">
        @foreach (var item in ViewBag.records)
        {
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="venue-details">
                    <a href="/VendorParticularService/Index?type=@Request.QueryString["service"]&&id=@item.id&&vid=@item.subid">
                        @if (item.logo != null && item.logo != "")
                        {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                        else if (item.image != null && item.image != "")
                        {<img src="~/vendorimages/@item.image" alt="@item.image">}
                        else
                        { <img src="~/noimages.png" alt="No Image Available">}
                        @*@if (item.image != null && item.image != "")
                            {<img src="~/vendorimages/@item.image" alt="@item.image">}
                            else
                            { <img src="~/noimages.png" alt="No Image Available">}*@
                    </a>
                    <div class="venue-footer">
                        <div class="venue-info">
                            <div class="card-title">
                                @*@if (item.businessname.Contains("&amp;"))
                                    {<a href="/VendorParticularService/Index?type=@Request.QueryString["service"]&&id=@item.id&&vid=@item.subid"><h4>@item.businessname.Replace("&amp;", "")</h4></a> }
                                    else
                                    { <a href="/VendorParticularService/Index?type=@Request.QueryString["service"]&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>}*@


                                @*@if (item.businessname == "" || item.businessname != null)
                                    {<a href="/VendorParticularService/Index?type=@Request.QueryString["service"]&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a> }
                                    else
                                    { <a href="/VendorParticularService/Index?type=@Request.QueryString["service"]&&id=@item.id&&vid=@item.subid"><h4>@item.businessname.Replace("&amp;", "")</h4></a>}*@
                                @*<a href="/VendorParticularService/Index?type=@Request.QueryString["service"]&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>*@
                                @if (item.businessname != "" && item.businessname != null)
                                {<a href="/VendorParticularService/Index?type=@Request.QueryString["service"]&&id=@item.id&&vid=@item.subid"><h4>@item.businessname.Replace("amp;", "")</h4></a>}
                                else
                                { <a href="/VendorParticularService/Index?type=@Request.QueryString["service"]&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>}
                                <div class="venue-score">
                                    <div class="star-rating">
                                        <div class="bg"></div>
                                        <div class="score" style="width:100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content text-center">
                                @*<div class="content">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="count">*@
                                @*<p>500 - 3000</p>
                                    <span>Guests</span>*@
                                @if (ViewBag.service == "Decorator" || ViewBag.service == "Photography" || ViewBag.service == "Other")
                                {
                                    <div class="content">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <div class="count">
                                            @if (item.PriorBookingsDays != null && item.PriorBookingsDays != "")
                                            {<p>@item.PriorBookingsDays</p>}
                                            else
                                            { <p>N/A</p>}
                                            <span>Prior Booking Days</span>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.service == "Catering" || ViewBag.service == "Venue" || ViewBag.service == "Hotels" || ViewBag.service == "Resorts" || ViewBag.service == "Conventions")
                                {
                                    <div class="content">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <div class="count">
                                            <p>@item.MinGuest - @item.MaxGuest</p>
                                            <span>Guests</span>
                                        </div>
                                    </div>
                                }
                                @*</div>
                                    </div>*@
                                <div class="content">
                                    <div class="count">
                                        @*<p>Rs @item.cost<i class="fa fa-check" aria-hidden="true"></i></p>*@
                                        @if (item.cost != null && item.cost != "")
                                        {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                        else
                                        { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                        @if (ViewBag.service == "Venue" || ViewBag.service == "Hotels" || ViewBag.service == "Resorts" || ViewBag.service == "Conventions")
                                        {<span>Service Cost</span>}
                                        @if (ViewBag.service == "Catering" || ViewBag.service == "Other")
                                        {<span>Minimum Order</span>}
                                        @if (ViewBag.service == "Decorator" || ViewBag.service == "Photography")
                                        {<span>Starting Price</span>}
                                        @*<span>Price Per Plate</span>*@
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container-fluid view-details-alert">
    <div class="content">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0">
            <div class="default-details w-100 float-left">
                <h3 style="font-size:14px;font-weight:bold" class="margin-top-0"></h3>
            </div>
            @*<div class="more-details w-100 float-left">
                    <h4 class="theme-font-color bold">More Services</h4>
                    <div class="w-100 float-left">
                        <h3 style="font-size:14px;font-weight:bold" class="margin-top-0">Category One</h3>
                        <ul class="col-xs-12 col-sm-12 col-md-6 col-lg-6 w-100">
                            <li>
                                <span style="font-weight:bold">Guests</span> :
                                <p style="display:inline-block">N/A</p>
                            </li>
                            <li>
                                <span style="font-weight:bold">Price Per Plate</span> :
                                <p style="display:inline-block">N/A </p>
                            </li>
                        </ul>
                    </div>
                    <div class="w-100 float-left">
                        <h3 style="font-size:14px;font-weight:bold" class="margin-top-0">Category Two</h3>
                        <ul class="col-xs-12 col-sm-12 col-md-6 col-lg-6 w-100">
                            <li>
                                <span style="font-weight:bold">Guests</span> :
                                <p style="display:inline-block">N/A</p>
                            </li>
                            <li>
                                <span style="font-weight:bold">Price Per Plate</span> :
                                <p style="display:inline-block">N/A </p>
                            </li>
                        </ul>
                    </div>
                </div>*@
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 checkin-out">
            <div class="form-group">
                <label for="check-in">Email Id</label>
                <input type="email" class="some_class form-control" value="" id="quote_email" />
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-10">
                <label for="persons">Name</label>
                <input type="text" class="form-control" id="quote_name" />
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0">
                <label for="extra-persons">Phone</label>
                <input type="text" class="form-control" id="quote_phone" />
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-10">
                <label for="check-in">Check In Date</label>
                <input type="text" class="form-control" id="checkindate" />
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0">
                <label for="extra-persons">Check In Time</label>
                <input type="text" class="form-control" id="checkintime" />
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-10">
                <label for="check-in">Check Out Date</label>
                <input type="text" class="form-control" id="checkoutdate" />
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0">
                <label for="extra-persons">Check Out Time</label>
                <input type="text" class="form-control" id="checkouttime" />
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-10">
                <label for="persons">Persons</label>
                <input type="text" class="form-control persons" id="quote_persons" />
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0">
                <label for="extra-persons">Extra Persons</label>
                <input type="text" class="form-control extra-persons" id="quote_extrapersons" />
            </div>
            <div class="form-group text-center">
                <button name="Submit" href="#" class="btn btn-sm btn-default book-now theme-bg white" id="SendQuote">Send Details</button>
            </div>
        </div>
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
</div>
<div class="container-fluid" id="topicon">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>

<script type="text/javascript" language="javascript" src="~/newdesign/js/jquery-3.1.1.min.js"></script>
<script src="~/newdesign/js/jquery-ui-1.12.1.js"></script>
<script src="~/newdesign/js/jquery.datetimepicker.full.js"></script>
<script src="~/newdesign/js/daterangepicker.js"></script>
<script src="~/Scripts/Quote.js"></script>
<script>
    /*-------- Get Quote Alert --------*/
    $("a.view-details").click(function () {
        var url = $(this).parents(".venue-details").find("a").attr("href");
        $('#particularvendor').val(url);
        $(".view-details-alert").css("display", "block");
        //alert($(this).parents(".venue-footer").find(".bottom-content.text-center").find(".content").length);
        $(".view-details-alert > .content .default-details > h3").empty().append($(this).parents(".venue-footer").find(".card-title").find("h4").text());
        var contentLen = $(this).parents(".venue-footer").find(".bottom-content.text-center").find(".content").length;
        $(".view-details-alert > .content .default-details > ul").remove();
        $(".view-details-alert > .content .default-details").append('<ul class="col-xs-12 col-sm-12 col-md-6 col-lg-6 w-100"></ul>');
        for (var i = 0; i < contentLen; i++) {
            $(".view-details-alert > .content .default-details > ul").append('<li>' + '<span style="font-weight:bold"></span>' + ' : ' + '<p style="display:inline-block"></p>' + '</li>');
            $('.view-details-alert').find('li').eq(i).find('span').append($(this).parents(".venue-footer").find(".bottom-content").find(".count").eq(i).children("span").text());
            $('.view-details-alert').find('li').eq(i).find('p').append($(this).parents(".venue-footer").find(".bottom-content").find(".count").eq(i).children("p").text());
        }

        //calender Text boxes Empty
        $(".checkin-out").find("input.check-in").val("");
        $(".checkin-out").find("input.check-out").val("");
        $(".checkin-out").find("input.persons").val("");
        $(".checkin-out").find("input.extra-persons").val("");
        //calender Text boxes Empty
    });
    $(".view-details-alert > .content > i.fa-times").click(function () {
        $(this).parents(".view-details-alert").css("display", "none");
    })
    /*-------- Get Quote Alert --------*/

    $("#SendQuote").click(function () {
        var url = $('#particularvendor').val();
        var servicetype = url.split('type=')[1].split('&&')[0];
        var vendorid = url.split('vid=')[1].split('&&')[0];
        var vendormasterid = url.split('id=')[1].split('&&')[0];
        var quotationsList = {
            Name: $('#quote_name').val(),
            EmailId: $('#quote_email').val(),
            ServiceType: servicetype,
            PhoneNo: $('#quote_phone').val(),
            EventStartDate: $('#checkindate').val(),
            EventStartTime: $('#checkintime').val(),
            EventEnddate: $('#checkoutdate ').val(),
            EventEndtime: $('#checkouttime').val(),
            VendorId: vendorid,
            VendorMasterId: vendormasterid,
            Persons: $('#quote_persons').val(),
            ExtraPersons: $('#quote_extrapersons').val(),
        }
        GetQuote(quotationsList);
        //alert('servicetype:' + servicetype + ',vendorid:' + vendorid + ',vendormasterid:' + vendormasterid);
    });

    $("#checkindate").datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'd/m/Y',
        //formatDate:'Y/m/d',
    });
    $("#checkintime").datetimepicker({
        datepicker: false,
        timepicker: true,
        format: 'H:i',
        //formatDate:'Y/m/d',
    });
    $("#checkoutdate").datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'd/m/Y',
        //formatDate:'Y/m/d',
    });
    $("#checkouttime").datetimepicker({
        datepicker: false,
        timepicker: true,
        format: 'H:i',
        //formatDate:'Y/m/d',
    });
</script>
