
@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/SharedWeb/MasterPage.cshtml";
}

@if (ViewBag.Venue != null)
{
    <div class="row" id="hotels-list">
        <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Venues</h3>
    </div>

<div class="row">
    @foreach (var item in ViewBag.Venue)
    {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                    @if (item.logo != null && item.logo != "")
                    {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                    else if (item.image != null && item.image != "")
                    {<img src="~/vendorimages/@item.image" alt="@item.image">}
                    else
                    { <img src="~/noimages.png" alt="No Image Available">}
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:80%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>500 - 3000</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    @if (item.cost != null && item.cost != "")
                                    {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    else
                                    { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    <span>Starting Price</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @*<div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>*@
                </div>
            </div>
        </div>
    }
</div>
}

@if (ViewBag.Hotels != null)
{
<div class="row" id="hotels-list">
    <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Hotels</h3>
</div>

<div class="row">
    @foreach (var item in ViewBag.Hotels)
    {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                    @if (item.logo != null && item.logo != "")
                    {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                    else if (item.image != null && item.image != "")
                    {<img src="~/vendorimages/@item.image" alt="@item.image">}
                    else
                    { <img src="~/noimages.png" alt="No Image Available">}
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:80%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>500 - 3000</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    @if (item.cost != null && item.cost != "")
                                    {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    else
                                    { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    <span>Starting Price</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @*<div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>*@
                </div>
            </div>
        </div>
    }
</div>
}

@if (ViewBag.Resorts != null)
{
<div class="row" id="hotels-list">
    <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Resorts</h3>
</div>

<div class="row">
    @foreach (var item in ViewBag.Resorts)
    {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                    @if (item.logo != null && item.logo != "")
                    {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                    else if (item.image != null && item.image != "")
                    {<img src="~/vendorimages/@item.image" alt="@item.image">}
                    else
                    { <img src="~/noimages.png" alt="No Image Available">}
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:80%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>500 - 3000</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    @if (item.cost != null && item.cost != "")
                                    {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    else
                                    { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    <span>Starting Price</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @*<div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>*@
                </div>
            </div>
        </div>
    }
</div>
}

@if (ViewBag.Conventions != null)
{
<div class="row" id="hotels-list">
    <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Conventions</h3>
</div>

<div class="row">
    @foreach (var item in ViewBag.Conventions)
    {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                    @if (item.logo != null && item.logo != "")
                    {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                    else if (item.image != null && item.image != "")
                    {<img src="~/vendorimages/@item.image" alt="@item.image">}
                    else
                    { <img src="~/noimages.png" alt="No Image Available">}
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:80%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>500 - 3000</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    @if (item.cost != null && item.cost != "")
                                    {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    else
                                    { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    <span>Starting Price</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @*<div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>*@
                </div>
            </div>
        </div>
    }
</div>
}

@if (ViewBag.Catering != null)
{
<div class="row" id="hotels-list">
    <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Catering</h3>
</div>

<div class="row">
    @foreach (var item in ViewBag.Catering)
    {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                    @if (item.logo != null && item.logo != "")
                    {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                    else if (item.image != null && item.image != "")
                    {<img src="~/vendorimages/@item.image" alt="@item.image">}
                    else
                    { <img src="~/noimages.png" alt="No Image Available">}
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:80%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>500 - 3000</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    @if (item.cost != null && item.cost != "")
                                    {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    else
                                    { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    <span>Starting Price</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @*<div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>*@
                </div>
            </div>
        </div>
    }
</div>
}

@if (ViewBag.Photography != null)
{
<div class="row" id="hotels-list">
    <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Photography</h3>
</div>

<div class="row">
    @foreach (var item in ViewBag.Photography)
    {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                    @if (item.logo != null && item.logo != "")
                    {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                    else if (item.image != null && item.image != "")
                    {<img src="~/vendorimages/@item.image" alt="@item.image">}
                    else
                    { <img src="~/noimages.png" alt="No Image Available">}
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:80%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>500 - 3000</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    @if (item.cost != null && item.cost != "")
                                    {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    else
                                    { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    <span>Starting Price</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @*<div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>*@
                </div>
            </div>
        </div>
    }
</div>
}

@if (ViewBag.Decorator != null)
{
<div class="row" id="hotels-list">
    <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Decorator</h3>
</div>

<div class="row">
    @foreach (var item in ViewBag.Decorator)
    {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                    @if (item.logo != null && item.logo != "")
                    {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                    else if (item.image != null && item.image != "")
                    {<img src="~/vendorimages/@item.image" alt="@item.image">}
                    else
                    { <img src="~/noimages.png" alt="No Image Available">}
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:80%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>500 - 3000</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    @if (item.cost != null && item.cost != "")
                                    {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    else
                                    { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    <span>Starting Price</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @*<div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>*@
                </div>
            </div>
        </div>
    }
</div>
}

    
@if (ViewBag.Mehendi != null)
{
<div class="row" id="hotels-list">
    <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Mehendi</h3>
</div>

<div class="row">
    @foreach (var item in ViewBag.Mehendi)
    {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                    @if (item.logo != null && item.logo != "")
                    {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                    else if (item.image != null && item.image != "")
                    {<img src="~/vendorimages/@item.image" alt="@item.image">}
                    else
                    { <img src="~/noimages.png" alt="No Image Available">}
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:80%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>500 - 3000</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    @if (item.cost != null && item.cost != "")
                                    {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    else
                                    { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                    <span>Starting Price</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @*<div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>*@
                </div>
            </div>
        </div>
    }
</div>
}