@model Tuple<MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.UserDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/Mainmaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Members Area</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Members Area</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<section>
    <div class="about_main">
        <div class="pageWidth">
            <div class="login-register">
                <div class="form register wow fadeInLeft animated animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <h4><b>New User</b> Register Here<span></span></h4>
                    @*<form novalidate id="register_form">*@
                    @using (Html.BeginForm("Index", "Signin", FormMethod.Post, new { @class = "form-signin", @id = "register_form", @autocomplete = "off" }))
                    {
                        <ul>
                            <li>
                                <label>First Name<span>*</span></label>
                                @Html.TextBoxFor(Model => Model.Item2.FirstName, new { @id= "Item2.FirstName", @name = "firstname", placeholder = "First Name", required = "required" }) 
                            </li>
                            <li>
                                <label>Last Name<span>*</span></label>
                                @Html.TextBoxFor(Model => Model.Item2.LastName, new { @id= "Item2.LastName", @name = "lastname", placeholder = "Last Name", required = "required" })
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label>Email<span>*</span></label>
                                @Html.TextBoxFor(Model => Model.Item1.UserName, new { @id= "Item1.UserName", @name = "email", placeholder = "E-mail ID", required = "required", @type = "email" })
                            </li>
                            <li>
                                <label>Phone Number<span>*</span></label>
                                @Html.TextBoxFor(Model => Model.Item2.UserPhone, new { @id= "Item2.UserPhone", @name = "mobile", placeholder = "Phone Number", required = "required", @type = "number" })
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label>Password<span>*</span></label>
                                @Html.PasswordFor(Model => Model.Item1.Password, new { @id = "PasswordValue_Reg", @name = "password", required = "required", placeholder = "Password" }) @*, @id = "PasswordValue_Reg"*@
                            </li>
                            <li>
                                <label>Confirm Password<span>*</span></label>
                                @*@Html.PasswordFor(Model => Model.Item1.Password, new { @id= "ConfirmPassword", @name = "confirmpassword", required = "required", placeholder = "Re type Password" }) @*, @id = "ConfirmPassword"*@
                                <input type="password" id="ConfirmPassword" name="ConfirmPassword", placeholder = "Re type Password" />
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <div class="submit-btn">
                            <button class="btn btn-green" name="Command" value="Register" type="submit" onclick="check();"><i class="ti-user"></i> Register</button>
                        </div>
                        <div class="clear"></div>
                    }
                </div>

                <div class="form login wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight;">
                    <h4><b>Existing User</b> Login Here<span></span></h4>

                    @using (Html.BeginForm("Index", "signin", FormMethod.Post, new { @id = "login_form"}))
                    {
                        @*<fieldset>
                                <div class="radioButtons" id="radio-demo">
                                    <input type="radio" checked onclick="Setvalue('User');" id="rbUser" value="User" name="a" />
                                    <label for="rbUser">User</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <input type="radio" onclick="Setvalue('Vendor');" id="rbVendor" value="Vendor" name="a"/>
                                    <label for="rbVendor">Vendor</label><br />
                                    <br />
                                </div>
                            </fieldset>*@
                        <ul>

                            <li class="full">
                                <table cellspacing="5">
                                    <tr>
                                        <td>
                                            <input type="radio" id="rbUser" value="User" name="a" style="width:20px" onclick="Setvalue('User');" checked />
                                        </td>

                                        <td>
                                            User
                                        </td>
                                        <td>
                                            <input type="radio" id="rbVendor" value="Vendor" name="a" style="width:20px;margin-left:150px" onclick="Setvalue('Vendor');" />
                                        </td>

                                        <td>
                                            Vendor
                                        </td>

                                    </tr>
                                </table>
                            </li>
                            @*<input type="radio" id="rbVendor" value="Vendor" name="a" style="width:20px" onclick="Setvalue('Vendor');" />*@

                            <li class="full">
                                <label>Email<span>*</span></label>
                                @Html.TextBoxFor(Model => Model.Item1.UserName,new { @id = "Item1.UserName", placeholder = "E-mail ID", required = "required", @type = "email" } )
                            </li>
                            <li class="full">
                                <label>Password<span>*</span></label>
                                @Html.PasswordFor(Model => Model.Item1.Password, new { @id = "Item1.Password", placeholder = "Password", required = "required" }) @*, @id = "PasswordValue_Login"*@
                            </li>
                        </ul>
                        <div class="clear"></div>
                            <div class="submit-btn">
                                <button class="btn btn-green" name="Command" id="btnauth" value="AuthenticationUser" onclick="testlogin()" type="submit"><i class="ti-lock"></i> Log in</button>   @*?ReturnUrl=@Request.UrlReferrer*@
                            </div>
                                <div class="forgot-password"><a class="popup-with-move-anim" href="#fpw">Forgot Password?</a></div>
                                <div class="clear"></div>
                    }
                    <!-- forgot password popup -->
                    <div class="zoom-anim-dialog mfp-hide small-dialog popup-box" id="fpw">
                        <h3>Forgot Password</h3>
                        @using (Html.BeginForm("Index", "Signin", FormMethod.Post, new { @id = "forgot_form", @class = "form popup_form", @autocomplete = "off" }))
                        {
                            @*<form class="form popup_form" id="forgot_form" novalidate>*@
                            <ul>
                                <li class="full">
                                    <label>Email<span>*</span></label>
                                    @Html.TextBoxFor(Model => Model.Item1.UserName, new { @id = "Item1.UserName", @name = "email", placeholder = "Username", required = "required", @type = "email"  })

                                </li>
                            </ul>
                            <div class="clear"></div>
                            <div class="submit-btn">
                                <button class="btn btn-red" name="Command" value="ForgotPassword" type="submit"><i class="ti-check"></i> Submit</button>
                            </div>
                                        <div class="clear"></div>
                                        @*</form>*@
                        }
                    </div>
                    <!-- /forgot password popup -->

                </div>
                <div class="clear"></div>
            </div>

        </div>

    </div>
</section>
<script src="~/Scripts/jquery.min.js"></script>
@*<script type="text/javascript">
        $(document).ready(function () {
            BootstrapDialog.alert('Welcom to MaaAahwanam Signin');
        });
    </script>*@
<script>
    function Setvalue(value) {
        document.getElementById("btnauth").value = 'Authentication' + value;
    }
</script>

@*<script>
    function pagesubmit() {
        var url=@Request.QueryString["ReturnUrl"];
        alert("hi");
    }


    $(document).ready(function() {
        $("#btnauth").click(function(){
            alert("button");
        }); 
    });
</script>*@


<script>
    function testlogin() {
        var url = document.referrer;
        $.post("/Signin/Index", { ReturnUrl: url }, function (data) { });
    }
</script>

@*Validation*@
<script>
    $(document).ready(function () {

        $("#register_form").validate({
            rules: {
                'Item2.FirstName': {
                    required: true
                }
                ,
                'Item2.LastName': {
                    required: true
                },
                'Item1.UserName': {
                    required: true,
                    email: true
                },
                'Item2.UserPhone': {
                    required: true,
                    number: true,
                    minlength: 10,
                    maxlength: 12
                },
                'Item1.Password': {
                    required: true
                },
                'ConfirmPassword': {
                    required: true,
                    equalTo: "#PasswordValue_Reg"
                }
            },
            messages: {
                'Item2.FirstName': {
                    required: "Please Enter First Name"
                },
                'Item2.LastName': {
                    required: "Please Enter Last Name"
                },
                'Item1.UserName': {
                    required: "Please Enter Your Email-ID "
                },
                'Item2.UserPhone': {
                    required: "Please Enter Your Phone Number"
                },
                'Item1.Password': {
                    required: "Please enter your password "
                },
                'ConfirmPassword': {
                    required: "Please enter your confirm password "
                },
            },
        });

        $("#login_form").validate({
            rules: {
                'Item1.UserName': {
                    required: true
                }
                ,
                'Item1.Password': {
                    required: true
                },
            },
            messages: {
                'Item1.UserName': {
                    required: "Please Enter E-Mail ID"
                },
                'Item1.Password': {
                    required: "Please Enter Password"
                }
            }
        });

        $("#forgot_form").validate({
            rules: {
                'Item1.UserName': {
                    required: true
                },
            },
            messages: {
                'Item1.UserName': {
                    required: "Please Enter Registered E-Mail ID"
                }
            }
        });
    });
</script>

