
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

@section css{
    <link href="~/newdesign/css/jquery.datetimepicker.css" rel="stylesheet" />
}

<div class="container-fluid questionery">
    <div class="row py-2 justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">
            <input type="hidden" id="stype" value="Venue" />
            <div class="row p-4">
                <div class="d-inline ml-auto questionsCount">
                    <span>1</span> / <span></span>
                </div>
                <div class="w-100 filteredQuestions">

                    <div class="w-100 mb-3 questions">
                        <div class="mb-2">

                            <div class="options">
                                <div class="w-100 mx-0">
                                    <div class="col-12 col-md-8 col-lg-8">
                                        <div class="question">
                                            Please Enter Location
                                        </div>
                                        @*<div class="form-group w-100">
                                            <div class="ui-widget" style="display:block">*@
                                                @*<input id="loc" name="loc" class="ui-autocomplete-input" autocomplete="off" value="@ViewBag.selectedlocation" style="display:block">*@
                                                @*<span class="themeBgColorPrimaryPurple align-items-center text-white">Hyderabad</span>
                                                <input type="hidden" id="loc" name="loc" value="Hyderabad" />
                                            </div>
                                        </div>*@
                                        <div class="topSearchArea ml-auto d-flex">
                                            <span class="themeBgColorPrimaryPurple align-items-center text-white">Hyderabad</span>
                                            <input type="hidden" id="loc" name="loc" value="Hyderabad" />
                                        </div>
                                        <p>Currently, we are operationg only in Hyderabad.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 prevNext">
                                        <div class="ml-auto">
                                            <div class="d-inline-flex"> <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="w-100 mb-3 questions">
                        <div class="mb-2">
                            <div class="options">
                                <div class="w-100 mx-0">
                                    <div class="col-12 col-md-8 col-lg-8">
                                        <div class="question">
                                            Please Select Event Date
                                        </div>
                                        <div class="topSearchArea ml-auto d-flex">@*class="form-group w-100" style="position: relative">*@
                                            @*<div class="ui-widget" style="display:block">*@
                                            <input type="text" id="date" class="form-control" name="date" value="@ViewBag.selectedoccasiondate" placeholder="Select Event Date"/>
                                            @*<i class="fa fa-calendar" aria-hidden="true" style="position: absolute;right: 1px;bottom: 7px;font-size: 24px;height: 25px;color: #573393;"></i>*@
                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 prevNext">
                                        <div class="ml-auto">
                                            <div class="d-inline-flex backQues"><span class="btnSecondary">Back</span></div>
                                            <div class="d-inline-flex"> <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>








                            @*<div class="question">
                                    Please Select Event Date
                                </div>
                                <div class="options eventdate">
                                    <ul>
                                        <li>
                                            <div class="ui-widget" style="display:block">
                                                <input type="text" id="date" class="ui-autocomplete-input" name="date" value="@ViewBag.selectedoccasiondate" />
                                            </div>
                                        </li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>

                    <div class="w-100 mb-3 questions">
                        <input type="hidden" id="budget" value="100000" />
                        <div class="mb-2">

                            <div class="options">
                                <div class="w-100 mx-0">
                                    <div class="col-12 col-md-8 col-lg-8">
                                        <div class="question">
                                            Please Enter your Event Budget
                                        </div>
                                        <div class="form-group w-100">
                                            @*<div class="ui-widget" style="display:block">*@
                                            <ul class="f2">
                                                <li>
                                                    <label class="d-inline-flex align-items-center">
                                                        <input type="radio" name="f2" checked>
                                                        <span></span>
                                                        <p class="mb-0">50000 - 100000</p>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="d-inline-flex align-items-center">
                                                        <input type="radio" name="f2">
                                                        <span></span>
                                                        <p class="mb-0">100000 - 150000</p>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="d-inline-flex align-items-center">
                                                        <input type="radio" name="f2">
                                                        <span></span>
                                                        <p class="mb-0">150000 - 250000</p>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="d-inline-flex align-items-center">
                                                        <input type="radio" name="f2">
                                                        <span></span>
                                                        <p class="mb-0"> 250000 - 1000000</p> 
                                                    </label>
                                                </li>
                                            </ul>
                                            @*<input type="text" id="budget" class="form-control" name="budget" />*@
                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12  prevNext">
                                        <div class="ml-auto">
                                            <div class="d-inline-flex backQues"><span class="btnSecondary">Back</span></div>
                                            <div class="d-inline-flex"> <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="w-100 mb-3 questions">
                        <input type="hidden" id="count" value="100" />
                        <div class="mb-2">

                            <div class="options">
                                <div class="w-100 mx-0">
                                    <div class="col-12 col-md-8 col-lg-8">
                                        <div class="question">
                                            Please enter the number of guests
                                        </div>
                                        <div class="form-group w-100">
                                            @*<div class="ui-widget" style="display:block">*@
                                            <ul class="f3">
                                                <li>
                                                    <label class="d-inline-flex align-items-center">
                                                        <input type="radio" name="f3" checked>
                                                        <span></span>
                                                        <p class="mb-0">10 - 100</p>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="d-inline-flex align-items-center">
                                                        <input type="radio" name="f3">
                                                        <span></span>
                                                        <p class="mb-0">100 - 1000</p>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="d-inline-flex align-items-center">
                                                        <input type="radio" name="f3">
                                                        <span></span>
                                                        <p class="mb-0">1000 - 5000</p>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="d-inline-flex align-items-center">
                                                        <input type="radio" name="f3">
                                                        <span></span>
                                                        <p class="mb-0"> 5000 - 10000</p>
                                                    </label>
                                                </li>
                                            </ul>
                                            @*<input type="text" id="count" class="form-control" name="count" />*@
                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 prevNext">
                                        <div class="ml-auto">
                                            <div class="d-inline-flex backQues"><span class="btnSecondary">Back</span></div>
                                            @if (new string[] { "Wedding", "Party", "Corporate", "BabyFunction", "Birthday", "Engagement" }.Contains(@Request.QueryString["servicetype"]))
                                            {
                                                <div class="d-inline-flex"> <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span> </div>
                                            }
                                            else
                                            {
                                                <div class="d-inline-flex">
                                                    <span class="themeBgColorPrimary btnSecondary text-white continueBtn" id="btnsubmit">Continue</span>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (new string[] { "Wedding", "Party", "Corporate", "BabyFunction", "Birthday", "Engagement" }.Contains(Request.QueryString["servicetype"]))
                    {
                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <div class="options">
                                    <div class="w-100 mx-0">
                                        <div class="col-12 col-md-8 col-lg-8">
                                            <div class="question">
                                                Choose Required Services
                                            </div>
                                            <div class="form-group w-100">
                                                @*<div class="ui-widget" style="display:block">*@
                                                <ul>
                                                    @*<li>
                                                            <label class="d-inline-flex align-items-center">
                                                                <input type="checkbox" />
                                                                <span></span>
                                                                <p class="mb-0">Venue</p>
                                                            </label>
                                                        </li>*@
                                                    <li>
                                                        <label class="d-inline-flex align-items-center">
                                                            <input type="checkbox" />
                                                            <span></span>
                                                            <p class="mb-0">Hotel</p>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="d-inline-flex align-items-center">
                                                            <input type="checkbox" />
                                                            <span></span>
                                                            <p class="mb-0">Resort</p>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="d-inline-flex align-items-center">
                                                            <input type="checkbox" />
                                                            <span></span>
                                                            <p class="mb-0">Convention Hall</p>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="d-inline-flex align-items-center">
                                                            <input type="checkbox" />
                                                            <span></span>
                                                            <p class="mb-0">Catering</p>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="d-inline-flex align-items-center">
                                                            <input type="checkbox" />
                                                            <span></span>
                                                            <p class="mb-0">Photography</p>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="d-inline-flex align-items-center">
                                                            <input type="checkbox" />
                                                            <span></span>
                                                            <p class="mb-0">Decorator</p>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="d-inline-flex align-items-center">
                                                            <input type="checkbox" />
                                                            <span></span>
                                                            <p class="mb-0">Mehendi</p>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="d-inline-flex align-items-center">
                                                            <input type="checkbox" />
                                                            <span></span>
                                                            <p class="mb-0">Pandit</p>
                                                        </label>
                                                    </li>
                                                </ul>
                                                <p class="hiddenP"></p>
                                                @*</div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12 prevNext">
                                            <div class="ml-auto">
                                                <div class="d-inline-flex backQues"><span class="btnSecondary">Back</span></div>
                                                @*<div class="d-inline-flex"> <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span> </div>
                                                    <span class="themeBgColorPrimary btnSecondary text-white continueBtn" id="btnsubmit">Continue</span>*@
                                                <div class="d-inline-flex">
                                                    <span class="themeBgColorPrimary btnSecondary text-white continueBtn" id="btnsubmit" style="display: block;">Continue</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }

                    @*@if (new string[] { "Venue", "Hotel", "Resort", "Convetion" }.Contains(Request.QueryString["servicetype"]))
                        {
                            <div class="w-100 mb-3 questions">
                                <div class="mb-2">
                                    <div class="question">
                                        Please Select Venue Types
                                    </div>
                                    <div class="options eventguestscount">
                                        <ul>
                                            <li>
                                                <label class="d-inline-flex align-items-center">
                                                    <input type="checkbox" />
                                                    <span></span>
                                                    <p class="mb-0">Venue</p>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="d-inline-flex align-items-center">
                                                    <input type="checkbox" />
                                                    <span></span>
                                                    <p class="mb-0">Hotel</p>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="d-inline-flex align-items-center">
                                                    <input type="checkbox" />
                                                    <span></span>
                                                    <p class="mb-0">Resort</p>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="d-inline-flex align-items-center">
                                                    <input type="checkbox" />
                                                    <span></span>
                                                    <p class="mb-0">Convention Hall</p>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="d-inline-flex align-items-center">
                                                    <input type="checkbox" />
                                                    <span></span>
                                                    <p class="mb-0">Function Hall</p>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="d-inline-flex align-items-center">
                                                    <input type="checkbox" />
                                                    <span></span>
                                                    <p class="mb-0">Banquet Hall</p>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="d-inline-flex align-items-center">
                                                    <input type="checkbox" />
                                                    <span></span>
                                                    <p class="mb-0">Meeting Room</p>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }*@
                </div>
                @*<div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex backQues">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white continueBtn" id="btnsubmit">Continue</span>
                            </div>
                        </div>

                    </div>*@
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
<script src="~/newdesign/js/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
    /*--- Date and Time ----*/
    $('#date').datetimepicker({
        dayOfWeekStart: 1,
        lang: 'en',
        timepicker: false,
        format: 'd/m/Y',
        minDate: '-1970/01/01',//yesterday is minimum date(for today use 0 or -1970/01/01)
        maxDate: '+1970/03/02'//tomorrow is maximum date calendar
    });
    /*------------ Date and Time --------------*/
</script>

<script>
    $(function () {
        var availableTags = '';
        $.ajax({
            type: "GET",
            url: '/NHomePage/AutoCompleteCountry',
            success: function (data) {
                availableTags = data.split(',');
                $("#loc").autocomplete({
                    source: availableTags
                });
            }
        });
        $("#loc").autocomplete({
            source: availableTags
        });
    });
</script>
<script>
    function alertmsg(msg) {
        alertify.alert("" + msg + "", function () {
            //alertify.message('OK');
        });
    }
</script>
<script type="text/javascript">

    $.cookie("url", document.URL);

    $(document).ready(function () {
        var questions = $(".filteredQuestions > .questions");
        var questionsLen = $(".filteredQuestions > .questions").length;
        var questionMin = $(".questionsCount > span:first-child");
        var questionMinCount = parseInt($(".questionsCount > span:first-child").text());
        var questionMax = $(".questionsCount > span:last-child");
        $(questionMax).empty().append(questionsLen);
        $(".prevNext .backQues").css("visibility", "hidden");
        $(".filteredQuestions").children().eq(questionMinCount - 1).css("display", "block");

        /*---- Click Continue button then append selected categories P Tag to --*/
        //var hiddenP = $("<p class='hiddenP'></p>");
        //$(hiddenP).insertAfter(".questions + .options ul");
        /*---- Click Continue button then append selected categories P Tag to --*/


        $(".prevNext .backQues").click(function () {
            questionMinCount--;
            if (questionMinCount > 1) {
                $(questionMin).empty().append(questionMinCount);
                $(".filteredQuestions").children().css("display", "none");
                $(".filteredQuestions").children().eq(questionMinCount - 1).css("display", "block");
                $(".prevNext .nextQues").css("display", "block");
                $(".prevNext .continueBtn").css("display", "none");
            } else if (questionMinCount == 1) {
                $(questionMin).empty().append(questionMinCount);
                $(".filteredQuestions").children().css("display", "none");
                $(".filteredQuestions").children().eq(questionMinCount - 1).css("display", "block");
                $(this).css("visibility", "hidden");
                $(".prevNext .nextQues").css("display", "block");
                $(".prevNext .continueBtn").css("display", "none");
            }
        });

        $(".prevNext .nextQues").click(function () {
            var input = $(this).parents('div.options').find('input').val();
            var question = $(this).parents('div.options').find('div.question').text().trim();
            if (input != '') {
                questionMinCount++;
                if (questionMinCount < questionsLen) {
                    $(questionMin).empty().append(questionMinCount);
                    $(".filteredQuestions").children().css("display", "none");
                    $(".filteredQuestions").children().eq(questionMinCount - 1).css("display", "block");
                    $(".prevNext .backQues").css("visibility", "visible");
                } else if (questionMinCount == questionsLen) {
                    $(questionMin).empty().append(questionMinCount);
                    $(".filteredQuestions").children().css("display", "none");
                    $(".filteredQuestions").children().eq(questionMinCount - 1).css("display", "block");
                    $(this).css("display", "none");
                    $(".prevNext .backQues").css("visibility", "visible");
                    $(".prevNext .continueBtn").css("display", "block");
                }
            }
            else {
                alertmsg(question);
            }
        });

        //$(".prevNext .continueBtn").click(function () {
        //    redirect();
        //});

    });

    $('.prevNext .continueBtn').click(function () {
        $(".filteredQuestions > .questions:last-of-type .options ul").next('p').empty();
        $(".filteredQuestions > .questions:last-of-type .options ul > li").each(function () {
            if ($(this).find("input[type='checkbox']").is(':checked')) {
                var checkText = $(this).find('p').text();
                $(".filteredQuestions > .questions:last-of-type .options ul").next('p').append(checkText + ",");
            }
        });
        var questionsLen = $(".filteredQuestions > .questions").length;
        var input = '';
        if (questionsLen == 5) { input = $('.hiddenP').text(); }
        else { input = $('#count').val(); }
        var question = $(this).parents('div.options').find('div.question').text().trim();
        if (input != '') {
            var loc = $('#loc').val();
            var date = $('#date').val();
            var budget = $('#budget').val();
            var count = $('#count').val();
            var stype = $('.hiddenP').text().slice(0, -1);
            var type = '@Request.QueryString["servicetype"]';
            window.location.href = '/NResults?type=' + type + '&&loc=' + loc + '&&date=' + date + '&&budget=' + budget + '&&count=' + count + '&&stype=' + stype;
        }
        else {
            alertmsg(question);
        }
    });

    $('ul.f2 li').find('input:radio').change(function () {
        //alert($(this).nextAll('p').text().split('-')[1]);
        var budget = $(this).nextAll('p').text().split('-')[1].trim();
        $('#budget').val(budget);
    });

    $('ul.f3 li').find('input:radio').change(function () {
        //alert($(this).nextAll('p').text().split('-')[1]);
        var count = $(this).nextAll('p').text().split('-')[1].trim();
        $('#count').val(count);
    });


</script>



<script>
    //$("ul.f2 > li label input:radio").change(function () {
    //    alert("Hi")
    //    //$(".f2 input[type='radio']:checked").each(function () {
    //    //    var value = $(this).parent("label").text().trim();
    //    //    alert(value);
    //    //    $('#budget').val(value.split('-')[1]);
    //    //});
    //});

    //$('ul.budget1 li').find('input').change(function () {
    //    //alert($(this).nextAll('p').text().split('-')[1]);
    //    alert("hi");
    //});
    //$('ul.f3 li').find('input:radio').change(function () {
    //    alert($(this).nextAll('p').text().split('-')[1]);
    //});

    //$(".f3 input[type='radio']").change(function () {
    //    $(".f3 input[type='radio']:checked").each(function () {
    //        var value = $(this).parent("label").text().trim();
    //        $('#count').val(value.split('-')[1]);
    //    });
    //});

    //var loc = $('#loc').val();
    //var date = $('#date').val();
    //var budget = $('#budget').val();
    //var count = $('#count').val();
    //var stype = $('.hiddenP').text().slice(0, -1);
    @*var type = '@Request.QueryString["servicetype"]';*@
    //alert(stype);

    //if (loc == '') {
    //    // alert("Enter Location");
    //    alertmsg("Enter Location");

    //}
    //else if (date == '') {
    //    // alert("Select Event date");
    //    alertmsg("Select Event date");

    //}
    //else if (budget == '') {
    //    //  alert("Enter Budget");
    //    alertmsg("Enter Budget");
    //}
    //else if (count == '') {
    //    // alert("Enter Guests Count");
    //    alertmsg("Enter Guests Count");

    //}
    //else if (stype == 'Venue') {
    //    // alert("Choose Required Services")
    //    alertmsg("Choose Required Services");

    //}
    //else {
    //    //alert("Valid data");
    //   // window.location.href = '/NResults?type=' + type + '&&loc=' + loc + '&&date=' + date + '&&budget=' + budget + '&&count=' + count + '&&stype=' + stype;
    //}

    //window.location.href = '/NResults?type=' + type + '&&loc=' + loc + '&&date=' + date + '&&budget=' + budget + '&&count=' + count + '&&stype=' + stype;
</script>