@using System.Globalization
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/NmasterPage.cshtml";
}


@section css{
    @*<link href="~/newdesignstyles/css/reseller.css" rel="stylesheet" />
        <link href="~/newdesign/css/jquery.datetimepicker.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.css" type="text/css">
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.min.css" type="text/css">
}
<style>
    .accordion1 {
        background-color: #fff;
        /* color: #444; */
        /* cursor: pointer; */
        /* padding: 18px; */
        width: 100%;
        /* border: none; */
        /* text-align: left; */
        /* outline: none; */
        /* font-size: 15px; */
        /* transition: 0.4s; */
        margin: 1px;
    }



    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
</style>


<div class="sb2-2-3">
    <div class="col-md-12">
        <div class="box-inn-sp">
            <div class="inn-title">




                @*<div style="overflow-x: auto;" class="content">
                    <table id="allorders" class="display" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Partner ID</th>
                                <th>Name </th>
                                <th>Emailid</th>
                                <th>Phone Number</th>
                                @*<th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var users in ViewBag.allresellers)
                                {
                                    <tr>
                                        <td>
                                            <a href="/admin/rm?partid=@users.PartnerID">@users.PartnerID</a>
                                        </td>
                                        <td>@users.PartnerName</td>
                                        <td>@users.emailid</td>
                                        <td>@users.phoneno</td>
                                        @*<td>@users.Status</td>
                                    </tr>

                                }

                            }
                        </tbody>
                    </table>
                </div>*@


                @if (ViewBag.partid != "ks")
                {
                    <div class="ui piled segment" style=" background-color: #543791;">
                        <input type="hidden" id="partid" name="partid" class="partid" value="" />
                        <input type="hidden" id="partid1" name="partid1" class="partid" value="@ViewBag.partid" />

                        <input type="hidden" id="VendorId" name="VendorId" value="@ViewBag.masterid" />
                        <div class="row accordion1">
                            <div class="col-md-1">Service Name</div>
                            <div class="col-md-1">Package Name</div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-2" style=" width: 38%;">Price Type</div>
                                    <div class="col-md-2" style="/* width: 19%; */">Normal Day</div>
                                    <div class="col-md-2" style="/* width: 14%; */">Peak Day</div>
                                    <div class="col-md-2" style=" width: 12%;">Holiday</div>
                                    <div class="col-md-2">Choice Day</div> 
                                </div>
                            </div>
                            <div class="col-md-1">Expiry</div>

                        </div>
                        @foreach (var item in ViewBag.package)
                        {
                            if (ViewBag.resellerpkg == null && ViewBag.pkg == null)
                            { }

                            else if (ViewBag.resellerpkg != null)
                            {
                                foreach (var itemks in ViewBag.resellerpkg)
                                {
                                    if (Convert.ToInt64(itemks.packageid) == item.PackageID)
                                    {
                                        <div class="row accordion1" id="package">
                                            <input type="hidden" name="packageid" id="packageid" value="@item.PackageID">
                                            <input type="hidden" name="vendorsubid" id="vendorsubid" value="@item.VendorSubId">
                                            <div class="col-md-1">

                                                @foreach (var itemk1 in ViewBag.venues)
                                                {
                                                    if (itemk1.Id == item.VendorSubId)
                                                    {
                                                        if (itemk1.VenueType == "" || itemk1.VenueType == null)
                                                        {
                                                            <span id="span-package-1"> Venue </span>
                                                        }
                                                        else
                                                        {
                                                            <span id="span-package-1">
                                                                @itemk1.name -@itemk1.VenueType
                                                            </span>
                                                        }
                                                    }
                                                }
                                                @foreach (var itemk2 in ViewBag.catering)
                                                {
                                                    if (itemk2.Id == item.VendorSubId)
                                                    {
                                                        <span id="span-package-1"> @itemk2.CuisineType</span>
                                                    }
                                                }
                                                @foreach (var itemk3 in ViewBag.photography)
                                                {
                                                    if (itemk3.Id == item.VendorSubId)
                                                    {
                                                        <span id="span-package-1"> @itemk3.PhotographyType</span>
                                                    }
                                                }
                                                @foreach (var itemk4 in ViewBag.decorators)
                                                {
                                                    if (itemk4.Id == item.VendorSubId)
                                                    {
                                                        <span id="span-package-1">@itemk4.DecorationType</span>
                                                    }

                                                }
                                                @foreach (var itemk5 in ViewBag.others)
                                                {
                                                    if (itemk5.Id == item.VendorSubId)
                                                    {
                                                        <span id="span-package-1">@itemk5.type</span>
                                                    }
                                                }





                                            </div>
                                            <div class="col-md-1">
                                                <span id="span-package-1">@item.PackageName</span>
                                            </div>
                                            <div class="col-md-9">
                                                <table class="table table-bordered">

                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <span class="span-package2"> Sale price to partner</span>
                                                            </td>
                                                            <td>@itemks.salenormaldays </td>
                                                            <td>@itemks.salepeakdays</td>
                                                            <td>@itemks.saleholidays</td>
                                                            <td>@itemks.salechoicedays</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 4%;margin-left: -33%;">
                                                                <span class="span-package2"> Sale price type</span>
                                                            </td>
                                                            <td style="width: 1%;margin: 0;">

                                                                @if (itemks.normaldayssaletype == "com")
                                                                {
                                                                    <label style="color: black;font-family: lato;">commission %</label>

                                                                }
                                                                @if (itemks.normaldayssaletype == "sfr")
                                                                {
                                                                    <label style="color: black;font-family: lato;">Flat Rate ₹</label>
                                                                }
                                                                @if (itemks.normaldayssaletype == "comsfr")
                                                                {
                                                                    <label style="color: black;font-family: lato;">commission ₹</label>
                                                                }


                                                            </td>
                                                            <td style="width: 1%;margin: 0;">


                                                                @if (itemks.peakdaysaletype == "com")
                                                                {
                                                                <label style="color: black;font-family: lato;">commission %</label> }
                                                                else if (itemks.peakdaysaletype == "sfr")
                                                                {
                                                                <label style="color: black;font-family: lato;">Flat Rate ₹</label>
                                                                }
                                                                else if (itemks.peakdaysaletype == "comsfr")
                                                                {
                                                                <label style="color: black;font-family: lato;">commission ₹</label>
                                                                }



                                                            </td>
                                                            <td style="width: 1%;margin: 0;">

                                                                @if (itemks.holidaysssaletype == "com")
                                                                {
                                                                <label style="color: black;font-family: lato;">commission %</label> }

                                                                else if (itemks.holidaysssaletype == "sfr")
                                                                {

                                                                <label style="color: black;font-family: lato;">Flat Rate ₹</label>
                                                                }
                                                                else if (itemks.holidaysssaletype == "comsfr")
                                                                {
                                                                <label style="color: black;font-family: lato;">commission ₹</label>
                                                                }
                                                            </td>
                                                            <td style="width: 1%;margin: 0;">
                                                                @if (itemks.choicedayssaletype == "com")
                                                                {
                                                                <label style="color: black;font-family: lato;">commission %</label>
                                                                }
                                                                else if (itemks.choicedayssaletype == "sfr")
                                                                {
                                                                <label style="color: black;font-family: lato;">Flat Rate ₹</label>
                                                                }
                                                                else if (itemks.choicedayssaletype == "comsfr")
                                                                {
                                                                <label style="color: black;font-family: lato;">commission ₹</label>}


                                                            </td>


                                                        </tr>
                                                        <tr>
                                                            <td style="width: 4%;">
                                                                <span class="span-package2">Margin</span>
                                                            </td>
                                                            <td>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.Mnormaldays)).Replace(".00", "")</td>
                                                            <td>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.Mpeakdays)).Replace(".00", "") </td>
                                                            <td>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.Mholidays)).Replace(".00", "") </td>
                                                            <td>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.Mchoicedays)).Replace(".00", "")</td>

                                                        </tr>
                                                        <tr>
                                                            <td style="width: 4%;margin-left: -33%;">
                                                                <span class="span-package2">Final Sale price</span>
                                                            </td>
                                                            <td>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.fsnormaldays)).Replace(".00", "") </td>
                                                            <td>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.fspeakdays)).Replace(".00", "") </td>
                                                            <td>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.fsholidays)).Replace(".00", "")</td>
                                                            <td>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.fschoicedays)).Replace(".00", "") </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 4%;">
                                                                <span class="span-package2" style=" margin: 0;">Company Sale price as per Contract</span>
                                                            </td>
                                                            <td>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.spnormaldays)).Replace(".00", "") </td>
                                                            <td> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.sppeakdays)).Replace(".00", "") </td>
                                                            <td> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.spholidays)).Replace(".00", "") </td>
                                                            <td> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.spchoicedays)).Replace(".00", "") </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span class="span-package2" style=" /* margin: 0; */">Current Selling price</span>
                                                            </td>
                                                            <td>₹ @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.spnormaldays)).Replace(".00", "")</td>
                                                            <td>₹ @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.sppeakdays)).Replace(".00", "")</td>
                                                            <td>₹ @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.spholidays)).Replace(".00", "") </td>
                                                            <td>₹ @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@itemks.spchoicedays)).Replace(".00", "") </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 4%;">
                                                                <span class="span-package2" style=" margin: 0;">Ahawanm Sale price as per Contract</span>
                                                            </td>
                                                            <td>
                                                                <input type="number" name="ahanormal1" class="price" placeholder="10000" value="@itemks.Anormaldays">
                                                            </td>
                                                            <td>
                                                                <input type="number" name="ahapeakday1" class="price" placeholder="10000" value="@itemks.Apeakdays">
                                                            </td>
                                                            <td>
                                                                <input type="number" name="ahaholidays1" class="price" placeholder="10000" value="@itemks.Aholidays">
                                                            </td>
                                                            <td>
                                                                <input type="number" name="ahachoicedays1" class="price" placeholder="10000" value="@itemks.Achoicedays">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-1">
                                                <p style="margin-left: -16px;">
                                                    @itemks.expiry 
                                                </p>
                                               
                                                    <center>
                                                        <button class="savepackage" style="background: #167ee6;color: #fff !important;" value="Update" id="savepackage">Save</button>
                                                    </center>
                                              
                                            </div>

                                        </div>
                                    }
                                }
                            }
                            //else if (ViewBag.pkg != null)
                            //    {
                            foreach (var itemks1 in ViewBag.pkg)
                            {
                                if (Convert.ToInt64(itemks1.PackageID) == item.PackageID)
                                {
                                    <div class="row accordion1">


                                        <div class="col-md-1">
                                            <input type="hidden" name="packageid" id="packageid" value="@item.PackageID">
                                            <input type="hidden" name="vendorsubid" id="vendorsubid" value="@item.VendorSubId">


                                            @foreach (var itemk1 in ViewBag.venues)
                                            {
                                                if (itemk1.Id == item.VendorSubId)
                                                {
                                                    if (itemk1.VenueType == "" || itemk1.VenueType == null)
                                                    {
                                                        <span id="span-package-1">Venue</span>
                                                    }
                                                    else
                                                    {
                                                        <span id="span-package-1">@itemk1.name -@itemk1.VenueType</span>
                                                    }
                                                }
                                            }
                                            @foreach (var itemk2 in ViewBag.catering)
                                            {
                                                if (itemk2.Id == item.VendorSubId)
                                                {
                                                    <span id="span-package-1">@itemk2.CuisineType</span>
                                                }
                                            }
                                            @foreach (var itemk3 in ViewBag.photography)
                                            {
                                                if (itemk3.Id == item.VendorSubId)
                                                {
                                                    <span id="span-package-1">@itemk3.PhotographyType</span>
                                                }
                                            }
                                            @foreach (var itemk4 in ViewBag.decorators)
                                            {
                                                if (itemk4.Id == item.VendorSubId)
                                                {
                                                    <span id="span-package-1">@itemk4.DecorationType</span>
                                                }

                                            }
                                            @foreach (var itemk5 in ViewBag.others)
                                            {
                                                if (itemk5.Id == item.VendorSubId)
                                                {
                                                    <span id="span-package-1">@itemk5.type</span>
                                                }
                                            }


                                        </div>
                                        <div class="col-md-1">
                                            <span id="span-package-1">@item.PackageName</span>
                                        </div>

                                        <div class="col-md-9 tableprices">
                                            <table class="table table-bordered" id="prices-accordion">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="span-package2"> Sale price to partner</span>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="width: 4%;margin-left: -33%;">
                                                            <span class="span-package2"> Sale price type</span>
                                                        </td>
                                                        <td style="width: 1%;margin: 0;">
                                                            <label></label>
                                                        </td>
                                                        <td style="width: 1%;margin: 0;">
                                                            <label></label>
                                                        </td>
                                                        <td style="width: 1%;margin: 0;">
                                                            <label></label>
                                                        </td>
                                                        <td style="width: 1%;margin: 0;">
                                                            <label></label>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="width: 4%;">
                                                            <span class="span-package2">Margin</span>
                                                        </td>

                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="width: 4%;margin-left: -33%;">
                                                            <span class="span-package2">Final Sale price</span>
                                                        </td>

                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td style="width: 4%;">
                                                            <span class="span-package2" style=" margin: 0;">Company Sale price as per Contract</span>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                        <td>
                                                            <label></label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="/* margin-left: -33%; */">
                                                            <span class="span-package2" style=" /* margin: 0; */">Current Selling price</span>
                                                        </td>
                                                        <td>₹@item.normaldays</td>
                                                        <td>₹@item.peakdays</td>
                                                        <td>₹@item.holidays </td>
                                                        <td>₹@item.choicedays </td>


                                                    </tr>
                                                    <tr>
                                                        <td style="width: 4%;">
                                                            <span class="span-package2" style=" margin: 0;">Ahawanm Sale price as per Contract</span>
                                                        </td>
                                                        <td>
                                                            <input type="number" name="ahanormal1" class="price" placeholder="10000">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="ahapeakday1" class="price" placeholder="10000">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="ahaholidays1" class="price" placeholder="10000">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="ahachoicedays1" class="price" placeholder="10000">
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="col-md-1 btnsave">
                                            <p>
                                                <label></label>
                                            </p>
                                            <p>
                                                @*<center style="padding-top:7%">
                                                        <button class=" savepackage" style="background: #167ee6;color: #fff !important;" value="save" id="savepackage">Save</button>
                                                    </center>*@
                                            </p>
                                        </div>
                                    </div>


                                }
                            }
                            //}
                        }
                    </div>

                }


            </div>
        </div>
    </div>
</div>


@section scripts
{

    @*<script src="~/newdesign/js/jquery.datetimepicker.full.js"></script>*@


    <script type="text/javascript">
        /*--- Date and Time ----*/
        //$('.datetimepicker').datetimepicker({
        //    dayOfWeekStart: 1,
        //    lang: 'en',
        //    timepicker: false,
        //    format: 'd/m/Y',
        //    minDate: '-1970/01/01',//yesterday is minimum date(for today use 0 or -1970/01/01)
        //    maxDate: '+1970/03/02'//tomorrow is maximum date calendar

        //});
        /*------------ Date and Time --------------*/

        $('.btnbusiness').click(function () {
            var val = $(this).val();
            var vendorid = $('#VendorId').val();
            var partid;
            var partidks = $('#partid').val();
            var partidks1 = $('#partid1').val();
            if (partidks == '' || partidks == 'undefined') {
                partid = partidks1;
            } else { partid = partidks; }
            var partnerID = $('#partid').val();
            var vendorId = $('#VendorId').val();
            if (val == 'save') {
                var partnername = $('#BusinessName').val();
                var url = $('#url').val();
                var phoneno = $('#PhoneNumber').val();
                var phonenopattern = /^[0-9]{10}$/;
                var emailid = $('#Email').val();
                var emailidpattren = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
                var address1 = $('#Address').val();
                var city = $('#City').val();
                var citypattren = /^[a-zA-Z\s]+$/;
                var state = $('#State').val();
                var statepattren = /^[a-zA-Z\s]+$/
                var country = $('#Country').val();
                var countrypattren = /^[a-zA-Z\s]+$/
                // ---validation messages----//
                if (partnername == '') { alert('Enter Business Name'); $('#BusinessName').focus(); }
                else if (emailid == '') { alert('Enter Email'); $('#Email').focus(); }
                else if (!emailidpattren.test(emailid)) { alert("Please Enter a valid Email Address"); $("#Email").focus(); }
                else if (phoneno == '') { alert('Enter Phone Number'); $('#PhoneNumber').focus(); }
                else if (phoneno.length < 10) { alert('Enter 10 digits only'); $('#PhoneNumber').focus(); }
                else if (address1 == '') { alert('Enter Business Address'); $('#Address').focus(); }
                else if (city == '') { alert('Enter City Name'); $('#City').focus(); }
                else if (!citypattren.test(city)) { alert("Enter only alphabates"); $("#City").focus(); }
                else if (state == '') { alert('Enter State Name'); $('#State').focus(); }
                else if (!statepattren.test(state)) { alert("Enter only alphabates"); $("#State").focus(); }
                else if (country == '') { alert('Enter Country Name'); $('#Country').focus(); }
                else if (!countrypattren.test(country)) { alert("Enter only alphabates"); $("#Country").focus(); }
                else if (url == '') { alert('Enter Website Url'); $('#url').focus(); }
                else {
                    var partner = {
                        PartnerID: $('#partid').val(),
                        VendorId: $('#VendorId').val(),
                        partnername: $('#BusinessName').val(),
                        url: $('#url').val(),
                        phoneno: $('#PhoneNumber').val(),
                        emailid: $('#Email').val(),
                        address1: $('#Address').val(),
                        city: $('#City').val(),
                        state: $('#State').val(),
                        country: $('#Country').val(),
                        fAXNO: $('#faxnumber').val(),
                        cpfname: $('#p1firstName').val(),
                        cplname: $('#p1lastname').val(),
                        cpdesig: $('#p1Designation').val(),
                        cpphoneno: $('#p1mobileno').val(),
                        cpemailid: $('#p1email').val(),
                        PAN: $('#panno').val(),
                        GST: $('#Gst').val(),
                        bankname: $('#bankname').val(),
                        bankbranch: $('#bankbranchname').val(),
                        AccountHolderName: $('#accholdername').val(),
                        IFSC: $('#ifsccode').val(),
                        AccountNumber: $('#accountno').val(),
                    }
                    $.ajax({
                        url: '/ReSellerManagement/Index?command=' + val + '&&partid=' + partid,
                        type: 'POST',
                        data: JSON.stringify({ partner: partner }),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data != null) {
                                alert("save is successfully");
                                window.location.href = '/ReSellerManagement/Index?partid=' + data.PartnerID;
                            }
                            else { alert("save is failed"); }
                        },
                        error: function (data) {
                            alert("save is failed");
                        }
                    })

                }

            }
            else if (val == 'Update') {
                var cpfname = $('#p1firstName').val();
                var cpfnamepattren = /^[a-zA-Z\s]+$/;
                var cplname = $('#p1lastname').val();
                var cplnamepattren = /^[a-zA-Z\s]+$/;
                var cpdesig = $('#p1Designation').val();
                var cpdesigpattren = /^[a-zA-Z\s]+$/;
                var cpphoneno = $('#p1mobileno').val();
                var cpphonepattern = /^[0-9]{10}$/;
                var cpemailid = $('#p1email').val();
                var cpemailpattren = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
                if (cpfname == '') { alert('Enter Contact Person FirstName'); $('#p1firstName').focus(); }
                else if (!cpfnamepattren.test(cpfname)) { alert("Enter only alphabates"); $("#p1firstName").focus(); }
                else if (cplname == '') { alert('Enter Contact Person LastName'); $('#p1lastname').focus(); }
                else if (!cplnamepattren.test(cplname)) { alert("Enter only alphabates"); $("#p1lastname").focus(); }
                else if (cpdesig == '') { alert('Enter Contact Person Designation'); $('#p1Designation').focus(); }
                else if (!cpdesigpattren.test(cpdesig)) { alert("Enter only alphabates"); $("#p1Designation").focus(); }
                else if (cpphoneno == '') { alert('Enter Contact Person Phone Number'); $('#p1mobileno').focus(); }
                else if (cpphoneno.length < 10) { alert('Enter 10 digits only'); $('#p1mobileno').focus(); }
                else if (!cpphonepattern.test(cpphoneno)) { alert("Please Enter 10 digit Phone Number "); $("#p1mobileno").focus(); }
                else if (cpemailid == '') { alert('Enter Contact Person Phone Email '); $('#p1email').focus(); }
                else if (!cpemailpattren.test(cpemailid)) { alert("Please Enter a valid Email Address"); $("#p1email").focus(); }
                else {
                    var PartnerContact = {
                        PartnerID: $('#partid').val(),
                        VendorId: $('#VendorId').val(),
                        FirstName: $('#p1firstName').val(),
                        LastName: $('#p1lastname').val(),
                        Designation: $('#p1Designation').val(),
                        PhoneNo: $('#p1mobileno').val(),
                        EmailID: $('#p1email').val(),
                    }
                    $.ajax({
                        url: '/ReSellerManagement/Contacts?command=' + val + '&&partid=' + partid,
                        type: 'POST',
                        data: JSON.stringify({ PartnerContact: PartnerContact }),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data != null) {
                                alert("save is successfully");
                                window.location.href = '/ReSellerManagement/Index?partid=' + data.PartnerID;
                            }
                            else { alert("save is failed"); }
                        },
                        error: function (data) {
                            alert("save is failed");
                        }
                    })

                }
            }
            else if (val == 'Update1') {
                var PAN = $('#panno').val();
                var panexp = /[a-zA-z]{5}\d{4}[a-zA-Z]{1}/;
                var GST = $('#Gst').val();
                var bankname = $('#bankname').val();
                var banknamepattren = /^[a-zA-Z\s]+$/;
                var bankbranch = $('#bankbranchname').val();
                var bankbranchnamepattren = /^[a-zA-Z\s]+$/;
                var AccountHolderName = $('#accholdername').val();
                var Accounthnamepatren = /^[a-zA-Z\s]+$/;
                var IFSC = $('#ifsccode').val();
                var AccountNumber = $('#accountno').val();
                var accountnopattren = /^(?! )(?!0000)[0-9]{9,18}$/;
                // ---validation messages----//
                if (PAN == '') { alert('Enter PAN Number'); $('#panno').focus(); }
                else if (GST == '') { alert('Enter GSTIN'); $('#Gst').focus(); }
                else if (bankname == '') { alert('Enter Bank Name'); $('#bankname').focus(); }
                else if (!banknamepattren.test(bankname)) { alert("Enter only alphabates"); $("#bankname").focus(); }
                else if (bankbranch == '') { alert('Enter Bank Branch Name'); $('#bankbranchname').focus(); }
                else if (!bankbranchnamepattren.test(bankbranch)) { alert("Enter only alphabates"); $("#bankbranchname").focus(); }
                else if (AccountHolderName == '') { alert('Enter Account Holder Name'); $('#AccountHolderName').focus(); }
                else if (!Accounthnamepatren.test(AccountHolderName)) { alert("Enter only alphabates"); $("#AccountHolderName").focus(); }
                else if (IFSC == '') { alert('Enter IFSC Code'); $('#ifsccode').focus(); }
                else if (AccountNumber == '') { alert('Enter Account Number'); $('#accountno').focus(); }

                else {
                    var partner = {
                        PartnerID: $('#partid').val(),
                        VendorId: $('#VendorId').val(),
                        partnername: $('#BusinessName').val(),
                        url: $('#url').val(),
                        phoneno: $('#PhoneNumber').val(),
                        emailid: $('#Email').val(),
                        address1: $('#Address').val(),
                        city: $('#City').val(),
                        state: $('#State').val(),
                        country: $('#Country').val(),
                        fAXNO: $('#faxnumber').val(),
                        cpfname: $('#p1firstName').val(),
                        cplname: $('#p1lastname').val(),
                        cpdesig: $('#p1Designation').val(),
                        cpphoneno: $('#p1mobileno').val(),
                        cpemailid: $('#p1email').val(),
                        PAN: $('#panno').val(),
                        GST: $('#Gst').val(),
                        bankname: $('#bankname').val(),
                        bankbranch: $('#bankbranchname').val(),
                        AccountHolderName: $('#accholdername').val(),
                        IFSC: $('#ifsccode').val(),
                        AccountNumber: $('#accountno').val(),
                    }
                    $.ajax({
                        url: '/ReSellerManagement/Index?command=' + val + '&&partid=' + partid,
                        type: 'POST',
                        data: JSON.stringify({ partner: partner }),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data != null) {
                                alert("save is successfully");
                                window.location.href = '/ReSellerManagement/Index?partid=' + data.PartnerID;
                            }
                            else { alert("save is failed"); }
                        },
                        error: function (data) {
                            alert("save is failed");
                        }
                    })

                }
            }
        });
        $('.savepackage').click(function () {
            var val = $(this).val();
            var vendorid = $('#VendorId').val();
            var partid;
            var partidks = $('#partid').val();
            var partidks1 = $('#partid1').val();
            if (partidks == '' || partidks == 'undefined') {
                partid = partidks1;
            } else { partid = partidks; }
            var packageid = $(this).parents("div#package").find('input#packageid').val();
            var ahanormal1 = $(this).parents("div#package").find($('input[name=ahanormal1]')).val();
            var ahapeakday1 = $(this).parents("div#package").find($('input[name=ahapeakday1]')).val();
            var ahaholidays1 = $(this).parents("div#package").find($('input[name=ahaholidays1]')).val();
            var ahachoicedays1 = $(this).parents("div#package").find($('input[name=ahachoicedays1]')).val();
            if (partid == '' || partid == 'undefined') { alert('Save partner details first to save partner packages'); }
            else if (ahanormal1 == "") { alert("enter ahwanam normal prize") } else if (ahapeakday1 == "") { alert("enter ahwanam peak prize") } else if (ahaholidays1 == "") { alert("enter ahwanam holiday prize") } else if (ahachoicedays1 == "") { alert("enter ahwanam Choice prize") }
            else {
                var PartnerPackage = {
                    PartnerID: partid,
                    VendorId: vendorid,
                    packageid: packageid,
                    Achoicedays: ahachoicedays1,
                    Anormaldays: ahanormal1,
                    Aholidays: ahaholidays1,
                    Apeakdays: ahapeakday1,
                }
                $.ajax({
                    url: '/rm/PartnerPackage?command=' + val + '&&partid=' + partid,
                    type: 'POST',
                    data: JSON.stringify({ PartnerPackage: PartnerPackage }),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data != null) {
                            alert("save is successfully");
                        }
                        else { alert("save is failed"); }
                    },
                    error: function (data) {
                        alert("save is failed");
                    }
                })
            }
        })
    </script>
}
