@if (ViewBag.customer != null)
{
    //foreach (var deal in ViewBag.customer)
    //{
<table>
    <tr>
        <td>@ViewBag.customer.type</td>
        <td>@ViewBag.customer.Businessname</td>
        <td>@ViewBag.customer.firstname</td>
        <td>@ViewBag.customer.lastname</td>
        <td>@ViewBag.customer.middlename</td>
        <td>@ViewBag.customer.email</td>
        <td>@ViewBag.customer.phoneno</td>
    </tr>
    <tr>
        <td>@ViewBag.customer.adress1</td>
        <td>@ViewBag.customer.adress2</td>
        <td>@ViewBag.customer.city</td>
        <td>@ViewBag.customer.state</td>
        <td>@ViewBag.customer.country</td>
        <td>@ViewBag.customer.type</td>
        <td>@ViewBag.customer.type</td>
    </tr>
    <tr>
        <td colspan="7">
            <button id="booknow3" type="button" name="command" value="Quote" class="btn btn-success booknow">Send Quote</button>
            @*<button class="btn btn-success">Book Now</button>*@
            <button id="booknow1" type="button" name="command" value="Save" class="btn btn-success booknow" style="float:right"> Book Now</button>

                </td>
            </tr>
        </table>
    //}
        }
