


@*<div class="content" id="userslist">*@
    <div class="customtbl header" style="text-transform:uppercase;font-weight:700">
        Customers/Clients:  <button id="btnadd" class="btn btn-primary">Add New Customer</button>
    </div>
    <div style="overflow-x: auto;" class="content">
        <table id="allorders" class="display" style="width:100%;">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Name </th>
                    <th>Company Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Member Number</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var users in ViewBag.Userlist)
                    {
                        <tr>
                            <td><input type="checkbox" class="chcktbl" value="@users.id" /></td>
                            <td>@users.firstname @users.lastname</td>
                            <td>@users.Businessname</td>
                            <td>@users.email</td>
                            <td>@users.phoneno</td>
                            <td>Member12345</td>
                            <td>@users.Status</td>
                        </tr>

                    }

                }
            </tbody>
        </table>
    </div>




