
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
    var i = 0;
}

@section Navigation
{
<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                @if (ViewBag.servicetype == "Bidding")
                {
                    <h3>  Bidding View Cart  </h3>
                }
                @if (ViewBag.servicetype == "Quotation")
                {
                    <h3>Quotation View Cart</h3>
                }
                @if (ViewBag.servicetype == "ReverseBidding")
                {
                    <h3> Reverse Bidding View Cart</h3>
                }
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="~/Index/Index">Home</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li><a href="~/Dashboard/Index">Dashboard</a></li>
                    <li><i class="breads_arrow"></i></li>
                    
                    @if (ViewBag.servicetype == "Bidding")
                    {
                        <li>  Bidding View Cart  </li>
                    }
                    @if (ViewBag.servicetype == "Quotation")
                    {
                        <li>Quotation View Cart</li>
                    }
                    @if (ViewBag.servicetype == "ReverseBidding")
                    {
                        <li> Reverse Bidding View Cart</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
}


    <div class="dashInner">
        <div class="order-details">
            <h2>Order ID : @Request.QueryString["id"]</h2>
            @foreach (var item in ViewBag.date)
            {
                <p>Order Date :@item.UpdatedTime.ToShortDateString()</p>
            }
                
            <div class="clear"></div>
        </div>
        <!-- /order-details -->
        <div class="dashboardList dashboardList-whitebg dashboardList-nospace">
            <table class="responsive" id="mytable">
                <thead>
                    <tr>
                        <th style="width:35%">Quotation ID</th>
                        <th style="width:24%">Event Details</th>
                        <th style="width:26%">Event Date&Time</th>
                        <th style="width:15%">Price</th>
                    </tr>
                </thead>
                <tbody>
                   @if (ViewBag.OrderDetail != null)
                   {
                       foreach (var item in ViewBag.OrderDetail)
                       {
                        <tr>
                            <td>
                                
                                <div class="item-details">
                                    <h4>@item.RequestId</h4>
                                </div>
                                <div class="clear"></div>
                                @*<div class="item-btns"> <a href="#" class="btn-small btn-green"><i class="ti-rocket"></i>Deliver More</a> <a href="#" class="btn-small btn-delete"><i class="ti-trash"></i>Delete</a> </div>*@
                            </td>
                            <td>
                                <h4>@item.EventName</h4>
                                <p>
                                    @item.EventAddress,<br>
                                    @item.EventLocation,<br>
                                    @item.PhoneNo
                                </p>
                                @*<a href="#edit_event" class="orange-link upload_address popup-with-move-anim"><i class="ti-pencil"></i> Edit Event</a>*@
                            </td>
                            <td>
                                <div class="event-date-time">
                                    <div class="event-dates">
                                        @if (item.EventStartDate != null && item.EventStartTime != null)
                                        {
                                            <p>@item.EventStartDate.ToShortDateString()</p>  <p> @item.EventStartTime.ToShortTimeString()</p>
                                        }
                                        @if (item.EventStartDate == null || item.EventStartTime == null)
                                        {
                                            <p>No Data Available</p>
                                        }
                                    </div>
                                    @*<div class="event-date-edit"><a href="#" title="Edit Date & Time"><i class="ti-pencil-alt active"></i></a><a href="#" title="Delete Date & Time"><i class="ti-trash close"></i></a></div>
                                        <div class="clear"></div>*@
                                </div>
                                @*<a href="#add_new_date" class="orange-link upload_address popup-with-move-anim"><i class="ti-plus"></i> Add Date / Time</a>*@
                            </td>
                            <td>
                                <div class="item-price">
                                    <p>Rs. @item.paidamount</p>
                                </div>
                            </td>
                        </tr>
                       }
                   }
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
        <!-- /dashboardList -->
        <div class="price-information" style="display:none">
            <div class="total-price">
                <div class="price-desc">
                    <h6>Payment Terms & Conditions</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                </div>
                <div class="price-info">
                    <table>
                        <tr>
                            <td style="width:55%;">Sub Total</td>
                            <td style="width:15%;" align="center">:</td>
                            <td style="width:30%;"><p id="price"></p></td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td align="center">:</td>
                            <td><p id="tax"></p></td>
                        </tr>
                        <tr>
                            <td><h5>Payble Total</h5></td>
                            <td align="center"><h5>:</h5></td>
                            <td><h5>1299.00</h5></td>
                        </tr>
                    </table>
                </div>
                <div class="clear"></div>
            </div>
            <!-- /total-price -->
            <div class="paid-amount">
                <h5>Amount Paid&nbsp;&nbsp;:&nbsp;&nbsp;Rs. 650.00</h5>
                <h4>Balance Amount to be Paid&nbsp;&nbsp;:&nbsp;&nbsp;Rs. 1650.00</h4>
            </div>
            <div class="pay-btn btn-right">
                <button class="btn btn-big btn-red"><i class="ti-close"></i> Cancel</button>
                <button class="btn btn-big btn-green"><i class="ti-money"></i> Pay Now</button>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- /price-information -->
        <div class="dashboardList m-t-30">
            <h2>Payment Details</h2>
            <table class="responsive">
                <thead>
                    <tr>
                        <th style="width:10%">S.No</th>
                        <th style="width:20%">Paid Date</th>
                        <th style="width:50%">Details</th>
                        <th style="width:20%">Amount</th>
                    </tr>
                </thead>
                @foreach (var item in ViewBag.payment)
                {
                    <tbody>
                        <tr>
                            <td>@(++i)</td>
                            <td>@item.Paiddate.ToShortDateString()</td>
                            <td>Paid with Visa card -  card @item.cardnumber</td>
                            <td>Rs. @item.paidamount</td>
                        </tr>
                    </tbody>
                }
                @*<tbody>
                    <tr>
                        <td>1</td>
                        <td>17-12-2015</td>
                        <td>Paid with Visa card -  card XXXXXXXX3002</td>
                        <td>Rs. 600</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17-12-2015</td>
                        <td>Paid with Visa card -  card XXXXXXXX3002</td>
                        <td>Rs. 600</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17-12-2015</td>
                        <td>Paid with Visa card -  card XXXXXXXX3002</td>
                        <td>Rs. 600</td>
                    </tr>
                </tbody>*@
            </table>
            <div class="clear"></div>
        </div>
        <!-- /dashboardList -->
    </div>
    <!-- /dashInner -->
<script>
    window.onload = function () {
        
        $('#mytable tbody tr').each(function () {
            var budget = $(this).find("td:last").html();
            var amount = $("#price");
            var taxamount = $("#tax");
            //tax calculation
            var taxpercent = 10;
            var taxcalc = ((budget.substring(budget.indexOf(".") + 1)) * taxpercent) / 100;
            //alert(parseFloat(budget.substring(budget.indexOf(".") + 1))*10);
            //alert(ParseInt((budget.substring(budget.indexOf(".") + 1))) * ParseInt(10));
            taxamount.html(taxcalc);
            amount.html(budget);
        });
    };
</script>