@model List<MaaAahwanam.Repository.SP_Deals_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    @if (ViewBag.ServiceType == "Eventorganiser")
                    {
                        <h3>Event Organisers</h3>
                    }
                    else if (ViewBag.ServiceType == "BeautyService")
                    {
                        <h3>Beauty Services</h3>
                    }
                    else if (ViewBag.ServiceType == "WeddingCollection")
                    {
                        <h3>Wedding Collections</h3>
                    }
                    else if (ViewBag.ServiceType == "InvitationCard")
                    {
                        <h3>Invitation Cards</h3>
                    }
                    else if (ViewBag.ServiceType == "Photography")
                    {
                        <h3>Photographers</h3>
                    }
                    else if (ViewBag.ServiceType == "Catering")
                    {
                        <h3>Caterers</h3>
                    }
                    else
                    {
                        <h3><text>@ViewBag.ServiceType</text>s</h3>
                    }
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/Index/Index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        @*@if (ViewBag.ServiceType == "InvitationCard")
                            {*@
                        
                        @*}*@
                        @if (ViewBag.ServiceType == "Eventorganiser")
                        {
                            <li><a href="@Request.RawUrl" id="lnkservicetype"> Event Organisers</a></li>
                        }
                        else if (ViewBag.ServiceType == "BeautyService")
                        {
                            <li><a href="@Request.RawUrl" id="lnkservicetype"> Beauty Services</a></li>
                        }
                        else if (ViewBag.ServiceType == "WeddingCollection")
                        {
                            <li><a href="@Request.RawUrl" id="lnkservicetype"> Wedding Collections</a></li>
                        }
                        else if (ViewBag.ServiceType == "InvitationCard")
                        {
                            <li><a href="@Request.RawUrl" id="lnkservicetype"> Invitation Cards </a></li>
                        }
                        else if (ViewBag.ServiceType == "Photography")
                        {
                            <li><a href="@Request.RawUrl" id="lnkservicetype">Photographers</a></li>
                        }
                        else if (ViewBag.ServiceType == "Catering")
                        {
                            <li><a href="@Request.RawUrl" id="lnkservicetype">Caterers</a></li>
                        }
                        else
                        {
                            <li><a href="../Deals?par=@ViewBag.ServiceType&sType=%&loc=Hyderabad&a=ASC" id="lnkservicetype"> <text>@ViewBag.ServiceType</text>s</a></li>
                        }
                        @*@if (ViewBag.ServiceType == "Venue")
                            {
                            <li><a href="../product?par=Venue"> Venue</a></li>
                            }
                            @if (ViewBag.ServiceType == "Catering")
                            {
                            <li><a href="../product?par=Catering"> Catering</a></li>
                            }
                            @if (ViewBag.ServiceType == "Photography")
                            {
                            <li><a href="../product?par=Photography"> Photography</a></li>
                            }
                            @if (ViewBag.ServiceType == "Decorator")
                            {
                            <li><a href="../product?par=Decorator"> Decorator</a></li>
                            }
                            @if (ViewBag.ServiceType == "Entertainment")
                            {
                            <li><a href="../product?par=Entertainment"> Entertainment</a></li>
                            }
                            @if (ViewBag.ServiceType == "Eventorganiser")
                            {
                            <li><a href="../product?par=Eventorganiser"> Eventorganiser</a></li>
                            }
                            @if (ViewBag.ServiceType == "BeautyService")
                            {
                            <li><a href="../product?par=BeautyService"> Beauty Service</a></li>
                            }
                            @if (ViewBag.ServiceType == "Travel")
                            {
                            <li><a href="../product?par=Travel"> Travel</a></li>
                            }
                            @if (ViewBag.ServiceType == "Gift")
                            {
                            <li><a href="../product?par=Gift"> Gift</a></li>
                            }
                            @if (ViewBag.ServiceType == "WeddingCollection")
                            {
                            <li><a href="../product?par=WeddingCollection"> WeddingCollection</a></li>
                            }
                            @if (ViewBag.ServiceType == "Other")
                            {
                            <li><a href="../product?par=Other"> Other</a></li>
                            }*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<section>
    <div class="about_main">
        <div class="overlay2" style="display: none;">
            <div style="left: 50%; top: 50%; position: fixed; transform: translate(-50%, -50%); text-align: center;">
                <img src="/CSSWeb/images/Loader.gif" /><br>
                <p style="color: white; font-style: italic; font-family:serif;">&nbsp; Just a second...</p>
            </div>
        </div>

        <div class="pageWidth">
            <aside>
                <h4>Services</h4>
                <span>&nbsp;</span>
                <ul id="stpyesul" class="display">
                    @{
                        int i = 0;
                        foreach (var item in @ViewBag.subservicetype)
                        {
                            if (item.vendortype != null)
                            {
                                if (i == 0)
                                {
                                    <li><a href="#" style="text-transform:capitalize" class="Test" id="@item.vendortype.Replace(",", ", ")" onclick="subservicechnage(this)"> @item.vendortype.Replace(",", ", ")</a></li>
                                }
                                else
                                {
                                    <li><a href="#" style="text-transform:capitalize" id="@item.vendortype.Replace(",", ", ")" onclick="subservicechnage(this)"> @item.vendortype.Replace(",", ", ")</a></li>
                                }
                            }
                            i++;
                        }
                    }
                    @*<li><a href="../product?par=Venue"> Venue</a></li>
                        <li><a href="../product?par=Catering"> Catering</a></li>
                        <li><a href="../product?par=Photography"> Photography</a></li>
                        <li><a href="../product?par=InvitationCard"> InvitationCard</a></li>
                        <li><a href="../product?par=Decorator"> Decorator</a></li>
                        <li><a href="../product?par=Entertainment"> Entertainment</a></li>
                        <li><a href="../product?par=Eventorganiser"> Eventorganiser</a></li>
                        <li><a href="../product?par=BeautyService"> Beauty Service</a></li>
                        <li><a href="../product?par=Travel"> Travel</a></li>
                        <li><a href="../product?par=Gift"> Gift</a></li>
                        <li><a href="../product?par=WeddingCollection"> WeddingCollection</a></li>
                        <li><a href="../product?par=Other"> Other</a></li>*@
                </ul>
                <div class="line">&nbsp;</div>
                <h4>Filter By</h4>
                <span>&nbsp;</span>
                <div class="clear"></div>
                <form name="myForm">
                    <label>Location</label>
                    <input type="text" id="txtlocation" name="location" placeholder="Enter your Location" onkeypress="onkey(this)" onchange="locationchange(this)">
                    @*@foreach (var item in this.Model)
                    {*@
                        @if (ViewBag.servicetypesType != "Banquet Hall")
                        {
                            <div id="pricerange">
                                <label>Price Range</label>
                                <div class="radioButtons" id="radio-demo">
                                    <input type="radio" name="radiogroup" id="rblASC" checked value="ASC" />
                                    <label for="rblASC">Low to High</label>
                                    <br />
                                    <input type="radio" name="radiogroup" id="rblDESC" value="DESC" />
                                    <label for="rblDESC">High to Low</label>
                                </div>
                                </div>
                                // break;
                                }
                                @* } *@
</form>
            </aside>
            <article>
                <div class="about_categories">
                    <select>
                        <option>Beautician</option>
                        <option>Photographers</option>
                        <option>Cake Vendors</option>
                        <option>Caterer Decorators</option>
                        <option>Designer Photographers</option>
                        <option>Entertainment</option>
                        <option>Fireworks</option>
                        <option>Godi wale</option>
                    </select>
                </div>
                <div class="about_content">
                    <fieldset class="address-data-inputs">
                        <div class="displayDiv">
                            <div>
                                @if (Model.Count != 0)
                                {
                                    foreach (var item in this.Model)
                                    {
                                        <div id="PhotographersDiv" class="step2">
                                            <div class="deals-main" id="main">
                                                <div class="deal">
                                                    <div class="deal-thumb">
                                                        <a href="../DealInfo?par=@item.ServicType.Trim()&VID=@item.Id&subvid=@item.subid&did=@item.DealID">
                                                            <div class="zoomDiv">
                                                                @* <a href="../Dealinfo?par=@item.ServicType.Trim()&VID=@item.Id">*@
                                                                @if (item.image != null)
                                                                {
                                                                    <img src="~/vendorimages/@item.image" alt="thumb">
                                                                }
                                                                else if (item.image == null)
                                                                {
                                                                    @*<img src="~/vendorimages/@item.image" alt="thumb">*@
                                                                    <img src="~/noimages.png" alt="No Image" />
                                                                }
                                                                @*</a>*@
                                                                <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span>  </div>

                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="deal-details">
                                                        <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">@item.BusinessName</h4>
                                                        <div class="amount">
                                                            <input type="hidden" id="hdncost" value=@item.ServicType.Trim() />

                                                            @if (item.ServicType != "Venue")
                                                            {
                                                                if (item.ServicType == "Catering"|| item.ServicType == "InvitationCard" || item.ServicType == "BeautyServices")
                                                                {
                                                                    <span class="price">Rs. @item.Cost</span>
                                                                }
                                                                else
                                                                { 
                                                                <span class="price">Rs. @item.DealServicePrice</span>
                                                                }
                                                                @*</p>*@
                                                            }
                                                            
                                                            @if (item.subtype == "Convention Hall" || item.subtype == "Function Hall" || item.subtype == "Meeting Room" || item.subtype == "Roof Top")
                                                            {
                                                                <span class="price">Rs. @item.DealServicePrice</span>
                                                            }
                                                            <span class="buy">
                                                                <a href="../DealInfo?par=@item.ServicType.Trim()&VID=@item.Id&subvid=@item.subid&did=@item.DealID"><i class="ti-shopping-cart"></i> Add to Cart</a>
                                                            </span>
                                                        </div>
                                                        <p style="color:#838383 ;width: 200px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;">@item.Description</p>
                                                        @*<p><i class="ti-location-pin"></i> @item.City</p>*@

                                                        <div class="deal-footer">
                                                            <ul>
                                                                <li><div class="rate" data-rate-value=5></div></li>
                                                                <li><i class="ti-comment-alt"></i> 1362</li>
                                                                <li><i class="ti-eye"></i> 1500</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <input type="hidden" id="hiddenlastrecord" value=@ViewBag.Lastrecordid />
                                    <input type="hidden" id="hiddenlastrecord2" value="@Model.Last().ServicType" />
                                }
                                else if (Model.Count == 0)
                                {
                                    <h3>No Vendors found</h3>
                                }
                                @*}*@
                            </div>

                            <div id="sss"></div>


                            <!--<div class="pagination2">
                                <div class="prev">
                                <a href="invitation.html" class="btn btn-big btn-green float-left"><i class="ti-angle-double-left"></i> Back to Prev</a>
                                </div>
                                <div class="next">
                                <a href="../CardInfo/Index" class="btn btn-big btn-red float-right">Go to Next <i class="ti-angle-double-right"></i></a>
                              </div>
                            </div>-->
                        </div>
                        <!-- displayDiv -->
                    </fieldset>
                    <div class="loadMore">
                        <button name="loadmore" id="LoadMore1" class="btn btn-green more-button"><i class="ti-reload"></i> Load More</button>
                        <div id="abc"><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></div>
                        @*<div id="imgloadergifdiv"> <img src="~/CSSWeb/ajax-loader.gif" id="imgloadergif" /></div>*@
                    </div>
                </div>
            </article>

            <div class="clear"></div>

        </div>

    </div>
</section>
<div class="clear"></div>
@*<style>
        li:first-child {
            background-color: yellow;
        }
    </style>*@
@section scriptfunctions
{
    <script type="text/javascript">
        window.onload = function () {
            //if(document.getElementById("hdncost").value=='Catering')
            //{
            //    //alert('hi');
            //    $("#P_cost").css("display", "none");
            //}
            $("#abc").hide();
            $("#imgloadergifdiv").hide();
            if(@Model.Count < 9)
            {
                $("#LoadMore1").hide();
            }
            var url = unescape(document.URL);
            var type = url.split('=')[1].replace("&sType","");
            var servicetype = url.split('=')[2].replace("&loc","");
            var locationchange = url.split('=')[3].replace("&a","");
            var filter=url.split('=')[4];
            document.getElementById("txtlocation").value= locationchange;
            
            if(servicetype != 'Banquet Hall' ) 
            {
                if(filter == "DESC")
                {
                    document.getElementById("rblDESC").checked = true;
                }
                else if( filter =="ASC")
                {
                    document.getElementById("rblASC").checked = true;
                }
            }
            
            var subservicetype= servicetype;
            if(subservicetype!='%')
            {
                document.getElementById(subservicetype).className = "active";
            }
            else
            {
                var a= $(".Test").attr('id');
                document.getElementById(a).className = "active";
            }
            if (type == 'Venue') {
                var pricerange =$( "ul.display li" ).first().text();
                if (pricerange = "Banquet Hall" && subservicetype == '%') {
                    $("#pricerange").hide();
                }
                else {
                    $("#pricerange").show();
                }
            }
        };
        /* -------------------------------  Loadmore functionality ------------------------ */
        $('#LoadMore1').on('click', function (e) {
            //$("#imgloadergifdiv").show();
            $(".overlay").show();
            $("#LoadMore1").hide();
            var VID = document.getElementById("hiddenlastrecord").value;

            //alert(hdncosttype);
            var servicetypeQuerystring = document.getElementById("hiddenlastrecord2").value;

            //var servicetype = window.location.search.split("=")[1].split("&")[0];
            //var subservicetype= window.location.search.split("=")[2].split("&")[0];
            //var location = window.location.search.split("=")[3].split("&")[0];
            //var order = window.location.search.split("=")[4].split("&")[0];
            var url = unescape(document.URL);
            var servicetype = url.split('=')[1].replace("&sType","");
            var subservicetype = url.split('=')[2].replace("&loc","");
            var location = url.split('=')[3].replace("&a","");
            var order = url.split('=')[4];

            var obj = {};
            obj.VID = VID;
            obj.servicetypeQuerystring = servicetypeQuerystring;
            obj.servicetype=servicetype;
            obj.subservicetype=subservicetype;
            obj.location=location;
            obj.order=order;
            $.ajax({
                type: "POST",
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/Deals/Loadmore',
                data: {},
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.length == 9) {
                        var hdncosttype = document.getElementById("hdncost").value;
                        //alert(hdncosttype);
                        if(hdncosttype!='Catering' && hdncosttype!='Venue' && hdncosttype!='InvitationCard')
                        {
                            //alert('Yes3');
                            $.each(data, function (key, value) {
                                $("#PhotographersDiv").append('<div class="deals-main"> <div class="deal"> <div class="deal-thumb"> <a href="../Dealinfo?par='+value.ServicType+'&VID='+value.Id+'&subvid='+value.subid+'&did='+value.DealID+'"> <div class="zoomDiv"> <img src="/vendorimages/' + value.image + '" alt="thumb"> <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span> </div> </div> </a> </div> <div class="deal-details"> <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">' + value.BusinessName + '</h4> <div class="amount"> <span class="price">Rs. ' + value.Cost + '</span> <span class="buy"> <a href="../Dealinfo?par=Venue&ID=101"><i class="ti-shopping-cart"></i> Add to Cart</a> </span> </div> <p style="color:#838383;width: 200px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;">' + value.Description + '</p> <div class="deal-footer"> <ul> <li><div class="rate" data-rate-value=5></div></li> <li><i class="ti-comment-alt"></i> 1362</li> <li><i class="ti-eye"></i> 1500</li> </ul> </div> </div> </div> </div>');
                                document.getElementById("hiddenlastrecord").value = value.Id;
                            });
                        }
                        else
                        {
                            //alert('no');
                            $.each(data, function (key, value) {
                                $("#PhotographersDiv").append('<div class="deals-main"> <div class="deal"> <div class="deal-thumb"> <a href="../Dealinfo?par='+value.ServicType+'&VID='+value.Id+'&subvid='+value.subid+'&did='+value.DealID+'"> <div class="zoomDiv"> <img src="/vendorimages/' + value.image + '" alt="thumb"> <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span> </div> </div> </a> </div> <div class="deal-details"> <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">' + value.BusinessName + '</h4> <div class="amount"> <span class="price"></span> <span class="buy"> <a href="../Dealinfo?par=Venue&ID=101"><i class="ti-shopping-cart"></i> Add to Cart</a> </span> </div> <p style="color:#838383;width: 200px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;">' + value.Description + '</p> <div class="deal-footer"> <ul> <li><div class="rate" data-rate-value=5></div></li> <li><i class="ti-comment-alt"></i> 1362</li> <li><i class="ti-eye"></i> 1500</li> </ul> </div> </div> </div> </div>');
                                document.getElementById("hiddenlastrecord").value = value.Id;
                            });
                        }
                    }
                    else
                    {
                        var hdncosttype = document.getElementById("hdncost").value;
                        //alert(hdncosttype);
                        if(hdncosttype=='Catering' || hdncosttype=='Venue' || hdncosttype=='InvitationCard')
                        {
                            $.each(data, function (key, value) {
                                $("#PhotographersDiv").append('<div class="deals-main"> <div class="deal"> <div class="deal-thumb"> <a href="../Dealinfo?par='+value.ServicType+'&VID='+value.Id+'&subvid='+value.subid+'&did='+value.DealID+'"> <div class="zoomDiv"> <img src="/vendorimages/' + value.image + '" alt="thumb"> <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span> </div> </div> </a> </div> <div class="deal-details"> <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">' + value.BusinessName + '</h4> <div class="amount"> <span class="price"></span> <span class="buy"> <a href="../Dealinfo?par=Venue&ID=101"><i class="ti-shopping-cart"></i> Add to Cart</a> </span> </div> <p style="color:#838383;width: 200px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;">' + value.Description + '</p> <div class="deal-footer"> <ul> <li><div class="rate" data-rate-value=5></div></li> <li><i class="ti-comment-alt"></i> 1362</li> <li><i class="ti-eye"></i> 1500</li> </ul> </div> </div> </div> </div>');
                                document.getElementById("hiddenlastrecord").value = value.Id;
                            });
                            $("#LoadMore1").hide();
                        }
                        else
                        {
                            $.each(data, function (key, value) {
                                $("#PhotographersDiv").append('<div class="deals-main"> <div class="deal"> <div class="deal-thumb"> <a href="../Dealinfo?par='+value.ServicType+'&VID='+value.Id+'&subvid='+value.subid+'&did='+value.DealID+'"> <div class="zoomDiv"> <img src="/vendorimages/' + value.image + '" alt="thumb"> <div class="deal-mask"> <span class="pic_img"><i class="ti-image"></i></span> </div> </div> </a> </div> <div class="deal-details"> <h4 style="font-size: 15px; font-weight:bold; color: #2d3e52; font-family: Helvetica,sans-serif; ">' + value.BusinessName + '</h4> <div class="amount"> <span class="price">Rs. ' + value.Cost + '</span> <span class="buy"> <a href="../Dealinfo?par=Venue&ID=101"><i class="ti-shopping-cart"></i> Add to Cart</a> </span> </div> <p style="color:#838383;width: 200px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;">' + value.Description + '</p> <div class="deal-footer"> <ul> <li><div class="rate" data-rate-value=5></div></li> <li><i class="ti-comment-alt"></i> 1362</li> <li><i class="ti-eye"></i> 1500</li> </ul> </div> </div> </div> </div>');
                                document.getElementById("hiddenlastrecord").value = value.Id;
                            });
                            $("#LoadMore1").hide();
                        }
                    }
                    $(".rate").rate();
                },
                error: function (data) {
                    alert('error')
                }
            });
            //$("#imgloadergifdiv").hide();
            $("#LoadMore1").show();
            $(".overlay").hide();
        });
    </script>
    <script>
        function subservicechnage(s)
        {
            //var subservicetype=s.text.trim();
            //var servicetype = window.location.search.split("=")[1].split("&")[0];
            //var location = window.location.search.split("=")[3].split("&")[0];
            //var order = window.location.search.split("=")[4].split("&")[0];
            var url = unescape(document.URL);
            var servicetype = url.split('=')[1].replace("&sType","");
            var subservicetype = s.text.replace(" ","").replace("%20","");
            var location = url.split('=')[3].replace("&a","");
            var order = url.split('=')[4];
            window.location.href = '/Deals?par='+servicetype+'&sType='+subservicetype+'&loc='+location+'&a='+order;
            //alert('/product?par='+servicetype+'&sType='+subservicetype+'&loc='+location+'&a='+order);
        }
        function locationchange(s)
        {
            //alert(document.getElementById("txtlocation").value);
            //var subservicetype= window.location.search.split("=")[2].split("&")[0];
            //var servicetype = window.location.search.split("=")[1].split("&")[0];
            //var location = document.getElementById("txtlocation").value;
            var url = unescape(document.URL);
            var servicetype = url.split('=')[1].replace("&sType","");
            var subservicetype = url.split('=')[2].replace("&loc","");
            var location =  document.getElementById("txtlocation").value;
            var order = url.split('=')[4];
            //var order = window.location.search.split("=")[4].split("&")[0];
            window.location.href = '/Deals?par='+servicetype+'&sType='+subservicetype+'&loc='+location+'&a='+order;
            //alert('/product?par='+servicetype+'&sType='+subservicetype+'&loc='+location+'&a='+order);
        }

        var radother = document.myForm.radiogroup;
        var prevother = null;
        var rrother = null;var url1 = unescape(document.URL);
        //alert(radother.length);
        for (var i = 0; i < radother.length; i++) {
            radother[i].onclick = function () {
                if (this !== prevother) {
                    prevother = this;
                    var a = this.value;

                    //var subservicetype= window.location.search.split("=")[2].split("&")[0];
                    //var servicetype = window.location.search.split("=")[1].split("&")[0];
                    //var location = window.location.search.split("=")[3].split("&")[0];
                    var servicetype = url1.split('=')[1].replace("&sType","");
                    var subservicetype = url1.split('=')[2].replace("&loc","");
                    var location = url1.split('=')[3].replace("&a","");
                    var order = a;
                    window.location.href = '/Deals?par='+servicetype+'&sType='+subservicetype+'&loc='+location+'&a='+order;
                    //alert('/product?par='+servicetype+'&sType='+subservicetype+'&loc='+location+'&a='+order);
                }
            };
        }
        function onkey(s){
            //alert('s');
            if ((event.keyCode || event.which) == 13) {
                event.preventDefault();
                locationchange(s);
            }
        }
    </script>
}
