@using MaaAahwanam.Models
@model EventsandTip
@{
    ViewBag.Title = "EventsTips";
    Layout = "~/Areas/Admin/Views/Shared/MainMaster.cshtml";
}
@section header{
    @*<!-- PAGE LEVEL STYLES -->
    <link href="~/Assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->*@
    <!-- PAGE LEVEL STYLES -->
    <link rel="stylesheet" href="assets/css/bootstrap-fileupload.min.css" />
<link href="~/CSSWeb/css/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/CSSWeb/js/jquery.datetimepicker.js"></script>
<script src="~/CSSWeb/js/jquery-1.9.1.js"></script>
    <!-- END PAGE LEVEL  STYLES -->
}
<style>
    /*Loader Style*/
    .overlay {
            background: no-repeat scroll center center #FFF;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999999;
            background-color: rgba(0,0,0,0.8);
            /* END EXTERNAL S */
        }
</style>
<script>
    /*Enable/Disable Dates based on events selection*/
    function display() {
        var type = $("#Type").val();
        if (type == 'Event') {
            $("#eventstart").show();
            $("#eventend").show();
        }
        else {
            $("#eventstart").hide();
            $("#eventend").hide();
            $("#eventstart").val("");
            $("#eventend").val("");
        }
    }
</script>
@*Loader div*@
<div class="overlay" style="display: block;">
    <div style="left: 50%; top: 50%; position: fixed; transform: translate(-50%, -50%); text-align: center;">
        <img src="~/CSSWeb/images/Loader.gif" /><br>
        <p style="color: white; font-style: italic; font-family:serif;">&nbsp; Just a second...</p>
    </div>
</div>
<!--PAGE CONTENT -->
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <div id="content">
        <div class="inner">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <h2> Events & Tips </h2> 
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="tab-content" id="images">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="collapse2" class="body collapse in">


                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Category</label>
                                                <div class="col-lg-4">
                                                    @*<select class="validate[required] form-control">
                                                            <option value="Select">Choose a Category</option>
                                                            <option value="a">Event</option>
                                                            <option value="b">Beauty Tips</option>
                                                            <option value="c">Health Tips</option>
                                                        </select>*@
                                                    @Html.DropDownListFor(model => this.Model.Type, new SelectList(new[] { "Choose a Category", "Event", "Beauty Tips", "Health Tips" }), new { @class = "form-control" ,onchange="display()",@required= "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Title</label>

                                                <div class="col-lg-4">
                                                    @*<input type="text" name="FirstName" value="" class="validate[required] form-control">*@
                                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Enter Title", @required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Description</label>
                                                <div class="col-lg-4">
                                                    @*<textarea id="autosize" class="validate[required] form-control" name="req" id="req"></textarea>*@
                                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Enter Description", @rows = "3", @required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Location</label>

                                                <div class="col-lg-4">
                                                    @*<input type="text" name="invitationCost" value="" class="validate[required] form-control">*@
                                                    @Html.TextBoxFor(model => model.Location, new { @class = "form-control", placeholder = "Enter Location" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Link</label>

                                                <div class="col-lg-4">
                                                    @*<input type="text" name="invitationCost" value="" class="validate[required] form-control">*@
                                                    @Html.TextBoxFor(model => model.Link, new { @class = "form-control", placeholder = "Enter Link" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Price</label>

                                                <div class="col-lg-4">
                                                    @*<input type="text" name="invitationCost" value="" class="validate[required] form-control">*@
                                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control", placeholder = "Enter Price" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Person</label>

                                                <div class="col-lg-4">
                                                    @*<input type="text" name="invitationCost" value="" class="validate[required] form-control">*@
                                                    @Html.TextBoxFor(model => model.Person, new { @class = "form-control", placeholder = "Enter Person Name" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Phone</label>

                                                <div class="col-lg-4">
                                                    @*<input type="text" name="invitationCost" value="" class="validate[required] form-control">*@
                                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Enter Phone Number" })
                                                </div>
                                            </div>
                                            <div class="form-group" id="eventstart">
                                                <label class="control-label col-lg-4">Event StartDate</label>

                                                <div class="col-lg-4">
                                                    @*<input type="text" name="invitationCost" value="" class="validate[required] form-control">*@
                                                    @Html.TextBoxFor(model => model.Eventstartdate, new { @class = "form-control", placeholder = "Enter Event Start Date", @id = "Eventstartdate" }) <p>Format:dd/mm/yyyy</p>
                                                    
                                                </div>
                                            </div>
                                            
                                            <div class="form-group" id="eventend">
                                                <label class="control-label col-lg-4">Event EndDate</label>

                                                <div class="col-lg-4">
                                                    @*<input type="text" name="invitationCost" value="" class="validate[required] form-control">*@
                                                    @Html.TextBoxFor(model => model.Eventenddate, new { @class = "form-control", placeholder = "Enter Event End Date", @id = "datetimepicker6" }) <p>Format:dd/mm/yyyy</p>
                                                </div>
                                            </div>

                                            @*<div class="event-date">
                                                <label>Event Start Date <span>*</span></label>
                                                <input type="text" name="Email" placeholder="DD/MM/YYYY" id="datetimepicker1">
                                            </div>*@

                                            @*<div class="form-group">
                                                    <label class="control-label col-lg-4">Upload Design</label>
                                                    <div class="col-lg-8">
                                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="../testadmin/Assets/img/demoUpload.jpg" alt="" /></div>
                                                     <!--<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>-->
                                                            <div>
                                                                <span class="btn btn-file btn-primary">
                                                                    <span class="fileupload-new">Select image</span>


                                                                </span> <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            
                                            <div class="form-group">
                                                <label for="tags" class="control-label col-lg-4">Multiple Uploads</label>
                                                <div class="col-lg-4">

                                                    <input type='file' multiple="multiple" accept="image/*" id='fileUpload' name="file" required="required"/>
                                                </div>
                                            </div>

                                           
                                            <div class="form-group">
                                                <label for="tags" class="control-label col-lg-4">Preview</label>
                                                <div class="col-lg-4">

                                                    @*<div id="dvPreview" class="fileupload-new thumbnail" style="border:0px">
                                                            <!--<div style="margin-left:360px">
                                                            </div>-->
                                                        </div>*@
                                                    <div align="center" id="count">
                                                        @if (ViewBag.images != null )
                                                        {
                                                            foreach (var item in ViewBag.images)
                                                            {
                                                                <img id="img" class="getSrc" data-toggle="modal" data-target="#myModal" src="~/EventsAndTipsimages/@item" style="height:100px;width:150px;border:double" onclick="imagepopup(this)" /> //onmouseover='Large(this)'
                                                                @*@Html.ActionLink("X", "Index", new { src = @item }, new { @class = "deletelink", style = "height : 150px ; width:50px; max-height:75px; border: 2px solid; margin: 10px 10px 0 0; padding: 1px;" })*@
                                                            }
                                                        }
                                                        @if (ViewBag.images == null)
                                                        {
                                                        <img src="~/noimages.png" />
                                                        }
                                                    </div>



                                                    <div id="editimage" style="min-height: 10px;min-width: 10px; "></div>

                                                    <div id="dvPreview" align="center" style="padding:20px">
                                                    </div>
                                                </div>
                                            </div>


                                            <div style="text-align:center" class="form-actions no-margin-bottom">

                                                <input id="btnsave" type="submit" value="Save" class="btn text-muted text-center btn-success" name="Command" />
                                                @*<input type="submit" formaction="~/Admin/Dashboard/Dashboard" class="btn btn-danger" value="Cancel"/>*@
                                                <a href="~/Admin/Dashboard/Dashboard" class="btn btn-danger">Cancel</a>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                
                                <div class="table-responsive">
                                    @*<table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a href="#" class="btn btn-default" id="dp4" data-date-format="yyyy-mm-dd" onclick="dates()">Start date</a>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>*@

                                  @*  <table class="table table-striped">
                                        @*<h5><b><u> Available Designs </u></b></h5>
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Type</th>
                                                <th>Title</th>
                                                <th>Person</th>
                                                <th>Location,Phone</th>
                                                <th>Price</th>
                                                <th>Event StartDate - Event EndDate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.EventsandTipsList != null)
                                            {
                                                foreach (var item in ViewBag.EventsandTipsList)
                                                {
                                                    <tr>
                                                        <td><a id="example7" title="Lorem ipsum dolor sit amet">
                                                            @if (item.cropedimage !=null && item.cropedimage != "")
                                                            {
                                                                <img width="100" height="100" src="~/EventsAndTipsimages/@item.cropedimage" alt="" />
                                                            }
                                                            @if (item.cropedimage == null || item.cropedimage == "")
                                                            {
                                                                <img width="100" height="100" src="~/EventsAndTipsimages/@item.Image" alt="" />
                                                            }
                                                            
                                                            </a></td>
                                                        <td><label class="control-label col-lg-4">@item.Type</label></td>
                                                        <td><label class="control-label col-lg-4">@item.Title</label></td>
                                                        <td><label class="control-label col-lg-4">@item.Person</label></td>
                                                        <td><label class="control-label col-lg-4">@item.Location,<br />@item.Phone</label></td>
                                                        <td><label class="control-label col-lg-4">@item.Price</label></td>
                                                        
                                                        <td><label class="control-label col-lg-4">@item.Eventstartdate.ToShortDateString() - @item.Eventenddate.ToShortDateString()</label></td>
                                                        <td>
                                                            <a href="~/Admin/EventsTips/Index?id=@item.EventId" class="btn btn-default btn-xs" onclick="return edit()">Edit</a>  || @*<input type="submit" class="btn btn-default btn-xs" value="Edit" name="Command" formaction="~/Admin/EventsTips/Index?id=@item.EventId"
                                                            <a href="#" class="btn btn-default btn-xs">Delete</a>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            }
                                            @if (ViewBag.EventsandTipsList == null)
                                            {
                                                <tr>
                                                    <td colspan="7">NO Records</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table> *@

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--END PAGE CONTENT -->

@*<script>
    function edit(id) {
        var eventid = id;
        $("#btnsave").val("Update");
        $.post("/Admin/EventsTips/Index", { id: id }, function (data) { });
    }
</script>*@



<script>
    window.onload = function () {
        $("#eventstart").hide();
        $("#eventend").hide();
        var url = window.location.href;
        var op = url.substring(url.lastIndexOf('=') + 1);
        var op1 = url.substring(url.lastIndexOf('/') + 1);
        if (op != url || op1 != 'Index') {
            $("#btnsave").val("Update");
        }
        if (op1 =='Index') {
            $("#btnsave").val("Save");
        }
        var type = $("#Type").val();
        if (type == 'Event') {
            $("#eventstart").show();
            $("#eventend").show();
        }
        $(".overlay").hide();
        }
    </script>
<script>
    /*Remove Required from fileupload after reaches limit*/
    $("#btnsave").on('click', function () {
        var btn = $("#btnsave").val();
        var imagescount = $("#count img").length;
        if (btn == 'Update' && imagescount >= 10) {
            document.getElementById("fileUpload").removeAttribute("required");
        }
    });
</script>
<script>
        /*
        window.onerror = function(errorMsg) {
            $('#console').html($('#console').html()+'<br>'+errorMsg)
        }*/
        //$.datetimepicker.setLocale('en');

        //$('#datetimepicker_format').datetimepicker({ value: '2015/12/12 05:03', format: $("#datetimepicker_format_value").val() });
        //$("#datetimepicker_format_change").on("click", function (e) {
        //    $("#datetimepicker_format").data('xdsoft_datetimepicker').setOptions({ format: $("#datetimepicker_format_value").val() });
        //});
        //$("#datetimepicker_format_locale").on("change", function (e) {
        //    $.datetimepicker.setLocale($(e.currentTarget).val());
        //});

        // event start date
        $('#datetimepicker1').datetimepicker({
            lang: 'en',
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'Y/m/d',
        });
        // event end date
        //$('#datetimepicker2').datetimepicker({
        //    lang: 'en',
        //    timepicker: false,
        //    format: 'd/m/Y',
        //    formatDate: 'Y/m/d',
        //});
        //// event start time
        //$('#datetimepicker3').datetimepicker({
        //    datepicker: false,
        //    format: 'H:i',
        //    step: 5
        //});
        //// event end time
        //$('#datetimepicker4').datetimepicker({
        //    datepicker: false,
        //    format: 'H:i',
        //    step: 5
        //});
</script>


@section Bottom{
    <script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="~/Assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="assets/plugins/jasny/js/bootstrap-fileupload.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
}











