
@{
    ViewBag.Title = ":: Store Front ::";
    Layout = "~/Views/SharedWeb/VendorMasterPage.cshtml";
    var i = 0;
}

<form method="post">
    <div class="gallery"></div>
    <div class="container margin-top-100 margin-bottom-100 selectblock">

        @*Venue Div's*@
        @if (ViewBag.services.Contains("Venue"))
        {
            <h3 class="row margin-left-0 margin-right-0">Venues</h3>
            <div class="row">
                @foreach (var item in ViewBag.venuerecord)
                {
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                        <div class="block">
                            <div class="pic">
                                <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                @*<input type="file" id="fileupload" onchange="upload(@ViewBag.vendormasterid,@item.Id,venue)">*@
                                <input type="file" />
                            </div>
                            <img src="~/newdesign/images/trash.png" width="18" alt="trash" class="delete-block" />
                            <input type="hidden" id="removediv" value="id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Venue" />
                            <p>
                                <span>
                                    @if (item.name != null && item.name != "")
                                    { @item.name }
                                    else if (item.VenueType != null && item.VenueType != "")
                                    { @item.VenueType }
                                    else
                                    { <text> -- No Category Selected -- </text> }
                                </span>
                            </p>
                            <a href="/VendorSignUp1?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Venue"><i class="fa fa-info-circle" aria-hidden="true"></i>Update Info</a>
                            <a href="/VendorSignUp2?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Venue"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                            <a href="/VendorSignUp3?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Details</a>
                            <a href="/VendorSignUp4?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Venue"><i class="fa fa-money" aria-hidden="true"></i>Discount  %</a>
                            <a href="/VendorCalendar?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-money" aria-hidden="true"></i>Calendar</a>
                        </div>
                        <div class="selected-block">@item.VenueType</div>
                    </div>
                }
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        }

        @*Catering Div's*@
        @if (ViewBag.services.Contains("Catering"))
        {
            <h3 class="row margin-left-0 margin-right-0">Catering</h3>
            <div class="row">
                @foreach (var item in ViewBag.cateringrecord)
                {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <div class="pic">
                            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                            <input type="file">
                        </div>
                        <img src="~/newdesign/images/trash.png" width="18" alt="trash" class="delete-block" />
                        <input type="hidden" id="removediv" value="id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Catering" />
                        @*<p><span>@item.CuisineType</span></p>*@
                        <p>
                            <span>
                                @if (item.name != null)
                                { @item.name }
                                else if (item.CuisineType != null)
                                { @item.CuisineType }
                                else
                                { <text> -- No Category Selected -- </text> }
                            </span>
                        </p>
                        <a href="/VendorSignUp1?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Catering"><i class="fa fa-info-circle" aria-hidden="true"></i>Update Info</a>
                        <a href="/VendorSignUp2?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Catering"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                        <a href="/CateringFAQ?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Details</a>
                        <a href="/VendorSignUp4?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Catering"><i class="fa fa-money" aria-hidden="true"></i>Discount  %</a>
                        <a href="/VendorCalendar?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-money" aria-hidden="true"></i>Calendar</a>
                    </div>
                    <div class="selected-block">@item.CuisineType</div>
                </div>
                }
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        }


        @*Photography Div's*@
        @if (ViewBag.services.Contains("Photography"))
        {
            <h3 class="row margin-left-0 margin-right-0">Photography</h3>
            <div class="row">
                @foreach (var item in ViewBag.Photographyrecord)
                {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <div class="pic">
                            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                            <input type="file">
                        </div>
                        <img src="~/newdesign/images/trash.png" width="18" alt="trash" class="delete-block" />
                        <input type="hidden" id="removediv" value="id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Photography" />
                        @*<p><span>@item.PhotographyType</span></p>*@
                        <p>
                            <span>
                                @if (item.name != null)
                                { @item.name }
                                else if (item.PhotographyType != null)
                                { @item.PhotographyType }
                                else
                                { <text> -- No Category Selected -- </text> }
                            </span>
                        </p>
                        <a href="/VendorSignUp1?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Photography"><i class="fa fa-info-circle" aria-hidden="true"></i>Update Info</a>
                        <a href="/VendorSignUp2?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Photography"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                        <a href="/PhotographyFAQ?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Details</a>
                        <a href="/VendorSignUp4?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Photography"><i class="fa fa-money" aria-hidden="true"></i>Discount  %</a>
                        <a href="/VendorCalendar?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-money" aria-hidden="true"></i>Calendar</a>
                    </div>
                    <div class="selected-block">@item.PhotographyType</div>
                </div>
                }
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        }


        @*Event Management Div's*@
        @if (ViewBag.services.Contains("EventManagement"))
        {
            <h3 class="row margin-left-0 margin-right-0">Event Management</h3>
            <div class="row">
                @foreach (var item in ViewBag.Eventrecord)
                {
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                        <div class="block">
                            <div class="pic">
                                <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                <input type="file">
                            </div>
                            <img src="~/newdesign/images/trash.png" width="18" alt="trash" class="delete-block" />
                            <input type="hidden" id="removediv" value="id=@ViewBag.vendormasterid&&vid=@item.Id&&type=EventManagement" />
                            @*<p><span>@item.PhotographyType</span></p>*@
                            <p>
                                <span>
                                    @if (item.name != null)
                                    { @item.name }
                                    else if (item.type != null)
                                    { @item.type }
                                    else
                                    { <text> -- No Category Selected -- </text> }
                                </span>
                            </p>
                            <a href="/VendorSignUp1?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=EventManagement"><i class="fa fa-info-circle" aria-hidden="true"></i>Update Info</a>
                            <a href="/VendorSignUp2?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=EventManagement"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                            <a href="/EventManagementFAQ?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Details</a>
                            <a href="/VendorSignUp4?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=EventManagement"><i class="fa fa-money" aria-hidden="true"></i>Discount  %</a>
                            <a href="/VendorCalendar?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-money" aria-hidden="true"></i>Calendar</a>
                        </div>
                        <div class="selected-block">@item.type</div>
                    </div>
                }
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        }

        @*Decorator Div's*@
        @if (ViewBag.services.Contains("Decorator"))
        {
            <h3 class="row margin-left-0 margin-right-0">Decorator</h3>
            <div class="row">
                @foreach (var item in ViewBag.Decoratorrecord)
                {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <div class="pic">
                            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                            <input type="file">
                        </div>
                        <img src="~/newdesign/images/trash.png" width="18" alt="trash" class="delete-block" />
                        <input type="hidden" id="removediv" value="id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Decorator" />
                        @*<p><span>@item.DecorationType</span></p>*@
                        <p>
                            <span>
                                @if (item.name != null)
                                { @item.name }
                                else if (item.DecorationType != null)
                                { @item.DecorationType }
                                else
                                { <text> -- No Category Selected -- </text> }
                            </span>
                        </p>
                        <a href="/VendorSignUp1?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Decorator"><i class="fa fa-info-circle" aria-hidden="true"></i>Update Info</a>
                        <a href="/VendorSignUp2?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Decorator"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                        <a href="/DecoratorFAQ?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Details</a>
                        <a href="/VendorSignUp4?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Decorator"><i class="fa fa-money" aria-hidden="true"></i>Discount  %</a>
                        <a href="/VendorCalendar?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-money" aria-hidden="true"></i>Calendar</a>
                    </div>
                    <div class="selected-block">@item.DecorationType</div>
                </div>
                }
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        }

        @*Other Div's*@
        @if (ViewBag.services.Contains("Other"))
        {
            <h3 class="row margin-left-0 margin-right-0">Other</h3>
            <div class="row">
                @foreach (var item in ViewBag.Otherrecord)
                {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <div class="pic">
                            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                            <input type="file">
                        </div>
                        <img src="~/newdesign/images/trash.png" width="18" alt="trash" class="delete-block" />
                        <input type="hidden" id="removediv" value="id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Other" />
                        @*<p><span>@item.type</span></p>*@
                        <p>
                            <span>
                                @if (item.name != null)
                                { @item.name }
                                else if (item.type != null)
                                { @item.type }
                                else
                                { <text> -- No Category Selected -- </text> }
                            </span>
                        </p>
                        <a href="/VendorSignUp1?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Other"><i class="fa fa-info-circle" aria-hidden="true"></i>Update Info</a>
                        <a href="/VendorSignUp2?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Other"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                        <a href="/OthersFAQ?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Details</a>
                        <a href="/VendorSignUp4?id=@ViewBag.vendormasterid&&vid=@item.Id&&type=Other"><i class="fa fa-money" aria-hidden="true"></i>Discount  %</a>
                        <a href="/VendorCalendar?id=@ViewBag.vendormasterid&&vid=@item.Id"><i class="fa fa-money" aria-hidden="true"></i>Calendar</a>
                    </div>
                    <div class="selected-block">@item.type</div>
                </div>
                }
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        }

        <div class="addservice" id="addservice">
            <i class="fa fa-times" aria-hidden="true"></i>
            <div class="row">
                <div class="form-group-1 col-xs-12 col-sm-12 col-md-12 selectcategory">
                    @*@if (ViewBag.services.Contains("Venue"))
                        {
                        <div class="checkbox1">
                            <label><input type="checkbox" value="" checked disabled><span></span>Venue</label>
                        </div>
                        }
                        else
                        {*@
                    <div class="checkbox1">
                        <label><input type="checkbox" value="" checked><span></span>Venue</label>
                    </div>
                    @*}*@

                    @*<div class="checkbox">
                            <label><input type="checkbox" value=""><span></span>Decorator</label>
                        </div>*@
                    @*@if (ViewBag.services.Contains("Catering"))
                        {
                        <div class="checkbox1">
                            <label><input type="checkbox" value="" checked disabled><span></span>Catering</label>
                        </div>
                        }
                        else
                        {*@
                    <div class="checkbox1">
                        <label><input type="checkbox" value=""><span></span>Catering</label>
                    </div>
                    @*}
                        @if (ViewBag.services.Contains("Photography"))
                        {
                        <div class="checkbox1">
                            <label><input type="checkbox" value="" checked disabled><span></span>Photography</label>
                        </div>
                        }
                        else
                        {*@
                    <div class="checkbox1">
                        <label><input type="checkbox" value=""><span></span>Photography</label>
                    </div>
                    <div class="checkbox1">
                        <label><input type="checkbox" value=""><span></span>EventManagement</label>
                    </div>
                    @*}
                        @if (ViewBag.services.Contains("Decorator"))
                        {
                        <div class="checkbox1">
                            <label><input type="checkbox" value="" checked disabled><span></span>Decorator</label>
                        </div>
                        }
                        else
                        {*@
                    <div class="checkbox1">
                        <label><input type="checkbox" value=""><span></span>Decorator</label>
                    </div>
                    @* } *@
                    @*<div class="checkbox">
                            <label><input type="checkbox" value=""><span></span>Entertainments</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""><span></span>Beauty Services</label>
                        </div>*@
                    <div class="checkbox1">
                        <label><input type="checkbox" value=""><span></span>Other</label>
                    </div>
                </div>
            </div>
            <div class="row margin-top margin-bottom" id="businesscategory">
                <input type="hidden" name="services" id="services" />
                <input type="hidden" name="categories" id="categories" />
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Venue">
                    <h4>Venues</h4>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Convention Hall</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Function Hall</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Banquet Hall</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Meeting Room</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Open Lawn</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Roof Top</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Hotel</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Resort</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Catering">
                    <h4>Catering</h4>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Indian</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Chinese</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Mexican</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>South Indian</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Continental</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Multi Cuisine</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Chaat</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Fast Food</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"><span></span>Others</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Photography">
                    <h4>Photography</h4>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Wedding</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Candid<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Portfolio<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Fashion<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Toddler<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Videography<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Conventional<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Cinematography<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Others<span></span></label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="EventManagement">
                    <h4>EventManagement</h4>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Corporate Events</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Brand Promotion<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Fashion Shows<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Exhibition<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Conference & Seminar<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Wedding Management</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Birthday Planning & Celebrations<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Live Concerts<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Musical Nights<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Celebrity Shows<span></span></label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Decorator">
                    <h4>Decorator</h4>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Florists</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">TentHouse Decorators<span></span></label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Others<span></span></label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Entertainments">
                    <h4>Entertainment</h4>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 1</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 2</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 3</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Beauty Services">
                    <h4>Beauty Services</h4>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 1</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 2</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 3</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 4</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 5</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 6</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 7</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 8</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 9</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 10</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 11</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 12</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 13</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 14</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Option 15</label>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="Other">
                    <h4>Other</h4>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Mehendi</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""><span></span>Pandit</label>
                    </div>
                </div>
            </div>
            <div class="row addcategory">
                <button type="submit" class="btn btn-primary red-bg"><i class="fa fa-plus-circle"></i>Add</button>
            </div>
        </div>

        <div class="container-fluid" id="topicon">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
            @*<i class="fa fa-arrow-up" aria-hidden="true" style="position:absolute;top: 8px;"></i>*@
        </div>

    </div>
</form>
<script type="text/javascript" language="javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" language="javascript" src="~/newdesign/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#topicon").css("display", "none");
        //$(".selectblock .blocks:first-of-type").css("opacity","1");
        $(".selectblock .blocks").each(function () {
            $(this).css({ "opacity": "1" });
        });
    });
    /*------- Add Blocks & close service area -------------*/
    $(".selectblock .blocks:last-of-type > .block").click(function () {
        $("html,body").animate({
            scrollTop: $(document).height()
        }, "slow");
        $(".selectblock > .addservice").css("display", "block");
    });

    $(".selectblock > .addservice > i").click(function () {
        $(this).parent(".addservice").css("display", "none");
    });

    $(".delete-block").click(function () {
        var data = $(this).next("input#removediv").attr("value");
        var conFirm = confirm("Do you want to delete this block?");
        if (conFirm == true) {
            removeservice(data);
            $(this).parents(".blocks").css({ "display": "none" })
        }
        //alert($(this).next("input#removediv").attr("value"));
    });

    function removeservice(value) {
        $.ajax({
            url: "/AvailableServices/deleteservice",
            type: "POST",
            data: value,
            success: function (data) {
                if (data == "Removed") {
                    alert("Service Removed");
                }
            },
            error: function (data) {
                alert("Try Again After Some Time");
            }
        });
    }
    /*------- Add Blocks & close service area -------------*/

    /*------- Select Business Category -------------*/
    var listval, catgId;
    $(".selectcategory div.checkbox1 input[type='checkbox']").change(function () {
        if ($(this).is(':checked')) {
            listval = $(this).parent("label").text();
            $("#businesscategory div").each(function () {
                catgId = $(this).attr("id");
                if (listval == catgId) {
                    $(this).css("display", "block");
                }
            });
        } else {
            listval = $(this).parent("label").text();
            $("#businesscategory div").each(function () {
                catgId = $(this).attr("id");
                if (listval == catgId) {
                    $(this).css("display", "none");
                }
            });
        }
    });
    /*------- Select Business Category -------------*/

    $(".checkbox1 input[type='checkbox']").change(function () {
        var arr = [], i = 0;
        $(".checkbox1 input[type='checkbox']:checked").each(function () {
            arr[i++] = $(this).parent("label").text();
        });
        //alert(arr);
        $('#services').val(arr);
        //alert($('#services').val());
        //console.log(arr);
    });

    $(".checkbox input[type='checkbox']").change(function () {
        var arr = [], i = 0;
        $(".checkbox input[type='checkbox']:checked").each(function () {
            arr[i++] = $(this).parent("label").text();
        });
        //alert(arr);
        $('#categories').val(arr);
        //alert($('#categories').val());
        //console.log(arr);
    });
    //$(".dashboard .top-right-menu > .logged-box").click(function () {
    //    $(".dashboard .top-right-menu > ul.dropdown").toggle();
    //});
    //Scroll to TOP
    $("#topicon").click(function () {
        $("html, body").animate({
            scrollTop: $(".gallery").offset().top
        }, "slow");
    });

    $(window).on("scroll", function () {
        var ScrollTop = $(this).scrollTop();
        if (ScrollTop > 1226) {
            $("#topicon").css("display", "block");
        } else {
            $("#topicon").css("display", "none");
        }
    });
</script>

<script>
    function upload(id, vid, type) {
        var ext = $('#fileupload').val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
            alert('Invalid File Type');
        }
        else {
            //$(".overlay").show();
            //var id = location.search.split('id=')[1];
            var data = new FormData();
            var files = $("#fileupload").get(0).files;
            if (files.length > 0) {
                data.append("helpSectionImages", files[0]);
            }
            $.ajax({
                url: '/AvailableServices/UpdateServiceLogo?id=' + id + 'vid=' + vid + 'type=' + type,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {

                },
                error: function (er) {
                    $(".overlay").hide();
                    errormsg("Failed To Upload Pic!!! Try Again");
                }
            });
        }
    }
</script>