@model MaaAahwanam.Models.CommentDetail
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
    var i = 1; var j = 0;
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
@section Navigation
{
<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title"><input type="hidden" id="hdntype" value="@ViewBag.servicetype" />
                @if (ViewBag.servicetype == "Bidding")
                {
                    <h3>  Bidding View Cart  </h3>
                }
                @if (ViewBag.servicetype == "Quotation")
                {
                    <h3>Quotation View Cart</h3>
                }
                @if (ViewBag.servicetype == "ReverseBidding")
                {
                    <h3> Reverse Bidding View Cart</h3>
                }
                
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="~/Index/Index">Home</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li><a href="~/Dashboard/Index">Dashboard</a></li>
                    <li><i class="breads_arrow"></i></li>
                    @if (ViewBag.servicetype == "Bidding")
                    {
                        <li>  Bidding View Cart  </li>
                    }
                    @if (ViewBag.servicetype == "Quotation")
                    {
                        <li>Quotation View Cart</li>
                    }
                    @if (ViewBag.servicetype == "ReverseBidding")
                    {
                        <li> Reverse Bidding View Cart</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
}

 <div class="dashInner">
        <div class="order-details">
            <h2>ID : <strong><span style="font-size:x-large" id="serviceid">@ViewBag.id</span></strong></h2>
            @*<h2>Quotation ID : <strong><span style="font-size:x-large" id="serviceid">@ViewBag.id</span></strong></h2>*@
            <div class="clear"></div>
        </div>
        <!-- /order-details -->
        <!-- popup -->
        <div id="quatation" class="zoom-anim-dialog mfp-hide large-dialog">
            <div class="popup-box pop-content">
                <div class="popup-head">
                    <h3>Description &amp; Preferences</h3>
                </div>
                <!-- /popup-head -->
                <div class="popup-space popup-desc-space">
                    
                    <div class="dashboardList">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width:100%">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p id="desc"></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th style="width:100%">Preferences</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p id="pref"></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /popup -->

        <div class="dashboardList dashboardList-nospace dashboardList-whitebg">
            <table class="responsive" id="mytable">
                <thead>
                    <tr>
                        <th style="width:5%">&nbsp;</th>
                        <th style="width:5%">S.No</th>
                        <th style="width:20%">ID</th>@*<th style="width:20%">Quotation ID</th>*@
                        <th style="width:18%">Date</th>
                        <th style="width:40%">Description</th>
                        <th style="width:12%">Budget</th>
                        <th style="width:12%">Amount</th>
                        @*<th style="width:12%" id="heading">Comments</th>*@
                    </tr>
                </thead>
                
                <tbody>
                    @if (ViewBag.service.Count != 0)
                    {
                        
                        foreach (var item in ViewBag.service)
                        {
                            <tr>
                                <td><input type="radio" name="quatation" id="chkselection" value="@item.ResponseId"/></td>
                                <td>@i</td>
                                <td><a href="#quatation" onclick="displaypopup('id @i','id @j')" class="green-link ml-center popup-with-move-anim">@item.ResponseId</a></td>
                                <td>
                                    @if (item.UpdatedDate != null)
                                    {
                                        @item.UpdatedDate.ToShortDateString() }                                    
                                    @if (item.UpdatedDate == null)
                                    {
                                        <p>NA</p>
                                    }
                                </td>
                                <td id="id @i">@item.Description</td> <td id="id @j" style="display:none">@item.Preferences</td>
                                <td>Rs.@item.Budget</td>
                                <td>
                                    Rs.@item.Amount &nbsp;
                                    @if (item.Type == "Quotation")
                                    {

                                        @*<td><a href="~/QuatationViewCart/Index?rid=@item.ResponseId" class="green-link" >Comment</a></td>*@
                                            <a href="~/QuatationViewCart/Index?rid=@item.ResponseId" class="green-link">Comment</a>
                                    }
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    @if (ViewBag.service.Count == 0)
                    {
                        <tr>
                            <td colspan="7"><h4>No Responces Yet</h4></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
        <!-- /dashboardList -->

        <div class="price-information" style="display:none">
            <div class="total-price">
                <div class="price-desc">
                    <h6>Payment Terms & Conditions</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                </div>
                <div class="price-info">
                    <table>
                        <tr>
                            <td style="width:55%;">Sub Total</td>
                            <td style="width:15%;" align="center">:</td>
                            <td style="width:30%;"><p id="price"></p></td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td align="center">:</td>
                            <td><p id="tax"></p></td>
                        </tr>
                        <tr>
                            <td><h5>Payble Total</h5></td>
                            <td align="center"><h5>:</h5></td>
                            <td><h5>1299.00</h5></td>
                        </tr>
                    </table>
                </div>
                <div class="clear"></div>
            </div>
            <!-- /total-price -->
            <div class="paid-amount">
                <h5>Advance Amount to be paid&nbsp;&nbsp;:&nbsp;&nbsp;Rs. 650.00</h5>
            </div>
            
            <div class="clear"></div>
        </div>
     <br/>
@if (ViewBag.service.Count != 0)
{
    //Comments Section
    
        <form method="post">
            <div class="pay-btn btn-right">
                <button class="btn btn-big btn-green" type="button" id="btnpay" name="command" value="Pay" onclick="return valid();"><i class="ti-money"></i> Pay Now</button> @*onclick="window.location.href='/Payment/Index';"*@
                <div class="clear"></div> 
            </div>
        </form>

        <!-- /price-information -->
        <br /><br />
        <div id="commentsection">
            <div class="comments-box">
                @*<form id="contact_form" class="form">*@
                @using (Html.BeginForm("Index", "QuatationViewCart", routeValues: new { id = @ViewBag.id, rid = @ViewBag.rid }, method: FormMethod.Post)) //"index", "QuatationViewCart",new { @id="contact_from",@class="form"}
                {
                    <ul id="contact_form" class="form">
                        <li class="full">
                            <label>Comments</label>
                            @Html.TextAreaFor(Model => Model.CommentDetails, new { @class = "form-control", placeholder = "Enter your comments here ...", @rows = "3" , @required="required"})
                            @*<textarea id="comments" name="comments" placeholder="Enter your comments here ..."></textarea>*@
                        </li>
                    </ul>


                    <button class="btn btn btn-orange m-l-0 btn-right" type="submit" name="command" value="Submit"><i class="ti-thumb-up"></i> &nbsp;Submit</button>
                    //<input type="submit" value="Submit" class="btn btn btn-orange m-l-0 btn-right" name="command" />
                }
                <div class="clear"></div>
                @*</form>*@

                <div class="clear"></div>
            </div>
            <!-- /comments-box -->
            <div class="replyStyle comments m-t-30">

                @if (ViewBag.comments != null)
                {
                    if (ViewBag.rid != null)
                    {
                        <h2>  ID :   @ViewBag.rid   Comments <span>(@ViewBag.commentscount)</span> </h2>
                    }
                    else
                    {
                        <h2> Comments <span>(@ViewBag.commentscount)</span> </h2>
                    }
                    foreach (var item in ViewBag.comments)
                    {
                        <dl class="first-child">
                            <dt>
                                @if (item.image != null && item.image != "")
                                {
                                    <img class="person" alt="img-profile1" src="~/Content/UserDPs/@item.image" />
                                }
                                else
                                {
                                    <img class="person" alt="img-profile1" src="~/Content/UserDPs/user1.jpg" />
                                }
                            </dt>
                            <dd>
                                <h5>@item.FirstName @item.LastName</h5>
                                <p>@item.CommentDetails.</p>
                                <div class="cmntsPublish">
                                    <ul>
                                        <li><i class="ti-time"></i><span>@item.UpdatedDate.ToShortDateString()</span></li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    }
                }
                @if (ViewBag.comments == null)
                {
                    <dl>
                        <p>No Comments</p>
                    </dl>
                }
            </div>
            <div class="clear"></div>
        </div>
}
    </div>
    <!-- /dashInner -->

<script>
    //displays order id on page load
    $(document).ready(function () { 

        var label = $("#label");
        var url = window.location.href;
        var id = url.substring(url.lastIndexOf('=') + 1);
        if (id!='') {
            label.html(id);
        }
        
        if (id == url) {
            var id1 = url.substring(url.lastIndexOf('/') + 1);
            label.html(id1);
        }

        var stype = $("#hdntype").val();
        var url=window.location.href;
        var id = url.split('?')[1];
        if (stype == 'Quotation' && id.startsWith('id',0) == true) {
            $("#commentsection").css("display","none");
        }
        if (stype == 'Quotation' && id.startsWith('rid', 0) == true) {
            $("#commentsection").css("display", "block");
        }
    });

    //    $('#mytable tbody tr').each(function () {
    //        var budget = $(this).find("td").eq(5).html();
    //        var amount = $("#price");
    //        var taxamount = $("#tax");
    //        //tax calculation
    //        var taxpercent = 0;
    //        var taxcalc = ((budget.substring(budget.indexOf(".") + 1))* taxpercent)/100;
    //        taxamount.html(taxcalc);
    //        amount.html(budget);
    //    });
    
</script>

<script>
    //displays description and preference in modal popup
    function displaypopup(i, j) {
        var desc1 = document.getElementById(i).innerHTML;
        var pref1 = document.getElementById(j).innerHTML;
        var desc = $("#desc");
        var pref = $("#pref");
        
        desc.html(desc1);
        pref.html(pref1);
    }
</script>

<script>
    //function valid() {
    //    var url = window.location.href;
    //    var value = url.substring(url.lastIndexOf('=') + 1);
    //    var check = $('input[name=quatation]:checked').length;

    //    if (check == 0) {
    //        alert("Select Quotation and Click On Pay")
    //    }
    //    if (check == 1) {           
    //        $.post(url, { command: "Pay" }, function (data) {
    //            alert(data);
    //        })
    //    }
    //}

    function valid() {
            var url = window.location.href;
            var abc = $("#serviceid").html();
            var check1 = $('input[name=quatation]:checked').val();

            var value = url.substring(url.lastIndexOf('=') + 1);
            //alert(value);
            var check = $('input[name=quatation]:checked').length;
            if (check == 0) {
                alert("Select Quotation and Click On Pay")
            }
            if (check == 1) {
                //if (abc != 0) {
                //    alert(abc);
                //    window.location.href = "/QuatationViewCart/confirmation?id=" + abc;
                //}
                if (abc != 0) {
                    var jqxhr = $.post(url, { command: "Pay", selected: check1 , id: abc }, function () {
                        //if (abc != 0) {
                        //alert(abc);
                        window.location.href = "/QuatationViewCart/confirmation";//?id=" + abc;
                        //window.open("/QuatationViewCart/confirmation", "menubar=no, toolbar=no, location=no, scrollbars=no");//, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
                        //window.focus();
                        //}
                    })
                }
                
            }
    }
    //var jqxhr = $.post(url, { command: "Pay" }, function () {
    //    if (value != url) {

    //        alert(value);
    //        //window.location.href = "/QuatationViewCart/confirmation";
    //        window.location.href = "/QuatationViewCart/confirmation?id=" + abc;
    //    }
    //    if (value == url) {
    //        var value1 = url.substring(url.lastIndexOf('/') + 1);
    //        alert(value1);
    //        window.location.href = "/QuatationViewCart/confirmation?id=" + abc;
    //        //window.location.href = "/QuatationViewCart/confirmation?";
    //    }


    //})
</script>

@if (ViewBag.service.Count == 0)
{
    <script>
        document.getElementById("btnpay").disabled=true;
    </script>
}
@if (ViewBag.service.Count != 0)
{
    <script>
        document.getElementById("btnpay").disabled=false;
    </script>
}

<script>
    function enable() {
        //alert("hi");
        $("#heading").css({ "display": "block" });
    }
</script>