
@{
    ViewBag.Title = "AllEnteredContestes";
    Layout = "~/Areas/Admin/Views/Shared/MainMaster.cshtml";
    var i = 0;
}
<link href="~/Assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div id="content">
        <div class="inner">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <h2>Manage Contest Entries</h2>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        @*<div class="panel-heading" align="left">
                                <a href="/Admin/ContestsManagement?type=New" class="btn btn-primary btn-xs">Create New Contest</a>
                            </div>
                            <div class="panel-heading" align="right" style="display:none">
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Export to PDF" class="btn btn-default btn-circle">
                                    <i class="icon-check"></i>
                                </button>
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Export to Exccel" class="btn btn-primary btn-circle">
                                    <i class="icon-list"></i>
                                </button>
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Print" class="btn btn-success btn-circle">
                                    <i class="icon-link"></i>
                                </button>
                            </div>*@
                        <br />
                        <div class="form-group">
                            <label class="control-label col-lg-4">Select Contest</label>
                            <div class="col-lg-4">
                                <select id="selectedcontest" name="selectedcontest" onchange="this.form.submit();" class="form-control">
                                    <option>Select Contest</option>
                                    @foreach (var item in ViewBag.records)
                                    {
                                        <option value="@item.ContentMasterID">@item.ContestName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="panel-body">
                            <div class="table-responsive">
                                @if (ViewBag.contests != null)
                                {
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Name</th>
                                                <th>Created date</th>
                                                <th>Updated Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.contests)
                    {
                                                <tr class="even gradeX">
                                                    <td>
                                                        @(++i)
                                                    </td>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.CreatedDate.ToShortDateString()
                                                    </td>
                                                    <td>
                                                        @item.UpdatedDate.ToShortDateString()
                                                    </td>
                                                    <td>
                                                        @item.Status
                                                    </td>
                                                    <td>
                                                        <a href="/Admin/ContestsManagement/AllEnteredContestes?id=@item.ContestId+&selectedcontest1=@ViewBag.selectedcontest" class="btn btn-primary btn-xs"> View </a>
                                                        @*<a href="/Admin/ContestsManagement?id=@item.ContentMasterID" class="btn btn-default btn-xs">Delete</a>
                                                            @*<input type="button" name="command" value="Delete" formaction="/Admin/ContestsManagement?id=@item.ContentMasterID" class="btn btn-danger btn-xs" />*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>


                            @if (ViewBag.selectedcontest1 != null)
                            {
                                foreach (var item in ViewBag.selectedcontest1)
                                {


                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div id="collapse2" class="body collapse in">
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-4">Name</label>
                                                        <div class="col-lg-4">
                                                            <input type="text" class="form-control" width="50%" value="@item.Name" disabled />
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <br />
                                                    
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-4">Description</label>
                                                        <div class="col-lg-4">
                                                            <textarea rows="5" class="form-control" disabled>@item.Description</textarea>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <div class="form-group">
                                                        <input type="hidden" name="cid" id="cid" value="@item.ContestId" />
                                                        <input type="hidden" name="selectedcontest1" id="selectedcontest1" value="@ViewBag.selectedcont1" />
                                                        <label class="control-label col-lg-4">Uploaded Image</label>
                                                        <div class="col-lg-4">
                                                            <img src="/ContestPics/@item.UploadedImage" height="50%" width="75%" class="img-fluid" alt="contests">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <br />



                                            @*<p class="descrption">@item.Description</p>
                                                <p class="status">@item.Status</p>*@
                                            <br /><br />
                                            <br /><br /><br />
                                            <br /><br /><br /><br /><br /><br />
                                            @*<div align="center">
                                                <img src="/ContestPics/@item.UploadedImage" class="img-fluid" alt="contests">
                                            </div>*@
                                            <div style="text-align:center" class="form-actions no-margin-bottom">

                                                <button type="submit" name="Command" class="btn text-muted text-center btn-success" value="Active">Activate contestant</button>
                                                <button type="button" data-toggle="modal" data-target="#querymodal" class="btn text-muted text-center btn-rect" value="Query">Request More Info</button>
                                                <button type="submit" data-toggle="modal" data-target="#querymodal1" name="Command" class="btn text-muted text-center btn-danger" value="InActive">Decline contestant</button>

                                                <button type="button"  class="btn btn-success" onclick="window.location.href='/Admin/ContestsManagement/AllEnteredContestes'">Cancel</button>


                                            </div>
                                        </div>

                                    </div>
                                }
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="querymodal1" tabindex="-1" role="dialog" aria-labelledby="querymodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @*@using (Html.BeginForm("submitquery", "createvendor", FormMethod.Post))
            {*@
        <div class="modal-content">
            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
            <div class="modal-body">
                @*<input id="Text1" type="text" name="txtOne"rows="5"  placeholder="Query.....?" style="width:100%;background-color:#eeeeee" />*@
                <textarea rows="5" name="txtOne" id="txtone1" type="text" placeholder="Query.....?" style="width:100%;background-color:#eeeeee"></textarea>
            </div>
            <div class="modal-footer" align="center">

                <button type="submit" id="btnSubmitquery1" class="btn text-muted text-center btn-success" value="submit">Submit Query</button>

                <button type="button" name="Command" class="btn text-muted text-center btn-danger" id="cancelquery1" value="cancel">Cancel</button>
            </div>
        </div>
        @*}*@
    </div>
</div>
@*Query POPUP*@
<div class="modal fade" id="querymodal" tabindex="-1" role="dialog" aria-labelledby="querymodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @*@using (Html.BeginForm("submitquery", "createvendor", FormMethod.Post))
            {*@
        <div class="modal-content">
            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
            <div class="modal-body">
                @*<input id="Text1" type="text" name="txtOne"rows="5"  placeholder="Query.....?" style="width:100%;background-color:#eeeeee" />*@
                <textarea rows="5" name="txtOne" id="txtone" type="text" placeholder="Query.....?" style="width:100%;background-color:#eeeeee"></textarea>
            </div>
            <div class="modal-footer" align="center">

                <button type="submit" id="btnSubmitquery" class="btn text-muted text-center btn-success" value="submit">Submit Query</button>

                <button type="button" name="Command" class="btn text-muted text-center btn-danger" id="cancelquery" value="cancel">Cancel</button>
            </div>
        </div>
        @*}*@
    </div>
</div>
<!--END PAGE CONTENT -->
@section Bottom{
    <script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable({
                "order": [[0, "desc"]]
            }); @*{ "pageLength": 5 }*@
        });
    </script>
    <script>
        //hide modal popup
        $('#cancelquery').click(function () {
            $('#querymodal').css('display', 'none').css('aria-hidden', 'true');
            window.location.reload();
        });

        $('#cancelquery1').click(function () {
            $('#querymodal1').css('display', 'none').css('aria-hidden', 'true');
            window.location.reload();
        });

        //Submit Query Script
        $('#btnSubmitquery1').click(function () {

            //$('#form1').submit();


            var txtone = $("#txtone1").val();
            var emailId = $("#Item1_EmailId").val();
            var cid = @Request.QueryString["id"];
            var selectedcontest = @Request.QueryString["selectedcontest1"]
            //var selectedcontest = $("selectedcontest1").val();

            $.ajax({
                url: '/ContestsManagement/submitquery1',
                type: "post",
                data: JSON.stringify({ emailid: emailId, txtone: txtone, cid: cid, selectedcontest: selectedcontest }),
                cache: false,
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    //if (data == "exists") {
                    alert("E-Mail  Sent!!! and the contest is declined");
                    windows.location.reload();
                    //}
                },
                //failure: function (data) {
                //    alert("E-Mail ID not sent!!! Try Another");
                //},
                error: function (data)
                { alert("E-Mail not sent!!! Try again"); }
            });

        });

        $('#btnSubmitquery').click(function () {

            //$('#form1').submit();


            var txtone = $("#txtone").val();
            var emailId = $("#Item1_EmailId").val();
            var cid = @Request.QueryString["id"];
            var selectedcontest = @Request.QueryString["selectedcontest1"]
            //var selectedcontest = $("selectedcontest1").val();

            $.ajax({
                url: '/ContestsManagement/submitquery',
                type: "post",
                data: JSON.stringify({ emailid: emailId, txtone: txtone, cid: cid, selectedcontest: selectedcontest }),
                cache: false,
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    //if (data == "exists") {
                    alert("E-Mail  Sent!!!");
                    windows.location.reload();

                    //}
                },
                //failure: function (data) {
                //    alert("E-Mail ID not sent!!! Try Another");
                //},
                error: function (data)
                { alert("E-Mail not sent!!! Try again"); }
            });

        });


    </script>
}

