@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/NmasterPage.cshtml";
}

<div>

    <button type="button" onclick="return $('#newdeal').css('display','block')">New Deal</button>

    <table>
        <thead>
            <tr>
                <td>Deal Name</td>
                <td>Start Date</td>
                <td>Start Date</td>
                <td>VendorId</td>
                <td>VendorSubId</td>
                <td>Original Price</td>
                <td>Deal Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.deals)
            {
                <tr>
                    <td> @item.DealName </td>
                    <td> @item.DealStartDate </td>
                    <td> @item.DealEndDate </td>
                    <td> @item.VendorId </td>
                    <td> @item.VendorSubId </td>
                    <td> @item.OriginalPrice </td>
                    <td> @item.DealPrice </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row" style="margin-top:30px;" id="newdeal">
        <div class="col-md-2"><label>Start date</label><input type="date" id="startdate" /></div>
        <div class="col-md-2"><label>End date</label><input type="date" id="enddate" /></div>
        <div class="col-md-2">
            <label>Category</label>
            <select required id="category" name="category">
                <option value="">Select Category</option>
                <option value="Venue">Venue</option>
                <option value="Photography">Photography</option>
                <option value="Catering">Catering</option>
                <option value="Decorator">Decorators</option>
                <option value="Pandit">Pandits</option>
                <option value="Mehendi">Mehendi</option>
            </select>
        </div>

        <div class="col-md-3" style="display:none" id="subcat">
            <label>Sub Category</label>
            <select id="subcategory" name="subcategory" style="width:auto">
                <option value="">Select Sub Category</option>
                <option value="Hotel">Hotel</option>
                <option value="Banquet Hall">Banquet Hall</option>
                <option value="Function Hall">Function Hall</option>
                <option value="Convention Hall">Convention Hall</option>
                <option value="Resort">Resort</option>
            </select>
        </div>
        <div class="col-md-3">
            <label></label>
            <input type="button" id="btnfilter" class="btn btn_search" value="Filter Vendors">
        </div>
    </div>
    <div>
        <label> Deal Name </label> <input type="text" placeholder="Enter Deal Name" id="dealname" />
        <table class="table table-bordered" id="list" style="width:95%">
            <thead>
                <tr>
                    <td>Select Business Name</td>
                    <td>Category</td>
                    <td>Price</td>
                    <td>Discount Price</td>
                </tr>
            </thead>
            <tbody id="listbody">
                <tr>
                    <td colspan="4">Select Above options to Filter Vendors</td>
                </tr>
            </tbody>
        </table>
        <input type="button" id="btnselect" class="btn btn_search" style="margin-top:30px" value="Select Vendors" disabled>
    </div>
</div>
@section scripts{
    <script>
        var start, end, category, subcategory;
        $('.mainsearch').css('display', 'none');
        $('#category').on('change', function () {
            var selected = $(this).val();
            if (selected == 'Venue')
                $('#subcat').css('display', 'block');
            else
                $('#subcat').css('display', 'none').val('');
        });

        $(document).on('change', '.chkselect', function () {
            $('#btnselect').removeAttr('disabled');
        });

        $('#btnfilter').on('click', function () {
            start = $('#startdate').val();
            end = $('#enddate').val();
            category = $('#category').val();
            subcategory = $('#subcategory').val();
            $.ajax({
                url: '/admin/ndeals/FilterVendors?category=' + category + '&&subcategory=' + subcategory,
                type: 'post',
                datatype: 'json',
                success: function (data) {
                    if (data != "") {
                        var trlist = [];
                        for (var i = 0; i < data.length; i++) {
                            trlist.push("<tr><td><input type='checkbox' id=" + i + " value=" + data[i].VendorMasterId + '!' + data[i].VendorServiceId + " class='chkselect'><label style='color:black' for=" + i + ">" + data[i].BusinessName + "</label></td><td>" + data[i].VenueType + "</td><td><input type='text' class='oprice' value='" + data[i].cost1 + "'/></td><td><input type='text' class='dprice' placeholder='Enter Price'/></td></tr>");
                        }
                        $("#list #listbody").html(trlist);
                    }
                }
            });
        });

        $('#btnselect').on('click', function () {
            var chkselect = []; var oprice = []; var dprice = [];
            $.each($("input[type='checkbox']:checked"), function () {
                chkselect.push($(this).val());
                oprice.push($(this).parents('tr').find('input.oprice').val());
                dprice.push($(this).parents('tr').find('input.dprice').val());
            });
            var selected = chkselect.join(",");
            var dealname = $('#dealname').val();
            var dealprice = dprice.join(",");
            var originalprice = oprice.join(",");
            alert(selected);
            $.ajax({
                url: '/admin/ndeals/SaveRecord',
                contentType: 'application/json; charset=utf-8',
                type: 'post',
                datatype: 'json',
                data: JSON.stringify({ start: start, end: end, cat: category, subcat: subcategory, selected: selected, dealname: dealname, dealprice: dealprice, originalprice: originalprice }),
                success: function (data) {
                    alert(data);
                }
            });
        });
    </script>
}