@{
    ViewBag.Title = "AllOrders";
    Layout = "~/Areas/Admin/Views/Shared/MainMaster.cshtml";
}

@section header{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/Assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">*@
    <!-- END PAGE LEVEL  STYLES -->
}

<!--PAGE CONTENT -->
<div id="content">
    <div class="inner">
        <div class="row">
            <div class="col-lg-12" align="center">
                <h2>Orders</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" align="right" style="display:none">
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Export to PDF" class="btn btn-default btn-circle"><i class="icon-check"></i> </button>
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Export to Exccel" class="btn btn-primary btn-circle"><i class="icon-list"></i> </button>
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Print" class="btn btn-success btn-circle"><i class="icon-link"></i> </button>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Order Date</th>
                                        
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <th>Address</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.OrdersList)
                                    {
                                         <tr class="even gradeX">
                                        <td>
                                            @if (item.Isdeal.Contains("1") == true)
                                            {
                                                <h5>@item.OrderId</h5><p>(Deal)</p>
                                            }
                                            else
                                            {
                                                <h5>@item.OrderId</h5>
                                            }
                                        </td>
                                        <td>
                                            <h5>@item.OrderDate.ToShortDateString()</h5>
                                        </td>
                                        <td>
                                            <h5>@item.Status</h5>
                                        </td>
                                        <td>
                                            <h5><p>Rs.@item.TotalPrice</p></h5>
                                        </td>
                                             <td>
                                                 <h5>
                                                     <p>User Name :  @item.FirstName @item.LastName</p>
                                                     <p>Email ID  :  @item.username</p>
                                                     <p>Landmark  :  @item.Landmark</p>
                                                 </h5>
                                             </td>
                                        <td>
                                            <a href="/Admin/Orders/OrderDetails?id=@item.OrderId" class="btn btn-default btn-xs"> View </a>
                                            <a href="#" class="btn btn-default btn-xs">Delete</a>
                                        </td>
                                    </tr>   
                                    }
                                    


                                    @*<tr class="even gradeX">
                                        <td>
                                            <h5>102</h5>
                                        </td>
                                        <td>
                                            <h5>11-12-2015</h5>
                                        </td>
                                        <td>
                                            <h5>Event Organizers</h5>
                                        </td>

                                        <td>
                                            <h5>09-01-2016</h5>
                                        </td>
                                        <td>
                                            <h5>25000</h5>
                                        </td>
                                        <td>
                                            <h5>Pending</h5>
                                        </td>
                                        <td>
                                            <h5>50000</h5>
                                        </td>
                                        <td>
                                            <h5>29-02-2016</h5>
                                        </td>
                                        <td>
                                            <a href="/Admin/Orders/OrderDetails" class="btn btn-default btn-xs"> View </a>
                                            <a href="#" class="btn btn-default btn-xs">Edit</a>
                                            <a href="#" class="btn btn-default btn-xs">Delete</a>
                                        </td>
                                    </tr>*@


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--END PAGE CONTENT -->
@section Bottom{
    @*<script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable({
                "order": [[0, "desc"]]
            });
        });
    </script>*@
}
