@model Tuple<MaaAahwanam.Models.Vendormaster, MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.UserDetail, MaaAahwanam.Models.VendorVenue>
@{
    ViewBag.Title = ":: Update Info ::";
    Layout = "~/Views/SharedWeb/VendorMasterPage.cshtml";
}


<div class="container-fluid" id="profilepage2">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 left-side-menu">
            <ul>
                <li class="active">Basic Info</li>
                <li>Gallery</li>
                <li>Social Life</li>
                <li>Services</li>
                <li>Acc Setting</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-2 col-md-offset-2 margin-top-100 right-side">
            <div class="row basic-info">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="row margin-left-0 margin-right-0">
                            <div class="profile-area">
                                <img src="http://design.maa-aahwanam.com/MaaAahwanamform/images/guy-5.jpg" alt="Profile Pic" class="img-circle" />
                                <b class="text-center margin-top">@ViewBag.data.ContactPerson</b>
                                <p class="text-center expand"><p class="text-center expand">

                                    @ViewBag.data.Description
                                    @*@Html.TextAreaFor(model => this.Model.Item1.Description, new { @class = "form-control", rows = "10", Value = @ViewBag.data.Description })*@

                                </p></p>
                                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-left-0 margin-right-0 margin-top-30">
                            <ul class="contact-info">
                                <li><b>Contact Info</b></li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>@ViewBag.data.EmailId</li>
                                <li><i class="fa fa-mobile" aria-hidden="true"></i>@ViewBag.data.LandlineNumber,</li>
                                <li><i class="fa fa-globe" aria-hidden="true"></i>@ViewBag.data.Url</li>


                            </ul>
                        </div>
                    </div>




                    <div class="col-xs-12 col-sm-6 col-md-8 margin-top services-block">
                        <div class="row">
                            <h3 class="col-xs-12 col-sm-11 col-md-11 margin-top-0">services</h3>
                            @foreach (var item in ViewBag.ServicType)
                            {
                                //  <span>@item</span>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-bottom">
                                    <div class="profile-area">
                                        <b class="text-center margin-bottom">@item</b>
                                        <img src="http://design.maa-aahwanam.com/MaaAahwanamform/images/AamaniFlowerDecorations.jpg" class="margin-bottom-10" alt="Picture">
                                        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <button type="button" class="btn pull-right margin-top margin-right">read</button>
                                    </div>
                                </div>
                                // or other things ...
                            }

                            @*
                                // {
                                //     <label><input type="checkbox" value="" checked><span></span>@item</label>
                                // }*@

                        </div>
                    </div>
                </div>
            </div>
            <div class="row gallery">
                <div class="block margin-top-30">
                    <h3>Gallery</h3>
                    <div class="row margin-top margin-bottom" id="dbPreview">
                        @if (ViewBag.images != null)
            {
                foreach (var item in ViewBag.images)
                {
                                <div class='col-xs-6 col-sm-4 col-md-2 col-lg-2 blocks'>
                                    <div class='block thumbnail'>
                                        <div class='ow thumb-img'>
                                            <img src="~/vendorimages/@item" style="height:120px;width:120px" />
                                        </div>
                                    </div>
                                </div>

                            }

                        }
                    </div>
                </div>
            </div>

            <div class="row margin-top margin-bottom" id="dbPreview">
                @if (ViewBag.ServiceType != null)
                {
                    foreach (var item in ViewBag.ServiceType)
                    {
                        <div class='col-xs-6 col-sm-4 col-md-2 col-lg-2 blocks'>
                            <div class='block thumbnail'>
                                <div class='ow thumb-img'>
                                    <img src="~/vendorimages/@item" style="height:120px;width:120px" />
                                </div>
                                <div class='row margin-top'>
                                    <div class='form-group-1 col-xs-12 col-sm-12 col-md-12'>
                                        <input type='text' class='form-control' placeholder='Description:' required>
                                    </div>
                                </div>



                            </div>
                        </div>

                    }

                }
            </div>

        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
<script type="text/javascript">
	/*================ Left Side Menu =======================*/
	$("#profilepage .left-side ul > li:not('#sociallife')").click(function(){
		$(this).prevAll("li").removeClass("active");
		$(this).nextAll("li").removeClass("active");
		$(this).addClass("active");
		var leftId = $(this).attr("id");
		$(".right-side > div").each(function(){
			if($(this).hasClass(leftId)){
				$(this).css("display","block");
				}else{
					$(this).css("display","none");}
			});
		});
	$("#sociallife").click(function(){
		$(".social-links").css("opacity","1");
		});
	$(".social-links > i.fa-times").click(function(){
		$(this).parent(".social-links").css("opacity","0");
		});
		/*================ Left Side Menu =======================*/

  /*========== Expand Profile details ===============*/
  var icon = $("#profilepage2 .right-side .basic-info .profile-area i");
  $(icon).click(function(){
	  if($(this).hasClass("fa-angle-double-down")){
	  $("p.expand").css("height","100%");
	  $(this).removeClass("fa-angle-double-down").addClass(" fa-angle-double-up");
	  }else{
	      $("p.expand").css("height","90px");
		  $(this).removeClass("fa-angle-double-up").addClass(" fa-angle-double-down");}
	  });
  /*========== Expand Profile details ===============*/
</script>
