
@{
    ViewBag.Title = "Add Package";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}

<style>
    .dataTables_filter {
display: none; 
}
</style>

<div class="page-content container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-vertical">
                <div class="tab-content padding-vertical-15">
                    @using (Html.BeginForm("addpackage", "NVendorAddPackage", FormMethod.Post))
                    {
                        <form class="">
                            <div class="row">
                                <input type="hidden" class="form-control" name="id" value="@ViewBag.vendormasterid" autocomplete="off">
                                @*<div class="form-group col-md-12">



                <select class="border-0 ml-auto" id="selectedservice" name="type">
                    <option value="">Service Type</option>

                    @*<option value="Hotel">Hotel</option>
                        <option value="Resort">Resort</option>
                        <option value="Venues">Convetion Hall</option>
                    <option value="Venue">Venue</option>
                    <option value="Catering">Catering</option>
                    <option value="Photography">Photography</option>
                    <option value="Decorator">Decorator</option>
                    <option value="Others">Others</option>


                </select>


            </div>*@



                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="inputBasicFirstName">Type</label>

                                    <select class="form-control form-control-lg" id="selectbox2" name="type" onchange="options(this)">
                                        <option disabled selected id="price">Type</option>
                                        @if (ViewBag.venuerecord != null)
                                        {
                                            foreach (var item in ViewBag.venuerecord)
                                            {
                                                <option value="@item.subid,@item.type,@item.subtype"><span>@item.type - @item.subtype</span></option>}
                                        }
                                        @*// <option value="1100">Veg (<span>1100</span>/p)</option>*@
                                    </select>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="control-label" for="inputBasicFirstName">Menu Name</label>

                                    <input type="text" class="form-control" name="PackageName" placeholder="Package Name" autocomplete="off" required>
                                </div>


                                <div class="form-group  col-md-12 " id="food1">
                                    <label class="control-label" for="inputBasicFirstName">Food Type </label>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <div class="icheckbox-custom icheckbox-primary">
                                                <input class="icheckbox-primary " type="radio" name="foodtype" value="Veg" checked> Veg<br>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div class="icheckbox-custom icheckbox-primary">
                                                <input class="icheckbox-primary " type="radio" name="foodtype" value="Non-Veg"> Non-Veg<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12" id="priceslist">
                                    <table id="DataTables_Table_0" class="table table-hover dataTable table-striped width-full dtr-inline" role="grid" style="width:100%">
                                        <thead>
                                            <tr role="row">
                                                <th>No. of Guests</th>
                                                <th>Price per Plate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> < 50 </td>
                                                <td> <input type="number" name="price1" value="0" min="0"/> </td>
                                            </tr>
                                            <tr>
                                                <td> 50 - 100 </td>
                                                <td> <input type="number" name="price2" value="0" min="0"/> </td>
                                            </tr>
                                            <tr>
                                                <td> 100 - 200 </td>
                                                <td> <input type="number" value="0" name="price3" min="0"/> </td>
                                            </tr>
                                            <tr>
                                                <td> 200 - 300 </td>
                                                <td> <input type="number" value="0" min="0" name="price4"/> </td>
                                            </tr>
                                            <tr>
                                                <td> 300 - 500 </td>
                                                <td> <input type="number" value="0" min="0" name="price5"/> </td>
                                            </tr>
                                            <tr>
                                                <td> 500 - 700 </td>
                                                <td> <input type="number" value="0" min="0" name="price6"/> </td>
                                            </tr>
                                            <tr>
                                                <td> 700 - 1000 </td>
                                                <td> <input type="number" value="0" min="0" name="price7"/> </td>
                                            </tr>
                                            <tr>
                                                <td> over 1000 </td>
                                                <td> <input type="number" value="0" min="0" name="price8"/> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                @*<div class="form-group col-sm-6 " id="guestr">
                <label class="control-label" for="inputBasicFirstName">Minimum Number Of Guests</label>

                <input type="number" class="form-control" name="minGuests" placeholder="Minimum Number Of Guests" autocomplete="off">
            </div>
            <div class="form-group col-sm-6" id="guestr1">
                <label class="control-label" for="inputBasicFirstName">Maximum Number Of Guests</label>

                <input type="number" class="form-control" name="maxGuests" placeholder="Maximum Number Of Guests" autocomplete="off">
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label" for="inputBasicFirstName">Minimum Price</label>

                <input type="number" class="form-control" name="MinPrice" placeholder="Minimum Price" autocomplete="off" required>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label" for="inputBasicFirstName">Maximum Price</label>

                <input type="number" class="form-control" name="MaxPrice" placeholder="Maximum Price" autocomplete="off" required>
            </div>

            <div class="form-group col-sm-12">
                <label class="control-label" for="inputBasicFirstName">Package Price</label>

                <input type="number" class="form-control" name="PackagePrice" placeholder="Package Price" autocomplete="off"required>
            </div>*@
                                <br />
                                <div class="form-group col-sm-12">
                                    <label class="control-label" for="inputBasicFirstName">Add Menu Items with Comma(,) Seperated</label>

                                    <textarea class="form-control" name="Packagedec" placeholder="*Example:Mocktails (2),Soups (2),Starters (4),Salads (2),Mains (4),Rice & Curd (3),Dessert & Fruits (2),Chinese (0),Rajasthani (0),Live Counters (0)" autocomplete="off" required></textarea>
                                    <text></text>
                                </div>
                                <div class="form-group col-sm-12">
                                    <button type="submit" class="btn btn-primary">Save Menu</button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*<script type="text/javascript" src="~/newdesign/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>*@

<!------ Date Picker ---------->
@*<script type="text/javascript" src="/newdesign/js/jquery-ui.min.js"></script>*@
@section scripts{
@*<script src="~/VendorStyles/global/vendor/jquery/jquery.js"></script>*@
@if (ViewBag.msg != "" && ViewBag.msg != null)
{
    <script>
        alertify.alert("@ViewBag.msg", function () {
        });
    </script>

    <script>
        $('#DataTables_Table_0').dataTable({
            "paging": false,
            "ordering": false
        });
        //$('#food1,#priceslist').css('display','none');
    </script>
    <script>
        //$('#selectbox2').change(function () {
        //    alert("hi");
        //    var selectedvalue = $(this).val();
        //    var servicetype = selectedvalue.split(',')[0];
        //    alert(servicetype);
        //    if (servicetype == 'Venue' && servicetype == 'Catering') {
        //        $('#food1', '#priceslist').show();
        //    }
        //});

        function options(val) {
            var selectedvalue = val;
            var servicetype = selectedvalue.split(',')[0];
            alert(servicetype);
        }
    </script>
}
}