
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/NmasterPage.cshtml";
}

<div class="sb2-2-3">
    <div class="col-md-12">
        <div class="box-inn-sp">
            <div class="inn-title">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Customer Id</th>
                                <th>Customer firstname</th>
                                <th>Customer Lastname</th>
                                <th>Customer Phoneno</th>
                                <th>Address</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.cust)
                            {
                                <tr class="even gradeX">
                                    <td>
                                       <h5>@item.custid</h5>
                                    </td>
                                    <td>
                                        <h5>@item.custfirstname</h5>
                                    </td>
                                    <td>
                                        <h5>@item.custlastname</h5>
                                    </td>
                                    <td>
                                        <h5><p>@item.custphoneno</p></h5>
                                    </td>
                                    <td>
                                        <h5>
                                            <p>Email ID  :  @item.custemail</p>
                                            <p>Customer address :@item.custaddress1</p>
                                            <p>Customer city :  @item.custcity </p>
                                            <p>State  :  @item.custstate</p>
                                        </h5>
                                    </td>
                                    <td>
                                        <button class="" style="background: #167ee6;color: #fff !important;" onclick="window.location.href='/Admin/'" value="" id=""> View </button>
                                        <button class="" style="background: #167ee6;color: #fff !important;" value="" id=""> Delete </button>

                                        @*<a href="/Admin/Orders/OrderDetails?id=@item.OrderId" class="btn btn-default btn-xs"> View </a>*@
                                        @*<a href="#" class="btn btn-default btn-xs">Delete</a>*@
                                    </td>
                                </tr>
                            }



                            @*<tr class="even gradeX">
                                    <td>
                                        <h5>102</h5>
                                    </td>
                                    <td>
                                        <h5>11-12-2015</h5>
                                    </td>
                                    <td>
                                        <h5>Event Organizers</h5>
                                    </td>

                                    <td>
                                        <h5>09-01-2016</h5>
                                    </td>
                                    <td>
                                        <h5>25000</h5>
                                    </td>
                                    <td>
                                        <h5>Pending</h5>
                                    </td>
                                    <td>
                                        <h5>50000</h5>
                                    </td>
                                    <td>
                                        <h5>29-02-2016</h5>
                                    </td>
                                    <td>
                                        <a href="/Admin/Orders/OrderDetails" class="btn btn-default btn-xs"> View </a>
                                        <a href="#" class="btn btn-default btn-xs">Edit</a>
                                        <a href="#" class="btn btn-default btn-xs">Delete</a>
                                    </td>
                                </tr>*@


                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>