
@{
    ViewBag.Title = "Deals";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}
@using System.Globalization

<div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-6 col-md-3">

                    <button type="button" onclick="window.location.href='/NVendorAddDeal?ks=@ViewBag.id'" class="btn btn-animate btn-animate-side btn-primary">
                        <span>
                            <i class="icon wb-plus-circle" aria-hidden="true"></i>Add Deal
                        </span>
                    </button>
                    @*<a class="btn btn-block btn-primary" href="/NVendorAddDeal?id=@ViewBag.id">Add Deal</a>*@
                </div>
            </div>
            <div class="row">

                <div class="page-content">
                    <!-- Panel Basic -->
                    <div class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions"></div>
                        </header>
                        <div class="panel-body">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                @*<div class="row"><div class="col-sm-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label><select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div></div><div class="col-sm-6"><div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search" class="form-control input-sm" placeholder="Search.." aria-controls="DataTables_Table_0"></label></div></div></div><div class="row">*@
                                    <div class="col-sm-12">
                                        <table class="table table-hover dataTable table-striped width-full dtr-inline" data-plugin="dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 230px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Category</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 135px;" aria-label="Position: activate to sort column ascending">DealStartDate</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 135px;" aria-label="Office: activate to sort column ascending">DealEndDate</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;" aria-label="Age: activate to sort column ascending">DealPrice</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;" aria-label="Date: activate to sort column ascending">OriginalPrice</th>
                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 95px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">DealDescription</th>
                                                <th style="width: 70px;">Actions</th></tr>
                                            </thead>
                                            @*<tfoot>
                                                <tr><th rowspan="1" colspan="1">Name</th><th rowspan="1" colspan="1">Position</th><th rowspan="1" colspan="1">Office</th><th rowspan="1" colspan="1">Age</th><th rowspan="1" colspan="1">Date</th><th rowspan="1" colspan="1">Salary</th></tr>
                                            </tfoot>*@
                                            <tbody>
@if (@ViewBag.dealrecord != null)
{
    foreach (var item in ViewBag.dealrecord)
    {
                                                <tr role="row" class="odd">
                                                    <td tabindex="0" class="sorting_1">@item.Category</td>
                                                    <td>@item.DealStartDate.ToString("dd MMM yyyy")</td>
                                                    <td>@item.DealEndDate.ToString("dd MMM yyyy")</td>
                                                    <td>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.DealPrice)).Replace(".00", "") </td >
                                                    <td> @String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.OriginalPrice)).Replace(".00", "") </td >
                                                    <td > @item.DealDescription </td >
                                                    <td class="actions">
                                                        @*<a href='/NVendorDeals/edit?pid=@item.DealID&vid= @item.VendorId' class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
                                                        <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row" onclick="deld(@item.DealID)" data-toggle="tooltip" data-original-title="Remove"><i class="icon wb-trash" aria-hidden="true"></i></a>*@

                                                        <a href='/NVendorDeals/edit?pid=@item.DealID&vid=@item.VendorId' class="btn btn-icon btn-outline btn-success btn-round tooltip-success tooltip-scale" data-toggle="tooltip" data-placement="top" data-original-title="Edit" title=""><i class="icon wb-pencil" aria-hidden="true"></i></a>
                                                        <a href="#" class="btn btn-icon btn-outline btn-danger btn-round tooltip-danger tooltip-scale" onclick="deld(@item.DealID)" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title=""><i class="icon wb-close" aria-hidden="true"></i></a>
                                                    </td>  
                                                </tr>
    }
}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            @*<div class="row"><div class="col-sm-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"><i class="icon wb-chevron-left-mini"></i></a></li><li class="paginate_button active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"><i class="icon wb-chevron-right-mini"></i></a></li></ul></div></div></div>*@
                            </div>
                        </div>
                    </div>
                    <!-- End Panel Basic -->
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
    function deld(did) {
        //var paid = $(this).find('input#pid').val();
        alertify.confirm("Are you sure You want to delete.",
          function () {
              alertify.success('Deleted');
              location.href = '/NVendorDeals/deletedeal?id=' + did + '&ks= @ViewBag.id'
          },
          function () {
              //alertify.error('Cancel');
          });
    }
</script>

@if (ViewBag.msg != "" && ViewBag.msg != null)
{
    <script>
        alertify.alert("@ViewBag.msg", function () {
        });
    </script>
}
}