
<div class="row mx-0">
    <h3 class="noteWorthybold px-15">
        <text id="BlockTwoCategory">@ViewBag.type</text>  (@ViewBag.recordcount)
        <div class="blackBorder"></div>
    </h3>
</div>
@using System.Globalization
@if (ViewBag.results.Count != 0)
{
    <div class="row mx-0 my-4">
        @foreach (var item in ViewBag.results)
        {
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 productBlock">
                @if (Request.QueryString["stype"] != "")
                {
                    @*<a href="/NParticularVendor?type=@ViewBag.type1&&id=@item.id&&vid=@item.subid">*@
                    <div class="w-100 vendorImg">
                        @*<img src="~/newdesign/images/banquet-bg.png" class="img-fluid" alt="Deals" />*@
                        @if (item.logo != null && item.logo != "")
                        {<img src="~/vendorimages/@item.logo" alt="@item.logo" class="img-fluid">}
                        else if (item.image != null && item.image != "")
                        {<img src="~/vendorimages/@item.image" alt="@item.image" class="img-fluid">}
                        else
                        { <img src="~/noimages.png" alt="No Image Available" class="img-fluid">}
                    </div>
                    @*</a>*@
                    <div class="w-100">
                        <div class="row mx-0 my-2 px-2 d-flex align-items-center">
                            <p class="productName">@item.businessname</p>
                            @*<a href="/NParticularVendor?type=@ViewBag.type1&&id=@item.id&&vid=@item.subid" class="productName mb-0">@item.businessname</a>*@
                            @*<span class="ml-auto"><i class="fa fa-plus addCartIcn" aria-hidden="true"></i></span>*@
                        </div>
                    </div>
                }
                else
                {
                    <a href="/NParticularVendor?type=@ViewBag.type&&id=@item.id&&vid=@item.subid">
                        <div class="w-100 vendorImg">
                            @*<img src="~/newdesign/images/banquet-bg.png" class="img-fluid" alt="Deals" />*@
                            @if (item.logo != null && item.logo != "")
                        {<img src="~/vendorimages/@item.logo" alt="@item.logo" class="img-fluid">}
                        else if (item.image != null && item.image != "")
                        {<img src="~/vendorimages/@item.image" alt="@item.image" class="img-fluid">}
                        else
                        { <img src="~/noimages.png" alt="No Image Available" class="img-fluid">}
                        </div>
                    </a>
                    <div class="w-100">
                        <div class="row mx-0 my-2 px-2 d-flex align-items-center">
                            @*<p class="productName">@item.businessname</p>*@
                            <a href="/NParticularVendor?type=@ViewBag.type&&id=@item.id&&vid=@item.subid" class="productName mb-0">@item.businessname</a>
                            @*<span class="ml-auto"><i class="fa fa-plus addCartIcn" aria-hidden="true"></i></span>*@
                        </div>
                    </div>
                }

                <div class="row px-2 d-flex align-items-center prices">
                    <div class="col-12 col-md-12">
                        @if (ViewBag.type == "Resort" || ViewBag.type == "Hotel" || ViewBag.type == "ConventionHall" || ViewBag.type == "Catering")
                        {
                            <p class="mb-0 d-inline">* Veg Price/Plate Starts from</p>
                        }
                        @if (ViewBag.type == "Decorator" || ViewBag.type == "Photography" || ViewBag.type == "Mehendi" || ViewBag.type == "Pandit")
                        {
                            <p class="mb-0 d-inline">* Basic Price Starts from</p>
                        }
                        <div class="maxMin float-right">
                            <p class="productMinPrice mb-0 ml-2 themeColor d-inline">Rs. <span>@String.Format(new CultureInfo("en-IN", false), "{0:n}", Convert.ToDouble(@item.cost)).Replace(".00", "")  </span> </p>
                            @* <p class="productMaxPrice mb-0 themeColor d-inline"> <span>133</span> <small>k</small> </p>*@
                        </div>
                    </div>
                </div>

                
                @*<div class="w-100 d-inline-block">

                    <div class="d-inline float-right yellowFont pr-2 totalReviewCount"> (<span>162</span>) </div>

                </div>*@
                <div class="row">
                    <div class="col-12 col-md-12 vendorDescrption">@item.description</div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 vendorAmenities">
                        @if (new string[] { "Venues", "Hotel", "Resort", "Convention Hall" }.Contains(Request.QueryString["type"]))
                        {
                            <ul>
                                @if (item.Halltype != null && item.Halltype != "")
                                {
                                    <li>HallType</li>
                                }
                                @if (item.Wifi != null && item.Wifi != "")
                                {
                                    <li>Wifi</li>
                                }
                                @if (item.Rooms != null && item.Rooms != "")
                                {
                                    <li>Rooms</li>
                                }
                                @if (item.Food != null && item.Food != "")
                                {
                                    <li>Food</li>
                                }
                            </ul>
                        }
                        @if (new string[] { "Catering" }.Contains(Request.QueryString["type"]))
                        {
                            <ul>
                                @if (item.Livecooking != null && item.Livecooking != "")
                                {
                                    <li>LiveCookingStation</li>
                                }
                            </ul>
                        }
                        @if (new string[] { "Photography" }.Contains(Request.QueryString["type"]))
                        {
                            <ul>
                                @if (item.Preweddingshoot != null && item.Preweddingshoot != "")
                                {
                                    <li>Pre-Wedding Shoot</li>
                                }
                            </ul>
                        }
                    </div>
                </div>
                <div class="row">
                    <a href="/NParticularVendor?type=@ViewBag.type&&id=@item.id&&vid=@item.subid" class="themeBgColorPrimary btnSecondary text-white text-center w-100 vendorViewMore"> View More </a>
                </div>
                <div class="row">
                    <span class="themeBgColorPrimary btnSecondary text-white text-center w-100 vendorAddtoCart">Add to Cart</span>
                </div>
            </div>
        }

    </div>
}
else
{
    <p>No Records Available</p>
}

@if (ViewBag.count == "1")
{
    <div class="row mx-0 my-4 moreButton">
        <div class="mx-auto d-inline-flex"> <span class="themeBgColorPrimary btnSecondary text-white" onclick="PartialFive()"><i class="fa fa-plus mr-1" aria-hidden="true"></i>More</span> </div>
    </div>
}
