
@{
    ViewBag.Title = "Fbshareit";
    Layout = "~/Views/SharedWeb/ContestMaster.cshtml";
}

<h2>Fbshareit</h2>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 totalUploadCount primaryFont">
            <p class="mb-sm-4 mb-md-0"><span>@ViewBag.count</span> Images Uploaded</p>
        </div>
        @*<div class="col-md-6">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" name="" placeholder="Search Here" />
                </div>
            </div>*@
    </div>
    @if (ViewBag.csid != "" && ViewBag.csid != null)
    {
        <p> <a href="http://www.ahwanam.com/ParticularContest?id=@ViewBag.cssid" class="btn btn-primary">View All Entries</a></p>
    }
    <div class="row my-3 components" id="Home">
        <input type="hidden" id="tcid" />

        @for (int i = 0; i < ViewBag.count; i++)
            {
            <div class="col-12 col-sm-4 col-md-4  block mb-3">
                <input type="hidden" id="cid" value="@ViewBag.AvailableContestEntries[i].ContestId" />
                <figure style="background:url('/ContestPics/@ViewBag.AvailableContestEntries[i].UploadedImage')">
                    @*<img src="~/ContestPics/@ViewBag.AvailableContestEntries[i].UploadedImage" class="img-fluid" alt="Happy Fathers Day" />*@
                </figure>
                <div class="voteBlock">
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == false)
                    {
                        <i class="fa fa-heart-o" aria-hidden="true" data-toggle="modal" data-target="#myModal" href="#"></i>
                    }
                    else
                    {
                        if (ViewBag.votestatus[i] == "1")
                        {<i class="fa fa-heart-o" aria-hidden="true"></i> }
                        else
                        {
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        }
                    }



                </div>
                <div class="hoverBlock">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
                <p class="contestants secondaryTextColor fontWeight700 mb-2">@ViewBag.AvailableContestEntries[i].Name</p>
                <p class="ml-3 mb-0">@ViewBag.time[i]</p>
                <p class="descrption">@ViewBag.AvailableContestEntries[i].Description</p>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 themeRedTextColor fontWeight700 peopleLoved"><span>@ViewBag.votecount[i]</span> people loved</div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <button class="btn themeRedBgColor text-white shareBtn py-2 px-4 float-right">Share</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>