@model Tuple<MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.Contest>
@using MaaAahwanam.Web.Custom
@{
    Layout = "~/Views/SharedWeb/ContestMaster.cshtml";
}

@section css{
    <!-- Image Cropper CSS -->
    @*<link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/contest/css/imgareaselect-default.css">
        <link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/contest/css/jquery.awesome-cropper.css">*@

    <!-- Image Cropper CSS -->
    <link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/contest/css/cropper.min.css">
    <style type="text/css">
        .box {
            padding: 0.5em;
            width: 100%;
            margin: 0.5em;
        }

        .box-2 {
            padding: 0.5em;
            width: calc(100%/2 - 1em);
        }

        .options label,
        .options input {
            width: 4em;
            padding: 0.5em 1em;
        }

        .btn {
            /*color: black;*/
            padding: 0.5em 1em;
            text-decoration: none;
            /*margin: 0.8em 0.3em;*/
            display: inline-block;
            cursor: pointer;
        }

        .hide {
            display: none;
        }

        img {
            max-width: 100%;
        }
    </style>
    <!-- Image Cropper CSS -->


    <meta name="image" property="og:image" content="" />
    <meta name="url" property="og:url" content="" />
    <meta name="title" property="og:title" content="" />
    <meta name="description" property="og:description" content="" />

    <style>
        .overlay,.overlay1 {
            background: no-repeat scroll center center #FFF;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999999;
            background-color: rgba(0,0,0,0.8);
            /* END EXTERNAL S */
        }
    </style>
}




@section banner{
    <div class="container-fluid indexBannerBg1">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white logo primaryFont" href="/">AHWANAM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                @{Html.RenderAction("Authenticate", "Contests"); }
            </div>
        </nav>
        <div class="w-100 bannerContent">
            <h3 class="text-center primaryFont primaryTextColor bannerTextHead">@ViewBag.contestname</h3>
            <p class="text-white text-center fontWeight700 bannerText">Showcase your love by posting most memorable pic with your father.</p>
        </div>
    </div>
}
@if (ViewBag.id == "1")
{
    <div class="overlay1" style="display: block;">
        <div style="left: 50%; top: 50%; position: fixed; transform: translate(-50%, -50%); text-align: center;">
            @*<img src="~/CSSWeb/images/Loader2.gif" /><br>*@
            <p style="color: white; font-style: italic; font-family:serif;">&nbsp; Contest Ended.Come Back Again...</p>
        </div>
    </div>
}

<div class="overlay" style="display: none;">
    <div style="left: 50%; top: 50%; position: fixed; transform: translate(-50%, -50%); text-align: center;">
        <img src="~/CSSWeb/images/Loader2.gif" /><br>
        <p style="color: white; font-style: italic; font-family:serif;">&nbsp; Voting in progress...</p>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light secondNav">
        <a class="navbar-brand text-white d-md-none" href="#">Upload Image</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active"> <a class="nav-link">Home</a></li>
                @*<li class="nav-item"><a class="nav-link">About</a></li>*@
                <li class="nav-item"><a class="nav-link">Rules</a></li>
                <li class="nav-item"><a class="nav-link">Prizes</a></li>
                <li class="nav-item"><a class="nav-link">Sponsors</a></li>
                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
                {
                    <li class="nav-item"><a class="nav-link">My Entries</a></li>
                }
                @*<li class="nav-item"><a class="nav-link">Upload Image</a></li>*@
                <li class="nav-item ml-0 ml-md-3 d-sm-block"><a class="nav-link pl-2">Upload Image</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid padding-top-50 pb-5 pages">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 totalUploadCount primaryFont">
                @if (ViewBag.count != 0)
                {
                    <p class="mb-sm-4 mb-md-0"><span>@ViewBag.count</span> Images Uploaded</p>
                }
                else
                {
                    <p class="mb-sm-4 mb-md-0">Be first To Upload Image</p>
                }

            </div>
            @*<div class="col-md-6">
                    <div class="form-group mb-0">
                        <input type="search" class="form-control" name="" placeholder="Search Here" />
                    </div>
                </div>*@
        </div>
        @if (ViewBag.csid != "" && ViewBag.csid != null)
        {
            <p> <a href="http://www.ahwanam.com/ParticularContest?id=@ViewBag.cssid" class="btn btn-primary">View All Entries</a></p>
        }
        <div class="row my-3 components" id="Home">
            <input type="hidden" id="tcid" />

            @for (int i = 0; i < ViewBag.count; i++)
            {
                <div class="block mb-1">
                    <input type="hidden" id="contestimage" value="http://www.ahwanam.com/ContestPics/@ViewBag.AvailableContestEntries[i].UploadedImage" />
                    <input type="hidden" id="contestdesc" value="@ViewBag.AvailableContestEntries[i].Description" />
                    <input type="hidden" id="contesturl" value="http://www.ahwanam.com/ParticularContest/Fbshareit?fbid=@ViewBag.fbid[i]" />
                    <input type="hidden" id="cid" value="@ViewBag.AvailableContestEntries[i].ContestId" />
                    <figure style="background:url('/ContestPics/@ViewBag.AvailableContestEntries[i].UploadedImage')">
                        <img src="~/ContestPics/@ViewBag.AvailableContestEntries[i].UploadedImage" class="img-fluid" alt="Happy Fathers Day" style="display:none" />
                    </figure>

                    <div class="voteBlock">
                        @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == false)
                        {
                            <i class="fa fa-heart-o" aria-hidden="true" data-toggle="modal" data-target="#myModal" href="#"></i>
                        }
                        else
                        {
                            if (ViewBag.votestatus[i] == "1")
                            {<i class="fa fa-heart-o" aria-hidden="true"></i> }
                            else
                            {
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            }
                        }



                    </div>
                    <div class="hoverBlock">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <p class="contestants secondaryTextColor fontWeight700 mb-0">@ViewBag.AvailableContestEntries[i].Name</p>
                    @*<p>@ViewBag.fbid[i]</p>*@
                    <p class="mb-0 mt-2">@ViewBag.time[i]</p>
                    <p class="descrption">@ViewBag.AvailableContestEntries[i].Description</p>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 themeRedTextColor fontWeight700 peopleLoved"><span>@ViewBag.votecount[i]</span> people loved</div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <button class="btn themeRedBgColor text-white shareBtn py-2 px-4 float-right">Share</button>
                        </div>
                    </div>

                    <div class="row shareLinkInput">
                        <div class="col-12 col-sm-12 col-md-12 px-0">
                            <div class="row form-group mb-0 mx-0">
                                <input type="text" class="form-control" value="http://www.ahwanam.com/ParticularContest/Fbshareit?fbid=@ViewBag.fbid[i]" name="" placeholder="Shared Link here">
                                @*<input type="text" class="form-control" value="http://www.ahwanam.com/ParticularContest?id=@ViewBag.id&&csid=@ViewBag.AvailableContestEntries[i].ContestId" name="" placeholder="Shared Link here">*@
                            </div>
                            <ul class="row pl-0 mt-2 mb-0 mx-0">
                                <li class="faceBook" id="fbshare"><span><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</span></li>
                                @*<li class="twitter"><span><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</span></li>*@
                            </ul>
                        </div>
                        <div class="arrow"></div>
                    </div>
                </div>
            }
        </div>
    </div>


    <div class="container">
        <div class="row my-3 components" id="About">
            <div class="col-12 col-md-12">About Us Content</div>
        </div>
    </div>
    <div class="container">
        <div class="row my-3 components" id="Rules">
            <div class="col-12 col-md-12">
                <h4 class="col-12 col-md-12">RULES FOR THE CONTEST</h4>
                <ul class="pl-5 mt-3 col-12 col-md-12">
                    <li>Images must be high quality in JPG | PNG Formats.</li>
                    <li>Basic editing, including colour enhancement, the use of filters, and cropping of the Photo(s) is acceptable, provided any such editing does not affect the authenticity and/or genuineness of the Photo(s).</li>
                    <li>Upload limit is only one image per user.</li>
                    <li>Uploading copyrighted images leads to legal consequences.</li>
                    <li>Advanced editing used to create illusions, deceptions and/or manipulations, and the adding and removing of significant elements within the frame is prohibited.</li>
                    <li>Photos that portray or otherwise include inappropriate and/or offensive content, including provocative nudity, violence, human rights and/or environmental violation, and/or any other contents deemed to be contrary to the law, religious, cultural &amp; moral traditions and practices of India, are strictly prohibited and will be immediately discarded.</li>
                    <li>Participant who submit such photographs will be banned permanently from further participating in any contests.</li>
                    <li>The winners are announced purely based on public voting.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-3 components" id="Prizes">
            @*<div class="col-12 col-md-12">
                    <div>
                        <img src="~/3rd-prize-banner.png" />
                    </div>
                    <br />
                    <div>
                        <img src="~/2nd-prize-winner.png" />
                    </div>
                    <br />
                    <div>
                        <img src="~/1st-prize.png" />
                    </div>
                </div>*@
            <div class="row w-100 mx-0 text-center">
                <div class="col-12 col-md-12">
                    <img src="~/3rd-prize-final-tinified.png" alt="3rd Prize">
                </div>
            </div>
            <div class="row w-100 mx-0 text-center">
                <div class="col-12 col-md-12">
                    <img src="~/2nd-prize-winner.png" alt="2nd Prize">
                </div>
            </div>
            <div class="row w-100 mx-0 text-center">
                <div class="col-12 col-md-12">
                    <img src="~/1st-prize.png" alt="1st Prize">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row my-3 components" id="Sponsors">
            @*<div class="col-12 col-md-12">
                    Sponsers Content
                    <ul>
                            <li>
                                <img src="http://www.ahwanam.com/vendorimages/Venue_10443_10329_1.jpg" alt="Sponsors">
                                <span>Celebrity Resort <text style="display:none">Calebrity</text></span>
                            </li>
                            <li>
                                <img src="http://www.ahwanam.com/vendorimages/Venue_10475_10213_1.jpg" alt="Sponsors">
                                <span>Dream Valley Resorts</span>
                            </li>
                        </ul>
                </div>*@
            <div class="row mx-0">
                <div class="col-12 col-sm-5 col-md-5">
                    <figure class="text-center">
                        <img src="http://design.maa-aahwanam.com/contest/images/celebrity.png" alt="Celebrity">
                    </figure>
                </div>
                <div class="col-12 col-sm-7 col-md-7">
                    <p class="mb-0">Celebrity Hospitality Services, has been providing unparalleled service in the hospitality industry for more than 15 years. Its team of dedicated employees, guided by the Board of Directors of Prajay, has been striving hard to provide our clients comfort and satisfaction.</p>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-sm-5 col-md-5">
                    <figure class="text-center">
                        <img src="http://design.maa-aahwanam.com/contest/images/solotaire.png" alt="Solotaire">
                    </figure>
                </div>
                <div class="col-12 col-sm-7 col-md-7">
                    <p class="mb-0">A place where a word as simple as recuperate takes a whole new meaning , a place not only to entertain but also to get entertained .a place where a top of the line Single malt served to you just the way you want it waits your just as much you or your partner awaits an exciting bottle of the finest Chenin blanc after a hard days work.</p>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-sm-5 col-md-5">
                    <figure class="text-center">
                        <img src="http://design.maa-aahwanam.com/contest/images/DreamVallyResortHyderabad.png" alt="Dream Valley">
                    </figure>
                </div>
                <div class="col-12 col-sm-7 col-md-7">
                    <p class="mb-0">Every great dream begins with a dreamer. Dream Valley found its origins in the dreamy eyes of —— who hoped for a place where people can come close to nature and experience a connection between the vivid colourfulness of natural flora and their soul. Whether it is the spacious rooms that open to green lawns or the airy balconies that give you a breath taking view of the landscape, Dream Valley is a re-imagination of comfort amidst nature.</p>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-sm-5 col-md-5">
                    <figure class="text-center">
                        <img src="http://ankapurchicken.com/logo/logo.png" alt="Ankapur Chicken">
                    </figure>
                </div>
                <div class="col-12 col-sm-7 col-md-7">
                    <p class="mb-0">Ankapur Chicken is a home-style carryout modern kitchen. Our service is all about authentic food, cooked with all natural ingredients and home-made spices, served fresh and hot. We specialize in Village Style Cooking, particularly ANKAPUR Country Chicken (Naatu Kodi) also known as "Ankapur Chicken".</p>
                </div>
            </div>
        </div>
    </div>

    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
    {
        <div class="container" style="background: transparent;">
            <div class="row my-3 components MyEntries" id="My Entries">

                @for (int i = 0; i < ViewBag.mycount; i++)
                {
                    @*<div class="col-12 col-md-12">*@
                    <div class="block mb-3">
                        <input type="hidden" id="cid" value="@ViewBag.userenties[i].ContestId" />
                        <figure style="background:url('ContestPics/@ViewBag.userenties[i].UploadedImage')">
                            @*<img src="~/ContestPics/@ViewBag.userenties[i].UploadedImage" class="img-fluid" alt="Happy Fathers Day" />*@
                        </figure>
                        @*<div class="voteBlock">
                                @if (ViewBag.myvotedornot[i] == "1")
                                {<i class="fa fa-heart-o" aria-hidden="true"></i> }
                                else
                                {
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                }
                            </div>*@
                        @if (ViewBag.userenties[i].Status == "InActive")
                        {
                            <div class="w-100 approval">Declined</div>
                        }
                        else if (ViewBag.userenties[i].Status == "Pending")
                        {
                            <div class="w-100 approval">Pending Approval</div>
                        }
                        else if (ViewBag.userenties[i].Status == "Active")
                        {
                            <div class="w-100 approval">Entry Accepted</div>
                        }

                        @*<div class="hoverBlock"> <i class="fa fa-eye" aria-hidden="true"></i> </div>*@
                        <p class="contestants secondaryTextColor fontWeight700 mb-2">@ViewBag.userenties[i].Name</p>
                        <p class="ml-3 mb-0">@ViewBag.mytime[i]</p>
                        <p class="descrption">@ViewBag.userenties[i].Description</p>

                        @*<div class="row">
                                <div class="col-12 col-sm-6 col-md-6 themeRedTextColor fontWeight700 peopleLoved"><span>@ViewBag.myvotes[i]</span> people loved</div>
                                <div class="col-12 col-sm-6 col-md-6">
                                        <button class="btn themeRedBgColor text-white shareBtn py-2 px-4 float-right">Share</button>
                                    </div>
                            </div>*@
                    </div>
                    @*</div>*@
                }

            </div>
        </div>
    }
    <div class="container">
        <div class="row my-3 components text-center" id="Upload Image">
            <div class="col-12 col-sm-12 col-md-12">
                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == false)
            {
                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" href="#">Signin / Signup </button>*@
                    <p>
                        Signin / Signup with <span onclick="fbLogin('Contests')" style="font-size: 16px;padding: 7px 25px;cursor: pointer;border: none;background-color: #36539b;color: #fff !important; text-align: center !important;">
                            <i class="fa fa-facebook mr-2" aria-hidden="true"></i> Facebook
                        </span>
                    </p>
                }
                else
                {
                    if (ViewBag.restriction > 3)
                    {
                        <p>Upload Limit Reached!!! Wait till Next Contest</p>
                    }
                    else
                    {
                        if (ViewBag.uploadimage == 0)
                        {
                            <form method="post" action="/ParticularContest?command=Add&&id=@ViewBag.id">
                                <input id="sample_input" type="hidden" name="sample_input">
                                <main class="page">
                                    <!-- <h2>Upload ,Crop and save.</h2> -->
                                    <!-- input file -->
                                    <div class="box">
                                        <input type="file" id="file-input" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-3">
                                            <!-- leftbox -->
                                            <div class="">
                                                <div class="result"></div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <!--rightbox-->
                                            <div class="img-result hide">
                                                <!-- result of crop -->
                                                <img class="cropped" src="" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- input file -->
                                    <div class="box">
                                        <div class="options hide d-none">
                                            <label> Width</label>
                                            <input type="number" class="img-w" value="500" min="100" max="1200" />
                                        </div>
                                        <!-- save btn -->
                                        <button class="btn save hide">Apply</button>
                                        <!-- download btn -->
                                        @*<a href="" class="btn download hide">Download</a>*@
                                    </div>
                                </main>




                                <div id="contestdetailsdiv" style="display:none">

                                    <div class="w-100 mt-3">
                                        <div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
                                            <label for="comment">Your Name:</label>
                                            <input type="text" id="Item2_Name" name="Item2.Name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="w-100 mt-3">
                                        <div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
                                            <label for="comment">Description:</label>
                                            <textarea class="form-control" rows="5" id="Item2_Description" name="Item2.Description" required></textarea>
                                        </div>
                                    </div>
                                    @*<div class="w-100 mt-3">
                                        <div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
                                            <input type="checkbox" id="Item2_TermsAndConditions" name="Item2.TermsAndConditions" value="1" required /> <label for="Item2_TermsAndConditions">By Clicking on Enter Contest you are Accepting all Terms & Conditions</label>
                                        </div>
                                    </div>*@
                                    <div class="w-100">
                                        <div class="col-12 col-sm-8 col-md-6 mx-auto">
                                            <button type="submit" id="btnsubmit" class="btn themeRedBgColor text-white shareBtn py-2 px-4" name="command" value="Add">Enter Contest</button>
                                        </div>
                                    </div>
                                    <p>By Clicking on Enter Contest you are Accepting all Terms & Conditions</p>
                                </div>
                            </form>
                            
                            <text>Any Queries, mail us <a href="mailto:info@ahwanam.com">info@ahwanam.com</a> </text>
                        }
                        else
                        {
                            <p>Thanks for your participation.Manage your Entry in My Entries Tab</p>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="container-fluid blockPopup" id="popup">
    @{ Html.RenderAction("ParticularEntryView", "ParticularContest");}
</div>

@section scripts{
    <script type="text/javascript" src="http://design.maa-aahwanam.com/contest/js/jquery.imgareaselect.js"></script>
    <script type="text/javascript" src="http://design.maa-aahwanam.com/contest/js/jquery.awesome-cropper.js"></script>

    <!-- Image Cropper Scripts -->
    <script type="text/javascript" src="http://design.maa-aahwanam.com/contest/js/cropper.min.js"></script>

    <script type="text/javascript">
        // vars
        let result = document.querySelector('.result'),
        img_result = document.querySelector('.img-result'),
        img_w = document.querySelector('.img-w'),
        img_h = document.querySelector('.img-h'),
        options = document.querySelector('.options'),
        save = document.querySelector('.save'),
        cropped = document.querySelector('.cropped'),
        dwn = document.querySelector('.download'),
        upload = document.querySelector('#file-input'),
        cropper = '';
        let allowedfiles = [".jpg", ".jpeg", ".png"],
         fileupload = upload;
         //regex = new regexp("([a-za-z0-9\s_\\.\-:])+(" + allowedfiles.join('|') + ")$");
        //var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg)$/;

        $(save).click(function () {
            //alert("Image Cropped SuccessFully!!! Enter Details Below");
            alertify.success('Image Cropped SuccessFully!!! Enter Details Below' + '<i class="fa fa-arrow-circle-down text-white ml-2 fa-lg" aria-hidden="true"></i>');
            $('#contestdetailsdiv').show(); 
        });

        $('#file-input').on('change', function (e) {
            var allowedFiles = [".jpg", ".jpeg", ".png"];
            var fileUpload = document.getElementById("file-input");
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
            //alert(fileUpload.value);
            if (!regex.test(fileUpload.value.toLowerCase()) == false) {
                //alert("Correct Format");
                if (e.target.files.length) {
                    // start file reader
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        if (e.target.result) {
                            // create new image
                            let img = document.createElement('img');
                            img.id = 'image';
                            img.src = e.target.result

                            // clean result before
                            result.innerHTML = '';
                            // append new image
                            result.appendChild(img);
                            // show save btn and options
                            save.classList.remove('hide');
                            options.classList.remove('hide');
                            // init cropper
                            cropper = new Cropper(img);
                        }
                    };
                    reader.readAsDataURL(e.target.files[0]);
                }
                return false;
            }
            else {
                alert("Only JPG | PNG Formats Allowed");
            }
            //if (regex.test(file[0].name.toLowerCase())) {
            //    alert("Correct Format");
            //} else {
            //    alert("Wrong format");
            //}
        });



        // on change show image with crop options
        //upload.addEventListener('change', (e) => {
        //        if (e.target.files.length) {
        //            // start file reader
        //            const reader = new FileReader();
        //            reader.onload = (e) => {
        //                if (e.target.result) {
        //                    // create new image
        //                    let img = document.createElement('img');
        //                    img.id = 'image';
        //                    img.src = e.target.result

        //                    // clean result before
        //                    result.innerHTML = '';
        //                    // append new image
        //                    result.appendChild(img);
        //                    // show save btn and options
        //                    save.classList.remove('hide');
        //                    options.classList.remove('hide');
        //                    // init cropper
        //                    cropper = new Cropper(img);
        //                }
        //            };
        //            reader.readAsDataURL(e.target.files[0]);
        //        }
        //});

        // save on click
        save.addEventListener('click', (e) => {
            e.preventDefault();
            // get result to data uri
            let imgSrc = cropper.getCroppedCanvas({
                width: img_w.value // input value
            }).toDataURL();
            // remove hide class of img
            cropped.classList.remove('hide');
            img_result.classList.remove('hide');
            // show image cropped
            cropped.src = imgSrc;
            $('#sample_input').val(imgSrc);
            dwn.classList.remove('hide');
            dwn.download = 'imagename.png';
            dwn.setAttribute('href', imgSrc);
        });


    </script>
    <!-- Image Cropper Scripts -->




    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('#sample_input').awesomeCropper(
        //    { width: 250, height: 250, debug: true }//, disable()
        //    );//.on('change',function () { disable() });
        //    $(".awesome-cropper > input[type='file']").attr('required', 'required').attr('id', 'fileupload');

        //    //function disable() {
        //    //    alert("disable");
        //    //}
        //});

        //$('#Item2_Name').on('change', function () {
        //    var image = $('#sample_input').val();
        //    if (image == '')
        //    { $(".awesome-cropper > input[type='file']").css('display', 'block'); alertmsg("Upload Image") }
        //});

        //$('#Item2_Description').on('change', function () {
        //    var image = $('#sample_input').val();
        //    if (image == '')
        //    { $(".awesome-cropper > input[type='file']").css('display', 'block'); alertmsg("Upload Image") }
        //});

        ////$("#fileupload").change(function () {
        ////    pop();
        ////});

        //$(document).on('change', '#fileupload', function () {
        //    $(".awesome-cropper > input[type='file']").css('display', 'none');
        //});

        ////$('#sample_input').blur(function () {
        ////    $(".awesome-cropper > input[type='file']").css('display', 'none');
        ////});

        //$('#Item2_TermsAndConditions').on('change', function () {
        //    var image = $('#sample_input').val();
        //    if (image == '')
        //    { $(".awesome-cropper > input[type='file']").css('display', 'block'); alertmsg("Upload Image") }
        //});

        //});



        //$('#Item2_Description').keyup(function () {
        //    var yourInput = $(this).val();
        //    re = /[`~!@@#$%^&*()_|+\-=?;:'",<>\{\}\[\]\\\/]/gi;
        //    var isSplChar = re.test(yourInput);
        //    if (isSplChar) {
        //        var no_spl_char = yourInput.replace(/[`~!@@#$%^&*()_|+\-=?;:'",<>\{\}\[\]\\\/]/gi, '');
        //        $(this).val(no_spl_char);
        //    }
        //});



        //$('#btnsubmit').on('click', function () {
        //    var image = $('#sample_input').val().trim();
        //    var name = $('#Item2_Name').val().trim();
        //    var desc = $('#Item2_Description').val().trim();
        //    var terms = $('#Item2_TermsAndConditions').is(':checked');
        //    //alert(terms);
        //    if (image == '') { alertmsg("Upload Image"); }
        //    if (image != '' && name != '' && desc != '' && terms == true) {
        //        //alert("hi");
        //        this.form.submit();
        //    }
        //});
    </script>


    <script>
        $(document).on('click', '#fbauth', function () {
            var curl = $(this).parents(".block").find("#contesturl").val();
            var cdesc = $(this).parents(".block").find("#contestdesc").val();
            var cimage = $(this).parents(".block").find("#contestimage").val();
            //alert(curl);
            //alert(cdesc);
            //alert(cimage);
            shareOverrideOGMeta(curl, "Ahwanam Contests", cdesc, cimage);
        });

        //function shareOverrideOGMeta(overrideLink, overrideTitle, overrideDescription, overrideImage) {
        //    //alert(overrideLink);
        //    FB.ui({
        //        method: 'share_open_graph',
        //        action_type: 'og.shares',
        //        action_properties: JSON.stringify({
        //            object: {
        //                'og:url': overrideLink,
        //                'og:title': overrideTitle,
        //                'og:description': overrideDescription,
        //                'og:image': overrideImage
        //            }
        //        })
        //    },
        //    function (response) {
        //        // Action after response
        //    });
        //}
    </script>

    <script type="text/javascript">

        /*-- popUp Display Block / None --*/

        $("#Home .hoverBlock, .MyEntries .hoverBlock").click(function () {
            var mobPopup = window.matchMedia("(max-width: 576px)");
            if (mobPopup.matches) {
                $(".blockPopup").css("display", "none");
                $("#Home .block figure ~ .hoverBlock").css("display", "none");
            } else {
                $(".blockPopup").css("display", "block");
                var cid = $(this).prevAll('#cid').val();
                var id = '@ViewBag.id';
                var url = '/ParticularContest/ParticularEntryView?id=@ViewBag.id&&tcid=' + cid;
                $('#popup').empty().load(url);
                $('#tcid').val(cid);
            }
        });

        @*$("#Home .viewPopup").click(function () {
            $(".blockPopup").css("display", "block");
            var cid = $(this).parents(".row").prevAll("figure").prevAll("#cid").val();
            var id = '@ViewBag.id';
            var url = '/ParticularContest/ParticularEntryView?id=@ViewBag.id&&tcid=' + cid;
            $('#popup').empty().load(url);
            $('#tcid').val(cid);
        });*@

        $(document).on('click', ".blockPopup .blockClose i", function () {
            $(".blockPopup").css("display", "none");
        });
        //$(".blockPopup .blockClose i").click(function () {
        //    $(".blockPopup").css("display", "none");
        //});
        /*-- popUp Display Block / None --*/

        /*-- Vote / Un Vote --*/
        var vote = $(".totalContent .contentBottom label");

        //$(vote).on('click', function () {
        //$(document).on('click',vote ,function () {
        //    if ($(this).find("input[type='checkbox']").is(':checked')) {
        //        //$(this).find('span').empty();
        //        //$(this).find('span').append('UNVOTE');
        //    } else {
        //        $(this).find('span').empty();
        //        $(this).find('span').append('VOTE');
        //    }
        //    //voting(vote.text());
        //});


        //$(vote).change(function () {
        $(document).on('change', ".totalContent .contentBottom label", function () {
            var checked = $(this).find("input[type='checkbox']").is(':checked');
            if (!checked) {
                voting("Remove")

            }
            else voting("Add")
        });

        //voting(vote.text());
        /*-- Vote / Un Vote --*/

        /*-- Vote In Block --*/
        var voteClick = $("#Home .block figure + .voteBlock, .MyEntries .block figure + .voteBlock");
        $(voteClick).click(function () {
            var cid = $(this).prevAll('#cid').val();
            $('#tcid').val(cid);
            $(".overlay").show();
            voting("Add");

        });
        /*-- Vote In Block --*/



        /*-- Pages Display --*/
        $("nav.secondNav ul li a").click(function () {
            var anchorTxt = $(this).text();
            //alert("Anchor Text : " + anchorTxt);
            $(this).parent('li').nextAll('li').css('border-bottom', '2px solid transparent');
            $(this).parent('li').prevAll('li').css('border-bottom', '2px solid transparent');
            $(this).parent('li').css('border-bottom', '2px solid #573393');
            $(".pages div.container").each(function () {
                var pageId = $(this).find("div.components").attr('id');
                //alert("Page Text : " + pageId);
                if (anchorTxt == pageId) {
                    $(this).prevAll().css('display', 'none');
                    $(this).nextAll().css('display', 'none');
                    $(this).css('display', 'block');
                }
            });
        });

        $("nav.secondNav > a").click(function () {
            var anchorTxt = $(this).text();
            $(".pages div.container").each(function () {
                var pageId = $(this).find("div.components").attr('id');
                //alert("Page Text : " + pageId);
                if (anchorTxt == pageId) {
                    $(this).prevAll().css('display', 'none');
                    $(this).nextAll().css('display', 'none');
                    $(this).css('display', 'block');
                }
            });
        });

        /*-- Pages Display --*/

        /*-- Share Button --*/
        $(".shareBtn, .shareLinkInput").click(function (event) {
            event.stopPropagation();
            var current = $(this), parentRowNext = $(current).parents(".row").next(".shareLinkInput");
            $(parentRowNext).css("left", "55px");
        });
        $(".shareLinkInput input[type='text']").click(function () {
            $(this).select();
        });

        $(document).click(function () {
            $(".shareLinkInput").css("left", "400px")
        });
        /*-- Share Button --*/

        //$(document).on('click', '#fbshare', function () {
        //    alert("hi");
        //    //var curl = $(this).parents(".block").find("#contesturl").val();
        //    //var cdesc = $(this).parents(".block").find("#contestdesc").val();
        //    //var cimage = $(this).parents(".block").find("#contestimage").val();
        //    //alert(curl); alert(cdesc); alert(cimage);
        //    //shareOverrideOGMeta(curl, "Ahwanam Contests", cdesc, cimage);
        //});

        $(".shareLinkInput ul li span").click(function () {
            //alert("hi");
            var curl = $(this).parents(".block").find("#contesturl").val();
            var cdesc = $(this).parents(".block").find("#contestdesc").val();
            var cimage = $(this).parents(".block").find("#contestimage").val();
            //alert(curl); alert(cdesc); alert(cimage);
            shareOverrideOGMeta(curl, "Ahwanam Contests", cdesc, cimage);
        });
    </script>

    <script>
        function voting(val) {
            var id = $('#tcid').val();
            //alert(val);
            var url = "";
            if (val == 'Add') {
                url = '/ParticularContest/Voting?id=' + id;
                $.ajax({
                    url: url,
                    type: "POST",
                    datatype: "json",
                    data: { id: id },
                    success: function (response) {
                        if (response == "Please Login To Vote") {
                            $(".overlay").hide();
                            alertmsg(response);
                        }
                        else if (response == "Voted") {
                            $(".overlay").hide();
                            //alertmsg(response);
                            //location.reload();
                            alertify.success('Thanks For Voting!!!');
                            alertify.alert().setting({
                                'label': 'OK',
                                'message': response,
                                'onok': function () { location.reload(); }
                            }).show();
                        }
                        else if (response == "Already Voted") {
                            $(".overlay").hide();
                            alertmsg(response);
                        }

                    },
                    error: function (er) {
                        alertmsg("System Encountered Internal Error!!! Try Again After Some Time");
                    }
                });
            }
            //else if (val == 'Remove') {
            //    // url = '/ParticularContest/RemoveVote';
            //    alert("Voting is Done");
            //}
            //alert(url);

        }
    </script>

}
