@if (ViewBag.display != "0")
{
    <div class="row block">
        <input type="hidden" id="contestimage" value="http://www.ahwanam.com/ContestPics/@ViewBag.AvailableContestEntries.UploadedImage" />
        <input type="hidden" id="contestdesc" value="@ViewBag.AvailableContestEntries.Description" />
        <input type="hidden" id="contesturl" value="http://www.ahwanam.com/ParticularContest/Fbshareit?fbid=@ViewBag.fbid" />
        <div class="col-12 col-sm-6 col-md-7 pl-0">
            
            <figure class="mb-0" style="background:url('/ContestPics/@ViewBag.AvailableContestEntries.UploadedImage');">
                @*<img src="~/ContestPics/@ViewBag.AvailableContestEntries.UploadedImage" class="img-fluid" alt="Happy Fathers Day" style="display:none"/>*@
            </figure>
            <img src="~/ContestPics/@ViewBag.AvailableContestEntries.UploadedImage" class="img-fluid" alt="Happy Fathers Day" style="display:none" />
        </div>
        <div class="col-12 col-sm-6 col-md-5 totalContent">
            <div class="contentTop">
                <p class="contestants secondaryTextColor fontWeight700 mb-2">@ViewBag.AvailableContestEntries.Name</p>
                <p class="descrption">@ViewBag.AvailableContestEntries.Description</p>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 fontWeight700 appendDays">@ViewBag.timeago</div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 fontWeight700 peopleLoved"><i class="fa fa-heart themeRedTextColor mr-2" aria-hidden="true"></i><span>@ViewBag.votecount</span></div>
                </div>

            </div>
            <div class="contentBottom">
                <div class="w-100">
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                        <label class="py-2">

                            @if (ViewBag.vote == "1")
                            {<input type="checkbox" name="">
                                <span>Vote</span>
                            }
                            else
                            {
                                @*<input type="checkbox" name="" checked>*@
                                <span>VOTED</span>
                            }
                        </label>
                    }
                    else
                    {
                        <label class="py-2">
                            <span onclick="fbLogin('ParticularContest')">Vote</span>
                        </label>
                    }
                </div>
                <div class="w-100 socialIcons my-2">
                    <ul class="pl-0 mb-0 text-center">
                        <li class="faceBook">
                            @*<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://tinyurl.com/api-create.php?url=http://www.ahwanam.com/ParticularContest?id=@ViewBag.id&amp;csid=@ViewBag.csid" class="fb-xfbml-parse-ignore"><i class="fa fa-facebook" aria-hidden="true"></i></a>*@

                            @* onclick="shareOverrideOGMeta('http://www.ahwanam.com/ParticularContest/Fbshareit?fbid=@ViewBag.fbid',':: Ahwanam Contests ::','@ViewBag.AvailableContestEntries.Description','http://www.ahwanam.com/ContestPics/@ViewBag.AvailableContestEntries.UploadedImage')"*@
                            @*<a href="#" onclick="shareOverrideOGMeta('http://www.ahwanam.com/ParticularContest/Fbshareit?fbid=@ViewBag.fbid',':: Ahwanam Contests ::','@ViewBag.AvailableContestEntries.Description','http://www.ahwanam.com/ContestPics/@ViewBag.AvailableContestEntries.UploadedImage')"  class="fb-xfbml-parse-ignore"><i class="fa fa-facebook" aria-hidden="true"></i></a>*@
                            @*<div class="fb-share-button" data-href="http://www.ahwanam.com/ParticularContest?id=@ViewBag.id&&csid=@ViewBag.csid" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>*@
                            <span class="fbBg btnSecondary text-white text-center" id="fbauth"><i class="fa fa-facebook mr-2" aria-hidden="true"></i> Facebook</span>
                            
                        </li>
                        
                    </ul>
                </div>
                <p class="w-100 mb-0 text-center fontWeight700" style="font-size: 14px;">SHARE WITH YOUR FRIENDS</p>
            </div>
        </div>
        <div class="blockClose"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
}
