@model MaaAahwanam.Models.VendorImage
@{
    ViewBag.Title = ":: Upload Photos ::";
    Layout = "~/Views/SharedWeb/VendorMasterPage.cshtml";
    var i = 0;
}


<div class="container border-default">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
            <h4>Create a Free Ahwanam account</h4>
        </div>
    </div>
    <div class="row progress-area text-center">
        <div class="progress-ui">
            <div class="complete"><span>1</span></div>
            <div class="complete"><span>2</span></div>
            <div><span>3</span></div>
            <div><span>4</span></div>
        </div>
        <div class="progress-content">
            <div>General Information</div>
            <div>Photo Gallery</div>
            <div>Details</div>
            <div>Discount %</div>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" id="uploadimageform">
        <div class="block">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                    <h4><i class="fa fa-picture-o" aria-hidden="true"></i> Photo Gallery</h4>
                    <input type="hidden" id="ImageType" name="ImageType" />
                    <input type="hidden" id="Imagedescription" name="Imagedescription" />
                    <input type="hidden" id="ImageName" name="ImageName" />
                </div>
            </div>
            <div class="row margin-top margin-bottom">
                <div class="col-xs-10 col-sm-10 col-md-10 margin-left margin-right padding-top-10 light-sky-blue-bg">
                    <p class="grey">
                        <small>8 photos are required</small><br>
                        <b>Showcase your work by adding high-quality photos of your business and the wedding services or products you offer.</b>
                    </p>
                </div>
            </div>
            <div class="row margin-top margin-bottom">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="font-size-14"> <i class="fa fa-thumbs-up red padding-right-10" aria-hidden="true"></i>You must add a minimum of one logo and 8 photos </p>
                    <p class="font-size-14 bold"> <i class="fa fa-thumbs-up red padding-right-10" aria-hidden="true"></i>Click and drag images to reorder them </p>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="row margin-bottom">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center upload-file padding-top-10 padding-bottom-10">
                    <h4 class="grey">Select Below</h4>
                    @*<input type="file" class="opacity-0">*@
                    @*<input type="file" multiple="multiple" accept="image/*" id='fileUpload1' name="file" class="opacity-0">*@
                    @*<button type="button" class="btn btn-default red-bg white" onclick="javascript: document.getElementById('fileUpload1').click();">Click Here</button>
                        <input type='file' multiple="multiple" accept="image/*" id='fileUpload' name="file" style="display:none"/>*@
                    <button type="button" id="fileuploadbutton" class="btn btn-default red-bg white" onclick="javascript: document.getElementById('fileUpload1').click();">Click Here</button>
                    <input type="file" multiple="multiple" accept="image/*" id='fileUpload1' name="file" style="display:none">
                    <input type="hidden" id="removedimages" name="removedimages" />
                </div>
            </div>
        </div>
        <!-- The global progress bar -->
        <!-- The global progress state -->
        <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        <div class="block margin-top-30">
            <h2 id="uploadimagediv" style="display:none">Uploaded images</h2>
            @*<div class="row margin-top margin-bottom" id="dvPreview"></div>*@
           @*@{ Html.RenderAction("UploadImage", "VendorSignUp2");}*@
        </div>
        @if (ViewBag.images.Count != 0)
        {
            <div class="block margin-top-30">
                @*<h2>Uploaded images</h2> <a href="/VendorSignUp2/RemoveAllImages?id=@ViewBag.id&&vid=@ViewBag.vid&&type=@Request.QueryString["type"]">Remove All Images</a>*@
                <div class="row" style="line-height:32px;">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <h2 class="margin-top-0">Uploaded images</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 removeallimages">
                        <span>
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <a href="/VendorSignUp2/RemoveAllImages?id=@ViewBag.id&&vid=@ViewBag.vid&&type=@Request.QueryString["type"]">Remove All Images</a>
                        </span>
                    </div>
                </div>
                <div class="row margin-top margin-bottom" id="dbPreview">
                    @foreach (var item in ViewBag.images)
                    {
                        <div class='col-xs-6 col-sm-4 col-md-2 col-lg-2 blocks'>
                            <div class='block thumbnail'>
                                <div class='ow thumb-img'>
                                    <img src="~/vendorimages/@item.ImageName" style="height:120px;width:120px" alt="@item.ImageName" />
                                </div>
                                <div class='row margin-top'>
                                    <div class='form-group-1 col-xs-12 col-sm-12 col-md-12'>
                                        <input type='text' class='form-control' placeholder='Description:' required value="@item.Imagedescription" id="Imagedescription" name="Imagedescription">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-xs-12'>
                                        <div class='radio'>
                                            @if (item.ImageType == "Logo")
                                            {
                                                <label><input type='radio' name='optradio+@i' value="Logo" checked><span></span>Logo</label>
                                            }
                                            else
                                            {
                                                <label><input type='radio' name='optradio+@i' value="Logo"><span></span>Logo</label>
                                            }
                                        </div>
                                        <div class='radio'>
                                            @if (item.ImageType == "Photo")
                                            {
                                                <label><input type='radio' name='optradio+@i' value="Photo" checked><span></span>Photo</label>
                                            }
                                            else
                                            {
                                                <label><input type='radio' name='optradio+@i' value="Photo"><span></span>Photo</label>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class='hr-line border-default-bottom'></div>
                                <div class='row'>
                                    <div class='col-xs-12 col-md-12'>
                                        @*<a href="/VendorSignUp2/Removeimage?src=@item.ImageName&&id=@ViewBag.id&&vid=@ViewBag.vid&&type=@Request.QueryString["type"]">*@
                                        <a>
                                            <p class='red'>
                                                <small>
                                                    <i class='fa fa-times padding-right-5 grey' aria-hidden='true'></i>Remove Photo
                                                </small>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="display:none">@(++i)</p>
                    }
                </div>
            </div>
        }
        <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @*<a href="/VendorSignUp3" class="btn btn-default red-bg white">Next</a>*@
                @*@if (ViewBag.images.Count != 0)
                {
                    <input type="submit" value="Save" class="btn btn-default red-bg white margin-left" id="uploadBtn" name="command" disabled/>
                    <input type="submit" value="Update" class="btn btn-default red-bg white margin-left" id="updaterecord" name="command" />
                }
                else
                {*@
                    @*<input type="submit" value="Save" class="btn btn-default red-bg white margin-left" id="uploadBtn" name="command" disabled/>*@
                    <input type="submit" value="Update" class="btn btn-default red-bg white margin-left" id="updaterecord" name="command" />
                @*}*@
                @*<input type="submit" value="Save" class="btn btn-default red-bg white margin-left" id="uploadBtn" name="command" />
                <input type="submit" value="Update" class="btn btn-default red-bg white margin-left" id="updaterecord" name="command" />*@
                <a href="/availableservices?id=@ViewBag.id&&vid=@ViewBag.vid" class="btn btn-default red-bg white margin-left">Cancel</a>
            </div>
            <div class="blockDescrption" style="display:none"></div>
            <div class="radioName" style="display:none"></div>
            <div class="imagename" style="display:none"></div>
        </div>
    </form>
</div>
<script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>

<script>
    $(document).on('change', '#fileUpload1', function () {
        var filecount = $(this)[0].files.length;
        if (filecount <= 8) {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#dvPreview");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                var params = dvPreview.serializeArray();
                //Getting Files Collection
                var files = $("#fileUpload1")[0].files;

                //Declaring new Form Data Instance
                var formData = new FormData();

                //Looping through uploaded files collection in case there is a Multi File Upload. This also works for single i.e simply remove MULTIPLE attribute from file control in HTML.
                for (var i = 0; i < files.length; i++) {
                    formData.append("file", files[i]);
                }

                //disabling Submit Button so that user cannot press Submit Multiple times
                var btn = $("#fileuploadbutton");
                btn.val("Uploading...");
                btn.prop("disabled", true);
                $.ajax({
                    url: "/VendorSignUp2/UploadImages?id=@ViewBag.id&&vid=@ViewBag.vid&&type=@Request.QueryString["type"]",
                    method: "post",
                    data: formData,
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (data) {
                        //Firing event if File Upload is completed!
                        alert("Upload Completed");
                        btn.prop("disabled", false);
                        btn.val("Select Files");
                        $("#File1").val("");
                        @*var url = '/VendorSignUp2/UploadImage?id=@ViewBag.id&&vid=@ViewBag.vid';
                        $("#dvPreview").empty().load(url);*@
                        location.reload();
                    },
                    error: function (error) { alert("Try Again After Sometime"); }
                });
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        }
        else {
            alert("Max 8 Photos Allowed at a time");
        }
    });
    /*=============== Image Block remove =============*/
    $(document).on('click', 'p.red', function () {
        //$("p.red").click(function () {
        var removed;
        var x = $(this).parents(".blocks").css({ "transform": "translateX(1000px)", "opacity": "0" });
        setTimeout(function () { x.remove(); }, 200);
        var imgname = $(this).parents("div.row").parents("div.thumbnail").find("div.thumb-img").children("img").attr('alt');
        var value = $('#removedimages').val();
        if (value == "")
            removed = imgname;
        else
            removed = imgname + ',' + value;

        @*alert(imgname.replace('/vendorimages/', ''));
        alert(@ViewBag.id);
        alert(@ViewBag.vid)*@

        var id = '@Request.QueryString["id"]';
        var vid = '@Request.QueryString["vid"]';
        $.ajax({
            url: '/VendorSignUp2/Removeimage',//?src=' + imgname.replace('/vendorimages/', '')+'id='+id+'vid='+vid,
            type: 'POST',
            data: JSON.stringify({ src: imgname.replace('/vendorimages/', '') ,id : id,vid:vid}),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                if (data == "success") {
                    alert('Image deleted successfully!');
                }
                else {
                    alert('Failed!');
                }
            },
            error: function (data)
            { errormsg("Failed!!!"); }
        });


        $('#removedimages').val(removed);
    });
    /*=============== Image Block remove =============*/

    /*=============== Blocks Radio name and Descrption save in hidden variable =============*/

    //$(document).on('click','div.radio:first-of-type',function(){
    $(document).find('#dvPreview .blocks div.radio').click(function () {
        //$(document).find('#dvPreview > .blocks > div.radio').on('click', function () {
        alert("hi");
        $(this).next("div.radio").find("input[type='radio']").prop('checked', false);
        $("#dvPreview .blocks div.radio:last-of-type input[type='radio']").each(function () {
            $(this).attr('checked', 'checked');
        });
    });

    @*$("#uploadBtn").click(function (e) {
        $('.radioName').empty();
        $('.blockDescrption').empty();
        $(".imagename").empty();
        e.preventDefault();
        var BlockLen = $("#dvPreview .blocks").length;
        $('#dvPreview .blocks').find('img').each(function () {
            var v = $.trim($(this).attr('alt'));
            if (v != "") {
                $(".imagename").append(v + ',');
            }
        });
        $('#dvPreview div.radio').find('input[type="radio"]').each(function () {
            if ($(this).is(':checked')) {
                $(".radioName").append($(this).val() + ',');
            }
            //else {
            //    $(".radioName").append($(this).val() + ',null');
            //}
        });
        $("#dvPreview .blocks").find('input[type="text"]').each(function () {
            var v = $.trim($(this).val());
            if (v != "") {
                $(".blockDescrption").append($(this).val() + ',');
            }
            else {
                $(".blockDescrption").append($(this).val() + ',null');
            }
        });
        var data=1;
        for (var i = 0; i < BlockLen; i++) {
            data = data+','+ $(".imagename").text().split(',')[i] + '-' + $(".radioName").text().split(',')[i] + '-' + $(".blockDescrption").text().split(',')[i];
        }
        //alert(data);
        $('#Imagedescription').val($('.blockDescrption').text().slice(0, -1));
        $('#ImageType').val($('.radioName').text().slice(0, -1));
        $('#ImageName').val(data.slice(0, -1));
        //alert($('#ImageName').val());
        var url = '/VendorSignUp2/Index?id=@Request.QueryString["id"]&vid=@Request.QueryString["vid"]&type=@Request.QueryString["type"]&command=Save';
        $("#uploadimageform").attr("action", url);
        var imagetype = $('#ImageType').val();
        var imagedescription = $('.blockDescrption').text();
        if (imagetype.split(',').length != BlockLen || imagedescription.split(',').includes("null") == true) @* || $('#ImageType').val() == '' || $('#Imagedescription').val() == ''
        { alert("Description & Logo/Photo option is Mandatory for Every Image"); }
        else {
            this.form.submit();
        }
    });*@


    /*=============== Blocks Radio name and Descrption save in hidden variable =============*/

    $("#updaterecord").click(function (e) {
        $('.radioName').empty();
        $('.blockDescrption').empty();
        e.preventDefault();
        var BlockLen = $("#dbPreview .blocks").length;
        $('#dbPreview div.radio').find('input[type="radio"]').each(function () {
            if ($(this).is(':checked')) {
                $(".radioName").append($(this).val() + ',');
            }
        });
        $("#dbPreview .blocks").find('input[type="text"]').each(function () {
            var v = $.trim($(this).val());
            if (v != "") {
                $(".blockDescrption").append($(this).val() + ',');;
            } else {
                $(".blockDescrption").append($(this).val() + ',null');
            }
        });
        $('#Imagedescription').val($('.blockDescrption').text().slice(0, -1));
        $('#ImageType').val($('.radioName').text().slice(0, -1));
        //var url = window.location.href.replace(window.location.protocol + '//', '').replace(window.location.host + '/', '') + '&&command=update';
        var url = '/VendorSignUp2/Index?id=@Request.QueryString["id"]&vid=@Request.QueryString["vid"]&type=@Request.QueryString["type"]&command=update';
        $("#uploadimageform").attr("action", url); //"/VendorSignUp2/index?command=update"
        var imagetype = $('#ImageType').val();
        var imagedescription = $('.blockDescrption').text();
        if (imagetype.split(',').length != BlockLen || imagedescription.split(',').includes("null") == true)
        { alert("Description & Logo/Photo option is Mandatory for Every Image"); }
        else {
            this.form.submit();
        }

    });
</script>

