@{
    ViewBag.Title = "RegUserDetails";
    Layout = "~/Areas/Admin/Views/Shared/MainMaster.cshtml";
}
@section header{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/Assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}
<!--PAGE CONTENT -->
<div id="content">
    <div class="inner">
        <div class="row">
            <div class="col-lg-12" align="center">
                <h2> User Details</h2>
            </div>
        </div>
        <hr />
        @foreach (var item in ViewBag.userdetail)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="body collapse in" id="div1"> <a href="/Admin/Dashboard/dashboard" class="btn btn-primary btn-xs">Home</a>&nbsp;&nbsp;&nbsp;<a href="/Admin/Others/RegisteredUsers" class="btn btn-primary btn-xs">Registered Users</a>&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-primary btn-xs"> User Details</a> </div>
                    <br />
                    <h4><i class="icon-th-list"></i> Id #: @item.UserLoginId | Registered Date: @item.RegDate.ToShortDateString() </h4>

                </div>
                <br />
            </div>
        <!-- Tabls Starts here -->

            <div class="col-lg-10">
                <div class="panel panel-primary">
                    <div class="panel-heading"> Customer Information </div>
                    <div class="panel-body">
                        <p><b>Customer Id :</b> @item.UserDetailId </p>
                        <p><b>Customer Name :</b> @item.FirstName @item.LastName </p>
                        <p><b>Email:</b> @item.UserName  @*<a href="#" class="btn btn-primary btn-sm">Verified</a>*@</p>
                        <p><b>Phone:</b> @item.UserPhone @*<a href="#" class="btn btn-primary btn-sm">Not Verified</a>*@</p>
                        <p><b>Address:</b> @item.Address,@item.City</p>
                    </div>
                </div>
            </div>
        }
        
        <!-- Tabs Ends here -->

        @*<div class="col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading"> FeedBack </div>
                <div class="panel-body">
                    <p><b>Description:</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. </p>
                    <p><b>Rating:</b> 4 </p>
                    <p><b>Images:</b> a1.jpg, a2.jpg, a3.jpg, a4.jpg </p>
                    <p><b>Videos:</b> https://i1.ytimg.com/vi/8jKYP24uhzI/maxresdefault.jpg </p>
                </div>
            </div>
        </div>*@
        @*<div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"> Actions - <a href="/Admin/Services/Biddings" class="btn btn-default btn-xs">View Biddings</a></div>
                    <div class="panel-body">
                        <p><b>Biddings Received :</b> <a href="/Admin/Services/Biddings">4</a> </p>
                        <p><b>Bid Raised Date:</b> Aug 27, 2015 7:16:25 PM </p>
                        <p><b>Bid expiry date:</b> Aug 30, 2015 7:16:25 PM</p>
                    </div>
                </div>
            </div>*@


        <!-- Comments -->
        @*<div class="row">
                <div class="col-lg-7">
                    <div class="chat-panel panel panel-success">
                        <div class="panel-heading"> <i class="icon-comments"></i> Comments </div>
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="right clearfix">
                                    <span class="chat-img pull-right"> <img src="~/Assets/img/2.png" alt="User Avatar" class="img-circle" /> </span>
                                    <div class="chat-body clearfix">
                                        <div class="header"> <small class=" text-muted label label-info"> <i class="icon-time"></i> 13 mins ago</small> <strong class="pull-right primary-font"> MaAdmin</strong> </div>
                                        <br />
                                        <p> Sure Rahul..</p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left"> <img src="~/Assets/img/3.png" alt="User Avatar" class="img-circle" /> </span>
                                    <div class="chat-body clearfix">
                                        <div class="header"> <strong class="primary-font"> Rahul </strong> <small class="pull-right text-muted label label-warning"> <i class="icon-time"></i> 14 mins ago </small> </div>
                                        <br />
                                        <p>Hi MaAdmin, Please send me few more quotations </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right"> <img src="~/Assets/img/4.png" alt="User Avatar" class="img-circle" /> </span>
                                    <div class="chat-body clearfix">
                                        <div class="header"> <small class=" text-muted label label-primary"> <i class="icon-time"></i> 15 mins ago</small> <strong class="pull-right primary-font"> MaAdmin</strong> </div>
                                        <br />
                                        <p> Dear Rahul, We have sent you the quotations...Please check your inbox. </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left"> <img src="assets/img/3.png" alt="User Avatar" class="img-circle" /> </span>
                                    <div class="chat-body clearfix">
                                        <div class="header"> <strong class="primary-font"> Rahul </strong> <small class="pull-right text-muted label label-warning"> <i class="icon-time"></i> 15 mins ago </small> </div>
                                        <br />
                                        <p> Hi MaAdmin, Please send me the quotaions asap.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="Text1" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="Button1">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="panel panel-danger">
                        <div class="panel-heading"> <i class="icon-bell"></i> Request History </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item"> <i class=" icon-comment"></i> New Comment <span class="pull-right text-muted small"><em> 4 minutes ago</em> </span> </a>
                                <a href="#" class="list-group-item"> <i class="icon-envelope"></i> Message Received <span class="pull-right text-muted small"><em> 28 minutes ago</em> </span> </a>
                                <a href="#" class="list-group-item"> <i class="icon-envelope"></i> Message Sent <span class="pull-right text-muted small"><em> 27 minutes ago</em> </span> </a>
                                <a href="#" class="list-group-item"> <i class="icon-tasks"></i> New Task <span class="pull-right text-muted small"><em>43 minutes ago</em> </span> </a>
                                <a href="#" class="list-group-item"> <i class="icon-ok"></i> New Order Placed <span class="pull-right text-muted small"><em>9:49 AM</em> </span> </a>
                                <a href="#" class="list-group-item"> <i class=" icon-money"></i> Payment Received <span class="pull-right text-muted small"><em>Yesterday</em> </span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- comments end -->
    </div>
</div>

<!--END PAGE CONTENT -->
@section Bottom{
    <script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
}