@model MaaAahwanam.Models.VendorsCatering
@{
    ViewBag.Title = ":: Catering Details ::";
    Layout = "~/Views/SharedWeb/VendorMasterPage.cshtml";
}


    <div class="container border-default">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                <h4>Create a Free Ahwanam account</h4>
            </div>
        </div>
        <div class="row progress-area text-center">
            <div class="progress-ui">
                <div class="complete"><span>1</span></div>
                <div class="complete"><span>2</span></div>
                <div class="complete"><span>3</span></div>
                <div><span>4</span></div>
            </div>
            <div class="progress-content">
                <div>General Information</div>
                <div>Photo Gallery</div>
                <div>Details</div>
                <div>Discount %</div>
            </div>
        </div>
        <form method="post">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-question-circle" aria-hidden="true"></i> Frequently Asked Questions</h4>
                    </div>
                </div>
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-10 col-sm-10 col-md-10 margin-left margin-right padding-top-10 light-sky-blue-bg">
                        <p class="grey">
                            <b>Answer the FAQs for your category: Hotels­­. This information will appear on your storefront. Your answers will help couples understand the services you offer much better.</b>
                        </p>
                    </div>
                </div>
            </div>


            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">1</span> Veg Price Starts At?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Veg Lunch Price Starts At</label>
                            <div class="form-group-1 col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                <i class="fa fa-inr fa-lg" aria-hidden="true" style="left:25px; bottom:10px"></i>
                                @Html.TextBoxFor(model => model.Veg, new { @class = "form-control1", placeholder = "", Value = @ViewBag.catering.Veg })
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
            </div>

            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">2</span> Non-Veg Price Starts At?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Non-Veg Lunch Price Starts At</label>
                            <div class="form-group-1 col-xs-12 col-sm-6 col-md-6">
                                <i class="fa fa-inr fa-lg" aria-hidden="true" style="left:25px; bottom:10px"></i>
                                @Html.TextBoxFor(model => model.NonVeg, new { @class = "form-control1", placeholder = "", Value = @ViewBag.catering.NonVeg })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">3</span> Order Limit?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Minimum Order</label>
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                @Html.TextBoxFor(model => model.MinOrder, new { @class = "form-control", placeholder = "", Value = @ViewBag.catering.MinOrder })
                            </div>
                        </div>
                        <div class="row margin-top margin-bottom-30">
                            <label class="col-xs-12 col-sm-6 col-md-6">Maximum Order</label>
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                @Html.TextBoxFor(model => model.MaxOrder, new { @class = "form-control", placeholder = "", Value = @ViewBag.catering.MaxOrder })
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">4</span> Guests Limit?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Minimum Guests</label>
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                @Html.TextBoxFor(model => model.MinGuests, new { @class = "form-control", placeholder = "", Value = @ViewBag.catering.MinGuests })
                            </div>
                        </div>
                        <div class="row margin-top margin-bottom-30">
                            <label class="col-xs-12 col-sm-6 col-md-6">Maximum Guests</label>
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                @Html.TextBoxFor(model => model.MaxGuests, new { @class = "form-control", placeholder = "", Value = @ViewBag.catering.MaxGuests })
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">5</span> Mineral Water Included?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        @if (ViewBag.catering.MineralWaterIncluded == null)
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="MineralWaterIncluded" id="MineralWaterIncluded" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="MineralWaterIncluded" id="MineralWaterIncluded" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.catering.MineralWaterIncluded == "Yes")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="MineralWaterIncluded" id="MineralWaterIncluded" value="Yes" checked><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="MineralWaterIncluded" id="MineralWaterIncluded" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.catering.MineralWaterIncluded == "No")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="MineralWaterIncluded" id="MineralWaterIncluded" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="MineralWaterIncluded" id="MineralWaterIncluded" value="No" checked><span></span>No</label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">6</span> Menu items</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row margin-top-30 margin-bottom">
                            <label class="col-xs-12 col-sm-6 col-md-6">Menu items</label>
                            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                                @*<input type="text" class="form-control" placeholder="">*@
                                @*@Html.TextAreaFor(model => model.Menuitems, new { @class = "form-control", placeholder = "",@rows="5", Value = @ViewBag.catering.Menuitems })*@
                                <textarea class="form-control" rows="5" id="Menuitems" name="Menuitems">@ViewBag.catering.Menuitems</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">7</span> Live Cooking Station?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        @if (ViewBag.catering.LiveCookingStation == null)
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.catering.LiveCookingStation == "Yes")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="Yes" checked><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.catering.LiveCookingStation == "No")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="LiveCookingStation" id="LiveCookingStation" value="No" checked><span></span>No</label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="block border-default margin-top-30">
                <div class="row margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 border-default-bottom">
                        <h5 class="bold"><span class="legend-count">8</span> Transport Included?</h5>
                    </div>
                </div>
                <div class="row margin-top margin-bottom margin-left-0 margin-right-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0">
                        @if (ViewBag.catering.TransportIncluded == null)
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="TransportIncluded" id="TransportIncluded" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="TransportIncluded" id="TransportIncluded" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.catering.TransportIncluded == "Yes")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="TransportIncluded" id="TransportIncluded" value="Yes" checked><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="TransportIncluded" id="TransportIncluded" value="No"><span></span>No</label>
                            </div>
                        }
                        else if (ViewBag.catering.TransportIncluded == "No")
                        {
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="TransportIncluded" id="TransportIncluded" value="Yes"><span></span>Yes</label>
                            </div>
                            <div class="radio col-xs-6 col-sm-4 col-md-3">
                                <label><input type="radio" name="TransportIncluded" id="TransportIncluded" value="No" checked><span></span>No</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
         
            <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    @*<a href="/VendorSignUp4" class="btn btn-default red-bg white">Save</a>*@
                    <input type="submit" value="Save" class="btn btn-default red-bg white margin-left" />
                    <a href="/AvailableServices?id=@ViewBag.id&&vid=@ViewBag.vid" class="btn btn-default red-bg white margin-left">Skip</a>
                </div>
            </div>
        </form>
    </div>

