@{
    ViewBag.Title = "dashboard";
    Layout = "~/Areas/Admin/Views/Shared/MainMaster.cshtml";
}
@section header{

    <!-- PAGE LEVEL STYLES -->
    <link href="~/Assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
    <!-- PAGE LEVEL STYLES -->
    <link href="~/Assets/css/layout2.css" rel="stylesheet" />
    <link href="~/Assets/plugins/flot/examples/examples.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/plugins/timeline/timeline.css" />
    <link href="~/CSSWeb/bootstrap/css/dashboard.css" rel="stylesheet" />

    <!-- END PAGE LEVEL  STYLES -->
}

<!--PAGE Clist-unstyled user-infoTENT -->
<div id="content" style="width:82%">
    <div class="inner" style="min-height: 700px;">
        <!--BLOCK SECTION -->
        <div class="row">
            <div class="col-lg-12">              
                    <div style="text-align: center;">
                        <a class="quick-btn" href="/Admin/Quotations">
                            <i class="icon-money icon-2x"></i>
                            <span> Quotations</span>
                            <span class="label label-danger">@ViewBag.quotations</span>
                        </a>
                        <a class="quick-btn" href="/Admin/Vendors/AllVendors">
                            <i class="icon-check icon-2x"></i>
                            <span> Vendors</span>
                            <span class="label label-danger">@ViewBag.vendorcount</span>
                        </a>
                        <a class="quick-btn" href="/Admin/Others/Comments">
                            <i class="icon-envelope icon-2x"></i>
                            <span>Comments</span>
                            <span class="label label-success">@ViewBag.commentscount</span>
                        </a>  <a class="quick-btn" href="/Admin/Others/Tickets">
                            <i class="icon-bolt icon-2x"></i>
                            <span>Tickets</span>
                            <span class="label label-warning">@ViewBag.ticketcount</span>
                        </a> <a class="quick-btn" href="/Admin/Orders/AllOrders">
                            <i class="icon-external-link icon-2x"></i>
                            <span>Orders</span>
                            <span class="label btn-metis-4">@ViewBag.orderscount</span>
                        </a>
                        <a class="quick-btn" href="/Admin/Others/Notification">
                            <i class="icon-bell-alt icon-2x"></i>
                            <span>Notifications</span>
                            <span class="label btn-metis-4">@ViewBag.notificationcount</span>
                        </a>
                    </div>               
            </div>
        </div>
        <!--END BLOCK SECTION -->
        <hr />

        <div class="box box-info" style="width:65%;float:left">
            <div class="box-header with-border">
                <h3 class="box-title">Latest Orders</h3>               
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    @*<table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Item</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.orders)
                            {
                                <tr>
                                    <td><a href="#">@item.OrderId</a></td>
                                    <td>Call of Duty IV</td>
                                    <td><span class="label label-success"></span></td>
                                </tr>
                            }
                        </tbody>
                    </table>*@
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Address</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.orders)
                            {
                                <tr class="even gradeX">
                                    <td>
                                        @if (item.Isdeal.Contains("1") == true)
                                        {
                                            <a>@item.OrderId</a><p>(Deal)</p>
                                        }
                                        else
                                        {
                                            <a>@item.OrderId</a>
                                        }
                                        
                                    </td>
                                    <td>
                                        <h5>@item.OrderDate.ToShortDateString()</h5>
                                    </td>
                                    <td>
                                        <h5>@item.Status</h5>
                                    </td>
                                    <td>
                                        <h5><p>Rs.@item.TotalPrice</p></h5>
                                    </td>
                                    <td>
                                        <h5>
                                            <p>User Name :  @item.FirstName @item.LastName</p>
                                            @*<p>Email ID  :  @item.username</p>
                                            <p>Landmark  :  @item.Landmark</p>*@
                                        </h5>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                @*<a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>*@
                <a href="/Admin/Orders/AllOrders" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
            </div><!-- /.box-footer -->
        </div>
        <!-- PRODUCT LIST -->
        <div class="box box-primary" style="width:33%;float:right">
            <div class="box-header with-border">
                <h3 class="box-title">Recently Registered Users</h3> 
            </div><!-- /.box-header -->
            <div class="box-body">
                <ul class="products-list product-list-in-box">
                    @foreach (var item in ViewBag.users)
                    {
                        <li class="item">
                            <div class="product-img">
                                <img src="~/CSSWeb/bootstrap/css/default-50x50.gif" alt="Product Image" />
                            </div>
                            <div class="product-info">
                                <a class="product-title">@item.FirstName @item.LastName <span class="label label-success pull-right"></span></a> @*href="javascript::;"*@
                                <span class="product-description">
                                    @item.UserName,@item.UserPhone
                                </span>
                            </div>
                        </li>
                    }
                    @*<li class="item">
                        <div class="product-img">
                            <img src="~/CSSWeb/bootstrap/css/default-50x50.gif" alt="Product Image" />
                        </div>
                        <div class="product-info">
                            <a href="javascript::;" class="product-title">Kumar <span class="label label-success pull-right"></span></a>
                            <span class="product-description">
                                electrician
                            </span>
                        </div>
                    </li>*@<!-- /.item -->
                </ul>
                <div class="box-footer clearfix">
                    @*<a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>*@
                    <a href="/Admin/Others/RegisteredUsers" class="btn btn-sm btn-default btn-flat pull-right">View All Users</a>
                </div>
            </div><!-- /.box-body -->
            @*<div class="box-footer text-center">
                <a href="javascript::;" class="uppercase">View All Services</a>
            </div>*@<!-- /.box-footer -->
        </div><!-- /.box -->
    </div>
</div>

<!--END PAGE CONTENT -->
<!-- RIGHT STRIP  SECTION -->
@*<div id="right">
        <div class="well well-small">
            <ul class="list-unstyled">
                <li>Visitor &nbsp; : <span>23,000</span></li>
                <li>Users &nbsp; : <span>53,000</span></li>
                <li>Registrations &nbsp; : <span>3,000</span></li>
            </ul>
        </div>
        @*<div class="well well-small">
                <button class="btn btn-block">Vendors </button>
                <button class="btn btn-primary btn-block"> Messages</button>
                <button class="btn btn-success btn-block"> Tasks </button>
                <button class="btn btn-danger btn-block"> Tickets</button>
                <button class="btn btn-warning btn-block"> Orders</button>
            </div>
    </div>*@
<!-- END RIGHT STRIP  SECTION -->
@section Bottom{
    <!-- GLOBAL SCRIPTS -->
    <script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->
    <!-- PAGE LEVEL SCRIPTS -->

    <script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-66938345-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}