@model MaaAahwanam.Models.QuotationsList

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>:: Index :: </title>
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/customstyles.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/latofonts.css">
    <!-- BX Slider -->
    <link href="~/newdesign/css/jquery.datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/jquery.bxslider.css" />
    <link href="~/newdesign/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/newdesign/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/newdesign/css/normalize.css" rel="stylesheet" />
    <link href="~/newdesign/css/ion.rangeSlider.css" rel="stylesheet" />
    <link href="~/newdesign/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" />
</head>
@using MaaAahwanam.Web.Custom


<body id="body-top">

    <div class="container-fluid">
        <div class="row">
            <nav class="top-menu">
                @*<ul>
                    <li><a href="#"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Are you getting married?</a></li>*@
                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    var user = (CustomPrincipal)HttpContext.Current.User;
                    if (user.UserType == "Vendor")
                    { Response.Redirect("/AvailableServices/changeid?id=" + user.UserId + ""); }
                    if (user.UserType == "User")
                    {
                        <ul>
                            @*<li><a href="#"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Are you getting married?</a></li>*@
                            @*<li><a href="#"> LOG IN or SIGN UP FOR FREE</a></li>*@
                            <li><a href="#">Hi @ViewBag.username</a></li>
                            <li onclick="window.location.href = '/SampleStorefront/SignOut';"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Sign out</li>
                        </ul>
                    }
                }
                else
                {
                    <ul>
                        @*<li><a href="#"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Are you getting married?</a></li>*@
                        @*<li><a href="#"> LOG IN or SIGN UP FOR FREE</a></li>*@
                        <li><a href="/CorporateEvents">Corporate Events</a></li>
                        <li><a href="/SampleStorefront">Sign In</a></li>
                        <li><a href="/UserRegistration">Sign Up For Free</a></li>
                        <li><a href="/SampleStorefront"><i class="fa fa-suitcase" aria-hidden="true"></i>ARE YOU A PARTNER?</a></li>
                    </ul>
                }

                @*</ul>*@
            </nav>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/Homepage"><img src="~/newdesign/images/logo.png" alt="Logo"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            @*<li><a href="#">Wedding</a></li>
                                <li><a href="/VendorProducts/index?service=Venue">Venues</a></li>
                                <li><a href="#">Event Vendors</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Vendors <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/VendorProducts/index?service=Catering">Catering</a></li>
                                        <li><a href="/VendorProducts/index?service=Photography">Photography</a></li>
                                        <li><a href="/VendorProducts/index?service=Decorator">Decorator</a></li>
                                        @*<li role="separator" class="divider"></li>
                                            <li><a href="#">Event Vendors 4</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Event Vendors 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Brides</a></li>
                                <li><a href="#">Grooms</a></li>
                                <li><a href="#">Event Ideas</a></li>*@
                            
                            <li><a href="/VendorProducts/index?service=Venue">Venues</a></li>
                            <li><a href="/VendorProducts/index?service=Hotels">Hotels</a></li>
                            <li><a href="/VendorProducts/index?service=Resorts">Resorts</a></li>
                            <li><a href="/VendorProducts/index?service=Conventions">Conventions</a></li>
                            <li><a href="/VendorProducts/index?service=Catering">Caterers</a></li>
                            <li><a href="/VendorProducts/index?service=Decorator">Decorators</a></li>
                            <li><a href="/VendorProducts/index?service=Photography">Photographers</a></li>
                            <li><a href="/VendorProducts/index?service=Mehendi">Mehendi Artists</a></li>
                            @*<li><a href="/VendorProducts/index?service=Pandit">Pandits</a></li>*@
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Others <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/VendorProducts/index?service=Pandit">Pandits</a></li>
                                    <li><a href="/VendorProducts/index?service=EventManagement">Event Management</a></li>
                                    @*<li><a href="/VendorProducts/index?service=Decorator">Decorator</a></li>*@
                                </ul>
                            </li>
                            @*<li><a href="#">Event Managers</a></li>*@
                            @*<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Vendors <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/VendorProducts/index?service=Catering">Catering</a></li>
                                        <li><a href="/VendorProducts/index?service=Photography">Photography</a></li>
                                        <li><a href="/VendorProducts/index?service=Decorator">Decorator</a></li>
                                    </ul>
                                </li>*@





                            @*<li><a href="#">Event Ideas</a></li>*@
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!--<div class="row gallery">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 gallery-left"></div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 gallery-right"></div>
        </div>-->
    </div>
    <div class="container-fluid login-popup">
        <div class="login-form">
            <div class="form-group">
                <label>User Name</label>
                <input name="UserName" id="UserName" type="text" class="form-control" placeholder="" value="">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="Password" id="Password" type="password" class="form-control" placeholder="">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit" value="Login">Sign in</button>
            </div>
            <div class="form-group text-center">
                <a href="#">Forgot Password ?</a>
            </div>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="row">
                    <form action="/searchword/Index" method="post">
                        <div class="col-xs-9 col-md-9 padding-right-0">
                            <input type="text" class="form-control ui-autocomplete-input" id="searchword" name=search placeholder="Search Here" autocomplete="off">
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <input type="submit" id="btnsearchword" class="btn btn-default theme-bg white" value="Search" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="position: relative;">
            <article>

                <!-- Search box Start -->
                @*<form>
                        <h1>
                            I am a
                            <select id="mark" name="mark">
                                <!--<option value="">Dummy</option>-->
                                <option value="host">Host</option>
                                <option value="vendor">Vendor</option>
                            </select>
                            I want to
                            <select id="series" name="series">
                                <!--<option value="">Dummy</option>-->

                                <option value="register" data-chained="vendor">Register as a Vendor</option>
                                <option value="explore" data-chained="vendor">Explore the Portal</option>
                                <option value="account" data-chained="vendor">Go to My Account</option>

                                <option value="partners" data-chained="host">Explore Packages/Services/Partners</option>
                                <option value="portalwebsite" data-chained="host">Explore the Portal Website</option>
                            </select>

                            I need / I am a
                            <select id="model" name="model">
                                <!--<option value="">Dummy</option>-->

                                <option value="eventmanager" data-chained="account">Event manager</option>
                                <option value="groomingspecialists" data-chained="register">Grooming specialists</option>
                                <option value="performersartists" data-chained="register">Performers and Artists</option>
                                <option value="venuefood" data-chained="register">Venue/Food/Event Decor/Tents</option>
                                <option value="photographer" data-chained="explore">Photographer/Videographer/Website developer</option>
                                <option value="dj" data-chained="explore">DJ/Band and Dhol/Audio visual support</option>
                                <option value="invitationcards" data-chained="explore">Invitation cards supplier/Gifts supplier</option>
                                <option value="travel" data-chained="account">Travel and ticketing service</option>

                                <option value="eventmanager" data-chained="partners">Event manager</option>
                                <option value="groomingspecialists" data-chained="portalwebsite">Grooming specialists</option>
                                <option value="performersartists" data-chained="portalwebsite">Performers and artists</option>
                                <option value="venuefood" data-chained="portalwebsite">Venue/Food/Event Decor/Tents</option>
                                <option value="photographer" data-chained="portalwebsite">Photographer/Videographer/Website developer</option>
                                <option value="dj" data-chained="partners">DJ/Band and Dhol/Audio visual support</option>
                                <option value="invitationcards" data-chained="partners">Invitation cards supplier/Gifts supplier</option>
                                <option value="travel" data-chained="partners">Travel and ticketing service</option>
                            </select>
                            <br>
                            <div class="btn-group">
                                <button type="button" id="btnSearch" class="btn btn-primary btn-outline">Go <span class="glyphicon glyphicon-arrow-right"></span></button>
                            </div>
                        </h1>
                    </form>*@
            </article>
            <!--<video poster="images/slider-1.jpg" playsinline="" autoplay muted="" loop>
              <source src="images/6580310.mp4" type="video/mp4">
            </video>-->
            <div class="carousel-area">
            </div>
        </div>
    </div>


    <div class="live-deals">
        <div class="container">
            <div class="row margin-bottom-10">
                <div class="col-md-12"><h3>Live Deals</h3></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="row">
                        <div class="col-xs-9 col-md-9 padding-right-0">
                            <input type="text" class="form-control ui-autocomplete-input" id="tags1" name=tag1 placeholder="Search Here" autocomplete="off">
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <button class="btn btn-default theme-bg white searchArea-btn" value="tag1">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 popular-areas">
                    <div class="row margin-left-0 margin-right-0">
                        <a href="/livedeals/Index?search=Himayat Nagar">Himayat Nagar</a>
                        <a href="/livedeals/Index?search=Kukatpally">Kukatpally</a>
                        <a href="/livedeals/Index?search=A S Rao Nagar">A S Rao Nagar</a>
                        <a href="/livedeals/Index?search=Madhapur">Madhapur</a>
                        <a href="/livedeals/Index?search=Ameerpet">Ameerpet</a>
                        <p>+ More places</p>
                        <a class="more-area" href="/livedeals/Index?search=Panjagutta">Panjagutta</a>
                        <a class="more-area" href="/livedeals/Index?search=Nizampe">Nizampet</a>
                        <a class="more-area" href="/livedeals/Index?search=Nampally">Nampally</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid steps-bg">
        <div class="how-it-work margin-top-100">
            <div class="row margin-bottom">
                <h3 class="text-center margin-top-0 margin-bottom-30">Plan Your Event in 3 Simple Steps</h3>
            </div>
            <div class="row steps margin-top">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
                    <ul class="tabs">
                        <li class="tab1 tab-shadow float-xs-left">Step 1</li>
                        <li class="tab2 float-xs-left">Step 2</li>
                        <li class="tab3 float-xs-left">Step 3</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 customer-search-require">
                            <div class="w-100 selected-area">
                                @*<input type="hidden" id="location" name="location" value="" />*@
                                <b class="margin-bottom-10">Selected Area</b><br />
                                <span></span>
                            </div>
                            <div class="w-100 selected-category">
                                @*<input type="hidden" id="category"name="category" value="" />
                                    <input type="hidden" id="subcategory" name="subcategory" value="" />*@
                                <b>Selected Category</b><br />
                            </div>
                            <div class="w-100 selected-dates">
                                <b>Selected Dates</b><br />
                                @*<input type="hidden" id="startdate" name="startdate" value="" />
                                    <input type="hidden" id="enddate" name="enddate" value="" />*@
                                <p class="min">Start : <span class="theme-font-color"></span></p>
                                <p class="max">End : <span class="theme-font-color"></span></p>
                            </div>
                            <div class="w-100 selected-budget">
                                <b>Selected Budget</b><br />
                                @*<input type="hidden" id="minbudget" name="minbudget" value="" />
                                    <input type="hidden" id="maxbudget" name="maxbudget" value="" />*@
                                <p class="min">Min : Rs <span class="theme-font-color"></span></p>
                                <p class="max">Max : Rs <span class="theme-font-color"></span></p>
                            </div>
                            <div class="w-100 selected-guest">
                                <b>Selected Guest</b><br />
                                @*<input type="hidden" id="minguest" name="minguest" value="" />
                                    <input type="hidden" id="maxguest" name="maxguest" value="" />*@
                                <p class="min">Min : Rs <span class="theme-font-color"></span></p>
                                <p class="max">Max : Rs <span class="theme-font-color"></span></p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <ul class="tab-content padding-left-0">
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                            <h5 class="text-center">Select Area</h5>
                                            <div class="form-group ui-widget w-100">
                                                <label>Select Location</label>
                                                <div class="row">
                                                    <div class="col-xs-9 col-md-9 padding-right-0">
                                                        <input type="text" class="form-control" id="tags" placeholder="Search Here" />
                                                    </div>
                                                    <div class="col-xs-3 col-md-3">
                                                        <button class="btn btn-default theme-bg white addArea-btn">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w-100 float-left">
                                                <div class="area-name-block">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <span class="text-center theme-font-color">Begumpet</span>
                                                </div>
                                                <div class="area-name-block">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <span class="text-center theme-font-color">Nizampet</span>
                                                </div>
                                                <div class="area-name-block">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <span class="text-center theme-font-color">Ameerpet</span>
                                                </div>
                                                <div class="area-name-block">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <span class="text-center theme-font-color">Amberpet</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                            <h5 class="text-center">Select Category</h5>
                                            <div class="row margin-bottom-10" style="border-left:3px solid #fe4f3a;">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group-1 selectcategory w-100">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><span></span>Venues
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><span></span>Hotels
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><span></span>Resorts
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><span></span>Conventions
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><span></span>Caterers
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><span></span>Decorators
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><span></span>Photographers
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"><span></span>MehendiArtists
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="row margin-left-0 margin-right-0" id="businesscategory">
                                                        @{ Html.RenderAction("SortVendorsBasedOnLocation", "HomePage");}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-center">
                                            <h5 class="text-center">Select Date and Time</h5>
                                            <div class="col-md-12">
                                                @*<form class="form-horizontal">*@
                                                <fieldset style="border:none;">
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <div class="input-prepend input-group">
                                                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                                <input type="text" name="reservation-time" id="reservation-time" class="form-control" value="" placeholder="Select Start and End Date" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                @*</form>*@
                                            </div>
                                            <button class="btn btn-default addDates margin-top-30 theme-bg white">Add Dates</button>
                                        </div>
                                        <!--<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                          <h5 class="text-center">Select Time</h5>
                                          Right Side
                                        </div>-->
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                            <h5 class="text-center">Estimate Budget</h5>
                                            <div class="grid_slider">
                                                <div id="one">
                                                    <input type="text" id="range_26" value="" name="range" />
                                                </div>
                                            </div>
                                            <button class="btn btn-default budget margin-top-30 theme-bg white">Add Budget</button>
                                        </div>
                                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                            <h5 class="text-center">Estimate Guests</h5>
                                            <div class="grid_slider">
                                                <div id="two">
                                                    <input type="text" id="range_25" value="" name="range" />
                                                </div>
                                            </div>
                                            <button class="btn btn-default guest margin-top-30 theme-bg white">Add Guest</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @*<form id="usersearchdiv">*@
            @using (Html.BeginForm("SearchResult", "VendorProducts", FormMethod.Post))
            {
                <input type="hidden" id="location" name="location" value="" />
                <input type="hidden" id="category" name="category" value="" />
                <input type="hidden" id="subcategory" name="subcategory" value="" />
                <input type="hidden" id="startdate" name="startdate" value="" />
                <input type="hidden" id="enddate" name="enddate" value="" />
                <input type="hidden" id="minbudget" name="minbudget" value="" />
                <input type="hidden" id="maxbudget" name="maxbudget" value="" />
                <input type="hidden" id="minguest" name="minguest" value="" />
                <input type="hidden" id="maxguest" name="maxguest" value="" />
                <div class="row margin-bottom-30">
                    @*<div class="venue-quote-btn text-center"> <a href="" id="planning">Start Planing</a> </div>*@
                    <div class="venue-quote-btn text-center">
                        <input type="submit" id="planning" class="btn btn-warning" style="background:#fe4f3a" value="Start Planing" />
                    </div>
                </div>
                @*</form>*@
            }
        </div>
    </div>

    <div class="container-fluid">
        <div class="row gallery">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0 gallery-right">
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0" id="cateres">
                    <img src="~/newdesign/images/caterer.jpg" alt="Catrers">
                    <h5>Caterers</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0" id="conventions">
                    <img src="~/newdesign/images/Venues.jpg" alt="Conventions" />
                    <h5>Conventions</h5> @*Venues*@
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0" id="Photographer">
                    <img src="~/newdesign/images/photographer.jpg" alt="Photographer" />
                    <h5>Photographers</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0" id="decorators">
                    <img src="~/newdesign/images/invitation.jpg" alt="invitation" />
                    <h5>Decorators</h5> @*Invitation*@
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                    <img src="~/newdesign/images/makeup.jpg" alt="Makeup Artist" />
                    <h5>Makeup Artist</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                    <img src="~/newdesign/images/wedding-planner.jpg" alt="Wedding Planner" />
                    <h5>Wedding Planner</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0" id="hotels">
                    <img src="~/newdesign/images/wedding-decor.jpg" alt="Hotels" />
                    <h5>Hotels</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                    <a href="/VendorProducts/index?service=Mehendi">
                        <img src="~/newdesign/images/mehendi.jpg" alt="Mehendi Artist" />
                        <h5>Mehendi Artist</h5>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0" id="resorts">
                    <img src="~/newdesign/images/beautynwellness.jpg" alt="Resorts" />
                    <h5>Resorts</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 gallery-left">
                <img src="~/newdesign/images/wedding-banner.jpg" alt="Wedding-Banner">
            </div>
        </div>
    </div>

    <div class="container margin-top-100">
        <input type="hidden" id="particularvendor" />
        <div class="row" id="hotels-list">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Hotels</h3>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.Hotels)
            {
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="venue-details">
                        <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                            @if (item.logo != null && item.logo != "")
                            {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                            else if (item.image != null && item.image != "")
                            {<img src="~/vendorimages/@item.image" alt="@item.image">}
                            else
                            { <img src="~/noimages.png" alt="No Image Available">}
                        </a>
                        <div class="venue-footer">
                            <div class="venue-info">
                                <div class="card-title">
                                    @if (item.businessname != "" && item.businessname != null)
                                    {<a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname.Replace("amp;", "")</h4></a>}
                                    else
                                    { <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>}
                                    <div class="venue-score">
                                        <div class="star-rating">
                                            <div class="bg"></div>
                                            <div class="score" style="width:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content text-center">
                                    <div class="content">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <div class="count">
                                            <p>@item.MinGuest - @item.MaxGuest</p>
                                            <span>Guests</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="count">
                                            @if (item.cost != null && item.cost != "")
                                            {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            else
                                            { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            <span>Starting Price</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row text-center">
            <a href="/VendorProducts/index?service=Hotels" class="more-btn">More Hotels</a>
        </div>

        <div class="row" id="resorts-list">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Resorts</h3>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.Resorts)
            {
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="venue-details">
                        <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                            @if (item.logo != null && item.logo != "")
                            {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                            else if (item.image != null && item.image != "")
                            {<img src="~/vendorimages/@item.image" alt="@item.image">}
                            else
                            { <img src="~/noimages.png" alt="No Image Available">}
                        </a>
                        <div class="venue-footer">
                            <div class="venue-info">
                                <div class="card-title">
                                    @if (item.businessname != "" && item.businessname != null)
                                    {<a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname.Replace("amp;", "")</h4></a>}
                                    else
                                    { <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>}
                                    <div class="venue-score">
                                        <div class="star-rating">
                                            <div class="bg"></div>
                                            <div class="score" style="width:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content text-center">
                                    <div class="content">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <div class="count">
                                            <p>@item.MinGuest - @item.MaxGuest</p>
                                            <span>Guests</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="count">
                                            @*<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>*@
                                            @if (item.cost != null && item.cost != "")
                                            {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            else
                                            { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            <span>Starting Price</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row text-center">
            <a href="/VendorProducts/index?service=Resorts" class="more-btn">More Resorts</a>
        </div>
        <div class="row" id="conventionslist">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Conventions</h3>
        </div>
        <div class="row" id="conventionslist">
            @foreach (var item in ViewBag.Conventions)
            {
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="venue-details">
                        <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid">
                            @if (item.logo != null && item.logo != "")
                            {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                            else if (item.image != null && item.image != "")
                            {<img src="~/vendorimages/@item.image" alt="@item.image">}
                            else
                            { <img src="~/noimages.png" alt="No Image Available">}
                        </a>
                        <div class="venue-footer">
                            <div class="venue-info">
                                <div class="card-title">
                                    @if (item.businessname != "" && item.businessname != null)
                                    {<a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname.Replace("amp;", "")</h4></a>}
                                    else
                                    { <a href="/VendorParticularService/Index?type=Venue&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>}
                                    <div class="venue-score">
                                        <div class="star-rating">
                                            <div class="bg"></div>
                                            <div class="score" style="width:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content text-center">
                                    <div class="content">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <div class="count">
                                            <p>@item.MinGuest - @item.MaxGuest</p>
                                            <span>Guests</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="count">
                                            @*<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>*@
                                            @if (item.cost != null && item.cost != "")
                                            {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            else
                                            { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            <span>Starting Price</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row text-center">
            <a href="/VendorProducts/index?service=Conventions" class="more-btn">More Conventions</a>
        </div>
        <div class="row" id="catereslist">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Catering</h3>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.Catering)
            {
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="venue-details">
                        <a href="/VendorParticularService/Index?type=Catering&&id=@item.id&&vid=@item.subid">
                            @if (item.logo != null && item.logo != "")
                            {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                            else if (item.image != null && item.image != "")
                            {<img src="~/vendorimages/@item.image" alt="@item.image">}
                            else
                            { <img src="~/noimages.png" alt="No Image Available">}
                        </a>
                        <div class="venue-footer">
                            <div class="venue-info">
                                <div class="card-title">
                                    @if (item.businessname != "" && item.businessname != null)
                                    {<a href="/VendorParticularService/Index?type=Catering&&id=@item.id&&vid=@item.subid"><h4>@item.businessname.Replace("amp;", "")</h4></a>}
                                    else
                                    { <a href="/VendorParticularService/Index?type=Catering&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>}
                                    <div class="venue-score">
                                        <div class="star-rating">
                                            <div class="bg"></div>
                                            <div class="score" style="width:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content text-center">
                                    <div class="content">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <div class="count">
                                            <p>@item.MinGuest - @item.MaxGuest</p>
                                            <span>Guests</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="count">
                                            @*<p>Rs @item.cost<i class="fa fa-check" aria-hidden="true"></i></p>*@
                                            @if (item.cost != null && item.cost != "")
                                            {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            else
                                            { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            <span>Price Per Plate</span>
                                            <!--<span class="dropdown">Price Per Plate <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                            <ul>
                                              <li></li>
                                            </ul>-->
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row text-center">
            <a href="/VendorProducts/index?service=Catering" class="more-btn">More Caterers</a>
        </div>
        <div class="row" id="Photographers-list">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Photographers</h3>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.Photography)
            {
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="venue-details">
                        <a href="/VendorParticularService/Index?type=Photography&&id=@item.id&&vid=@item.subid">
                            @if (item.logo != null && item.logo != "")
                            {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                            else if (item.image != null && item.image != "")
                            {<img src="~/vendorimages/@item.image" alt="@item.image">}
                            else
                            { <img src="~/noimages.png" alt="No Image Available">}
                        </a>
                        <div class="venue-footer">
                            <div class="venue-info">
                                <div class="card-title">
                                    @if (item.businessname != "" && item.businessname != null)
                                    {<a href="/VendorParticularService/Index?type=Photography&&id=@item.id&&vid=@item.subid"><h4>@item.businessname.Replace("amp;", "")</h4></a>}
                                    else
                                    { <a href="/VendorParticularService/Index?type=Photography&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>}
                                    <div class="venue-score">
                                        <div class="star-rating">
                                            <div class="bg"></div>
                                            <div class="score" style="width:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content text-center">
                                    <div class="content">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <div class="count">
                                            @if (item.PriorBookingsDays != null && item.PriorBookingsDays != "")
                                            {<p>@item.PriorBookingsDays</p>}
                                            else
                                            { <p>N/A</p>}
                                            <span>Prior Booking Days</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="count">
                                            @*<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>*@
                                            @if (item.cost != null && item.cost != "")
                                            {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            else
                                            { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            <span>Package Starts from</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row text-center">
            <a href="/VendorProducts/index?service=Photography" class="more-btn">More Photographers</a>
        </div>
        <div class="row" id="Decorators-list">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Decorators</h3>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.Decorator)
            {
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="venue-details">
                        <a href="/VendorParticularService/Index?type=Decorator&&id=@item.id&&vid=@item.subid">
                            @if (item.logo != null && item.logo != "")
                            {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                            else if (item.image != null && item.image != "")
                            {<img src="~/vendorimages/@item.image" alt="@item.image">}
                            else
                            { <img src="~/noimages.png" alt="No Image Available">}
                        </a>
                        <div class="venue-footer">
                            <div class="venue-info">
                                <div class="card-title">
                                    @if (item.businessname != "" && item.businessname != null)
                                    {<a href="/VendorParticularService/Index?type=Decorator&&id=@item.id&&vid=@item.subid"><h4>@item.businessname.Replace("amp;", "")</h4></a>}
                                    else
                                    { <a href="/VendorParticularService/Index?type=Decorator&&id=@item.id&&vid=@item.subid"><h4>@item.businessname</h4></a>}
                                    <div class="venue-score">
                                        <div class="star-rating">
                                            <div class="bg"></div>
                                            <div class="score" style="width:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-content text-center">
                                    <div class="content">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <div class="count">
                                            @if (item.PriorBookingsDays != null && item.PriorBookingsDays != "")
                                            {<p>@item.PriorBookingsDays</p>}
                                            else
                                            { <p>N/A</p>}
                                            <span>Prior Booking Days</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="count">
                                            @*<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>*@
                                            @if (item.cost != null && item.cost != "")
                                            {<p>Rs @item.cost <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            else
                                            { <p>Rs 9999 <i class="fa fa-check" aria-hidden="true"></i></p>}
                                            <span>Package Starts from</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="venue-quote-btn text-center"><a class="view-details">Get Quote</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row text-center">
            <a href="/VendorProducts/index?service=Decorator" class="more-btn">More Decorators</a>
        </div>
        <div class="row margin-top-100">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30 text-center">Photos</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bx-wrapper" style="max-width: 1850px;">
                    <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 300px;">
                        <div class="slider1" style="width: 6215%; position: relative; transition-duration: 0s; transform: translate3d(-1860px, 0px, 0px);">
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb4.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb1.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb3.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb5.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb7.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb2.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="false"><img src="~/newdesign/images/thumb4.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="false"><img src="~/newdesign/images/thumb1.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="false"><img src="~/newdesign/images/thumb3.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb5.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb7.jpg" alt="Photography"></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb2.jpg" alt="Photography"></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb4.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb1.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb3.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb5.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb7.jpg" alt="Photography"></div><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 300px; margin-right: 10px;" aria-hidden="true"><img src="~/newdesign/images/thumb2.jpg" alt="Photography"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-md-12 more-updates text-center">
                <div class="text-center">
                    <h4>For More Updates</h4>
                </div>
                <div class="more-updates-left">
                    <p>CALL US FROM ANY CITY</p>
                    <p>+91 77020 53510</p>
                </div>
                <div class="more-updates-middle">OR</div>
                <div class="more-updates-right">
                    <p>HAVE US CALL YOU</p>
                    <p>WE WILL GET BACK SOON</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid view-details-alert">
        <div class="content">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0">
                <div class="default-details w-100 float-left">
                    <h3 style="font-size:14px;font-weight:bold" class="margin-top-0"></h3>
                </div>
                @*<div class="more-details w-100 float-left">
                        <h4 class="theme-font-color bold">More Services</h4>
                        <div class="w-100 float-left">
                            <h3 style="font-size:14px;font-weight:bold" class="margin-top-0">Category One</h3>
                            <ul class="col-xs-12 col-sm-12 col-md-6 col-lg-6 w-100">
                                <li>
                                    <span style="font-weight:bold">Guests</span> :
                                    <p style="display:inline-block">N/A</p>
                                </li>
                                <li>
                                    <span style="font-weight:bold">Price Per Plate</span> :
                                    <p style="display:inline-block">N/A </p>
                                </li>
                            </ul>
                        </div>
                        <div class="w-100 float-left">
                            <h3 style="font-size:14px;font-weight:bold" class="margin-top-0">Category Two</h3>
                            <ul class="col-xs-12 col-sm-12 col-md-6 col-lg-6 w-100">
                                <li>
                                    <span style="font-weight:bold">Guests</span> :
                                    <p style="display:inline-block">N/A</p>
                                </li>
                                <li>
                                    <span style="font-weight:bold">Price Per Plate</span> :
                                    <p style="display:inline-block">N/A </p>
                                </li>
                            </ul>
                        </div>
                    </div>*@
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 checkin-out">
                <div class="form-group">
                    <label for="check-in">Email Id</label>
                    <input type="email" class="some_class form-control" value="" id="quote_email" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-10">
                    <label for="persons">Name</label>
                    <input type="text" class="form-control" id="quote_name" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0">
                    <label for="extra-persons">Phone</label>
                    <input type="text" class="form-control" id="quote_phone" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-10">
                    <label for="check-in">Check In Date</label>
                    <input type="text" class="form-control" id="checkindate" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0">
                    <label for="extra-persons">Check In Time</label>
                    <input type="text" class="form-control" id="checkintime" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-10">
                    <label for="check-in">Check Out Date</label>
                    <input type="text" class="form-control" id="checkoutdate" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0">
                    <label for="extra-persons">Check Out Time</label>
                    <input type="text" class="form-control" id="checkouttime" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-10">
                    <label for="persons">Persons</label>
                    <input type="text" class="form-control persons" id="quote_persons" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0">
                    <label for="extra-persons">Extra Persons</label>
                    <input type="text" class="form-control extra-persons" id="quote_extrapersons" />
                </div>
                <div class="form-group text-center">
                    <button name="Submit" href="#" class="btn btn-sm btn-default book-now theme-bg white" id="SendQuote">Send Details</button>
                </div>
            </div>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>

    <div class="container-fluid" id="topicon">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        @*<i class="fa fa-arrow-up" aria-hidden="true" style="position:absolute;top: 8px;"></i>*@
    </div>
    <div class="container-fluid" id="topicon2">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>

    <footer class="container-fluid margin-top-30">
        <div class="row">&copy;&nbsp;Ahwanam 2017. All right reserved.</div>
    </footer>
</body>

@*@section scripts{*@
<script type="text/javascript" language="javascript" src="~/newdesign/js/jquery-3.1.1.min.js"></script>
<script src="~/newdesign/js/jquery-ui-1.12.1.js"></script>
<script type="text/javascript" language="javascript" src="~/newdesign/js/bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="~/newdesign/js/jquery.chained.js"></script>
<script src="~/newdesign/js/jquery.datetimepicker.full.js"></script>
<!-- BX Slider -->
<script type="text/javascript" language="javascript" src="~/newdesign/js/jquery.bxslider.min.js"></script>
<script src="~/newdesign/js/moment.min.js"></script>
<script src="~/newdesign/js/daterangepicker.js"></script>
<script src="~/newdesign/js/ion.rangeSlider.min.js"></script>
<script src="~/newdesign/js/custom.js"></script>
<script src="~/Scripts/Quote.js"></script>
<script type="text/javascript">
    /*-------- Popular Vendors slides --------*/
    $(document).ready(function () {
        $('.slider1').bxSlider({
            slideWidth: 300,
            minSlides: 2,
            maxSlides: 6,
            slideMargin: 10
        });
    });
    /*-------- Popular Vendors slides --------*/

    //<!-------- Check in, Check out Calender ----------->
    //$('.some_class').datetimepicker({
    //minDate:'-1970/01/00', // yesterday is minimum date
    //maxDate:'+1971/01/03' // and tommorow is maximum date calendar
    //});
    $('body').on('click', '.xdsoft_datetimepicker .xdsoft_calendar td > div', function () {
        alert("Select");
    });

    $("#some_class_1").datetimepicker({
        timepicker: false,
        format: 'd/m/Y',
        formatDate: 'Y/m/d',
    });
    $("#some_class_2").datetimepicker({
        timepicker: false,
        format: 'd/m/Y',
        formatDate: 'Y/m/d',
        onSelect: function () {
            myfunc();
        }
    });

    function myfunc() {
        alert("HI");
        var start = $("#some_class_1").datetimepicker("getDate");
        var end = $("#some_class_2").datetimepicker("getDate");
        var days = (end - start) / (1000 * 60 * 60 * 24);
        alert(Math.round(days));
    }
    //<!-------- Check in, Check out Calender ----------->


    /*-------- Chained Jquery --------*/
    $(function () {

        /* For jquery.chained.js */
        $("#series").chained("#mark");
        $("#model").chained("#series");
    });
    /*-------- Chained Jquery --------*/

    /*-------- Equal Heights --------*/
    $(document).ready(function () {
        if (screen.width < 481) {
            $(".gallery-left").height();
        } else {
            $(".gallery-left").height($(".gallery-right").height());
        }
    });
    /*-------- Equal Heights --------*/
    /*-------- Steps Tabs --------*/
    $(".steps ul.tabs li:first-of-type").click(function () {
        $(".steps ul.tab-content").css("transform", "translateX(0%)");
        $(this).addClass(" tab-shadow");
        $(this).nextAll("li").removeClass(" tab-shadow");
        $(this).prevAll("li").removeClass(" tab-shadow");
    });
    $(".steps ul.tabs li:nth-of-type(2)").click(function () {
        $(".steps ul.tab-content").css("transform", "translateX(-33.333%)");
        $(this).addClass(" tab-shadow");
        $(this).nextAll("li").removeClass(" tab-shadow");
        $(this).prevAll("li").removeClass(" tab-shadow");
    });
    $(".steps ul.tabs li:last-of-type").click(function () {
        $(".steps ul.tab-content").css("transform", "translateX(-66.666%)");
        $(this).addClass(" tab-shadow");
        $(this).nextAll("li").removeClass(" tab-shadow");
        $(this).prevAll("li").removeClass(" tab-shadow");
    });
    /*-------- Steps Tabs --------*/

    //<!----- Login Pop Up --------->
    $("a.login-popup-display").click(function () {
        $(".login-popup").css("display", "block");
    });
    $(".login-popup .login-form i").click(function () {
        $(this).parents(".login-popup").css("display", "none");
    });
    //<!----- Login Pop Up --------->

    // <!----- Vendors Scroll top --------->
    $("#hotels").click(function () {
        $("html,body").animate({
            scrollTop: $("#hotels-list").offset().top
        }, "slow");
    });
    $("#resorts").click(function () {
        $("html,body").animate({
            scrollTop: $("#resorts-list").offset().top
        }, "slow");
    });
    $("#cateres").click(function () {
        $("html, body").animate({
            scrollTop: $("#catereslist").offset().top
        }, "slow");
    });
    $("#conventions").click(function () {
        $("html, body").animate({
            scrollTop: $("#conventionslist").offset().top
        }, "slow");
    });
    $("#Photographer").click(function () {
        $('html,body').animate({
            scrollTop: $("#Photographers-list").offset().top
        }, "slow");
    });
    $("#decorators").click(function () {
        $('html,body').animate({
            scrollTop: $("#Decorators-list").offset().top
        }, "slow");
    });

    //<!----- Vendors Scroll top --------->

    //<!-------- Body Scroll Top ----------->
    $("#topicon").click(function () {
        $("html, body").animate({
            scrollTop: $(".gallery").offset().top
        }, "slow");
        //$(this).css("display","none");
        $("#topicon2").css("display", "block");
    });
    $("#topicon2").click(function () {
        $('html,body').animate({
            scrollTop: $("#body-top").offset().top
        }, "slow");
        $(this).css("display", "none");
    });
    $(document).ready(function () {
        $("#topicon").css("display", "none");
        $("#topicon2").css("display", "none");
        $('html,body').animate({
            scrollTop: $("#body-top").offset().top
        }, "slow");
    });
    $(window).on("scroll", function () {
        var ScrollTop = $(this).scrollTop();
        if (ScrollTop > 1226) {
            $("#topicon").css("display", "block");
        } else {
            $("#topicon").css("display", "none");
        }
    });
    //<!-------- Body Scroll Top ----------->

    ///*-------- Get Quote Alert --------*/
    //$("a.view-details").click(function () {
    //    $(".view-details-alert").css("display", "block");
    //    //alert($(this).parents(".venue-footer").find(".bottom-content.text-center").find(".content").length);
    //    $(".view-details-alert > .content > h3").empty().append($(this).parents(".venue-footer").find(".card-title").find("h4").text());
    //    var contentLen = $(this).parents(".venue-footer").find(".bottom-content.text-center").find(".content").length;
    //    $(".view-details-alert > .content > ul").remove();
    //    $(".view-details-alert > .content").append('<ul class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></ul>');
    //    for (var i = 0; i < contentLen; i++) {
    //        $(".view-details-alert > .content > ul").append('<li>' + '<span style="font-weight:bold"></span>' + ' : ' + '<p style="display:inline-block"></p>' + '</li>');
    //        $('.view-details-alert').find('li').eq(i).find('span').append($(this).parents(".venue-footer").find(".bottom-content").find(".count").eq(i).children("span").text());
    //        $('.view-details-alert').find('li').eq(i).find('p').append($(this).parents(".venue-footer").find(".bottom-content").find(".count").eq(i).children("p").text());
    //    }

    //    //calender Text boxes Empty
    //    $(".checkin-out").find("input.check-in").val("");
    //    $(".checkin-out").find("input.check-out").val("");
    //    $(".checkin-out").find("input.persons").val("");
    //    $(".checkin-out").find("input.extra-persons").val("");
    //    //calender Text boxes Empty
    //});
    //$(".view-details-alert > .content > i.fa-times").click(function () {
    //    $(this).parents(".view-details-alert").css("display", "none");
    //})
    ///*-------- Get Quote Alert --------*/




</script>

<script>
    //<!-------- Check in, Check out Calender ----------->
    //$('.some_class').datetimepicker({
    //minDate:'-1970/01/00', // yesterday is minimum date
    //maxDate:'+1971/01/03' // and tommorow is maximum date calendar
    //});
    $('body').on('click', '.xdsoft_datetimepicker .xdsoft_calendar td > div', function () {
        alert("Select");
    });

    $("#checkindate").datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'd/m/Y',
        //formatDate:'Y/m/d',
    });
    $("#checkintime").datetimepicker({
        datepicker: false,
        timepicker: true,
        format: 'H:i',
        //formatDate:'Y/m/d',
    });
    $("#checkoutdate").datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'd/m/Y',
        //formatDate:'Y/m/d',
    });
    $("#checkouttime").datetimepicker({
        datepicker: false,
        timepicker: true,
        format: 'H:i',
        //formatDate:'Y/m/d',
    });
    //$("#some_class_2").datetimepicker({
    //    timepicker:false,
    //    format:'d/m/Y',
    //    //formatDate:'Y/m/d',
    //    onSelect: function () {
    //        myfunc();
    //    }
    //});

    function myfunc() {
        alert("HI");
        var start = $("#some_class_1").datetimepicker("getDate");
        var end = $("#some_class_2").datetimepicker("getDate");
        var days = (end - start) / (1000 * 60 * 60 * 24);
        alert(Math.round(days));
    }
    //<!-------- Check in, Check out Calender ----------->

    /*-------- Get Quote Alert --------*/
    $("a.view-details").click(function () {
        var url = $(this).parents(".venue-details").find("a").attr("href");
        $('#particularvendor').val(url);
        $(".view-details-alert").css("display", "block");
        //alert($(this).parents(".venue-footer").find(".bottom-content.text-center").find(".content").length);
        $(".view-details-alert > .content .default-details > h3").empty().append($(this).parents(".venue-footer").find(".card-title").find("h4").text());
        var contentLen = $(this).parents(".venue-footer").find(".bottom-content.text-center").find(".content").length;
        $(".view-details-alert > .content .default-details > ul").remove();
        $(".view-details-alert > .content .default-details").append('<ul class="col-xs-12 col-sm-12 col-md-6 col-lg-6 w-100"></ul>');
        for (var i = 0; i < contentLen; i++) {
            $(".view-details-alert > .content .default-details > ul").append('<li>' + '<span style="font-weight:bold"></span>' + ' : ' + '<p style="display:inline-block"></p>' + '</li>');
            $('.view-details-alert').find('li').eq(i).find('span').append($(this).parents(".venue-footer").find(".bottom-content").find(".count").eq(i).children("span").text());
            $('.view-details-alert').find('li').eq(i).find('p').append($(this).parents(".venue-footer").find(".bottom-content").find(".count").eq(i).children("p").text());
        }

        //calender Text boxes Empty
        $(".checkin-out").find("input.check-in").val("");
        $(".checkin-out").find("input.check-out").val("");
        $(".checkin-out").find("input.persons").val("");
        $(".checkin-out").find("input.extra-persons").val("");
        //calender Text boxes Empty
    });
    $(".view-details-alert > .content > i.fa-times").click(function () {
        $(this).parents(".view-details-alert").css("display", "none");
    })
    /*-------- Get Quote Alert --------*/

    $("#SendQuote").click(function () {
        var url = $('#particularvendor').val();
        var servicetype = url.split('type=')[1].split('&&')[0];
        var vendorid = url.split('vid=')[1].split('&&')[0];
        var vendormasterid = url.split('id=')[1].split('&&')[0];
        var quotationsList = {
            Name: $('#quote_name').val(),
            EmailId: $('#quote_email').val(),
            ServiceType: servicetype,
            PhoneNo: $('#quote_phone').val(),
            EventStartDate: $('#checkindate').val(),
            EventStartTime: $('#checkintime').val(),
            EventEnddate: $('#checkoutdate ').val(),
            EventEndtime: $('#checkouttime').val(),
            VendorId: vendorid,
            VendorMasterId: vendormasterid,
            Persons: $('#quote_persons').val(),
            ExtraPersons: $('#quote_extrapersons').val(),
        }
        GetQuote(quotationsList);
        //alert('servicetype:' + servicetype + ',vendorid:' + vendorid + ',vendormasterid:' + vendormasterid);
    });

    /*------- Select Business Category -------------*/

    var listval, catgId;
    $(".selectcategory div.checkbox input[type='checkbox']").change(function () {
        var selected = [];
        $('.selectcategory div.checkbox input[type="checkbox"]:checked').each(function () {
            selected.push($(this).parent("label").text().trim());
        });
        if ($(this).is(':checked')) {
            listval = $(this).parent("label").text();
            listval = listval.trim();
            $(".selected-category > span").each(function () {
                var selectedListval = $(this).text().trim();
                if (selectedListval == listval) {
                    $(this).css("display", "block");
                }
            });

            var url = '/HomePage/SortVendorsBasedOnLocation?location=' + $('#tags').val();
            //Sorting Vendors based on location
            $.ajax({
                type: 'get',
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                data: $('#tags').val(),
                success: function (result) {
                    $('#businesscategory').empty().html(result);
                    catgId = selected.toString().split(',');
                    for (var i = 0; i < catgId.length; i++) {
                        $("#businesscategory div").each(function () {
                            $('#' + catgId[i] + '').show();
                        });
                    }
                },
                error: function (ex) {
                    alert(ex);
                }
            });
        } else {
            listval = $(this).parent("label").text();
            listval = listval.trim();
            $(".selected-category > span").each(function () {
                var selectedListval = $(this).text().trim();
                if (selectedListval == listval) {
                    $(this).css("display", "none");
                    $(this).next("ol").empty();
                }
            });

            $("#businesscategory div").each(function () {
                catgId = $(this).attr("id");
                if (listval == catgId) {
                    $(this).css("display", "none");
                    $(this).find("input[type='checkbox']").prop("checked", false);
                }
            });
        }
    });
    /*------- Select Business Category -------------*/
    $(function () {
        $.ajax({
            type: "GET",
            url: '/searchword/AutoCompleteCountry',
            success: function (data) {
                var availableTags = data.split(',');
                $("#searchword").autocomplete({
                    source: availableTags
                });
            }
        });
    });
    $("#searchword").click(function () {
        $(".ui-helper-hidden").css("display", "block");
    });
    /*------- Live Deals -------------*/

    /*------- Search Area -------------*/
    $(function () {
        $.ajax({
            type: "GET",
            url: '/HomePage/AutoCompleteCountry',
            success: function (data) {
                var availableTags = data.split(',');
                $("#tags,#tags1").autocomplete({
                    source: availableTags
                });
            }
        });
    });
    $("#tags,#tags1").click(function () {
        $(".ui-helper-hidden").css("display", "block");
    });
    /*------- Search Area -------------*/

    var moreAreas = $(".live-deals .popular-areas > div > p");
    $(moreAreas).click(function () {
        $(".more-area").css({ "display": "block", "float": "left" });
        $(this).css("display", "none");
    });
    $(".searchArea-btn").click(function () {
        var search = $("#tags1").val();
        location.href = '/livedeals/Index?search=' + search

        if (($("#tags1").val()).length >= 1) {
                        //$.ajax({
                        //    url: '/livedeals/Index?search=' + search ,
                        //    type: 'POST',
                        //    dataType: 'json',
                        //    contentType: 'application/json',
                        //    success: function (data) {
                        //        if (data == "success") {
                        //            //$("body").overhang({
                        //            //    type: "success",
                        //            // overlay: true
                        //            //});
                        //            window.location.href = "/livedeals";
                        //        }
                        //    },
                        //    error: function (data) {
                        //        alert("Failed");
                        //        //$("body").overhang({
                        //        //    type: "error",
                        //        //    message: "Error in selecting location.",
                        //        //    // closeConfirm: "true",
                        //        //    duration: 5,
                        //        //    overlay: true
                        //        //});
                        //    }
                        //});




        } else {
            alert("Please Enter area");
        }
    });
    $(".popular-areas > div.row > span").click(function () {
        window.location.href = "/livedeals";
    });
    /*------- Live Deals -------------*/
    /*------- search word -------------*/





    /*------- Select and Un Select Multiple Category -------------*/
    function tab2Display() {
        if (($(".selected-area > span").text() != "") && ($(".selected-category > span + ol > li").length >= 1)) {
            $(".tab2").css("display", "block");
        } else {
            $(".tab2").css("display", "none");
        }
    }

    var category = [], subcategory = [];
    //$(".steps ul.tab-content li #businesscategory div > div > div input[type='checkbox']").change(function () {
    $(document).on('change', '.steps ul.tab-content li #businesscategory div > div > div input[type="checkbox"]', function () {

        if ($(this).is(':checked')) {
            var listvalId = $(this).parents(".checkbox").parent("div").parent("div").attr("id");
            listval = $(this).parent("label").text().trim();
            category.push(listvalId);
            $(".selected-category > span").each(function () {
                var selectedListval = $(this).text().trim();
                if (selectedListval == listvalId) {
                    $(this).next("ol").append("<li>" + listval + "</li>");
                    //subcategory.push(listvalId + '-' + listval);
                    subcategory.push(listval);
                }
            });
            tab2Display();
            //alert(category);
            //alert(subcategory);
        } else {
            listval = $(this).parent("label").text().trim();
            $(".customer-search-require .selected-category ol > li").each(function () {
                var liTxt = $(this).text().trim();
                if (listval == liTxt) {
                    $(this).remove();
                }
            });
            tab2Display();
        }
        $('#location').val($('#tags').val());
        $('#category').val(category);
        $('#subcategory').val(subcategory);
    });
    /*------- Select and Un Select Multiple Category -------------*/

    /*------- Select Area -------------*/
    $(".addArea-btn").click(function () {
        $(".customer-search-require").find(".selected-area").children("span").empty().append($(this).parents(".row").find("input[type='text']").val());
        $(".customer-search-require").find(".selected-category").css("display", "block");
        $(".selectcategory div.checkbox input[type='checkbox']").prop("checked", false);
        $("#businesscategory > div").css("display", "none");
        tab2Display();
    });
    $(".area-name-block").click(function () {
        $(".customer-search-require").find(".selected-area").children("span").empty().append($(this).find("span").text());
        $('#tags').val($(this).find("span").text());
        $(".customer-search-require").find(".selected-category").css("display", "block");
        $(".selectcategory div.checkbox input[type='checkbox']").prop("checked", false);
        $("#businesscategory").css("display", "none");
        tab2Display();
    });
    /*------- Select Area -------------*/

    /*------- Selected Dates -------------*/
    $(document).on('click', '.addDates', function () {
        $(".customer-search-require").find(".selected-dates").find(".min").children("span").empty().append($("input[name='daterangepicker_start']").val());
        $(".customer-search-require").find(".selected-dates").find(".max").children("span").empty().append($("input[name='daterangepicker_end']").val());
        $(".customer-search-require").find(".selected-dates").css("display", "block");
        $('#startdate').val($("input[name='daterangepicker_start']").val());
        $('#enddate').val($("input[name='daterangepicker_end']").val());
        if (($(".selected-dates > p.min > span").text() != "") && ($(".selected-dates > p.max > span").text() != "")) {
            $(".tab3").css("display", "block");
        } else {
            $(".tab3").css("display", "none");
        }
    });
    /*------- Selected Dates -------------*/

    /*------- Selected Budget -------------*/
    $(document).on('click', '.budget', function () {
        $(".customer-search-require").find(".selected-budget").find(".min").children("span").empty().append($(this).prev(".grid_slider").find(".irs-from").text());
        $(".customer-search-require").find(".selected-budget").find(".max").children("span").empty().append($(this).prev(".grid_slider").find(".irs-to").text());
        $('#minbudget').val($(this).prev(".grid_slider").find(".irs-from").text());
        $('#maxbudget').val($(this).prev(".grid_slider").find(".irs-to").text());
        $(".customer-search-require").find(".selected-budget").css("display", "block");
    });
    /*------- Selected Budget -------------*/

    /*------- Selected Guests -------------*/
    $(document).on('click', '.guest', function () {
        $(".customer-search-require").find(".selected-guest").find(".min").children("span").empty().append($(this).prev(".grid_slider").find(".irs-from").text());
        $(".customer-search-require").find(".selected-guest").find(".max").children("span").empty().append($(this).prev(".grid_slider").find(".irs-to").text());
        $('#minguest').val($(this).prev(".grid_slider").find(".irs-from").text());
        $('#maxguest').val($(this).prev(".grid_slider").find(".irs-to").text());
        $(".customer-search-require").find(".selected-guest").css("display", "block");
    });
    /*------- Selected Guests -------------*/

    /*------- On load Selected Categories -------------*/
    $(document).ready(function () {
        var categoryList = $(".selectcategory").find("label");
        var categoryListTxt = categoryList.text();
        $(categoryList).each(function () {
            $(".selected-category").append("<span class='theme-font-color'>" + $(this).text().trim() + "</span>");
        });
        $(".selected-category span").each(function () {
            $(this).after("<ol class='padding-left-10'>");
        });
    });
    /*------- On load Selected Categories -------------*/


</script>
@*}*@

</html>
