
<div id="Venues">
    <h4>Venues</h4>
    @if (ViewBag.Venue.Count != 0)
    {
        foreach (var item in ViewBag.Venue)
        {
            <div class="col-xs-12 col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value>
                        <span></span>@item.businessname
                    </label>
                </div>
                @if (item.logo != null && item.logo != "")
                {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                else if (item.image != null && item.image != "")
                {<img src="~/vendorimages/@item.image" alt="@item.image">}
                else
                { <img src="~/noimages.png" alt="No Image Available">}
            </div>
        }
    }
    else
    {
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    Vendors UnAvailable At This Location
                </label>
            </div>
        </div>
    }
</div>
<div id="Hotels">
    <h4>Hotels</h4>
    @if (ViewBag.Hotels.Count != 0)
    {
        foreach (var item in ViewBag.Hotels)
        {
            <div class="col-xs-12 col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value>
                        <span></span>@item.businessname
                    </label>
                </div>
                @if (item.logo != null && item.logo != "")
                {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                else if (item.image != null && item.image != "")
                {<img src="~/vendorimages/@item.image" alt="@item.image">}
                else
                { <img src="~/noimages.png" alt="No Image Available">}
            </div>
        }
    }
    else
    {
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    Vendors UnAvailable At This Location
                </label>
            </div>
        </div>
    }
</div>
<div id="Resorts">
    <h4>Resorts</h4>
    @if (ViewBag.Resorts.Count != 0)
    {
        foreach (var item in ViewBag.Resorts)
        {
            <div class="col-xs-12 col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value>
                        <span></span>@item.businessname
                    </label>
                </div>
                @if (item.logo != null && item.logo != "")
                {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                else if (item.image != null && item.image != "")
                {<img src="~/vendorimages/@item.image" alt="@item.image">}
                else
                { <img src="~/noimages.png" alt="No Image Available">}
            </div>
        }
    }
    else
    {
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    Vendors UnAvailable At This Location
                </label>
            </div>
        </div>
    }
</div>
<div id="Conventions">
    <h4>Conventions</h4>
    @if (ViewBag.Conventions.Count != 0)
    {
        foreach (var item in ViewBag.Conventions)
        {
            <div class="col-xs-12 col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value>
                        <span></span>@item.businessname
                    </label>
                </div>
                @if (item.logo != null && item.logo != "")
                {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                else if (item.image != null && item.image != "")
                {<img src="~/vendorimages/@item.image" alt="@item.image">}
                else
                { <img src="~/noimages.png" alt="No Image Available">}
            </div>
        }
    }
    else
    {
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    Vendors UnAvailable At This Location
                </label>
            </div>
        </div>
    }
</div>
<div id="Caterers">
    <h4>Caterers</h4>
    @if (ViewBag.Catering.Count != 0)
    {
        foreach (var item in ViewBag.Catering)
        {
            <div class="col-xs-12 col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value>
                        <span></span>@item.businessname
                    </label>
                </div>
                @if (item.logo != null && item.logo != "")
                {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                else if (item.image != null && item.image != "")
                {<img src="~/vendorimages/@item.image" alt="@item.image">}
                else
                { <img src="~/noimages.png" alt="No Image Available">}
            </div>
        }
    }
    else
    {
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    Vendors UnAvailable At This Location
                </label>
            </div>
        </div>
    }
</div>
<div id="Decorators">
    <h4>Decorators</h4>
    @if (ViewBag.Decorator.Count != 0)
    {
        foreach (var item in ViewBag.Decorator)
        {
            <div class="col-xs-12 col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value>
                        <span></span>@item.businessname
                    </label>
                </div>
                @if (item.logo != null && item.logo != "")
                {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                else if (item.image != null && item.image != "")
                {<img src="~/vendorimages/@item.image" alt="@item.image">}
                else
                { <img src="~/noimages.png" alt="No Image Available">}
            </div>
        }
    }
    else
    {
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    Vendors UnAvailable At This Location
                </label>
            </div>
        </div>
    }
</div>
<div id="Photographers">
    <h4>photography</h4>
    @if (ViewBag.Photography.Count != 0)
    {
        foreach (var item in ViewBag.Photography)
        {
            <div class="col-xs-12 col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value>
                        <span></span>@item.businessname
                    </label>
                </div>
                @if (item.logo != null && item.logo != "")
                {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                else if (item.image != null && item.image != "")
                {<img src="~/vendorimages/@item.image" alt="@item.image">}
                else
                { <img src="~/noimages.png" alt="No Image Available">}
            </div>
        }
    }
    else
    {
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    Vendors UnAvailable At This Location
                </label>
            </div>
        </div>
    }
</div>
<div id="MehendiArtists">
    <h4>MehendiArtists</h4>
    @if (ViewBag.Mehendi.Count != 0)
    {
        foreach (var item in ViewBag.Mehendi)
        {
            <div class="col-xs-12 col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value>
                        <span></span>@item.businessname
                    </label>
                </div>
                @if (item.logo != null && item.logo != "")
                {<img src="~/vendorimages/@item.logo" alt="@item.logo">}
                else if (item.image != null && item.image != "")
                {<img src="~/vendorimages/@item.image" alt="@item.image">}
                else
                { <img src="~/noimages.png" alt="No Image Available">}
            </div>
        }
    }
    else
    {
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    Vendors UnAvailable At This Location
                </label>
            </div>
        </div>
    }

</div>
